@using JK.Resources
<div class="col-md-7  soldcontent" id="sold">
    <div class="row">
        <div class="col-md-12 portlet-align">
            <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">
                <div class="portlet-title compact">
                    <div class="caption">
                        Close Detail
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <form action="#" id="form_soldpotential_contractagreement" class="form-horizontal">
                            @Html.Hidden("AccountDetailId", "", new { @id = "accountdetailid" })
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_providertype" class="control-label col-md-5">Close have contract agreement<span class="required">*</span>:</label>
                                <div class="col-md-7">
                                    <div class="col-md-3">
                                        <label class="check-inline" style="margin-top: 6px;">
                                            <input type="radio"  value="1" class="i-checks sold_yes_contract" id="sold_yes_contract" />
                                            <span>Yes</span>
                                        </label>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="check-inline" style="margin-top: 6px; margin-left:0px;">
                                            <input type="radio"  value="0" class="i-checks sold_no_contract" id="sold_no_contract" />
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action="#" id="form_close_signedagreement" class="form-horizontal">
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_providertype" class="control-label col-md-5">Get Signed Agreement<span class="required">*</span>:</label>
                                <div class="col-md-7">
                                    <div class="col-md-3">
                                        <label class="check-inline" style="margin-top: 6px;">
                                            <input type="radio"  value="1" class="i-checks sold_yes_signed" id="sold_yes_signed" />
                                            <span>Yes</span>
                                        </label>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="check-inline" style="margin-top: 6px; margin-left:0px;">
                                            <input type="radio"  value="0" class="i-checks sold_no_signed" id="sold_no_signed" />
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form action="#" id="form_sold_documentsalescrm" class="form-horizontal">
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_providertype" class="control-label col-md-5">Document in Sales CRM<span class="required">*</span>:</label>
                                <div class="col-md-7">
                                    <div class="col-md-3">
                                        <label class="check-inline" style="margin-top: 6px;">
                                            <input type="radio"  value="1" class="i-checks sold_yes_documentsalescrm" id="sold_yes_documentsalescrm" />
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-3">

                                        <label class="check-inline" style="margin-top: 6px; margin-left:0px;">
                                            <input type="radio"  value="0" class="i-checks sold_no_documentsalescrm" id="sold_no_documentsalescrm" />
                                            <span>No</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <button id="potential_sold_btnDocumentUpload" class="btn green btn-block sold_btnDocumentUpload" onclick="OpenCRMUploadDocumentPopup()">Upload/Edit</button>
                                        @*<button id="potential_sold_btnDocumentUpload" type="button" class="btn green btn-block" onclick="UploadDocument()">Document</button>*@
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form action="#" id="form_soldpotential_accountplacement" class="form-horizontal">
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_providertype" class="control-label col-md-5">Notify Operations for account Placement<span class="required">*</span>:</label>
                                <div class="col-md-7">
                                    <div class="col-md-3">
                                        <label class="check-inline" style="margin-top: 6px;">
                                            <input type="radio"  value="1" class="i-checks sold_yes_accountplacement" id="sold_yes_accountplacement" />
                                            <span>Yes</span>
                                        </label>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="check-inline" style="margin-top: 6px; margin-left:0px;">
                                            <input type="radio"  value="0" class="i-checks sold_no_accountplacement" id="sold_no_accountplacement" />
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form action="#" id="form_contactinfo_sold" class="form-horizontal">
                            <!--Prop Amount AND Proposed Initial Clean-->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_providertype" class="control-label col-md-3">Prop. Amount<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm sold_propamount" id="sold_propamount" />
                                </div>
                                <label for="select_providertype" class="control-label col-md-3">Proposed Initial Clean<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm sold_initialamount" id="sold_initialamount" />
                                </div>
                            </div>
                            <!--Contract Amount AND Initial Clean Amount-->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_contractamount" class="control-label col-md-3">Contract Amount<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm sold_contractamount" id="sold_contractamount" />
                                </div>
                                <label for="select_initialcleanamount" class="control-label col-md-3">Initial Clean Amount<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm sold_initialcleanamount" id="sold_initialcleanamount" />
                                </div>
                            </div>
                            <!--Sign Date AND Start Date-->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_sign Date" class="control-label col-md-3">Sign Date<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm date date-picker sold_signdate" data-date-format="mm/dd/yyyy" id="sold_signdate" />
                                </div>
                                <label for="select_startdate" class="control-label col-md-3">Start Date<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm date date-picker sold_startdate" data-date-format="mm/dd/yyyy" id="sold_startdate" />
                                </div>
                            </div>
                            <!--Phone Number AND Contract Term-->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_ponumber" class="control-label col-md-3">PO Number<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm sold_ponumber" id="sold_ponumber" />
                                </div>
                                <label for="select_contractterm" class="control-label col-md-3">Contract Month<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm sold_contractterm" id="sold_contractterm" />
                                </div>
                            </div>
                            <!-- Service Type AND Billing Frequency-->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_servicetype" class="control-label col-md-3">Service Type<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    @Html.DropDownList("ServiceTypeListModel", (SelectList)ViewBag.ServiceTypeListModel, new { @class = "form-control input-sm sold_ServiceTypeListModel", @id = "sold_ServiceTypeListModel" })
                                </div>
                                <label for="select_billingfrequency" class="control-label col-md-3">Billing Frequency<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    @Html.DropDownList("FrequencyListModel", (SelectList)ViewBag.FrequencyListModel,"Select..", new { @class = "form-control input-sm sold_FrequencyListModel", required = "required", @id = "sold_FrequencyListModel" })
                                </div>
                            </div>
                            <!--# of Days AND Clean Frequency-->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_cleantime" class="control-label col-md-3"># of Days<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm sold_cleantime" id="sold_cleantime" />
                                </div>
                                <label for="select_cleanfrequency" class="control-label col-md-3">Clean Frequency<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    @Html.DropDownList("ContractDetail_CleanFrequency", (SelectList)ViewBag.CleanFrequencyListModel, null, new { @class = "form-control input-sm sold_ContractDetail_CleanFrequency", required = "required", @id = "sold_ContractDetail_CleanFrequency" })
                                </div>
                            </div>
                        </form>
                        <form action="#" id="form_sold_cleaningday" class="form-horizontal">
                            <div class="form-group" style="margin-top:4px;" id="weekdays">
                                <label for="select_cleanday" class="control-label col-md-3" style="padding-top: 12px;">Cleaning Day:</label>
                                <div class="col-md-8 sold" id="sold_potential">
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" class="sold_mon" id="sold_mon" value="1"> Mon
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" class="sold_tue" id="sold_tue" value="2"> Tue
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" class="sold_wed" id="sold_wed" value="3"> Wed
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" class="sold_thu" id="sold_thu" value="4"> Thu
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" class="sold_fri" id="sold_fri" value="5"> Fri
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" class="sold_sat" id="sold_sat" value="6"> Sat  
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" class="sold_sun" id="sold_sun" value="7"> Sun  
                                            <span></span>  
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <h5 class="form-section sbold uppercase"><b>@JKCRMResource.note:</b></h5>
                        <!-- Note -->
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.TextArea("note", "", new { @class = "form-control autosizeme textarea_soldnote", rows = "8", style = "font-size: 11px", @id = "potential_text_soldgeneralnote" })
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row" id="summary_action">
                            <div class="col-md-3 pull-right" style="margin-top: 20px;">
                                <button id="potential_savesoldsummary_button" type="button" class="btn green btn-block" onclick="validCloseDetail();">@CommonResource.btnSave</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>