@using JK.Resources
<div class="col-md-7  pdappointmentcontent" id="pdappointment">
    <div class="row">
        <div class="col-md-12 portlet-align">
            <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">
                <div class="portlet-title compact">
                    <div class="caption">
                        Pd Appointment Detail
                    </div>
                </div>
                <div class="portlet-body">
                    <form action="#" id="form_pdpotentialdetail" class="form-horizontal">
                        <div class="form-body">
                            @Html.Hidden("AccountDetailId", "", new { @id = "accountdetailid" })
                            <!--Meeting Person-->
                            <div class="form-group">
                                <label for="select_priceapproved" class="control-label col-md-4">Meeting Person<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    <input id="input_pdpotentialmeetwith" name="name" type="text" data-required="1" class="form-control input-sm clsmeetwith" placeholder="" />
                                </div>
                                <div class="col-md-2" style="padding-left:0px;width:130px;">
                                    <input type="checkbox" id="chksameContmeetingper2" class="clssameContmeetingper" /> Same as Contact
                                </div>
                            </div>
                            <!--Contact Phone-->
                            <div class="form-group">
                                <label for="input_contactphone" class="control-label col-md-4">Contact Phone<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    <input id="input_pdcontactphonepotential" name="name" type="text" data-required="1" class="form-control input-sm clsconphone" placeholder="" />
                                </div>
                            </div>
                            <!--Contact Email-->
                            <div class="form-group">
                                <label for="input_contactemail" class="control-label col-md-4">Contact Email<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    <input id="input_pdcontactemailpotential" name="name" type="text" data-required="1" class="form-control input-sm clsconemail" placeholder="" />
                                </div>
                            </div>
                            <!--Schedule-->
                            <!--Start Date/Time-->
                            <div class="form-group">
                                <label for="schedule_start" class="control-label col-md-4">Start Date/Time<span class="required">*</span>:</label>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-group input-group-sm input-sm date date-picker input_bidstartdate" name="datepicker" data-date-format="mm/dd/yyyy" id="input_pdbid_potential_schedulestartdate" style="margin-left:-12px;" disabled="disabled" />
                                    </div>
                                    <!--Start Time-->
                                    <div class="col-md-6" style="margin-left:-26px;">
                                        <div class="input-icon">
                                            <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                            <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_bidstarttime" id="input_pdbid_potential_schedulestarttime" disabled="disabled" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--End Date/Time-->
                            <div class="form-group">
                                <label for="schedule_start" class="control-label col-md-4">End Date/Time<span class="required">*</span>:</label>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-group input-group-sm input-sm date date-picker input_bidenddate" name="datepicker" data-date-format="mm/dd/yyyy" id="input_pdbid_potential_scheduleenddate" style="margin-left:-12px;" disabled="disabled" />
                                    </div>
                                    <!--End Time-->
                                    <div class="col-md-6" style="margin-left:-26px;">
                                        <div class="input-icon">
                                            <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                            <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_bidendtime" id="input_pdbid_potential_scheduleendtime" value="" disabled="disabled" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="callback_purpose" class="control-label col-md-4">Purpose:</label>
                                <div class="col-md-4">
                                    <select id="select_pdpotential_Schedulepurpose" class="form-control input-sm select_bidpurpose" disabled="disabled" >
                                        <option value="">Select</option>
                                        <option value="1">Call Back</option>
                                        <option value="2">Meeting</option>
                                        <option value="3">Follow-Up</option>
                                    </select>
                                </div>
                            </div>
                            <!--Meet with Decision maker -->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="radio_pdpotentialdecision" class="control-label col-md-4">Meet With Decision Maker<span class="required">*</span>:</label>
                                <div class="col-md-8">
                                    <div class="col-md-2">
                                        <label class="check-inline" style="margin-top: 6px;">
                                            <input type="radio" name="membership" value="1" class="i-checks pd_yesdecisionmaker" />
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="check-inline" style="margin-top: 6px; margin-left:0px;">
                                            <input type="radio" name="membership" value="0" class="i-checks pd_nodecisionmaker" />
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                         
                            <!--potential Decision-->
                            <div class="pd_decision">
                                <!--Decision Meeting Person-->
                                <div class="form-group">
                                    <label for="input_pdmeetwith" class="control-label col-md-4">Decision Contact Name<span class="required">*</span>:</label>
                                    <div class="col-md-6">
                                        <input id="input_potential_decisioncontactname input_bidcontactname"  type="text" data-required="1" class="form-control input-sm" placeholder="" />
                                    </div>
                                </div>
                                <!--Decision Contact Phone-->
                                <div class="form-group">
                                    <label for="input_contactphone" class="control-label col-md-4">Decision Contact Phone<span class="required">*</span>:</label>
                                    <div class="col-md-6">
                                        <input id="input_potential_decisioncontactphone input_bidcontactphone"  type="text" data-required="1" class="form-control input-sm" placeholder="" />
                                    </div>
                                </div>
                                <!--Decision Contact Email-->
                                <div class="form-group">
                                    <label for="input_contactemail" class="control-label col-md-4">Decision Contact Email<span class="required">*</span>:</label>
                                    <div class="col-md-6">
                                        <input id="input_potential_decisioncontactemail input_bidcontactemail"  type="text" data-required="1" class="form-control input-sm" placeholder="" />
                                    </div>
                                </div>
                            </div>

                            <!--Present Proposal Presentation-->
                            <div class="form-group">
                                @Html.CheckBox("_presentproposal", new { @class = "i - checks control-label col-md-4 check_bidpresentedproposal", @style = "margin-left:130px; margin-right:-85px; margin-top:12px;", @id = "checkboxpdpotential_presentproposal" })
                                <div class="col-md-6">
                                    <label for="select_presentproposal" class="control-label">Present Proposal Presentation</label>
                                </div>
                            </div>

                            <!-- OverCome Objections -->
                            <div class="form-group">
                                <label for="select_potentialovercome" class="control-label col-md-4">OverCome Objections<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    <select id="select_pdpotentialovercome" class="form-control input-sm select_overcomeobjection">
                                        <option value="">Select</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>
                          
                            <!--Entered Proposal Detail-->
                            <div class="form-group">
                                @Html.CheckBox("_accountanalysisbook", new { @class = "i - checks control-label col-md-4 check_enteredproposaldetail", @style = "margin-left:130px; margin-right:-85px; margin-top:12px;", @id = "checkboxpdpotential_proposaldetail" })
                                <div class="col-md-6">
                                    <label for="select_accountanalysisbook" class="control-label">Entered Proposal Detail?</label>
                                </div>
                            </div>

                            <!-- Follow Appointment Schedule-->
                            <!--Start Date/Time-->
                            <div class="form-group">
                                <label for="schedule_start" class="control-label col-md-4">Start Date/Time<span class="required">*</span>:</label>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-group input-group-sm input-sm date date-picker input_pdstartdate" name="datepicker" data-date-format="mm/dd/yyyy" id="input_pdfollow_potential_schedulestartdate" style="margin-left:-12px;" />
                                    </div>
                                    <!--Start Time-->
                                    <div class="col-md-6" style="margin-left:-26px;">
                                        <div class="input-icon">
                                            <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                            <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_pdstarttime" id="input_pdfollow_potential_schedulestarttime">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--End Date/Time-->
                            <div class="form-group">
                                <label for="schedule_start" class="control-label col-md-4">End Date/Time<span class="required">*</span>:</label>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-group input-group-sm input-sm date date-picker input_pdenddate" name="datepicker" data-date-format="mm/dd/yyyy" id="input_pdfollow_potential_scheduleenddate" style="margin-left:-12px;" />
                                    </div>
                                    <!--End Time-->
                                    <div class="col-md-6" style="margin-left:-26px;">
                                        <div class="input-icon">
                                            <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                            <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_pdendtime" id="input_pdfollow_potential_scheduleendtime" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Prupose-->
                            <div class="form-group">
                                <label for="schedule_purpose" class="control-label col-md-4">Purpose:</label>
                                <div class="col-md-4">
                                    <select id="select_pdpotential_schedulepurpose" class="form-control input-sm select_pdpurpose" name="options2">
                                        <option value="">Select</option>
                                        <option value="1">Call Back</option>
                                        <option value="2">Meeting</option>
                                        <option value="3">Follow-Up</option>
                                    </select>
                                </div>
                            </div>

                            <h5 class="form-section sbold uppercase"><b>@JKCRMResource.note:</b></h5>
                            <!-- Note -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextArea("note", "", new { @class = "form-control autosizeme textarea_bidnote", rows = "8", style = "font-size: 11px", @id = "text_pdpotential_note" })
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row" id="pd_summary_action">
                                <div class="col-md-3 pull-right">
                                    <button  type="button" class="btn green btn-block" onclick="validPdAppointmentDetail();">@CommonResource.btnSave</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>