@using JK.Resources
<div class="col-md-7  closecontent" id="close">
    <div class="row">
        <div class="col-md-12 portlet-align">
            <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">
                <div class="portlet-title compact">
                    <div class="caption">
                        Close Detail
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <form action="#" id="form_closepotential_contractagreement" class="form-horizontal">
                            @Html.Hidden("AccountDetailId", "", new { @id = "accountdetailid" })
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_providertype" class="control-label col-md-6">Close have contract agreement<span class="required">*</span>:</label>
                                <div class="col-md-6">
                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="radio" name="membership" value="1" class="i-checks" id="close_potential_yes_contract" disabled="disabled" />
                                        <span>Yes</span>
                                    </label>

                                    <label class="check-inline" style="margin-top: 6px; margin-left:40px;">
                                        <input type="radio" name="membership" value="0" class="i-checks" id="close_potential_no_contract" disabled="disabled" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                        </form>
                        <form action="#" id="form_close_signedagreement" class="form-horizontal">
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_providertype" class="control-label col-md-6">Get Signed Agreement<span class="required">*</span>:</label>
                                <div class="col-md-6">
                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="radio" name="membership" value="1" class="i-checks" id="close_potential_yes_signed" disabled="disabled" />
                                        <span>Yes</span>
                                    </label>

                                    <label class="check-inline" style="margin-top: 6px; margin-left:40px;">
                                        <input type="radio" name="membership" value="0" class="i-checks" id="close_potential_no_signed" disabled="disabled" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                        </form>

                        <form action="#" id="form_close_documentsalescrm" class="form-horizontal">
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_providertype" class="control-label col-md-6">Document in Sales CRM<span class="required">*</span>:</label>
                                <div class="col-md-6">
                                    <div class="col-md-5" style="padding-left:0px;">
                                        <label class="check-inline" style="margin-top: 6px;">
                                            <input type="radio" name="membership" value="1" class="i-checks" id="close_potential_yes_documentsalescrm" disabled="disabled" />
                                            <span>Yes</span>
                                        </label>

                                        <label class="check-inline" style="margin-top: 6px; margin-left:40px;">
                                            <input type="radio" name="membership" value="0" class="i-checks" id="close_potential_no_documentsalescrm" disabled="disabled" />
                                            <span>No</span>
                                        </label>
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn green btn-block" id="close_potential_btnDocumentUpload" onclick="OpenCRMUploadDocumentPopup()">Upload/Edit</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form action="#" id="form_closepotential_accountplacement" class="form-horizontal">
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_providertype" class="control-label col-md-6">Notify Operations for account Placement<span class="required">*</span>:</label>
                                <div class="col-md-6">
                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="radio" name="membership" value="1" class="i-checks" id="close_potential_yes_accountplacement" disabled="disabled" />
                                        <span>Yes</span>
                                    </label>

                                    <label class="check-inline" style="margin-top: 6px; margin-left:40px;">
                                        <input type="radio" name="membership" value="0" class="i-checks" id="close_potential_no_accountplacement" disabled="disabled" />
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                        </form>

                        <form action="#" id="form_contactinfo_close" class="form-horizontal">
                            <!--Prop Amount AND Proposed Initial Clean-->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_providertype" class="control-label col-md-3">Prop. Amount:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm" id="close_potential_propamount" disabled="disabled" />
                                </div>
                                <label for="select_providertype" class="control-label col-md-3">Proposed Initial Clean:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm" id="close_potential_initialamount" disabled="disabled" />
                                </div>
                            </div>
                            <!--Contract Amount AND Initial Clean Amount-->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_contractamount" class="control-label col-md-3">Contract Amount:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm" id="close_potential_contractamount" disabled="disabled" />
                                </div>
                                <label for="select_initialcleanamount" class="control-label col-md-3">Initial Clean Amount:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm" id="close_potential_initialcleanamount" disabled="disabled" />
                                </div>
                            </div>
                            <!--Sign Date AND Start Date-->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_sign Date" class="control-label col-md-3">Sign Date:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm date date-picker" data-date-format="mm/dd/yyyy" id="close_potential_signdate" disabled="disabled" />
                                </div>
                                <label for="select_startdate" class="control-label col-md-3">Start Date:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm date date-picker" data-date-format="mm/dd/yyyy" id="close_potential_startdate" disabled="disabled" />
                                </div>
                            </div>
                            <!--Phone Number AND Contract Term-->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_ponumber" class="control-label col-md-3">PO Number:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm" id="close_potential_ponumber" disabled="disabled" />
                                </div>
                                <label for="select_contractterm" class="control-label col-md-3">Contract Month:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm" id="close_potential_contractterm" disabled="disabled" />
                                </div>
                            </div>
                            <!-- Service Type AND Billing Frequency-->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_servicetype" class="control-label col-md-3">Service Type:</label>
                                <div class="col-md-3">
                                    @Html.DropDownList("ServiceTypeListModel", (SelectList)ViewBag.ServiceTypeListModel, new { @class = "form-control input-sm", @id = "close_potential_ServiceTypeListModel", @disabled = "disabled" })
                                </div>
                                <label for="select_billingfrequency" class="control-label col-md-3">Billing Frequency:</label>
                                <div class="col-md-3">
                                    @Html.DropDownList("FrequencyListModel", (SelectList)ViewBag.FrequencyListModel, null, new { @class = "form-control input-sm", required = "required", @id = "close_potential_FrequencyListModel", @disabled = "disabled" })
                                </div>
                            </div>
                            <!--# of Days AND Clean Frequency-->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="select_cleantime" class="control-label col-md-3"># of Days:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm" id="close_potential_cleantime" disabled="disabled" />
                                </div>
                                <label for="select_cleanfrequency" class="control-label col-md-3">Clean Frequency:</label>
                                <div class="col-md-3">
                                    @Html.DropDownList("ContractDetail_CleanFrequency", (SelectList)ViewBag.CleanFrequencyListModel, null, new { @class = "form-control input-sm", required = "required", @id = "close_potential_ContractDetail_CleanFrequency", @disabled = "disabled" })
                                </div>
                            </div>
                        </form>
                        <form action="#" id="form_close_cleaningday" class="form-horizontal">
                            <div class="form-group" style="margin-top:4px;" id="weekdays">
                                <label for="select_cleanday" class="control-label col-md-3" style="padding-top: 12px;">Cleaning Day:</label>
                                <div class="col-md-8" id="close_potential">
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="close_potential_mon" value="1" disabled="disabled"> Mon
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="close_potential_tue" value="2" disabled="disabled"> Tue
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="close_potential_wed" value="3" disabled="disabled"> Wed
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="close_potential_thu" value="4" disabled="disabled"> Thu
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="close_potential_fri" value="5" disabled="disabled"> Fri
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="close_potential_sat" value="6" disabled="disabled"> Sat                                                              <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="close_potential_sun" value="7" disabled="disabled"> Sun                                                              <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <h5 class="form-section sbold uppercase"><b>@JKCRMResource.note:</b></h5>
                        <!-- Note -->
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.TextArea("note", "", new { @class = "form-control autosizeme", rows = "8", style = "font-size: 11px", @id = "potential_text_closegeneralnote", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row" id="summary_action">
                            <div class="col-md-3 pull-right" style="margin-top: 20px;">
                                <button id="potential_saveclosesummary_button" type="button" class="btn green btn-block" disabled="disabled">@CommonResource.btnSave</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>