@model JKViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dash Board";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<style>
    .panel-title-fd {
        color: #e4681c;
        font-weight: 600;
        font-size: 13px;
        margin: 0;
    }

    .panel-heading-fd {
        background: #39b1cc;
        background: -moz-linear-gradient(top, #f2f3f4 0%, #d7dbdd 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f3f4), color-stop(100%, #d7dbdd));
        background: -webkit-linear-gradient(top, #f2f3f4 0%, #d7dbdd 100%);
        background: -o-linear-gradient(top, #f2f3f4 0%, #d7dbdd 100%);
        background: -ms-linear-gradient(top, #f2f3f4 0%, #d7dbdd 100%);
        background: linear-gradient(to bottom, #f2f3f4 0%, #d7dbdd 100%);
        color: #ffffff;
        padding: 5px 17px 8px;
    }

    .panel-body.border {
        border: 1px solid #e9ecef !important;
    }

    .panel-body.border-secondary {
        border-color: #868e96 !important;
    }

    .quicklinks .padding0 {
        padding: 0;
    }

    .quicklinks .item-count > h3 {
        font-weight: 700;
        font-size: 19px;
        text-align: right;
        margin-top: 9px;
    }

    .quicklinks .media-heading > a {
        color: #000;
        font-weight: 600;
        font-size: 13px;
    }

    .quicklinks .media-body {
        color: #999;
    }

    .amcharts-chart-div, .amChartsLegend.amcharts-legend-div, .amcharts-chart-div {
        margin-left: 15%;
    }

    .itemDiv::-webkit-scrollbar {
        width: 3px;
        height: 2px;
    }


    .itemDiv::-webkit-scrollbar-track {
        background: #f1f1f1;
    }


    .itemDiv.itemDiv::-webkit-scrollbar-thumb {
        background: #888;
    }


    .itemDiv::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>


<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" javascript:void(0);>
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    $<span data-counter="counterup" data-value="1000">0</span>
                </div>
                <div class="desc">
                    Total
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" javascript:void(0);>
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="12,5">0</span>M$
                </div>
                <div class="desc"> Total Profit </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" javascript:void(0);>
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="549">0</span>
                </div>
                <div class="desc"> New Orders </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" javascript:void(0);>
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    +
                    <span data-counter="counterup" data-value="89"></span>%
                </div>
                <div class="desc"> Brand Popularity </div>
            </div>
        </a>
    </div>
</div>
<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->
<div class="row">
    <div class="col-lg-8 col-xs-12 col-sm-12" style="margin-left: -7px !important;margin-right: -30px !important;">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase font-dark">Revenue</span>
                        <span class="caption-helper">distance stats...</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" javascript:void(0);>
                            <i class="icon-cloud-upload"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" javascript:void(0);>
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" javascript:void(0);>
                            <i class="icon-trash"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen"href="javascript:void(0);"data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="dashboard_amchart_1" class="CSSAnimationChart" style="overflow: hidden; text-align: left;"><div class="amcharts-main-div" style="position: relative;"><div class="amcharts-chart-div" style="overflow: hidden; position: relative; text-align: left; width: 548px; height: 393px; padding: 0px; cursor: default;"><svg version="1.1" style="position: absolute; width: 548px; height: 393px; top: 0px; left: 0px;"><desc>JavaScript chart by amCharts 3.17.1</desc><g><path cs="100,100" d="M0.5,0.5 L547.5,0.5 L547.5,392.5 L0.5,392.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-bg"></path><path cs="100,100" d="M0.5,0.5 L432.5,0.5 L432.5,340.5 L0.5,340.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-plot-area" transform="translate(75,20)"></path></g><g><g class="amcharts-category-axis" transform="translate(75,20)"><g><path cs="100,100" d="M0.5,0.5 L0.5,5.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(0,340)" class="amcharts-axis-tick"></path><path cs="100,100" d="M0.5,340.5 L0.5,340.5 L0.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#FFFFFF" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M39.5,0.5 L39.5,5.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(0,340)" class="amcharts-axis-tick"></path><path cs="100,100" d="M39.5,340.5 L39.5,340.5 L39.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#FFFFFF" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M79.5,0.5 L79.5,5.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(0,340)" class="amcharts-axis-tick"></path><path cs="100,100" d="M79.5,340.5 L79.5,340.5 L79.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#FFFFFF" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M118.5,0.5 L118.5,5.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(0,340)" class="amcharts-axis-tick"></path><path cs="100,100" d="M118.5,340.5 L118.5,340.5 L118.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#FFFFFF" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M157.5,0.5 L157.5,5.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(0,340)" class="amcharts-axis-tick"></path><path cs="100,100" d="M157.5,340.5 L157.5,340.5 L157.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#FFFFFF" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M196.5,0.5 L196.5,5.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(0,340)" class="amcharts-axis-tick"></path><path cs="100,100" d="M196.5,340.5 L196.5,340.5 L196.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#FFFFFF" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M236.5,0.5 L236.5,5.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(0,340)" class="amcharts-axis-tick"></path><path cs="100,100" d="M236.5,340.5 L236.5,340.5 L236.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#FFFFFF" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M275.5,0.5 L275.5,5.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(0,340)" class="amcharts-axis-tick"></path><path cs="100,100" d="M275.5,340.5 L275.5,340.5 L275.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#FFFFFF" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M314.5,0.5 L314.5,5.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(0,340)" class="amcharts-axis-tick"></path><path cs="100,100" d="M314.5,340.5 L314.5,340.5 L314.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#FFFFFF" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M353.5,0.5 L353.5,5.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(0,340)" class="amcharts-axis-tick"></path><path cs="100,100" d="M353.5,340.5 L353.5,340.5 L353.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#FFFFFF" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M393.5,0.5 L393.5,5.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(0,340)" class="amcharts-axis-tick"></path><path cs="100,100" d="M393.5,340.5 L393.5,340.5 L393.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#FFFFFF" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M432.5,0.5 L432.5,5.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(0,340)" class="amcharts-axis-tick"></path><path cs="100,100" d="M432.5,340.5 L432.5,340.5 L432.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#FFFFFF" class="amcharts-axis-grid"></path></g></g><g class="amcharts-value-axis value-axis-a1" transform="translate(75,20)" visibility="visible"></g><g class="amcharts-value-axis value-axis-a2" transform="translate(75,20)" visibility="visible"></g><g class="amcharts-value-axis value-axis-a3" transform="translate(75,20)" visibility="visible"></g></g><g></g><g></g><g></g><g><g transform="translate(75,20)"><g class="amcharts-graph-column amcharts-graph-g1" transform="translate(4,340)"><path cs="100,100" d="M0.5,0.5 L0.5,-211.5 L31.5,-211.5 L31.5,0.5 L0.5,0.5 Z" fill="#08a3cc" stroke="#08a3cc" fill-opacity="0.7" stroke-width="1" stroke-opacity="1" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-g1" transform="translate(43,340)"><path cs="100,100" d="M0.5,0.5 L0.5,-140.5 L31.5,-140.5 L31.5,0.5 L0.5,0.5 Z" fill="#08a3cc" stroke="#08a3cc" fill-opacity="0.7" stroke-width="1" stroke-opacity="1" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-g1" transform="translate(82,340)"><path cs="100,100" d="M0.5,0.5 L0.5,-111.5 L31.5,-111.5 L31.5,0.5 L0.5,0.5 Z" fill="#08a3cc" stroke="#08a3cc" fill-opacity="0.7" stroke-width="1" stroke-opacity="1" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-g1" transform="translate(121,340)"><path cs="100,100" d="M0.5,0.5 L0.5,-28.5 L31.5,-28.5 L31.5,0.5 L0.5,0.5 Z" fill="#08a3cc" stroke="#08a3cc" fill-opacity="0.7" stroke-width="1" stroke-opacity="1" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-g1" transform="translate(161,340)"><path cs="100,100" d="M0.5,0.5 L0.5,-13.5 L31.5,-13.5 L31.5,0.5 L0.5,0.5 Z" fill="#08a3cc" stroke="#08a3cc" fill-opacity="0.7" stroke-width="1" stroke-opacity="1" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-g1" transform="translate(200,340)"><path cs="100,100" d="M0.5,0.5 L0.5,-112.5 L31.5,-112.5 L31.5,0.5 L0.5,0.5 Z" fill="#08a3cc" stroke="#08a3cc" fill-opacity="0.7" stroke-width="1" stroke-opacity="1" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-g1" transform="translate(239,340)"><path cs="100,100" d="M0.5,0.5 L0.5,-303.5 L31.5,-303.5 L31.5,0.5 L0.5,0.5 Z" fill="#08a3cc" stroke="#08a3cc" fill-opacity="0.7" stroke-width="1" stroke-opacity="1" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-g1" transform="translate(279,340)"><path cs="100,100" d="M0.5,0.5 L0.5,-251.5 L31.5,-251.5 L31.5,0.5 L0.5,0.5 Z" fill="#08a3cc" stroke="#08a3cc" fill-opacity="0.7" stroke-width="1" stroke-opacity="1" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-g1" transform="translate(318,340)"><path cs="100,100" d="M0.5,0.5 L0.5,-169.5 L31.5,-169.5 L31.5,0.5 L0.5,0.5 Z" fill="#08a3cc" stroke="#08a3cc" fill-opacity="0.4" stroke-width="1" stroke-opacity="1" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g></g></g><g><g transform="translate(75,20)" class="amcharts-graph-column amcharts-graph-g1"><g></g></g><g transform="translate(75,20)" class="amcharts-graph-line amcharts-graph-g2"><g></g><g></g><g clip-path="url(#AmChartsEl-9)"><path cs="100,100" d="M20.5,305.5 L59.5,218.5 L98.5,228.5 L137.5,231.5 L177.5,174.5 L216.5,123.5 L255.5,55.5 L295.5,43.5 L334.5,24.5 L373.5,111.5 M0,0 L0,0" fill="none" stroke-width="1" stroke-opacity="1" stroke="#786c56" class="amcharts-graph-stroke"></path></g><clipPath id="AmChartsEl-9"><rect x="0" y="0" width="434" height="342" rx="0" ry="0" stroke-width="0"></rect></clipPath></g><g transform="translate(75,20)" class="amcharts-graph-line amcharts-graph-g3"><g></g><g></g><g clip-path="url(#AmChartsEl-10)"><path cs="100,100" d="M20.5,194.5 L59.5,222.5 L98.5,240.5 L137.5,287.5 L177.5,298.5 L216.5,202.5 L255.5,5.5 L295.5,44.5 L334.5,112.5 L373.5,209.5 M0,0 L0,0" fill="none" stroke-width="1" stroke-opacity="0.8" stroke="#e26a6a" class="amcharts-graph-stroke"></path></g><clipPath id="AmChartsEl-10"><rect x="0" y="0" width="434" height="342" rx="0" ry="0" stroke-width="0"></rect></clipPath></g></g><g></g><g><g class="amcharts-category-axis"><path cs="100,100" d="M0.5,0.5 L432.5,0.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#555555" transform="translate(75,360)" class="amcharts-axis-line"></path></g><g class="amcharts-value-axis value-axis-a1"><path cs="100,100" d="M0.5,0.5 L0.5,340.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(75,20)" class="amcharts-axis-line" visibility="visible"></path></g><g class="amcharts-value-axis value-axis-a2"><path cs="100,100" d="M0.5,0.5 L0.5,340.5 L0.5,340.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(507,20)" class="amcharts-axis-line" visibility="visible"></path></g><g class="amcharts-value-axis value-axis-a3"><path cs="100,100" d="M0.5,0.5 L0.5,340.5 L0.5,340.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(507,20)" class="amcharts-axis-line" visibility="visible"></path></g></g><g><g transform="translate(75,20)" visibility="hidden"><path cs="100,100" d="M0.5,0.5 L0.5,0.5 L0.5,340.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#CC0000" class="amcharts-cursor-line" visibility="hidden" style="pointer-events: none;"></path></g></g><g></g><g><g transform="translate(75,20)" class="amcharts-graph-column amcharts-graph-g1"></g><g transform="translate(75,20)" class="amcharts-graph-line amcharts-graph-g2"><circle r="5" cx="0" cy="0" fill="#89c4f4" stroke="#02617a" fill-opacity="1" stroke-width="2" stroke-opacity="1" transform="translate(20,305)" class="amcharts-graph-bullet"></circle><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-graph-label" transform="translate(28,303)" style="pointer-events: none;"><tspan y="6" x="0">Miami</tspan></text><circle r="3.5" cx="0" cy="0" fill="#89c4f4" stroke="#02617a" fill-opacity="1" stroke-width="2" stroke-opacity="1" transform="translate(59,218)" class="amcharts-graph-bullet"></circle><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-graph-label" transform="translate(66,218)" style="pointer-events: none;"><tspan y="6" x="0"></tspan></text><circle r="5" cx="0" cy="0" fill="#89c4f4" stroke="#02617a" fill-opacity="1" stroke-width="2" stroke-opacity="1" transform="translate(98,228)" class="amcharts-graph-bullet"></circle><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-graph-label" transform="translate(106,228)" style="pointer-events: none;"><tspan y="6" x="0"></tspan></text><circle r="8" cx="0" cy="0" fill="#89c4f4" stroke="#02617a" fill-opacity="1" stroke-width="2" stroke-opacity="1" transform="translate(137,231)" class="amcharts-graph-bullet"></circle><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-graph-label" transform="translate(148,229)" style="pointer-events: none;"><tspan y="6" x="0">Houston</tspan></text><circle r="8.5" cx="0" cy="0" fill="#89c4f4" stroke="#02617a" fill-opacity="1" stroke-width="2" stroke-opacity="1" transform="translate(177,174)" class="amcharts-graph-bullet"></circle><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-graph-label" transform="translate(189,174)" style="pointer-events: none;"><tspan y="6" x="0"></tspan></text><circle r="5.5" cx="0" cy="0" fill="#89c4f4" stroke="#02617a" fill-opacity="1" stroke-width="2" stroke-opacity="1" transform="translate(216,123)" class="amcharts-graph-bullet"></circle><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-graph-label" transform="translate(225,123)" style="pointer-events: none;"><tspan y="6" x="0"></tspan></text><circle r="5" cx="0" cy="0" fill="#89c4f4" stroke="#02617a" fill-opacity="1" stroke-width="2" stroke-opacity="1" transform="translate(255,55)" class="amcharts-graph-bullet"></circle><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-graph-label" transform="translate(263,55)" style="pointer-events: none;"><tspan y="6" x="0"></tspan></text><circle r="9" cx="0" cy="0" fill="#89c4f4" stroke="#02617a" fill-opacity="1" stroke-width="2" stroke-opacity="1" transform="translate(295,43)" class="amcharts-graph-bullet"></circle><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-graph-label" transform="translate(307,41)" style="pointer-events: none;"><tspan y="6" x="0">Denver</tspan></text><circle r="6" cx="0" cy="0" fill="#89c4f4" stroke="#02617a" fill-opacity="1" stroke-width="2" stroke-opacity="1" transform="translate(334,24)" class="amcharts-graph-bullet"></circle><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-graph-label" transform="translate(343,24)" style="pointer-events: none;"><tspan y="6" x="0"></tspan></text><circle r="4" cx="0" cy="0" fill="#89c4f4" stroke="#02617a" fill-opacity="1" stroke-width="2" stroke-opacity="1" transform="translate(373,111)" class="amcharts-graph-bullet lastBullet"></circle><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-graph-label" transform="translate(380,109)" style="pointer-events: none;"><tspan y="6" x="0">Las Vegas</tspan></text></g><g transform="translate(75,20)" class="amcharts-graph-line amcharts-graph-g3"><path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#e26a6a" stroke="#e26a6a" fill-opacity="1" stroke-width="1" stroke-opacity="0.8" transform="translate(20,194)" class="amcharts-graph-bullet"></path><path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#e26a6a" stroke="#e26a6a" fill-opacity="1" stroke-width="1" stroke-opacity="0.8" transform="translate(59,222)" class="amcharts-graph-bullet"></path><path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#e26a6a" stroke="#e26a6a" fill-opacity="1" stroke-width="1" stroke-opacity="0.8" transform="translate(98,240)" class="amcharts-graph-bullet"></path><path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#e26a6a" stroke="#e26a6a" fill-opacity="1" stroke-width="1" stroke-opacity="0.8" transform="translate(137,287)" class="amcharts-graph-bullet"></path><path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#e26a6a" stroke="#e26a6a" fill-opacity="1" stroke-width="1" stroke-opacity="0.8" transform="translate(177,298)" class="amcharts-graph-bullet"></path><path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#e26a6a" stroke="#e26a6a" fill-opacity="1" stroke-width="1" stroke-opacity="0.8" transform="translate(216,202)" class="amcharts-graph-bullet"></path><path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#e26a6a" stroke="#e26a6a" fill-opacity="1" stroke-width="1" stroke-opacity="0.8" transform="translate(255,5)" class="amcharts-graph-bullet"></path><path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#e26a6a" stroke="#e26a6a" fill-opacity="1" stroke-width="1" stroke-opacity="0.8" transform="translate(295,44)" class="amcharts-graph-bullet"></path><path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#e26a6a" stroke="#e26a6a" fill-opacity="1" stroke-width="1" stroke-opacity="0.8" transform="translate(334,112)" class="amcharts-graph-bullet"></path><path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#e26a6a" stroke="#e26a6a" fill-opacity="1" stroke-width="1" stroke-opacity="0.8" transform="translate(373,209)" class="amcharts-graph-bullet"></path></g></g><g><g class="amcharts-category-axis" transform="translate(75,20)" visibility="visible"><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="middle" transform="translate(19.636363657024795,353)" class="amcharts-axis-label"><tspan y="6" x="0">05</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="middle" transform="translate(58.636363657024795,353)" class="amcharts-axis-label"><tspan y="6" x="0">06</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="middle" transform="translate(98.63636365702479,353)" class="amcharts-axis-label"><tspan y="6" x="0">07</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="middle" transform="translate(137.6363636570248,353)" class="amcharts-axis-label"><tspan y="6" x="0">08</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="middle" transform="translate(176.6363636570248,353)" class="amcharts-axis-label"><tspan y="6" x="0">09</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="middle" transform="translate(215.6363636570248,353)" class="amcharts-axis-label"><tspan y="6" x="0">10</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="middle" transform="translate(255.6363636570248,353)" class="amcharts-axis-label"><tspan y="6" x="0">11</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="middle" transform="translate(294.6363636570248,353)" class="amcharts-axis-label"><tspan y="6" x="0">12</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="middle" transform="translate(333.6363636570248,353)" class="amcharts-axis-label"><tspan y="6" x="0">13</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="middle" transform="translate(372.6363636570248,353)" class="amcharts-axis-label"><tspan y="6" x="0">14</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="middle" transform="translate(412.6363636570248,353)" class="amcharts-axis-label"><tspan y="6" x="0">15</tspan></text></g><g class="amcharts-value-axis value-axis-a1" transform="translate(75,20)" visibility="visible"><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(-12,337.5)" class="amcharts-axis-label"><tspan y="6" x="0">200</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(-12,299.5)" class="amcharts-axis-label"><tspan y="6" x="0">250</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(-12,261.5)" class="amcharts-axis-label"><tspan y="6" x="0">300</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(-12,224.5)" class="amcharts-axis-label"><tspan y="6" x="0">350</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(-12,186.5)" class="amcharts-axis-label"><tspan y="6" x="0">400</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(-12,148.5)" class="amcharts-axis-label"><tspan y="6" x="0">450</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(-12,110.5)" class="amcharts-axis-label"><tspan y="6" x="0">500</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(-12,73.5)" class="amcharts-axis-label"><tspan y="6" x="0">550</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(-12,35.5)" class="amcharts-axis-label"><tspan y="6" x="0">600</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(-12,-2.5)" class="amcharts-axis-label"><tspan y="6" x="0">650</tspan></text><text y="7" fill="#6c7b88" font-family="Open Sans" font-size="13px" opacity="1" font-weight="bold" text-anchor="middle" class="amcharts-axis-title" transform="translate(-53,170) rotate(-90)"><tspan y="7" x="0">distance</tspan></text></g><g class="amcharts-value-axis value-axis-a2" transform="translate(75,20)" visibility="visible"></g><g class="amcharts-value-axis value-axis-a3" transform="translate(75,20)" visibility="visible"><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(423,330.5)" class="amcharts-axis-label"><tspan y="6" x="0">03h 20min</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(423,281.5)" class="amcharts-axis-label"><tspan y="6" x="0">05h 00min</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(423,233.5)" class="amcharts-axis-label"><tspan y="6" x="0">06h 40min</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(423,184.5)" class="amcharts-axis-label"><tspan y="6" x="0">08h 20min</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(423,136.5)" class="amcharts-axis-label"><tspan y="6" x="0">10h 00min</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(423,87.5)" class="amcharts-axis-label"><tspan y="6" x="0">11h 40min</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="end" transform="translate(423,39.5)" class="amcharts-axis-label"><tspan y="6" x="0">13h 20min</tspan></text><text y="7" fill="#6c7b88" font-family="Open Sans" font-size="13px" opacity="1" font-weight="bold" text-anchor="middle" class="amcharts-axis-title" transform="translate(449,170) rotate(-90)"><tspan y="7" x="0">duration</tspan></text></g></g><g><g></g></g><g></g><g></g><g></g></svg><a href="http://www.amcharts.com/javascript-charts/" title="JavaScript charts" style="position: absolute; text-decoration: none; color: rgb(108, 123, 136); font-family: &quot;Open Sans&quot;; font-size: 12px; opacity: 0.7; display: block; left: 80px; top: 25px;">JS chart by amCharts</a></div><div class="amChartsLegend amcharts-legend-div" style="overflow: hidden; position: relative; text-align: left; width: 548px; height: 107px; cursor: default;"><svg version="1.1" style="position: absolute; width: 548px; height: 107px; top: 0px; left: 0px;"><desc>JavaScript chart by amCharts 3.17.1</desc><g transform="translate(75,0)"><path cs="100,100" d="M0.5,0.5 L432.5,0.5 L432.5,96.5 L0.5,96.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-legend-bg"></path><g transform="translate(0,11)"><g cursor="pointer" class="amcharts-legend-item-g1" transform="translate(0,0)"><path cs="100,100" d="M-15.5,8.5 L16.5,8.5 L16.5,-7.5 L-15.5,-7.5 Z" fill="#08a3cc" stroke="#08a3cc" fill-opacity="0.7" stroke-width="1" stroke-opacity="1" transform="translate(16,8)" class="amcharts-graph-column amcharts-graph-g1 amcharts-legend-marker"></path><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-legend-label" transform="translate(37,7)"><tspan y="6" x="0">distance</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-legend-value" transform="translate(110,7)">total: 3,581 mi</text><rect x="32" y="0" width="213.59375" height="19" rx="0" ry="0" stroke-width="0" stroke="none" fill="#fff" fill-opacity="0.005"></rect></g><g cursor="pointer" class="amcharts-legend-item-g2" transform="translate(0,29)"><g class="amcharts-graph-line amcharts-graph-g2 amcharts-legend-marker"><path cs="100,100" d="M0.5,8.5 L32.5,8.5" fill="none" stroke-width="1" stroke-opacity="1" stroke="#786c56" class="amcharts-graph-stroke"></path><circle r="4" cx="0" cy="0" fill="#89c4f4" stroke="#02617a" fill-opacity="1" stroke-width="2" stroke-opacity="1" class="amcharts-graph-bullet" transform="translate(17,8)"></circle></g><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-legend-label" transform="translate(37,7)"><tspan y="6" x="0">latitude/city</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-legend-value" transform="translate(130,7)"> </text><rect x="32" y="0" width="233.546875" height="19" rx="0" ry="0" stroke-width="0" stroke="none" fill="#fff" fill-opacity="0.005"></rect></g><g cursor="pointer" class="amcharts-legend-item-g3" transform="translate(0,58)"><g class="amcharts-graph-line amcharts-graph-g3 amcharts-legend-marker"><path cs="100,100" d="M0.5,8.5 L32.5,8.5" fill="none" stroke-width="1" stroke-opacity="0.8" stroke="#e26a6a" class="amcharts-graph-stroke"></path><path cs="100,100" d="M-3.5,4.5 L4.5,4.5 L4.5,-3.5 L-3.5,-3.5 Z" fill="#e26a6a" stroke="#e26a6a" fill-opacity="1" stroke-width="1" stroke-opacity="0.8" class="amcharts-graph-bullet" transform="translate(17,8)"></path></g><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-legend-label" transform="translate(37,7)"><tspan y="6" x="0">duration</tspan></text><text y="6" fill="#6c7b88" font-family="Open Sans" font-size="12px" opacity="1" text-anchor="start" class="amcharts-legend-value" transform="translate(111,7)"> </text><rect x="32" y="0" width="214.671875" height="19" rx="0" ry="0" stroke-width="0" stroke="none" fill="#fff" fill-opacity="0.005"></rect></g></g></g></svg></div></div></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption ">
                        <span class="caption-subject font-dark bold uppercase">Finance</span>
                        <span class="caption-helper">distance stats...</span>
                    </div>
                    <div class="actions">
                        <a href="javascript:void(0);" class="btn btn-circle green btn-outline btn-sm">
                            <i class="fa fa-pencil"></i> Export
                        </a>
                        <a href="javascript:void(0);" class="btn btn-circle green btn-outline btn-sm">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="dashboard_amchart_3" class="CSSAnimationChart" style="overflow: hidden; text-align: left;"><div class="amcharts-main-div" style="position: relative;"><div class="amcharts-chart-div" style="overflow: hidden; position: relative; text-align: left; width: 548px; height: 500px; padding: 0px;"><svg version="1.1" style="position: absolute; width: 548px; height: 500px; top: 0px; left: -0.5px;"><desc>JavaScript chart by amCharts 3.17.1</desc><g><path cs="100,100" d="M0.5,0.5 L547.5,0.5 L547.5,499.5 L0.5,499.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-bg"></path><path cs="100,100" d="M0.5,0.5 L509.5,0.5 L509.5,463.5 L0.5,463.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-plot-area" transform="translate(30,10)"></path></g><g><g class="amcharts-category-axis" transform="translate(30,10)"><g><path cs="100,100" d="M0.5,463.5 L0.5,463.5 L0.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M85.5,463.5 L85.5,463.5 L85.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M170.5,463.5 L170.5,463.5 L170.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M255.5,463.5 L255.5,463.5 L255.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M340.5,463.5 L340.5,463.5 L340.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M425.5,463.5 L425.5,463.5 L425.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M509.5,463.5 L509.5,463.5 L509.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g></g><g class="amcharts-value-axis value-axis-valueAxisAuto0_1502313078835" transform="translate(30,10)" visibility="visible"><g><path cs="100,100" d="M0.5,463.5 L0.5,463.5 L509.5,463.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,405.5 L0.5,405.5 L509.5,405.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,347.5 L0.5,347.5 L509.5,347.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,289.5 L0.5,289.5 L509.5,289.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,232.5 L0.5,232.5 L509.5,232.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,174.5 L0.5,174.5 L509.5,174.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,116.5 L0.5,116.5 L509.5,116.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,58.5 L0.5,58.5 L509.5,58.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,0.5 L0.5,0.5 L509.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g></g></g><g></g><g></g><g></g><g><g transform="translate(30,10)"><g class="amcharts-graph-column amcharts-graph-graphAuto0_1502313078835" transform="translate(8,463)"><path cs="100,100" d="M0.5,0.5 L0.5,-100.5 L68.5,-100.5 L68.5,0.5 L0.5,0.5 Z" fill="#67b7dc" stroke="#67b7dc" fill-opacity="1" stroke-width="1" stroke-opacity="0.9" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1502313078835" transform="translate(93,463)"><path cs="100,100" d="M0.5,0.5 L0.5,-178.5 L68.5,-178.5 L68.5,0.5 L0.5,0.5 Z" fill="#67b7dc" stroke="#67b7dc" fill-opacity="1" stroke-width="1" stroke-opacity="0.9" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1502313078835" transform="translate(178,463)"><path cs="100,100" d="M0.5,0.5 L0.5,-291.5 L68.5,-291.5 L68.5,0.5 L0.5,0.5 Z" fill="#67b7dc" stroke="#67b7dc" fill-opacity="1" stroke-width="1" stroke-opacity="0.9" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1502313078835" transform="translate(263,463)"><path cs="100,100" d="M0.5,0.5 L0.5,-274.5 L68.5,-274.5 L68.5,0.5 L0.5,0.5 Z" fill="#67b7dc" stroke="#67b7dc" fill-opacity="1" stroke-width="1" stroke-opacity="0.9" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1502313078835" transform="translate(348,463)"><path cs="100,100" d="M0.5,0.5 L0.5,-306.5 L68.5,-306.5 L68.5,0.5 L0.5,0.5 Z" fill="#67b7dc" stroke="#67b7dc" fill-opacity="1" stroke-width="1" stroke-opacity="0.9" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1502313078835" transform="translate(433,463)"><path cs="100,100" d="M0.5,0.5 L0.5,-407.5 L68.5,-407.5 L68.5,0.5 L0.5,0.5 Z" fill="#67b7dc" stroke="#67b7dc" fill-opacity="0.2" stroke-width="1" stroke-opacity="0.9" stroke-dasharray="5" class="amcharts-graph-column-front amcharts-graph-column-element"></path></g></g></g><g><g transform="translate(30,10)" class="amcharts-graph-column amcharts-graph-graphAuto0_1502313078835"><g></g></g><g transform="translate(30,10)" class="amcharts-graph-line amcharts-graph-graph2"><g></g><g></g><g clip-path="url(#AmChartsEl-11)"><path cs="100,100" d="M42.5,431.5 L127.5,159.5 L212.5,32.5 L297.5,142.5 L382.5,226.5 L467.5,90.5 M0,0 L0,0" fill="none" stroke-width="3" stroke-opacity="1" stroke="#fdd400" class="amcharts-graph-stroke"></path></g><clipPath id="AmChartsEl-11"><rect x="0" y="0" width="511" height="465" rx="0" ry="0" stroke-width="0"></rect></clipPath></g></g><g></g><g><g class="amcharts-category-axis"><path cs="100,100" d="M0.5,0.5 L509.5,0.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(30,473)" class="amcharts-axis-line"></path></g><g class="amcharts-value-axis value-axis-valueAxisAuto0_1502313078835"><path cs="100,100" d="M0.5,0.5 L0.5,463.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(30,10)" class="amcharts-axis-line" visibility="visible"></path></g></g><g></g><g></g><g><g transform="translate(30,10)" class="amcharts-graph-column amcharts-graph-graphAuto0_1502313078835"></g><g transform="translate(30,10)" class="amcharts-graph-line amcharts-graph-graph2"><circle r="3.5" cx="0" cy="0" fill="#FFFFFF" stroke="#fdd400" fill-opacity="1" stroke-width="3" stroke-opacity="1" transform="translate(42,431)" class="amcharts-graph-bullet"></circle><circle r="3.5" cx="0" cy="0" fill="#FFFFFF" stroke="#fdd400" fill-opacity="1" stroke-width="3" stroke-opacity="1" transform="translate(127,159)" class="amcharts-graph-bullet"></circle><circle r="3.5" cx="0" cy="0" fill="#FFFFFF" stroke="#fdd400" fill-opacity="1" stroke-width="3" stroke-opacity="1" transform="translate(212,32)" class="amcharts-graph-bullet"></circle><circle r="3.5" cx="0" cy="0" fill="#FFFFFF" stroke="#fdd400" fill-opacity="1" stroke-width="3" stroke-opacity="1" transform="translate(297,142)" class="amcharts-graph-bullet"></circle><circle r="3.5" cx="0" cy="0" fill="#FFFFFF" stroke="#fdd400" fill-opacity="1" stroke-width="3" stroke-opacity="1" transform="translate(382,226)" class="amcharts-graph-bullet"></circle><circle r="3.5" cx="0" cy="0" fill="#FFFFFF" stroke="#fdd400" fill-opacity="1" stroke-width="3" stroke-opacity="1" transform="translate(467,90)" class="amcharts-graph-bullet"></circle></g></g><g><g class="amcharts-category-axis" transform="translate(30,10)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(42.416666666666664,475.5)" class="amcharts-axis-label"><tspan y="6" x="0">2009</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(127.41666666666666,475.5)" class="amcharts-axis-label"><tspan y="6" x="0">2010</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(212.41666666666666,475.5)" class="amcharts-axis-label"><tspan y="6" x="0">2011</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(297.4166666666667,475.5)" class="amcharts-axis-label"><tspan y="6" x="0">2012</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(382.4166666666667,475.5)" class="amcharts-axis-label"><tspan y="6" x="0">2013</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(467.4166666666667,475.5)" class="amcharts-axis-label"><tspan y="6" x="0">2014</tspan></text></g><g class="amcharts-value-axis value-axis-valueAxisAuto0_1502313078835" transform="translate(30,10)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,462)" class="amcharts-axis-label"><tspan y="6" x="0">20</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,404)" class="amcharts-axis-label"><tspan y="6" x="0">22</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,346)" class="amcharts-axis-label"><tspan y="6" x="0">24</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,288)" class="amcharts-axis-label"><tspan y="6" x="0">26</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,231)" class="amcharts-axis-label"><tspan y="6" x="0">28</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,173)" class="amcharts-axis-label"><tspan y="6" x="0">30</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,115)" class="amcharts-axis-label"><tspan y="6" x="0">32</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,57)" class="amcharts-axis-label"><tspan y="6" x="0">34</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,-1)" class="amcharts-axis-label"><tspan y="6" x="0">36</tspan></text></g></g><g><g></g></g><g></g><g></g><g></g></svg><a href="http://www.amcharts.com/javascript-charts/" title="JavaScript charts" style="position: absolute; text-decoration: none; color: rgb(0, 0, 0); font-family: Verdana; font-size: 11px; opacity: 0.7; display: block; left: 35px; top: 15px;">JS chart by amCharts</a></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xs-12 col-sm-12" style="width: 36%;">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title tabbable-line" style="background-color: #a3efd9;padding-left: 5px;">
                    <div class="caption">
                        <i class="icon-social-twitter font-dark hide"></i>
                        <span class="caption-subject font-dark bold uppercase">Quick Actions</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        @if (Model.dashboardModel.lstQuickLinks != null)
                        {
                            var groupLinks = Model.dashboardModel.lstQuickLinks.Where(x => x.DashBoardBox == "QuickLimks").GroupBy(k => k.TypeName).ToList();
                            foreach (var links in groupLinks)
                            {
                                <div class="panel panel-default quicklinks">
                                    <div class="panel-heading-fd">
                                        <h3 class="panel-title-fd">@links.Key</h3>
                                    </div>
                                    @foreach (var link in links)
                                    {
                                        <div class="panel-body border border-light" style="padding:10px;">
                                            <div class="media col-xs-12 padding0">
                                                <div class="col-xs-1 padding0">
                                                    <a class="pull-left" href="@link.PageUrl">
                                                        @if (!string.IsNullOrWhiteSpace(link.iconURL))
                                                        {
                                                            <img class="media-object" data-src="holder.js/35x35" alt="35x35" src="@link.iconURL" style="width:35px;height:35px;margin-top:4px;">
                                                        }
                                                        else
                                                        {
                                                            <img class="media-object" data-src="holder.js/35x35" alt="35x35" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width:35px;height:35px;margin-top:4px;">
                                                        }
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <div class="media-body">
                                                        <h4 class="media-heading">
                                                            <a href="@link.PageUrl">@link.LinkText</a>
                                                        </h4>
                                                        Description place here.
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 padding0 item-count">
                                                    <h3>@link.ItemCount</h3>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title tabbable-line" style="background-color: #a3efd9;padding-left: 5px;">
                    <div class="caption">
                        <i class="icon-bubbles font-dark hide"></i>
                        <span class="caption-subject font-dark bold uppercase">Comments</span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" data-toggle="tab"> Rejected </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" data-toggle="tab"> Approved </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body itemDiv" style="overflow: scroll;height: 340px;overflow-x: hidden;">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                            <!-- BEGIN: Comments -->
                            <div class="mt-comments">
                                @if (Model.dashboardModel.lstPendingData != null)
                                {
                                    var groups = Model.dashboardModel.lstPendingData.Where(r => r.IsRejacted == true).ToList();
                                    foreach (var links in groups)
                                    {
                                        <div class="mt-comment">
                                            <div class="mt-comment-img">
                                                <img src="~/Content/admin/assets/pages/media/users/avatar1.jpg" />
                                            </div>
                                            <div class="mt-comment-body">
                                                <div class="mt-comment-info">
                                                    <span class="mt-comment-author">@links.FirstName @links.LastName</span>
                                                    <span class="mt-comment-date">@links.MessageDate.ToShortDateString()</span>
                                                </div>
                                                <div class="mt-comment-text"> @links.Message </div>
                                                <div class="mt-comment-details">
                                                    <span class="mt-comment-status mt-comment-status-rejected">Rejected</span>
                                                    <ul class="mt-comment-actions">
                                                        <li>
                                                            <a href='@Url.Action("DashboardRejectedActionClick", "Customer", new { area = "Portal", CustomerId=links.CustomerID })'>Action</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }


                            </div>
                            <!-- END: Comments -->
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                            <!-- BEGIN: Comments -->
                            <div class="mt-comments">
                                @if (Model.dashboardModel.lstPendingData != null)
                                {
                                    var groups = Model.dashboardModel.lstPendingData.Where(r => r.Isapproved == true).ToList();
                                    foreach (var links in groups)
                                    {
                                        <div class="mt-comment">
                                            <div class="mt-comment-img">
                                                <img src="~/Content/admin/assets/pages/media/users/avatar4.jpg" />
                                            </div>
                                            <div class="mt-comment-body">
                                                <div class="mt-comment-info">
                                                    <span class="mt-comment-author">@links.FirstName @links.LastName</span>
                                                    <span class="mt-comment-date">@links.MessageDate.ToShortDateString()</span>
                                                </div>
                                                <div class="mt-comment-text"> @links.Message  </div>
                                                <div class="mt-comment-details">
                                                    <span class="mt-comment-status mt-comment-status-approved">Approved</span>
                                                    <ul class="mt-comment-actions">
                                                        <li>
                                                            <a javascript:void(0);>Quick Edit</a>
                                                        </li>
                                                        <li>
                                                            <a javascript:void(0);>View</a>
                                                        </li>
                                                        <li>
                                                            <a javascript:void(0);>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                @*<div class="mt-comment">
                                        <div class="mt-comment-img">
                                            <img src="~/Content/admin/assets/pages/media/users/avatar8.jpg" />
                                        </div>
                                        <div class="mt-comment-body">
                                            <div class="mt-comment-info">
                                                <span class="mt-comment-author">Larisa Maskalyova</span>
                                                <span class="mt-comment-date">12 Feb, 08:30AM</span>
                                            </div>
                                            <div class="mt-comment-text"> It is a long established fact that a reader will be distracted by. </div>
                                            <div class="mt-comment-details">
                                                <span class="mt-comment-status mt-comment-status-approved">Approved</span>
                                                <ul class="mt-comment-actions">
                                                    <li>
                                                        <a javascript:void(0);>Quick Edit</a>
                                                    </li>
                                                    <li>
                                                        <a javascript:void(0);>View</a>
                                                    </li>
                                                    <li>
                                                        <a javascript:void(0);>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-comment">
                                        <div class="mt-comment-img">
                                            <img src="~/Content/admin/assets/pages/media/users/avatar6.jpg" />
                                        </div>
                                        <div class="mt-comment-body">
                                            <div class="mt-comment-info">
                                                <span class="mt-comment-author">Natasha Kim</span>
                                                <span class="mt-comment-date">19 Dec,09:50 AM</span>
                                            </div>
                                            <div class="mt-comment-text"> The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. </div>
                                            <div class="mt-comment-details">
                                                <span class="mt-comment-status mt-comment-status-approved">Approved</span>
                                                <ul class="mt-comment-actions">
                                                    <li>
                                                        <a javascript:void(0);>Quick Edit</a>
                                                    </li>
                                                    <li>
                                                        <a javascript:void(0);>View</a>
                                                    </li>
                                                    <li>
                                                        <a javascript:void(0);>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>*@

                            </div>
                            <!-- END: Comments -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
</div>