@using MvcBreadCrumbs
@using JKApi.Core.Common
@{
    ClaimView _ClaimView = ClaimView.Instance;
    var Username = _ClaimView.GetCLAIM_PERSON_INFORMATION().FirstName;

    List<JKViewModels.RoleAccessModel> ParentMenus = null;
    List<JKViewModels.RoleAccessModel> AllMenus = null;

    var userViewModel = (JKViewModels.UserViewModel)_ClaimView.GetCLAIM_PERSON_INFORMATION();
    if (userViewModel != null && userViewModel.RoleAccesss != null)
    {
        int ParentMenuId = userViewModel.RoleAccesss.Where(x => x.PageName == ViewBag?.HMenu && x.IsViewAccess == true).FirstOrDefault().MenuId;
        AllMenus = userViewModel.RoleAccesss;
        ParentMenus = userViewModel.RoleAccesss.Where(x => x.ParentMenuId == ParentMenuId && x.IsViewAccess == true).OrderBy(x => x.MenuOrder).ToList();
    }

}
@{
    ViewBag.Title = "Account Payable";
    Layout = null;
}
<link href="~/Content/admin/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<style>
    .customcol {
        width: 50px;
        height: 100%;
    }

    .rotateRow {
        border: 1px solid #e8d3d3;
        border-left: 0px solid #808080;
        background: white;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 12px;
    }

    .rotateObj {
        position: relative;
        float: left;
    }

        .rotateObj h2 {
            font-size: 14px;
            font-weight: bold;
            color: #ffffff;
        }

            .rotateObj h2 span {
                padding-top: 26px;
                display: inline-block;
                position: absolute;
                left: -32px;
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }


    .icon-Title {
        color: #208baa !important;
    }

    .panel-title-fd {
        color: #e4681c;
        font-weight: 600;
        font-size: 13px;
        margin: 0;
    }

    .panel-heading-fd {
        background: #39b1cc;
        background: -moz-linear-gradient(top, #f2f3f4 0%, #d7dbdd 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f3f4), color-stop(100%, #d7dbdd));
        background: -webkit-linear-gradient(top, #f2f3f4 0%, #d7dbdd 100%);
        background: -o-linear-gradient(top, #f2f3f4 0%, #d7dbdd 100%);
        background: -ms-linear-gradient(top, #f2f3f4 0%, #d7dbdd 100%);
        background: linear-gradient(to bottom, #f2f3f4 0%, #d7dbdd 100%);
        color: #ffffff;
        padding: 5px 17px 8px;
    }

    .panel-body.border {
        border: 1px solid #e9ecef !important;
    }

    .panel-body.border-secondary {
        border-color: #868e96 !important;
    }

    .quicklinks .padding0 {
        padding: 0;
    }

    .quicklinks .item-count > h3 {
        font-weight: 700;
        font-size: 19px;
        text-align: right;
        margin-top: 9px;
    }

    .quicklinks .media-heading > a {
        color: #000;
        font-weight: 600;
        font-size: 13px;
    }

    .quicklinks .media-body {
        color: #999;
    }

    .amcharts-chart-div, .amChartsLegend.amcharts-legend-div, .amcharts-chart-div {
        margin-left: 0%;
    }

    .itemDiv::-webkit-scrollbar {
        width: 3px;
        height: 2px;
    }


    .itemDiv::-webkit-scrollbar-track {
        background: #f1f1f1;
    }


    .itemDiv.itemDiv::-webkit-scrollbar-thumb {
        background: #888;
    }


    .itemDiv::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .amcharts-pie-slice {
        transform: scale(1);
        transform-origin: 50% 50%;
        transition-duration: 0.3s;
        transition: all .3s ease-out;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        cursor: pointer;
        box-shadow: 0 0 30px 0 #000;
    }

        .amcharts-pie-slice:hover {
            transform: scale(1.1);
            filter: url(#shadow);
        }

    .hideTitle {
        display: none !important;
        visibility: hidden !important;
    }

    .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding: 0px 2px 0px 2px;
    }

        .col-lg-2:after, .col-lg-3:after, .col-lg-4:after, .col-lg-5:after, .col-lg-6:after, .col-lg-7:after, .col-lg-8:after, .col-lg-9:after, .col-lg-10:after, .col-lg-11:after, .col-lg-12:after {
            content: none !important;
        }

    .row {
        padding: 0px 0px 0px 0px;
    }

        .row:before {
            content: none;
        }

    .dashboard-stat:before, .dashboard-stat:after {
        content: none !important;
    }

    #PaymentDetailsChartPopUp1 {
        width: 100%;
        height: 10000px;
    }

    #TopRevenueWiseCustomerdiv {
        width: 100%;
        height: 600px;
    }
</style>
@foreach (var item in ParentMenus)
{
    if (item.MenuName == "Customer")
    {
        <div class="row rotateRow">
            <div class="col-md-12 divHeight dashboardMenu" style="padding-left: 0px;">
                <div class="col-md-1 customcol" style="background: #6f6fe6;">
                    <div class="rotateObj" style="position: unset;">
                        <h2 style="padding-top: 40px;"><span style="padding-left: 12px;padding-top: 32px;">Customer</span></h2>
                    </div>
                </div>
                <div class="col-md-11 dbtopPad" style="">
                    @foreach (var item1 in ParentMenus)
                    {
                        var chieldMenuItem = AllMenus.Where(x => x.ParentMenuId == item1.MenuId && x.IsViewAccess == true).OrderBy(x => x.MenuOrder).ToList();
                        foreach (var chielditem in chieldMenuItem)
                        {
                            if (chielditem.MenuName == "Search")
                            {
                                <div class="col-md-3 text-center">
                                    <a href="@Url.Action("CustomerDetail", "Customer", new { area = "Portal" })" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/svg/Search.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">Search</span>
                                    </a>
                                </div>
                            }
                            if (chielditem.MenuName == "Customer List")
                            {

                                <div class="col-md-3 text-center">
                                    <a href="@Url.Action("SearchList", "Customer", new { area = "Portal" })" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/svg/CreateInvoice.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">Customer List</span>
                                    </a>
                                </div>
                            }
                            if (chielditem.MenuName == "Add New Customer")
                            {
                                <div class="col-md-3 text-center">
                                    <a href="javascript:AddNewCustomerVefiry();" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/hnav/fr/AddCustomer.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">Add New Customer</span>
                                    </a>
                                </div>
                            }
                            if (chielditem.MenuName == "Maintenance")
                            {
                                <div class="col-md-3 text-center">
                                    <a href="@Url.Action("CustomerMaintenance", "Customer", new { area = "Portal" })" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/svg/pendingList.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">Maintenance</span>
                                    </a>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
    if (item.MenuName == "Reports")
    {
        <div class="row rotateRow">
            <div class="col-md-12 divHeight dashboardMenu" style="padding-left: 0px;">
                <div class="col-md-1 customcol" style="background: #ff6868;">
                    <div class="rotateObj" style="position: unset;">
                        <h2 style="padding-top: 40px;"><span style="padding-left: 29px;">Reports</span></h2>
                    </div>
                </div>
                <div class="col-md-11 dbtopPad" style="">
                    @foreach (var item2 in ParentMenus)
                    {
                        var chieldMenuItem = AllMenus.Where(x => x.ParentMenuId == item2.MenuId && x.IsViewAccess == true).OrderBy(x => x.MenuOrder).ToList();
                        foreach (var chielditem in chieldMenuItem)
                        {
                            if (chielditem.MenuName == "Customer Statements")
                            {
                                <div class="col-md-3 text-center">
                                    <a href="@Url.Action("CustomerStatements", "Customer", new { area = "Portal" })" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/svg/Search.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">Customer Statements</span>
                                    </a>
                                </div>
                            }
                            if (chielditem.MenuName == "Distribution")
                            {
                                <div class="col-md-3 text-center">
                                    <a href="@Url.Action("Distribution", "Customer", new { area = "Portal" })" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/svg/CreatePayment.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">Distrubution</span>
                                    </a>
                                </div>
                            }
                            if (chielditem.MenuName == "Increase/Decrease")
                            {
                                <div class="col-md-3 text-center">
                                    <a href="@Url.Action("IncreaseDecreaseReport", "Customer", new { area = "Portal" })" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/svg/act.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">Increase/Decrease</span>
                                    </a>
                                </div>
                            }
                            if (chielditem.MenuName == "NewCustomers")
                            {
                                <div class="col-md-3 text-center">
                                    <a href="@Url.Action("NewCustomers", "Customer", new { area = "Portal" })" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/svg/act.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">New Customers</span>
                                    </a>
                                </div>
                            }
                        }
                    }
                </div>

            </div>
        </div>
    }
    if (item.MenuName == "Services")
    {
        <div class="row rotateRow">
            <div class="col-md-12 divHeight dashboardMenu" style="padding-left: 0px;">
                <div class="col-md-1 customcol" style="background:  #d4ce20;">
                    <div class="rotateObj">
                        <h2 style="padding-top: 27px;"><span style="left: -32px;">Services</span></h2>
                    </div>
                </div>
                <div class="col-md-11 dbtopPad" style="">
                    @foreach (var item3 in ParentMenus)
                    {
                        var chieldMenuItem = AllMenus.Where(x => x.ParentMenuId == item3.MenuId && x.IsViewAccess == true).OrderBy(x => x.MenuOrder).ToList();
                        foreach (var chielditem in chieldMenuItem)
                        {
                            if (chielditem.MenuName == "Services Call List")
                            {
                                <div class="col-md-6 text-center">
                                    <a href="@Url.Action("ServiceCallList", "Customer", new { area = "Portal" })" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/svg/Search.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">Service Call List</span>
                                    </a>
                                </div>
                            }
                            if (chielditem.MenuName == "Collection Call List")
                            {
                                <div class="col-md-6 text-center">
                                    <a href="@Url.Action("CollectionCallList", "Customer", new { area = "Portal" })" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/svg/creditlist.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">Collection Call List</span>
                                    </a>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
    if (item.MenuName == "Pending Approval")
    {
        <div class="row rotateRow">
            <div class="col-md-12 divHeight dashboardMenu" style="padding-left: 0px;">
                <div class="col-md-1 customcol" style="background: #ff6868;">
                    <div class="rotateObj" style="position: unset;">
                        <h2 style="padding-top: 40px;"><span style="padding-left: 22px;">Pending Approval</span></h2>
                    </div>
                </div>
                <div class="col-md-11 dbtopPad" style="">
                    @foreach (var item4 in ParentMenus)
                    {
                        var chieldMenuItem = AllMenus.Where(x => x.ParentMenuId == item4.MenuId && x.IsViewAccess == true).OrderBy(x => x.MenuOrder).ToList();
                        foreach (var chielditem in chieldMenuItem)
                        {
                            if (chielditem.MenuName == "New Customer Pending")
                            {
                                <div class="col-md-4 text-center">
                                    <a href="@Url.Action("PendingApprovalList", "Customer", new { area = "Portal" })" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/svg/Search.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">New Customer Pending</span>
                                    </a>
                                </div>
                            }
                            if (chielditem.MenuName == "Maintenance Pending")
                            {
                                <div class="col-md-4 text-center">
                                    <a href="@Url.Action("CustomerMaintenancePendingList", "Customer", new { area = "Portal" })" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/svg/CreatePayment.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">Maintenance Pending</span>
                                    </a>
                                </div>
                            }
                            if (chielditem.MenuName == "Transactions Pending")
                            {
                                <div class="col-md-4 text-center">
                                    <a href="javascript:Void()" class="icon-Title">
                                        <img src="/Content/admin/assets/layouts/layout2/img/svg/act.png" style="height: 32px;margin-bottom:4px;"><br />
                                        <span class="title" style="font-size:14px;">Transaction Pending</span>
                                    </a>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
}

<!-- END Portlet PORTLET-->

<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->
