
@{
    var Franchisee = (ViewBag.FranchiseeModel != null ? ViewBag.FranchiseeModel : null);
}

<div class="custom-form portlet light" id="" style="margin-top:0px;box-shadow: none;">
    <div class="headerbox" style="font-weight: normal;border-radius: 0;">
        <div class="col-md-12 text-center" style="font-size:15px;">
            <b> Customer Offering </b>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 5px !important;margin-right: 12px !important;"></button>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="row" style="padding-top:8px;padding-bottom:8px;margin-left: 0px;margin-right: 0px;min-height: 100px;">
        <div class="col-md-12">
            <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">
                
                <div class="portlet-body">
                    <form action="#" id="form_summary" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group" style="display:none;color:red;font-size:13px;" id="diverr">Already this Franchisee request has been send so please wait to respond</div>
                            <div class="form-group">
                                <input type="hidden" id="hdnCustId" value="@ViewBag.CustomerId" />
                                <input type="hidden" id="hdnFranId" value="@ViewBag.FranchiseeId" />
                                <label for="select_stagestatus" class="control-label col-md-2">Customer No:</label>
                                <div class="col-md-4">
                                    <input class="form-control input-sm" value="@ViewBag.CustomerNo" readonly="readonly">
                                </div>
                                <label for="select_stagestatus" class="control-label col-md-2" style="padding-right:2px !important;padding-left:5px !important;">Contract Date:</label>
                                <div class="col-md-4">
                                    <input class="form-control input-sm" value="@ViewBag.ContractDate" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select_stagestatus" class="control-label col-md-2">Customer Name:</label>
                                <div class="col-md-4">
                                    <input class="form-control input-sm" value="@ViewBag.CustomerName" readonly="readonly">
                                </div>
                                <label for="select_stagestatus" class="control-label col-md-2" style="padding-right:2px !important;padding-left:5px !important;">Contract Amount:</label>
                                <div class="col-md-4">
                                    <input class="form-control input-sm" id="txtContractAmount" value="@(ViewBag.ContractAmount != null ? string.Format("{0:c}", ViewBag.ContractAmount) :string.Empty)" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <hr style="margin: 0px;" />
                <div class="portlet-body">
                    <form action="#" id="form_summary" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <label for="select_stagestatus" class="control-label col-md-2">Franchisee No:</label>
                                <div class="col-md-4">
                                    <input class="form-control input-sm" value="@(ViewBag.FranchiseeModel !=null ? ViewBag.FranchiseeModel.FranchiseeNo:string.Empty)" readonly="readonly">
                                </div>
                                <label for="select_stagestatus" class="control-label col-md-2" style="padding-right:2px !important;padding-left:5px !important;">Contact Name:</label>
                                <div class="col-md-4">
                                    <input class="form-control input-sm" value="@(ViewBag.FranchiseeModel !=null ? ViewBag.FranchiseeModel.ContactName:string.Empty)" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select_stagestatus" class="control-label col-md-2">Franchisee Name:</label>
                                <div class="col-md-4">
                                    <input class="form-control input-sm" value="@(ViewBag.FranchiseeModel != null ? ViewBag.FranchiseeModel.Name :string.Empty)" readonly="readonly">
                                </div>
                                <label for="select_stagestatus" class="control-label col-md-2" style="padding-right:2px !important;padding-left:5px !important;">Contact Phone:</label>
                                <div class="col-md-4">
                                    <input class="form-control input-sm" value="@(ViewBag.FranchiseeModel != null ? ViewBag.FranchiseeModel.Phone :string.Empty)" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-12" style="text-align:center;">
                                    <b>This contract offer require Franchisee reponse by:</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select_stagestatus" class="control-label col-md-2">Date/Time:<span class="required"> * </span></label>
                                <div class="col-md-4">
                                    <input class="form-control input-sm date date-picker" id="txtOfferDate" value="">
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm timepicker timepicker-default" id="txtOfferTime" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select_stagestatus" class="control-label col-md-2" style="padding-right:2px !important;padding-left:5px !important;">Special notes:<span class="required"> * </span></label>
                                <div class="col-md-6">
                                    <textarea class="form-control input-sm " id="txtNoteOffer" name="txtNoteOffer" rows="3"> </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <button id="" type="button" class="btn gray-button btn-block" onclick="ClickonSearchNewFranchisee()">Search New Franchisee</button>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <button id="" type="button" class="btn btn-primary" onclick="OnclickSaveData()">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function OnclickSaveData() {
        
        var CustomerId = $("#hdnCustId").val();
        var FranchiseeId = $("#hdnFranId").val();
        var strNote = $("#txtNoteOffer").val();
        var ContractAmount = $("#txtContractAmount").val();

        var isvalid = true;
        if ($("#txtOfferDate").val() == null || $("#txtOfferDate").val() == "") {
            if (isvalid == true) {
                isvalid = false;
            }
            $("#txtOfferDate").css('border-color', 'red');
        }
        else {
            $("#txtOfferDate").css('border-color', '');
        }
        if ($("#txtOfferTime").val() == null || $("#txtOfferTime").val() == "") {
            if (isvalid == true) {
                isvalid = false;
            }
            $("#txtOfferTime").css('border-color', 'red');
        }
        else {
            $("#txtOfferTime").css('border-color', '');
        }
        if ($("#txtNoteOffer").val() == null || $("#txtNoteOffer").val() == "") {
            if (isvalid == true) {
                isvalid = false;
            }
            $("#txtNoteOffer").css('border-color', 'red');             
        }
        else {
            $("#txtNoteOffer").css('border-color', '');
        }

        if (isvalid ==true) {
            var CustomerId = $("#hdnCustomerId").val();
            var sURL = '@Url.Action("CustomerOfferSaveDetail", "CRMRegionOperation", new { area = "CRM" })';
            $.ajax({
                type: "GET",
                url: sURL,
                data: { CustomerId: CustomerId, FranchiseeId: FranchiseeId, ContractAmount: ContractAmount, ExpDate: $("#txtOfferDate").val(), ExpTime: $("#txtOfferTime").val(), Note: strNote },
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    if (data == "1")
                    {
                        $("#ModalCustomerOfferingPopup").modal('hide');
                        $("#ModalFranchise_CustomerPopup").modal('hide');
                        $("#diverr").hide();
                    }
                    else if (data == "-1")
                    {
                        $("#diverr").show();
                    }                     
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    }

    function ClickonSearchNewFranchisee() {
        $("#ModalCustomerOfferingPopup").modal('hide');
        $("#ModalFranchise_CustomerPopup").modal('hide');
        ShowCustomerSuggetionBoxForOfferPopup();
    }
</script>