@model  JKViewModels.Customer.AccountAcceptanceInfoViewModel

@{
    var request = HttpContext.Current.Request;
    var _siteUrl = string.Format("{0}://{1}", request.Url.Scheme, request.Url.Authority);
    string imgpath = _siteUrl + "/Content/admin/assets/layouts/layout2/img/lg_jklogo.jpg";
}

@*<head>
    <link href="~/Content/style.css" rel="stylesheet" />
    </head>*@
<style>
    input[type="text"]:focus,
    input[type="number"]:focus,
    textarea:focus {
        outline: none !important;
    }

    input,
    textarea {
        width: 57%;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: black;
        background-color: #f1f4ff;
    }
</style>
 <div class="custom-form portlet light" id="" style="margin-top:0px;">
    <div class="headerbox" style="font-weight: normal;">
        <div class="col-md-12 text-center" style="font-size:15px;">
            <b> Account Acceptance Form</b>
            <button type="button" class="close" onclick="" data-dismiss="modal" aria-hidden="true" style="margin-top: 5px !important;margin-right: 12px !important;"></button>
        </div>
        <div class="clearfix"> </div>
    </div>
    <body class="cls">
        <link href="~/Content/style.css" rel="stylesheet" />
        <header class="clearfix">
            <div class="logo">
                <img src="@imgpath" />
                <h1>Account Acceptance / Finder's fee agreement</h1>
            </div>
            <div class="col-md-9">
                <div> &nbsp;</div>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary button-next" style="margin-left:10px;" onclick="CreateExportPDF(@ViewBag.CustomerId)">Export <i class="fa fa-download"></i></button>
                <button type="button" class="btn btn-primary button-next" style="margin-left:10px;" onclick="CreatePrint(@ViewBag.CustomerId)">Print <i class="fa fa-print"></i></button>
            </div>
        </header>
        <main>

            <div class="clearfix my10">
                <div class="right">
                    <div><span style="margin-right: 2px;">Franchisee: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NUMBER</span><input type="number" id="franchisee" style="width: 51.5%;" value="@Model.FranchiseeNo" name="franchisee" class="smallInput"></div>
                    <div><input type="text" name="franchisee" value="@Model.FranchiseeName"></div>
                    <div><input type="text" name="franchisee" value="@(Model.FAddress1+", "+Model.FAddress2)"></div>
                    <div><input type="text" name="franchisee" value="@(Model.FCity+", "+Model.FStateName+" "+Model.FPostalCode)"></div>
                    <div><span>Start Date:</span><input type="text" class="smallInput" value="@Model.StartDate.ToString("MM/dd/yyyy")"> &nbsp; &nbsp; <input type="number" class="extraSmallInput"></div>
                </div>

                <div class="left">
                    <div><span>Account:</span> <input type="text" name="account" id="account" value="@Model.CustomerNo"></div>
                    <div><span>Name:</span> <input type="text" name="name" id="name" value="@Model.CustomerName"></div>
                    <div><span>ADDRESS:</span> <textarea name="addressLine01" id="addressLine01" rows="1">@Model.Address1, @Model.Address2</textarea></div>
                    <div><span>&nbsp;</span> <textarea name="addressLine02" id="addressLine02" rows="1">@Model.City, @Model.StateName @Model.PostalCode </textarea></div>
                    <div><span>Monthly Billing:&nbsp;$</span> <input type="number" name="monthlyBilling" id="monthlyBilling" value="@Model.ContractBillingAmount"></div>
                </div>
            </div>

            <ol class="list">
                <li>
                    The above named Franchisee("Franchisee") hereby accepts the designation being offered by Jani-King of <input type="text" class="extraSmallInput" value="@Model.RegionName"> Inc. ("Jani-King") to service the above account under the terms of the related Jani-King Maintenance Agreement ("Maintenance Agreement") and agrees to closely adhere to all the terms of the Maintenance Agreement, Including the cleaning Schedule. Franchisee further agrees to provide service according to all Jani-King standards, procedures and policies. Franchisee acknowledges receiving a copy of ther Maintenance Agreement and clearing Schedule.
                </li>
                <li>
                    If any portion of the account accepted under thus agreement is offered as additional business inexcess of the initial business, as stated in Franchisee's Franchise Agreement, Franchise Agreement, Franchisee agrees to pay Jani-King a Fiinder's Hee according to the Jani-King Policies and Proceures effective on th date of this agreement, as summarized by the provisions marked below :

                    <ul class="paymentType">
                        <li>
                            $<input type="text"><br>
                            Monthly Billing
                        </li>
                        <li class="widthAuto">-</li>
                        <li>
                            $ <input type="text"><br>
                            Initial Business Credit
                        </li>
                        <li class="widthAuto">and/or</li>
                        <li>
                            $ <input type="text"><br>
                            Finder's Fee  Credit
                        </li>
                        <li class="widthAuto">=</li>
                        <li>
                            $ <input type="text" placeholder="0.00"><br>
                            Amount Finder's Fee based upon
                        </li>
                    </ul>

                    <div class="account-type clearfix">
                        <span class="text-underline">Account Type:</span>
                        <form action="">
                            <label for="fixedRate">
                                <input type="radio" id="fixedRate" name="radio"> Fixed Rate
                            </label>

                            <label for="variableRate">
                                <input type="radio" id="variableRate" name="radio"> Variable Rate
                            </label>

                            <label for="publicEventFacility">
                                <input type="radio" id="publicEventFacility" name="radio"> Public Event Facility
                            </label>

                            <label for="appartmentTurnaround">
                                <input type="radio" id="appartmentTurnaround" name="radio"> Appartment Turnaround
                            </label>

                            <label for="seasonal">
                                <input type="radio" id="seasonal" name="radio"> Seasonal
                            </label>
                        </form>
                    </div>
                </li>
                <li>
                    The unpaid portion of the Finder’s Fee established by this agreement shall become due and payable immediately at the option of
                    Jani-King, without demand or notice if this account cancels service for any reason that Franchisee or Franchisee’s employees could
                    have controlled, or for any reason set out in the Maintenance Agreement, the Franchise Agreement, or Jani-King Policies and
                    Procedures, and Franchisee shall remain liable for any unremitted Finder’s Fees. Franchisee further agrees that the total Finder’s Fee
                    will be due if the account is transferred at the request of the client as a result of Franchisee’s failure to perform, and is later canceled
                    by the client within sixty (60) days of being transferred. Such outstanding Finder’s Fees may, at the option of Jani-King, be payable on
                    the monthly payment basis set out above until the agreed upon Finder’s Fees have been received by Jani-King.
                </li>
                <li>
                    Franchisee certifies that it has sufficient working capital to purchase all needed supplies and equipment, and to meet all expected
                    payrolls for the first forty-five (45) days of service under the Maintenance Agreement.
                </li>
                <li>
                    Franchisee further understands and agrees that the Maintenance Agreement relating to this Account is and shall at all times remain
                    the property of Jani-King and be subject to the policies, procedures and performance standards of Jani-King. A representative of JaniKing will inspect this account from time to time in order to ensure that the service provided to this account is being performed in
                    accordance with the Cleaning Schedule and to the performance standards of Jani-King. If at any time, whether through complaint or
                    inspection, a deficiency in performance is discovered, the applicable Complaint Fees and Service Fees established in the Jani-King
                    Policies and Procedures will apply.
                </li>
                <li>
                    In the event an attorney is employed by Jani-King to enforce any of the terms of this agreement, Franchisee agrees to pay all
                    reasonable costs and attorneys’ fees incurred by Jani-King in connection therewith.
                </li>
            </ol>
        </main>

        <footer>
            <div class="date my10">
                <div><span>Date:</span> <input type="text" class="smallInput" value="@DateTime.Now.ToString("MM/dd/yyyy")">, <input type="text" class="extraSmallInput"></div>
            </div>

            <div class="franchisee my10">
                <p>
                    <span>Franchisee:</span>
                </p>
                <table>
                    <tbody>
                        <tr>
                            <td width="2%">
                                By:
                            </td>
                            <td width="40%">
                                <input type="text">
                                <input type="text">
                                <p class="text-center">Authorized Officer or Partner, (Title)</p>
                            </td>
                            <td width="40%">
                                <input type="text">
                                <input type="text">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </footer>
    </body>
    <div class="form-actions">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary button-next" style="margin-left:10px;" onclick="SaveAccountAcceptance(@ViewBag.CustomerId)"> Save </button>
            <button type="button" class="btn btn-primary button-next" style="margin-left:10px;" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    <br />
     </div>

    <script>
        function CreatePrint(CustomerId) {
            if (CustomerId != "") {
                var sURL = '@Url.Action("AccountAcceptancePrint", "CRMCustomer", new { area = "CRM" })?CustomerId=' + CustomerId;
                $.ajax({
                    type: "GET",
                    url: sURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        var tUrl = data;
                        printJS({ printable: document.location.origin + tUrl, type: 'pdf', showModal: false });
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            else {
                alert('Please select payment no to print.')
            }

        }
        function CreateExportPDF(CustomerId) {
            window.location.href = '@Url.Action("AccountAcceptanceExport", "CRMCustomer", new { area = "CRM" })' + "?CustomerId=" + CustomerId;

        }
        function SaveAccountAcceptance(CustomerId) {
            if (CustomerId != "") {
                var sURL = '@Url.Action("SaveAccountAcceptanceForm", "CRMCustomer", new { area = "CRM" })?CustomerId=' + CustomerId;
                $.ajax({
                    type: "GET",
                    url: sURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        if (data != null && data != "") {
                            alert("Account acceptance form sumit successfully");
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            else {
                alert('Please select payment no to print.')
            }

        }
    </script>
