@model  JKViewModels.Customer.CustomerFranchiseeDistribution

@{
    var request = HttpContext.Current.Request;
    var address = string.Format("{0}://{1}", request.Url.Scheme, request.Url.Authority);
}

<div id="page_1">
    <table class="header" style="margin-bottom:0px;">
        <tr>
            <td width="25%">
                <img src="@(address)/Images/janiking_logo.png" style="height: 80px" />
            </td>
            <td width="75%">
                <P style="text-align: left;font-size:20px; vertical-align:middle;"><b>ACCOUNT ACCEPTANCE / FINDER'S FEE AGREEMENT</b></P>
            </td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr> 
    </table>
     
    <table class="check-table2" style="width:100%;font-size:14px">
        <tr>
            <td class="textcol1" style="font-size:14px;width:13%;text-align:right;">Account Name:</td>
            <td class="line textcolline1" style="font-size:14px;width:19%;">@Model.CustomerNo</td>
            <td style="font-size:14px;width:5%;">&nbsp;</td>
            <td class="textcol3" style="font-size:14px;width:16%;text-align:right;">Franchise Name:</td>
            <td class="textcol3" style="font-size:14px;width:12%;text-align:right;">Number</td>
            <td class="line textcolline3" style="font-size:14px;width:15%;">&nbsp;</td>
        </tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        </table>
        <table class="check-table2" style="width:100%;font-size:14px">
             
            <tr>
                <td class="textcol1" style="font-size:14px;width:10%;text-align:right;">Name:</td>
                <td class="line textcolline1" style="font-size:14px;width:19%;">@Model.CustomerName</td>
                <td style="font-size:14px;width:2%;">&nbsp;</td>
                <td class="textcol3" style="font-size:14px;width:7%;text-align:right;">&nbsp;</td>
                <td class="line textcolline3" style="font-size:13px;width:19%;">@Model.FranchiseeName</td>
            </tr>
            <tr><td colspan="4">&nbsp;</td></tr>    
            <tr>
                <td class="textcol1" style="font-size:14px;width:10%;text-align:right;">Address:</td>
                <td class="line textcolline1" style="font-size:14px;width:19%;">@Model.Address1</td>
                <td style="font-size:14px;width:2%;">&nbsp;</td>
                <td class="textcol3" style="font-size:14px;width:7%;text-align:right;">&nbsp;</td>
                <td class="line textcolline3" style="font-size:13px;width:19%;">@Model.FAddress1</td>
            </tr>
            <tr><td colspan="4">&nbsp;</td></tr>
            <tr>
                <td class="textcol1" style="font-size:14px;width:10%;text-align:right;">&nbsp;</td>
                <td class="line textcolline1" style="font-size:14px;width:19%;">@Model.City@((Model.City != null && Model.City != "") ? ", " : string.Empty)@Model.StateName@(Model.StateName != null && Model.StateName != "" ? ", " : string.Empty)@Model.PostalCode</td>
                <td style="font-size:14px;width:2%;">&nbsp;</td>
                <td class="textcol3" style="font-size:14px;width:7%;text-align:right;">&nbsp;</td>
                <td class="line textcolline3" style="font-size:13px;width:19%;">@Model.FCity@((Model.FCity != null && Model.FCity != "") ? ", " : string.Empty)@Model.FStateName@(Model.FStateName != null && Model.FStateName != "" ? ", " : string.Empty)@Model.FPostalCode</td>
            </tr>
            <tr><td colspan="4">&nbsp;</td></tr>             
            <tr>
                <td class="textcol1" style="font-size:14px;width:10%;text-align:right;">Month Billing:$</td>
                <td class="line textcolline1" style="font-size:14px;width:19%;">@string.Format("{0:c}", Model.Amount)</td>
                <td style="font-size:14px;width:2%;">&nbsp;</td>
                <td class="textcol3" style="font-size:14px;width:7%;text-align:right;">Start Date</td>
                <td class="textcolline3" style="font-size:14px;width:19%;">
                    <table class="check-table2" style="width:100%;">
                        <tr>
                            <td class="line" style="width:35%;">&nbsp;</td>
                            <td style="width:15%;"></td>
                            <td class="line" style="width:25%;">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr><td colspan="4">&nbsp;</td></tr>      
            <tr><td colspan="4">&nbsp;</td></tr>             
        </table>
    
    <table class="check-table2" style="width:100%;">
        <tr>
            <td style="font-size:14px;">
                <p style="text-align:justify;">1.The above named Franchisee("Franchisee") hereby accepts the designation being offered by Jani-King of _________Inc. ("Jani-King") to service the above account under the terms of the related Jani-King Maintenance Agreement ("Maintenance Agreement") and agrees to closely adhere to all the terms of the Maintenance Agreement, Including the cleaning Schedule. Franchisee further agrees to provide service according to all Jani-King standards, procedures and policies. Franchisee acknowledges receiving a copy of ther Maintenance Agreement and clearing Schedule.</p>
            </td>           
        </tr>   
        <tr><td>&nbsp;</td></tr>                     
        <tr>
            <td  style="font-size:14px;">
                <p style="text-align:justify;">2.If any portion of the account accepted under thus agreement is offered as additional business inexcess of the initial business, as stated in Franchisee's Franchise Agreement, Franchise Agreement, Franchisee agrees to pay Jani-King a Fiinder's Hee according to the Jani-King Policies and Proceures effective on th date of this agreement, as summarized by the provisions marked below :</p>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>           
    </table>    
    <table class="check-table2" style="width:100%;font-size:13px;">
        <tr>
            <td class="line" style="width:20%;">@string.Format("{0:c}", Model.Amount)</td>
            <td style="width:5%;">-</td>
            <td class="line" style="width:20%;">$</td>
            <td style="width:6%;">and/or </td>
            <td class="line" style="width:20%;">$</td>
            <td style="width:5%;">=</td>
            <td class="line" style="width:20%;">$0.00</td>
            <td style="width:5%;">&nbsp;</td>
        </tr>
        <tr>
            <td  style="width:20%;vertical-align:top;">Monthly Billing</td>
            <td style="width:5%;">&nbsp;</td>
            <td style="width:20%;">Initial Business Credit</td>
            <td style="width:6%;">&nbsp;</td>
            <td style="width:20%;">Finder's Fee Credit</td>
            <td style="width:5%;">&nbsp;</td>
            <td style="width:20%;">Amount Finder's Fee based upon</td>
            <td style="width:5%;">&nbsp;</td>
        </tr>
        <tr><td colspan="8">&nbsp;</td></tr>
        <tr><td colspan="8">&nbsp;</td></tr>
        <tr><td colspan="8">&nbsp;</td></tr>
    </table>
    <table class="check-table2" style="width:100%;">
        <tr>
            <td style="font-size:14px;">
                <p style="text-align:justify;">3. The unpaid portion of the Finder’s Fee established by this agreement shall become due and payable immediately at the option of
                Jani-King, without demand or notice if this account cancels service for any reason that Franchisee or Franchisee’s employees could
                have controlled, or for any reason set out in the Maintenance Agreement, the Franchise Agreement, or Jani-King Policies and
                Procedures, and Franchisee shall remain liable for any unremitted Finder’s Fees. Franchisee further agrees that the total Finder’s Fee
                will be due if the account is transferred at the request of the client as a result of Franchisee’s failure to perform, and is later canceled
                by the client within sixty (60) days of being transferred. Such outstanding Finder’s Fees may, at the option of Jani-King, be payable on
                the monthly payment basis set out above until the agreed upon Finder’s Fees have been received by Jani-King.</p>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td style="font-size:14px;">
                <p style="text-align:justify;">4.Franchisee certifies that it has sufficient working capital to purchase all needed supplies and equipment, and to meet all expected
                payrolls for the first forty-five (45) days of service under the Maintenance Agreement.</p>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td style="font-size:14px;">
                <p style="text-align:justify;">5. Franchisee further understands and agrees that the Maintenance Agreement relating to this Account is and shall at all times remain
                the property of Jani-King and be subject to the policies, procedures and performance standards of Jani-King. A representative of JaniKing will inspect this account from time to time in order to ensure that the service provided to this account is being performed in
                accordance with the Cleaning Schedule and to the performance standards of Jani-King. If at any time, whether through complaint or
                inspection, a deficiency in performance is discovered, the applicable Complaint Fees and Service Fees established in the Jani-King
                Policies and Procedures will apply.</p>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td style="font-size:14px;">
                <p style="text-align:justify;">6.In the event an attorney is employed by Jani-King to enforce any of the terms of this agreement, Franchisee agrees to pay all
                reasonable costs and attorneys’ fees incurred by Jani-King in connection therewith.</p>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td></tr>
    </table>   

    <table class="check-table2" style="width:100%;font-size:14px;">
        <tr>
            <td style="width:12%;text-align:right;">DATE:</td>
            <td style="width:20%;" class="line"></td>
            <td style="width:5%;">&nbsp;</td>
            <td style="width:10%;" class="line">&nbsp;</td>
            <td style="width:60%;"  >&nbsp;</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <td style="width:12%;text-align:right;" >Franchisee:</td>    
            <td style="width:20%;">&nbsp;</td>
            <td style="width:5%;">&nbsp;</td>
            <td style="width:10%;">&nbsp;</td>    
            <td style="width:60%;" >&nbsp;</td>    
        </tr>        
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr><td colspan="4">&nbsp;</td></tr>
    </table>
    <table class="check-table2" style="width:100%;font-size:14px;">
        <tr>
            <td style="width:5%;text-align:right;">By:</td>
            <td class="line" style="width:30%;">&nbsp;</td>
            <td style="width:5%;text-align:right;">&nbsp;</td>
            <td class="line" style="width:30%;text-align:right;">&nbsp;</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <td style="width:5%;text-align:right;">&nbsp;</td>
            <td class="line" style="width:30%;">&nbsp;</td>
            <td style="width:5%;text-align:right;">&nbsp;</td>
            <td class="line" style="width:30%;text-align:right;">&nbsp;</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <td style="width:5%;text-align:right;">&nbsp;</td>
            <td style="width:30%;">Authorized Officer or Partner, (Title)</td>
            <td style="width:5%;text-align:right;">&nbsp;</td>
            <td style="width:30%;text-align:right;">&nbsp;</td>
        </tr>        
        <tr><td colspan="4">&nbsp;</td></tr>                 
    </table>    
</div>
