@model JKViewModels.Customer.FullCustomerViewModel
@{ 

} 
<div class="modal fade" id="RenderCustomerCancellationRequestPopup" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width:755px;">
        <div class="modal-content">
            <div class="custom-form portlet light" id="" style="margin-top:0px;box-shadow: none;">
                <div class="headerbox" style="font-weight: normal;border-radius: 0;">
                    <div class="col-md-12 text-center" style="font-size:15px;">
                        <b> CANCELLATION REQUEST PROCESS</b>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 5px !important;margin-right: 12px !important;"></button>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="row" style="padding-top:8px;padding-bottom:8px;margin-left: 0px;margin-right: 0px;min-height: 100px;">
                    <input type="hidden" id="hdnCustomerid" value="@ViewBag.CustomerId" />
                    <div class="row" >
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-12" style="text-align: center;padding: 5px;background-color: #e8e8e8;margin-bottom:5px;font-weight:bold;">Customer</label>
                                <label class="col-md-12">
                                    <b>                                          
                                        @Html.DisplayFor(o => o.CustomerViewModel.CustomerNo, new { @class = "form-control input-sm" })
                                    </b>
                                </label>
                                <label class="col-md-12">@Html.DisplayFor(o => o.CustomerViewModel.Name, new { @class = "form-control input-sm" })</label>
                                <label class="col-md-12">@Html.DisplayFor(o => o.MainAddress.Address1 , new { @class = "form-control input-sm" })</label>
                                <label class="col-md-12">@Html.DisplayFor(o => o.MainAddress.City, new { @class = "form-control input-sm" }), @Html.DisplayFor(o => o.MainAddress.StateName, new { @class = "form-control input-sm" })&nbsp;@Html.DisplayFor(o => o.MainAddress.PostalCode, new { @class = "form-control input-sm" })</label>
                            </div>
                        </div>
                        <div class="col-md-2 text-center" id="status"></div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-12" style="text-align: center;padding: 5px;background-color: #e8e8e8;margin-bottom:5px;font-weight:bold;">Billing</label>
                                <label class="col-md-12"><b>@Html.DisplayFor(o => o.BillingContact.Name, new { @class = "form-control input-sm" })</b></label>
                                <label class="col-md-12">&nbsp;@Html.DisplayFor(o => o.BillingAddress.Address1, new { @class = "form-control input-sm" })</label>
                                <label class="col-md-12">@Html.DisplayFor(o => o.BillingAddress.City, new { @class = "form-control input-sm" }), @Html.DisplayFor(o => o.BillingAddress.StateName, new { @class = "form-control input-sm" })&nbsp;@Html.DisplayFor(o => o.BillingAddress.PostalCode, new { @class = "form-control input-sm" })</label>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-md-12">
                        <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">                             
                            <div class="portlet-body">
                                <form action="#" id="form_summary" class="form-horizontal">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label for="select_stagestatus" class="control-label col-md-2">Status:<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <input class="form-control input-sm" value="(ViewBag.FranchiseeModel !=null ? ViewBag.FranchiseeModel.FranchiseeNo:string.Empty)" readonly="readonly">
                                            </div>
                                            <label for="select_stagestatus" class="control-label col-md-2" style="padding-right:2px !important;padding-left:5px !important;">Effective Date:<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <input class="form-control input-sm date date-picker" id="txtOfferDate" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="select_stagestatus" class="control-label col-md-3">Last Service Date:<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <input class="form-control input-sm date date-picker" id="txtLastServiceDate" value="">
                                            </div>                                            
                                            <div class="col-md-4">                                                
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="select_stagestatus" class="control-label col-md-2">Reason:<span class="required"> * </span></label>
                                            <div class="col-md-4">
                                                <input class="form-control input-sm date date-picker" id="txtOfferDate" value="">
                                            </div>
                                            <label for="select_stagestatus" class="control-label col-md-2">Access Status:</label>
                                            <div class="col-md-4">
                                                <input class="form-control input-sm date date-picker" id="txtOfferDate" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="select_stagestatus" class="control-label col-md-2" style="padding-right:2px !important;padding-left:5px !important;">Special notes:<span class="required"> * </span></label>
                                            <div class="col-md-6">
                                                <textarea class="form-control input-sm " id="txtSpecialnotes" name="txtSpecialnotes" rows="3"> </textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <button id="" type="button" class="btn btn-primary " data-dismiss="modal" >Close</button>
                                            </div>
                                            <div class="col-md-6"></div>
                                            <div class="col-md-3">
                                                <button id="" type="button" class="btn btn-primary" onclick="OnclickSaveData()">SAVE</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
