
@using JKApi.Data.DAL;
@{
    var DataModel = ViewBag.ItemList;
    var StageModel = ViewBag.CSstageModel;
    var StageActivity = (List<CSActivity>)ViewBag.StageActivityStaticData;

    CSActivity CSActivity1 = new CSActivity();
    CSActivity CSActivity2 = new CSActivity();
    CSActivity CSActivity3 = new CSActivity();
    CSActivity CSActivity4 = new CSActivity();
    CSActivity CSActivity5 = new CSActivity();


    if (StageActivity != null && StageActivity.Count() > 0)
    {
        CSActivity1 = StageActivity.Where(f => f.StaticDesignItemNo == 1).FirstOrDefault();
        CSActivity2 = StageActivity.Where(f => f.StaticDesignItemNo == 2).FirstOrDefault();
        CSActivity3 = StageActivity.Where(f => f.StaticDesignItemNo == 3).FirstOrDefault();
        CSActivity4 = StageActivity.Where(f => f.StaticDesignItemNo == 4).FirstOrDefault();
        CSActivity5 = StageActivity.Where(f => f.StaticDesignItemNo == 5).FirstOrDefault();

    }
}

<div class="col-md-7">
    <div class="row">
        <div class="col-md-12 portlet-align" id="right-content">
            <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">
                <div class="portlet-title compact">
                    <div class="caption stag_title">
                    </div>
                </div>
                <div class="portlet-body">
                    <form action="#" id="form_summary" class="form-horizontal">
                        <div class="form-body">
                            <span style="color:red;display:none;" id="spnerrmsg">All option must required </span>
                            @if (Convert.ToInt32(ViewBag.ActiveStageId) == Convert.ToInt32(JKApi.Business.Enumeration.CustomerStatusList.ComplaintLogged)) //Stage 1
                            {
                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <div class="col-md-8">
                                        Enter notes & set call back date
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage1StaticItem1Yes" name="stage1StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage1StaticItem1No" name="stage1StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>



                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <div class="col-md-8">
                                        Confirm next Scheduled Clean date with Customer
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage1StaticItem2Yes" name="stage1StaticItem2" class="search-field" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>

                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage1StaticItem2No" name="stage1StaticItem2" class="search-field" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <div class="col-md-8">
                                        Let the customer know that the information is being communicated to franchisee and we will call back after the next clean.
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage1StaticItem3Yes" name="stage1StaticItem3" class="search-field " @(CSActivity3 != null ? (CSActivity3.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage1StaticItem3No" name="stage1StaticItem3" class="search-field" @(CSActivity3 != null ? (CSActivity3.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <div class="col-md-8">
                                        Log Franchisee Call from customer record
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage1StaticItem4Yes" name="stage1StaticItem4" class="search-field" @(CSActivity4 != null ? (CSActivity4.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage1IStatictem4No" name="stage1StaticItem4" class="search-field" @(CSActivity4 != null ? (CSActivity4.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <div class="col-md-8">
                                        Enter notes & set call back date
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage1StaticItem5Yes" name="stage1StaticItem5" class="search-field" @(CSActivity5 != null ? (CSActivity5.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>

                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage1StaticItem5No" name="stage1StaticItem5" class="search-field" @(CSActivity5 != null ? (CSActivity5.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>



                                <div class="col-md-12" style="display:none;">
                                    <hr style="margin-top: 7px;margin-bottom: 7px;" />
                                </div>

                                if (DataModel != null)
                                {
                                    foreach (var item in DataModel)
                                    {
                                        <div class="form-group">
                                            @*<div class="col-md-1"></div>*@
                                            <div class="col-md-6">
                                                <label class="mt-checkbox" style="margin-bottom: 0px;font-size:12px;">
                                                    <input type="checkbox" id="chkValidationItem_@item.ValidationItemId" @(item.Selected == true ? "checked=checked" : string.Empty ) class="search-field clsvalitem" value="@item.ValidationItemId" onchange="ChangeClickEvent(@item.ValidationItemId)"> @item.Name
                                                    <span></span>
                                                </label>
                                            </div>
                                            @if (item.ValidationItemId == 22)
                                            {
                                                <div class="col-md-4">
                                                    <input type="button" class="btn btn-custom btn btn-primary purple" id="btnFranchiseeCall" onclick="ShowFranchiseeCall();" value="Franchisee Call" @(item.Selected == true ? string.Empty : "disabled=disabled") style="margin-right:20px;margin-top:4px;">
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                            }
                                            else if (item.ValidationItemId == 20)
                                            {
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <!--Start Date-->
                                                                @*<label for="schedule_start" class="control-label col-md-3"  >Start Date/Time<span class="required">*</span>:</label>*@
                                                                <div class="col-md-3" style="padding:0px;">
                                                                    <input type="text" name="startdate" class="form-control input-group input-group-sm input-sm date date-picker RemovePeriodvalidation" placeholder="Start Date" value="@(item.StaticDesignScheduleDate != null ? Convert.ToDateTime(item.StaticDesignScheduleDate).ToString("MM/dd/yyyy"):string.Empty)" data_date_format="mm/dd/yyyy" id="input_schedulestartdate" @(item.Selected == true ? string.Empty : "disabled=disabled") />
                                                                </div>
                                                                <!--Start Time-->
                                                                <div class="col-md-3" style="padding-right:0px;">
                                                                    <div class="input-icon">
                                                                        <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                                                        <input type="text" name="starttime" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default" id="input_schedulestarttime" value="@(item.StaticDesignScheduleDate != null ? Convert.ToDateTime(item.StaticDesignScheduleDate).ToString("hh:mm tt"):string.Empty)" @(item.Selected == true ? string.Empty : "disabled=disabled") />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <!--Start Date-->
                                                                @*<label for="schedule_start" class="control-label col-md-3"  >End Date/Time<span class="required">*</span>:</label>*@
                                                                <div class="col-md-3" style="padding:0px;">
                                                                    <input type="text" name="enddate" class="form-control input-group input-group-sm input-sm date date-picker RemovePeriodvalidation" placeholder="End Date" value="@(item.StaticDesignScheduleEndTime != null ? Convert.ToDateTime(item.StaticDesignScheduleEndTime).ToString("MM/dd/yyyy"):string.Empty)" data_date_format="mm-dd-yyyy" id="input_scheduleenddate" @(item.Selected == true ? string.Empty : "disabled=disabled") />
                                                                </div>
                                                                <!--End Time-->
                                                                <div class="col-md-3" style="padding-right:0px;">
                                                                    <div class="input-icon">
                                                                        <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                                                        <input type="text" name="endtime" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default" id="input_scheduleendtime" value="@(item.StaticDesignScheduleDate != null ? Convert.ToDateTime(item.StaticDesignScheduleEndTime).ToString("hh:mm tt"):string.Empty)" @(item.Selected == true ? string.Empty : "disabled=disabled") />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2" style="padding-left:0px;">
                                                                    <a class="btn green btn-block" data-toggle="modal" id="calendar_schedules" style="height: 32px; line-height: 32px; padding: 0px;margin-left:7px;width: 100px">Schedules</a>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-4">
                                                    <input class="form-control input-sm" id="txtValidationItem_@item.ValidationItemId" value="@item.ItemNote" @(item.Selected == true ? string.Empty : "disabled=disabled")>
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                            }
                                        </div>
                                    }
                                }

                                <div class="form-group">
                                    @*<div class="col-md-1"></div>*@
                                    <input id="hdnCSstageId" type="hidden" value="@(StageModel != null ? StageModel.CSstageId : 0)" />
                                    <label class="control-label col-md-1">Note:</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control input-sm" row="3" rows="2" id="txtNote"> @(StageModel != null ? StageModel.Note : string.Empty) </textarea>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-7"></div>
                                        <div class="col-md-2">
                                            <button id="" type="button" class="btn green btn-block" style="width:120px !important;margin-left:-64px;" onclick="SaveCSActivityComplaintLoggedData(1)">SAVE</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button id="" type="button" class="btn green btn-block" style="width:120px !important;" onclick="SaveCSActivityComplaintLoggedData(2)">SAVE & NEXT</button>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (Convert.ToInt32(ViewBag.ActiveStageId) == Convert.ToInt32(JKApi.Business.Enumeration.CustomerStatusList.ActionsFollowUp)) //Stage 2
                            {

                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <div class="col-md-8">
                                        If complaint satisfied ?
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage2StaticItem1Yes" name="stage2StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage2StaticItem1No" name="stage2StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <div class="col-md-8">
                                        Appointment Accepted (Yes/No)?
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage2StaticItem2Yes" name="stage2StaticItem2" class="search-field" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage2StaticItem2Yes" name="stage2StaticItem2" class="search-field" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-5" style="text-align:left;">Appointment Date (Schedule) :</label>
                                    <div class="col-md-2">
                                        <!-- Date -->
                                        <input type="text" id="chkStage2StaticItem3Date" class="form-control input-sm date date-picker" name="datepicker" @*data-date-format="mm/dd/yyyy"*@ value="@(CSActivity3 != null? (CSActivity3.StaticDesignScheduleDate!=null) ? Convert.ToDateTime(CSActivity3.StaticDesignScheduleDate).ToString("MM-dd-yyyy"): string.Empty : string.Empty)" />
                                    </div>
                                    <div class="col-md-2">
                                        <!-- Time -->
                                        <div class="input-icon">
                                            <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                            <input type="text" id="chkStage2StaticItem3Time" class="form-control input-group-sm input-sm  timepicker timepicker-default" value="@(CSActivity3 != null? (CSActivity3.StaticDesignScheduleTime!=null) ? Convert.ToDateTime(CSActivity3.StaticDesignScheduleTime).ToString("hh:mm tt") : string.Empty : string.Empty)" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <!-- End Time -->
                                        <div class="input-icon">
                                            <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                            <input type="text" id="chkStage2StaticItem3EndTime" class="form-control input-group-sm input-sm  timepicker timepicker-default" value="@(CSActivity3 != null? (CSActivity3.StaticDesignScheduleEndTime!=null) ? Convert.ToDateTime(CSActivity3.StaticDesignScheduleEndTime).ToString("hh:mm tt") : string.Empty : string.Empty)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;">Confirming Document if request for appointment declined. (Uploaded)?</label>
                                    <div class="col-md-1">
                                        <label class="mt-checkbox">
                                            Yes
                                            <input type="checkbox" id="chkstage2StaticItem4" name="stage2StaticItem4" onclick="ClickStage2Item4DocumentLink()" class="search-field" @(CSActivity4 != null ? (CSActivity4.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="input-icon" id="divDocuments" @(CSActivity4 != null ? (CSActivity4.StaticDesignIsItemChecked == true) ? string.Empty : "style=display:none;" : string.Empty )>
                                            <a onclick="OpenCustomerUploadDocumentPopup()" class="btn-custom btn btn-primary">Documents</a>
                                        </div>
                                    </div>
                                    @*<div class="col-md-3">
                                            <label style="margin-bottom: 0px;">
                                                <input type="file" id="chkStage2StaticItem4" name="chkStage2StaticItem4" class="form-control" value="">
                                                <span></span>
                                            </label>
                                        </div>*@
                                </div>
                                <div class="col-md-12" style="display:none;">
                                    <hr style="margin-top: 7px;margin-bottom: 7px;" />
                                </div>

                                @*<span style="color:red;display:none;" id="spnerrmsg">All option must required </span>*@
                            if (DataModel != null)
                            {
                                foreach (var item in DataModel)
                                {
                                    <div class="form-group">
                                        @*<div class="col-md-1"></div>*@
                                        <div class="col-md-6">
                                            <label class="mt-checkbox" style="margin-bottom: 0px;font-size:12px;">
                                                <input type="checkbox" id="chkValidationItem_@item.ValidationItemId" @(item.Selected == true ? "checked=checked" : string.Empty ) class="search-field clsvalitem" value="@item.ValidationItemId" onchange="ChangeClickEvent(@item.ValidationItemId)"> @item.Name
                                                <span></span>
                                            </label>
                                        </div>
                                        @*<div class="col-md-4">
                                            <input class="form-control input-sm" id="txtValidationItem_@item.ValidationItemId" value="@item.ItemNote" @(item.Selected == true ? string.Empty : "disabled=disabled")>
                                        </div>
                                        <div class="col-md-2">
                                        </div>*@                                         
                                        @if (item.ValidationItemId == 28)
                                        {
                                            <div class="col-md-4">
                                                <input type="button" class="btn btn-custom btn btn-primary purple" id="btnFranchiseeCall" onclick="ShowFranchiseeCall();" value="Franchisee Call" @(item.Selected == true ? string.Empty : "disabled=disabled") style="margin-right:20px;margin-top:4px;">
                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                        }
                                        else if (item.ValidationItemId == 24)
                                        {
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <!--Start Date-->
                                                            @*<label for="schedule_start" class="control-label col-md-3"  >Start Date/Time<span class="required">*</span>:</label>*@
                                                            <div class="col-md-3" style="padding:0px;">
                                                                <input type="text" name="startdate" class="form-control input-group input-group-sm input-sm date date-picker RemovePeriodvalidation" placeholder="Start Date" value="@(item.StaticDesignScheduleDate != null ? Convert.ToDateTime(item.StaticDesignScheduleDate).ToString("MM/dd/yyyy"):string.Empty)" data_date_format="mm/dd/yyyy" id="input_schedulestartdate" @(item.Selected == true ? string.Empty : "disabled=disabled") />
                                                            </div>
                                                            <!--Start Time-->
                                                            <div class="col-md-3" style="padding-right:0px;">
                                                                <div class="input-icon">
                                                                    <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                                                    <input type="text" name="starttime" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default" id="input_schedulestarttime" value="@(item.StaticDesignScheduleDate != null ? Convert.ToDateTime(item.StaticDesignScheduleDate).ToString("hh:mm tt"):string.Empty)" @(item.Selected == true ? string.Empty : "disabled=disabled") />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <!--Start Date-->
                                                            @*<label for="schedule_start" class="control-label col-md-3"  >End Date/Time<span class="required">*</span>:</label>*@
                                                            <div class="col-md-3" style="padding:0px;">
                                                                <input type="text" name="enddate" class="form-control input-group input-group-sm input-sm date date-picker RemovePeriodvalidation" placeholder="End Date" value="@(item.StaticDesignScheduleEndTime != null ? Convert.ToDateTime(item.StaticDesignScheduleEndTime).ToString("MM/dd/yyyy"):string.Empty)" data_date_format="mm-dd-yyyy" id="input_scheduleenddate" @(item.Selected == true ? string.Empty : "disabled=disabled") />
                                                            </div>
                                                            <!--End Time-->
                                                            <div class="col-md-3" style="padding-right:0px;">
                                                                <div class="input-icon">
                                                                    <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                                                    <input type="text" name="endtime" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default" id="input_scheduleendtime" value="@(item.StaticDesignScheduleDate != null ? Convert.ToDateTime(item.StaticDesignScheduleEndTime).ToString("hh:mm tt"):string.Empty)" @(item.Selected == true ? string.Empty : "disabled=disabled") />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2" style="padding-left:0px;">
                                                                <a class="btn green btn-block" data-toggle="modal" id="calendar_schedules" style="height: 32px; line-height: 32px; padding: 0px;margin-left:7px;width: 100px">Schedules</a>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-4">
                                                <input class="form-control input-sm" id="txtValidationItem_@item.ValidationItemId" value="@item.ItemNote" @(item.Selected == true ? string.Empty : "disabled=disabled")>
                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                        }
                                    </div>
                                }
                            }

                            <div class="form-group">
                                @*<div class="col-md-1"></div>*@
                                <input id="hdnCSstageId" type="hidden" value="@(StageModel != null ? StageModel.CSstageId : 0)" />
                                <label class="control-label col-md-1">Note:</label>
                                <div class="col-md-8">
                                    <textarea class="form-control input-sm" row="3" rows="2" id="txtNote"> @(StageModel != null ? StageModel.Note : string.Empty) </textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-2">
                                        <button id="" type="button" class="btn green btn-block" style="width:120px !important;margin-left:-64px;" onclick="SaveCSActivityActionsFollowUpData(1)">SAVE</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="" type="button" class="btn green btn-block" style="width:120px !important;" onclick="SaveCSActivityActionsFollowUpData(2)">SAVE & NEXT</button>
                                    </div>
                                </div>
                            </div>
                            }
                            else if (Convert.ToInt32(ViewBag.ActiveStageId) == Convert.ToInt32(JKApi.Business.Enumeration.CustomerStatusList.FollowUp)) //Stage 3
                            {

                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;"> Log result as "complaint satisfied" and enter appropriate notes</label>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage3StaticItem1Yes" name="stage3StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage3StaticItem1No" name="stage3StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <div class="col-md-8">
                                        <label class="control-label" style="text-align:left;"> Log another franchise call and enter notes.</label>
                                        @*<input type="text" id="chkStage3StaticItem2txt" class="form-control input-sm" placeholder="Note"/>*@
                                        <textarea class="form-control input-sm" row="2" rows="2" id="txtstage3StaticItem2">@(CSActivity2 != null ? (Convert.ToString(CSActivity2.StaticDesignNote) != "") ? Convert.ToString(CSActivity2.StaticDesignNote) : string.Empty : string.Empty ) </textarea>
                                    </div>
                                </div>
                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;"> Upload completed and signed MOGO inspection?</label>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage3StaticItem3Yes" name="stage3StaticItem3" @(CSActivity3 != null ? (CSActivity3.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) class="search-field" value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage3StaticItem3No" name="stage3StaticItem3" @(CSActivity3 != null ? (CSActivity3.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) class="search-field" value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-12" style="display:none;">
                                    <hr style="margin-top: 7px;margin-bottom: 7px;" />
                                </div>

                                @*<span style="color:red;display:none;" id="spnerrmsg">All option must required </span>*@
                            if (DataModel != null)
                            {
                                foreach (var item in DataModel)
                                {
                                    <div class="form-group">
                                        @*<div class="col-md-1"></div>*@
                                        <div class="col-md-6">
                                            <label class="mt-checkbox" style="margin-bottom: 0px;font-size:12px;">
                                                <input type="checkbox" id="chkValidationItem_@item.ValidationItemId" @(item.Selected == true ? "checked=checked" : string.Empty ) class="search-field clsvalitem" value="@item.ValidationItemId" onchange="ChangeClickEvent(@item.ValidationItemId)"> @item.Name
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control input-sm" id="txtValidationItem_@item.ValidationItemId" value="@item.ItemNote" @(item.Selected == true ? string.Empty : "disabled=disabled")>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                }
                            }

                            <div class="form-group">
                                @*<div class="col-md-1"></div>*@
                                <input id="hdnCSstageId" type="hidden" value="@(StageModel != null ? StageModel.CSstageId : 0)" />
                                <label class="control-label col-md-1">Note:</label>
                                <div class="col-md-8">
                                    <textarea class="form-control input-sm" row="3" rows="2" id="txtNote"> @(StageModel != null ? StageModel.Note : string.Empty) </textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-2">
                                        <button id="" type="button" class="btn green btn-block" style="width:120px !important;margin-left:-64px;" onclick="SaveCSActivityFollowUpData(1)">SAVE</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="" type="button" class="btn green btn-block" style="width:120px !important;" onclick="SaveCSActivityFollowUpData(2)">SAVE & NEXT</button>
                                    </div>
                                </div>
                            </div>
                            }
                            else if (Convert.ToInt32(ViewBag.ActiveStageId) == Convert.ToInt32(JKApi.Business.Enumeration.CustomerStatusList.CompletionClosed)) //Stage 4
                            {

                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;">Try to talk to person who made complaint</label>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage4StaticItem1Yes" name="stage4StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage4StaticItem1No" name="stage4StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;">Log result as "complaint satisfied" and enter appropriate notes?</label>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage4StaticItem2Yes" name="stage4StaticItem2" class="search-field" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) onclick="onClickStage4StaticItem2()" value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage4StaticItem2No" name="stage4StaticItem2" class="search-field" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) onclick="onClickStage4StaticItem2()" value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                    @*<div class="col-md-1"></div>*@
                                    <div div class="col-md-6">
                                        <textarea class="form-control input-sm" row="2" rows="2" id="stage4StaticItem2Note" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == false) ? string.Empty : "style=display:none" : "style=display:none")> @(CSActivity2 != null ? (Convert.ToString(CSActivity2.StaticDesignNote) != "") ? Convert.ToString(CSActivity2.StaticDesignNote) : string.Empty : string.Empty )</textarea>
                                    </div>

                                </div>
                                <div class="form-group" style="display:none;">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;"> Receive confirmation of receipt by franchisee?  Note/document</label>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage4StaticItem3Yes" name="stage4StaticItem3" class="search-field" @(CSActivity3 != null ? (CSActivity3.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>

                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage4StaticItem3No" name="stage4StaticItem3" class="search-field" @(CSActivity3 != null ? (CSActivity3.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="display:none;">
                                    <hr style="margin-top: 7px;margin-bottom: 7px;" />
                                </div>
                                @*<span style="color:red;display:none;" id="spnerrmsg">All option must required </span>*@
                            if (DataModel != null)
                            {
                                foreach (var item in DataModel)
                                {
                                    <div class="form-group">
                                        @*<div class="col-md-1"></div>*@
                                        <div class="col-md-6">
                                            <label class="mt-checkbox" style="margin-bottom: 0px;font-size:12px;">
                                                <input type="checkbox" id="chkValidationItem_@item.ValidationItemId" @(item.Selected == true ? "checked=checked" : string.Empty ) class="search-field clsvalitem" value="@item.ValidationItemId" onchange="ChangeClickEvent(@item.ValidationItemId)"> @item.Name
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control input-sm" id="txtValidationItem_@item.ValidationItemId" value="@item.ItemNote" @(item.Selected == true ? string.Empty : "disabled=disabled")>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>

                                }
                            }

                            <div class="form-group">
                                @*<div class="col-md-1"></div>*@
                                <input id="hdnCSstageId" type="hidden" value="@(StageModel != null ? StageModel.CSstageId : 0)" />
                                <label class="control-label col-md-1">Note:</label>
                                <div class="col-md-8">
                                    <textarea class="form-control input-sm" row="3" rows="2" id="txtNote"> @(StageModel != null ? StageModel.Note : string.Empty) </textarea>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-2">
                                        <button id="" type="button" class="btn green btn-block" style="width:120px !important;margin-left:-64px;" onclick="SaveCSActivityCompletionClosedData(1)">SAVE</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="" type="button" class="btn green btn-block" style="width:120px !important;" onclick="SaveCSActivityCompletionClosedData(2)">SAVE & NEXT</button>
                                    </div>
                                </div>
                            </div>
                            }



                            else if (Convert.ToInt32(ViewBag.ActiveStageId) == Convert.ToInt32(JKApi.Business.Enumeration.CustomerStatusList.LetertotheCustomer)) //Stage 5
                            {
                                <div class="form-group">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;">Follow-up with Intent to cure Letter to customer within 24 hours of step 4?</label>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage5StaticItem1Yes" name="stage5StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) onclick="onClickStage5StaticItem1()" value="1">
                                            <span>Yes </span>
                                        </label>

                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage5StaticItem1No" name="stage5StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) onclick="onClickStage5StaticItem1()" value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                    @*<div class="col-md-1"></div>*@
                                    <div div class="col-md-6">
                                        @*<input type="text" id="" class="form-control input-sm" placeholder="No Reason Notes" />*@
                                        <textarea class="form-control input-sm" row="2" rows="2" id="txtstage5StaticItem1note" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == false) ? string.Empty : "style=display:none" : "style=display:none")>@(CSActivity1 != null ? (Convert.ToString(CSActivity1.StaticDesignNote) != "") ? Convert.ToString(CSActivity1.StaticDesignNote) : string.Empty : string.Empty )   </textarea>
                                    </div>

                                </div>

                                <div class="form-group">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;">Letter uploaded into documents?</label>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage5StaticItem2Yes" name="stage5StaticItem2" class="search-field" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage5StaticItem2No" name="stage5StaticItem2" class="search-field" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;">Date set for re-inspection?</label>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage5StaticItem3Yes" name="stage5StaticItem3" class="search-field" @(CSActivity3 != null ? (CSActivity3.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage5StaticItem3No" name="stage5StaticItem3" class="search-field" @(CSActivity3 != null ? (CSActivity3.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-5" style="text-align:left;">Scheduled Date:</label>
                                    <div class="col-md-2">
                                        <!-- Date -->
                                        <input type="text" id="txtStage5StaticItem4Date" class="form-control input-group-sm input-sm date date-picker" name="datepicker" @*data-date-format="mm/dd/yyyy"*@ value="@(CSActivity4 != null? (CSActivity4.StaticDesignScheduleDate !=null) ? Convert.ToDateTime(CSActivity4.StaticDesignScheduleDate).ToString("MM-dd-yyyy"): string.Empty : string.Empty )" />
                                    </div>
                                    <div class="col-md-2">
                                        <!-- Time -->
                                        <div class="input-icon">
                                            <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                            <input type="text" id="txtStage5StaticItem4Time" class="form-control input-group-sm input-sm  timepicker timepicker-default" value="@(CSActivity4 != null? (CSActivity4.StaticDesignScheduleTime !=null) ? Convert.ToDateTime(CSActivity4.StaticDesignScheduleTime).ToString("hh:mm tt"): string.Empty : string.Empty )" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <!-- End Time -->
                                        <div class="input-icon">
                                            <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                            <input type="text" id="txtStage5StaticItem4EndTime" class="form-control input-group-sm input-sm  timepicker timepicker-default" value="@(CSActivity4 != null? (CSActivity4.StaticDesignScheduleEndTime!=null) ? Convert.ToDateTime(CSActivity4.StaticDesignScheduleEndTime).ToString("hh:mm tt") : string.Empty : string.Empty)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <hr style="margin-top: 7px;margin-bottom: 7px;" />
                                </div>
                                @*<span style="color:red;display:none;" id="spnerrmsg">All option must required </span>*@
                            if (DataModel != null)
                            {
                                foreach (var item in DataModel)
                                {
                                    <div class="form-group">
                                        @*<div class="col-md-1"></div>*@
                                        <div class="col-md-11">
                                            <label class="mt-checkbox" style="margin-bottom: 0px;font-size:12px;">
                                                <input type="checkbox" id="chkValidationItem_@item.ValidationItemId" @(item.Selected == true ? "checked=checked" : string.Empty ) class="search-field clsvalitem" value="@item.ValidationItemId"> @item.Name
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="form-group">
                                @*<div class="col-md-1"></div>*@
                                <input id="hdnCSstageId" type="hidden" value="@(StageModel != null ? StageModel.CSstageId : 0)" />
                                <label class="control-label col-md-1">Note:</label>
                                <div class="col-md-8">
                                    <textarea class="form-control input-sm" row="3" rows="2" id="txtNote"> @(StageModel != null ? StageModel.Note : string.Empty) </textarea>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-2">
                                        <button id="" type="button" class="btn green btn-block" style="width:120px !important;margin-left:-64px;" onclick="SaveActivityLetertotheCustomerData(1)">SAVE</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="" type="button" class="btn green btn-block" style="width:120px !important;" onclick="SaveActivityLetertotheCustomerData(2)">SAVE & NEXT</button>
                                    </div>
                                </div>
                            </div>
                            }
                            else if (Convert.ToInt32(ViewBag.ActiveStageId) == Convert.ToInt32(JKApi.Business.Enumeration.CustomerStatusList.ReInspecttherAccount)) //Stage 6
                            {
                                <div class="form-group">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;">Re-inspect account within 48 hours of step 5?</label>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage6StaticItem1Yes" name="stage6StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) onclick="onClickStage6StaticItem1()" value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage6StaticItem1No" name="stage6StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) onclick="onClickStage6StaticItem1()" value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                    @*<div class="col-md-1"></div>*@
                                    <div div class="col-md-8">
                                        <textarea class="form-control input-sm" row="2" rows="2" id="txtstage6StaticItem1Note" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == false) ? string.Empty : "style=display:none" : "style=display:none")> @(CSActivity1 != null ? (Convert.ToString(CSActivity1.StaticDesignNote) != "") ? Convert.ToString(CSActivity1.StaticDesignNote) : string.Empty : string.Empty )  </textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;">Upload completed and signed MOGO inspection?</label>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage6StaticItem2Yes" name="stage6StaticItem2" class="search-field" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage6StaticItem2No" name="stage6StaticItem2" class="search-field" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;">Back on Track Satisfactory? </label>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage6StaticItem3Yes" name="stage6StaticItem3" class="search-field" @(CSActivity3 != null ? (CSActivity3.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) onclick="onClickStage6StaticItem3()" value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage6StaticItem3No" name="stage6StaticItem3" class="search-field" @(CSActivity3 != null ? (CSActivity3.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) onclick="onClickStage6StaticItem3()" value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                    @*<div class="col-md-1"></div>*@
                                    <div div class="col-md-8">
                                        <textarea class="form-control input-sm" row="2" rows="2" id="txtstage6StaticItem3Note" @(CSActivity3 != null ? (CSActivity3.StaticDesignIsItemChecked == false) ? string.Empty : "style=display:none" : "style=display:none")>@(CSActivity3 != null ? (Convert.ToString(CSActivity3.StaticDesignNote) != "") ? Convert.ToString(CSActivity3.StaticDesignNote) : string.Empty : string.Empty )   </textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <hr style="margin-top: 7px;margin-bottom: 7px;" />
                                </div>

                                @*<span style="color:red;display:none;" id="spnerrmsg">All option must required </span>*@
                            if (DataModel != null)
                            {
                                foreach (var item in DataModel)
                                {
                                    <div class="form-group">
                                        @*<div class="col-md-1"></div>*@
                                        <div class="col-md-11">
                                            <label class="mt-checkbox" style="margin-bottom: 0px;font-size:12px;">
                                                <input type="checkbox" id="chkValidationItem_@item.ValidationItemId" @(item.Selected == true ? "checked=checked" : string.Empty ) class="search-field clsvalitem" value="@item.ValidationItemId"> @item.Name
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                }
                            }

                            <div class="form-group">
                                @*<div class="col-md-1"></div>*@
                                <input id="hdnCSstageId" type="hidden" value="@(StageModel != null ? StageModel.CSstageId : 0)" />
                                <label class="control-label col-md-1">Note:</label>
                                <div class="col-md-8">
                                    <textarea class="form-control input-sm" row="3" rows="2" id="txtNote"> @(StageModel != null ? StageModel.Note : string.Empty) </textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-2">
                                        <button id="" type="button" class="btn green btn-block" style="width:120px !important;margin-left:-64px;" onclick="SaveActivityReInspecttherAccountData(1)">SAVE</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="" type="button" class="btn green btn-block" style="width:120px !important;" onclick="SaveActivityReInspecttherAccountData(2)">SAVE & NEXT</button>
                                    </div>
                                </div>
                            </div>
                            }
                            else if (Convert.ToInt32(ViewBag.ActiveStageId) == Convert.ToInt32(JKApi.Business.Enumeration.CustomerStatusList.FollowupBackontrack)) //Stage 7
                            {
                                <div class="form-group">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;">Back on Track/thankyou letter to contact within 24 hours of satifactorially completing step 6.</label>
                                    <div class="col-md-1">
                                        <label class="mt-checkbox">
                                            Yes
                                            <input type="checkbox" id="chkStage7StaticItem1Yes" name="stage7StaticItem1" class="search-field" @(CSActivity1 != null ? (CSActivity1.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;">Upload Letter?</label>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage7StaticItem2Yes" name="stage7StaticItem2" class="search-field" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) onclick="onClickStage7StaticItem2()" value="1">
                                            <span>Yes</span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="check-inline">
                                            <input type="radio" id="chkStage7StaticItem2No" name="stage7StaticItem2" class="search-field" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == false) ? "checked=checked" : string.Empty : string.Empty ) onclick="onClickStage7StaticItem2()" value="0">
                                            <span>No</span>
                                        </label>
                                    </div>
                                    @*<div class="col-md-1"></div>*@
                                    <div div class="col-md-6"><textarea class="form-control input-sm" row="2" rows="2" id="txtstage7StaticItem2note" @(CSActivity2 != null ? (CSActivity2.StaticDesignIsItemChecked == false) ? string.Empty : "style=display:none" : "style=display:none")>@(CSActivity2 != null ? (Convert.ToString(CSActivity2.StaticDesignNote) != "") ? Convert.ToString(CSActivity2.StaticDesignNote) : string.Empty : string.Empty ) </textarea></div>
                                </div>

                                <div class="form-group">
                                    @*<div class="col-md-1"></div>*@
                                    <label class="control-label col-md-8" style="text-align:left;">Clear Account At Risk?</label>
                                    <div class="col-md-1">
                                        <label class="mt-checkbox">
                                            Yes
                                            <input type="checkbox" id="chkStage7StaticItem3Yes" name="stage7StaticItem3" class="search-field" @(CSActivity3 != null ? (CSActivity3.StaticDesignIsItemChecked == true) ? "checked=checked" : string.Empty : string.Empty ) value="1">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr style="margin-top: 7px;margin-bottom: 7px;" />
                                </div>
                                @*<span style="color:red;display:none;" id="spnerrmsg">All option must required </span>*@
                            if (DataModel != null)
                            {
                                foreach (var item in DataModel)
                                {
                                    <div class="form-group">
                                        @*<div class="col-md-1"></div>*@
                                        <div class="col-md-10">
                                            <label class="mt-checkbox" style="margin-bottom: 0px;font-size:12px;">
                                                <input type="checkbox" id="chkValidationItem_@item.ValidationItemId" @(item.Selected == true ? "checked=checked" : string.Empty ) class="search-field clsvalitem" value="@item.ValidationItemId"> @item.Name
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                }
                            }

                            <div class="form-group">
                                @*<div class="col-md-1"></div>*@
                                <input id="hdnCSstageId" type="hidden" value="@(StageModel != null ? StageModel.CSstageId : 0)" />
                                <label class="control-label col-md-1">Note:</label>
                                <div class="col-md-8">
                                    <textarea class="form-control input-sm" row="3" rows="2" id="txtNote"> @(StageModel != null ? StageModel.Note : string.Empty) </textarea>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-2">
                                        <button id="" type="button" class="btn green btn-block" style="width:120px !important;margin-left:-64px;" onclick="SaveActivityFollowupBackontrackData(1)">SAVE</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="" type="button" class="btn green btn-block" style="width:120px !important;" onclick="SaveActivityFollowupBackontrackData(2)">SAVE & NEXT</button>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker();
        $(".timepicker").timepicker();
    });

</script>