@model JKViewModels.Inspection.InspectionFormModel
@{
    var request = HttpContext.Current.Request;
    var address = string.Format("{0}://{1}", request.Url.Scheme, request.Url.Authority);
}
<div class="custom-form portlet light" style="padding:0px;margin:0px;">
    <div class="portlet-body form form-horizontal">
        <div class="form-body" >
            <div class="form-group" style="background: #3598DC;color:white;padding-bottom: 5px;">
                <div class="col-md-12" style="text-align:center;">
                    <span><b>Customer Inspection Form</b></span>
                </div>
            </div>
            <div class="form-group" style="padding-bottom:3px;">
                <div class="row">
                    <table class="header" style="margin-bottom:0px;font-size:11px;margin-top:5px;">
                        <tr>
                            <td width="20%" style="text-align:right;padding-right:5px;">
                                <P>
                                    <b>Account:</b>
                                </P>
                            </td>
                            <td width="25%">
                                <P>
                                    @ViewBag.CustomerDetail.CustomerName
                                </P>
                            </td>
                            <td width="15%" style="text-align:right;padding-right:5px;">
                                <P>
                                    <b>Contact:</b>
                                </P>
                            </td>
                            <td width="25%">
                                <P>
                                    @ViewBag.CustomerDetail.ContactName
                                </P>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%" style="text-align:right;padding-right:5px;">
                                <P>
                                    <b>Address:</b>
                                </P>
                            </td>
                            <td width="25%">
                                <P>
                                    @ViewBag.CustomerDetail.Address
                                </P>
                            </td>
                            <td width="15%" style="text-align:right;padding-right:5px;">
                                <P>
                                    <b>Phone:</b>
                                </P>
                            </td>
                            <td width="25%">
                                <P>
                                    @ViewBag.CustomerDetail.Phone
                                </P>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%" style="text-align:right;padding-right:5px;">
                                <P>
                                    <b></b>
                                </P>
                            </td>
                            <td width="25%">
                                <P>
                                    @ViewBag.CustomerDetail.Address2
                                </P>
                            </td>
                            <td width="15%" style="text-align:right;padding-right:5px;">
                                <P>
                                    <b>Acct Type:</b>
                                </P>
                            </td>
                            <td width="25%">
                                <P>
                                    @Model.AccountType
                                </P>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%" style="text-align:right;padding-right:5px;">
                                <P>
                                    <b>Franchisee</b>
                                </P>
                            </td>
                            <td width="25%">
                                <P>
                                    @Model.FranchiseeName
                                </P>
                            </td>
                            <td width="15%" style="text-align:right;padding-right:5px;">
                                <P><b> </b></P>
                            </td>
                            <td width="25%">
                                <P></P>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%" style="text-align:right;padding-right:5px;">
                                <P>
                                    <b>Frequency:</b>
                                </P>
                            </td>
                            <td width="50%" colspan="3">
                                <span>@Model.CleanTimes</span> Per W <span>
                                    (Mon
                                    @if (Model.Mon == true)
                                    {
                                        <img src="@(address)/Images/check-box-chk-pdf.png" height="13" width="13" />
                                    }
                                    else
                                    {
                                        <img src="@(address)/Images/chkbox-pdf.png" height="13" width="13" />
                                    }
                                </span>
                                <span>
                                    Tue
                                    @if (Model.Tue == true)
                                    {
                                        <img src="@(address)/Images/check-box-chk-pdf.png" height="13" width="13" />
                                    }
                                    else
                                    {
                                        <img src="@(address)/Images/chkbox-pdf.png" height="13" width="13" />
                                    }
                                </span>
                                <span>
                                    Wed
                                    @if (Model.Wed == true)
                                    {
                                        <img src="@(address)/Images/check-box-chk-pdf.png" height="13" width="13" />
                                    }
                                    else
                                    {
                                        <img src="@(address)/Images/chkbox-pdf.png" height="13" width="13" />
                                    }
                                </span>
                                <span>
                                    Thu
                                    @if (Model.Thu == true)
                                    {
                                        <img src="@(address)/Images/check-box-chk-pdf.png" height="13" width="13" />
                                    }
                                    else
                                    {
                                        <img src="@(address)/Images/chkbox-pdf.png" height="13" width="13" />
                                    }
                                </span>
                                <span>
                                    Fri
                                    @if (Model.Fri == true)
                                    {
                                        <img src="@(address)/Images/check-box-chk-pdf.png" height="13" width="13" />
                                    }
                                    else
                                    {
                                        <img src="@(address)/Images/chkbox-pdf.png" height="13" width="13" />
                                    }
                                </span>
                                <span>
                                    Sat
                                    @if (Model.Sat == true)
                                    {
                                        <img src="@(address)/Images/check-box-chk-pdf.png" height="13" width="13" />
                                    }
                                    else
                                    {
                                        <img src="@(address)/Images/chkbox-pdf.png" height="13" width="13" />
                                    }
                                </span>
                                <span>
                                    Sun
                                    @if (Model.Sun == true)
                                    {
                                        <img src="@(address)/Images/check-box-chk-pdf.png" height="13" width="13" />
                                    }
                                    else
                                    {
                                        <img src="@(address)/Images/chkbox-pdf.png" height="13" width="13" />
                                    })
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            @if (Model.Sections.Count() > 0)
            {
                foreach (var item in Model.Sections)
                {

                    string str = string.Empty;
                    <div class="form-group" style="background: black;color: white;padding-bottom: 2px;margin-top:-5px;">
                        <div class="col-md-3">
                            <span>@Html.DisplayFor(modelItem => item.SectionName)</span>
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="row">
                                @if (item.Items.Count() > 0)
                                {
                                    int border = 1;

                                    str += "<table style='margin-bottom:0px;font-size:11px;margin-top:5px;' width='100%'>";
                                    foreach (var sectionItem in item.Items)
                                    {
                                        if (sectionItem.FormItemType == JKViewModels.FormItemType.FormItemTypeInspection)
                                        {

                                            var data = Json.Decode(sectionItem.FormItemValue);
                                            if (border % 2 != 0)
                                            {
                                                str += "<tr>";
                                                str += "<td width='12%'><p>" + data["Label"] + "</p></td>";
                                                str += "<td width='6%'><img src='" + address + "/Images/optbox-pdf.png' height='12' width='12'/> Pass</td>";
                                                str += "<td width='5%'><img src='" + address + "/Images/optbox-pdf.png' height='12' width='12'/> Fail</td>";
                                                str += "<td width='14%'><img src='" + address + "/Images/optbox-pdf.png' height='12' width='12'/> Need Improvment</td>";
                                                str += "<td width='8%' ><table style='border: 0.5px;'><tr><td height='13' width='10'></td></tr></table></td>";
                                                str += "<td width='1%' style='border-right:0.5px;border-color:red;'></td>";
                                            }
                                            if (border % 2 == 0)
                                            {
                                                str += "<td width='12%' style='padding-left:7px;'><p>" + data["Label"] + "</p></td>";
                                                str += "<td width='6%'><img src='" + address + "/Images/optbox-pdf.png' height='12' width='12'/> Pass </td>";
                                                str += "<td width='5%'><img src='" + address + "/Images/optbox-pdf.png' height='12' width='12'/> Fail</td>";
                                                str += "<td width='14%'><img src='" + address + "/Images/optbox-pdf.png' height='12' width='12'/> Need Improvment</td>";
                                                str += "<td width='8%'><table style='border: 0.5px;'><tr><td height='13' width='10'></td></tr></table></td>";
                                                str += "</tr>";
                                            }

                                        }
                                        border += 1;
                                    }
                                    if (item.Items.Count() % 2 == 1)
                                    {
                                        str += "</tr>";
                                    }
                                    str += "</table>";
                                }
                                @Html.Raw(str)
                            </div>
                        </div>                        
                }
            }

            <div class="form-group" style="background: black;color: white;padding-bottom: 5px;">
                <div class="col-md-12">
                    <span>Overall</span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <table class="header" style="margin-bottom:0px;font-size:11px;margin-top:5px;">
                        <tr>
                            <td width="35%" style="padding-right:5px;">
                                <P><b></b></P>
                            </td>
                            <td width="10%">
                                <P></P>
                            </td>
                            <td width="20%" style="padding-right:5px;">
                                <P><b>Scoring</b></P>
                            </td>
                        </tr>
                        <tr>
                            <td width="35%" style="padding-right:5px;">
                                <P>
                                    <b>Total Point Possible</b>
                                </P>
                            </td>
                            <td width="10%">
                                <P>

                                </P>
                            </td>
                            <td width="20%" style="padding-right:5px;">
                                <P>
                                    100% - 95% = Excellent
                                </P>
                            </td>
                        </tr>
                        <tr>
                            <td width="35%" style="padding-right:5px;">
                                <P>
                                    <b>Total Pass Point</b>
                                </P>
                            </td>
                            <td width="10%">
                                <P>
                                    @Model.PassPoints
                                </P>
                            </td>
                            <td width="20%" style="padding-right:5px;">
                                <P>
                                    94% - 90% = Good
                                </P>
                            </td>
                        </tr>
                        <tr>
                            <td width="35%" style="padding-right:5px;">
                                <P>
                                    <b>Need Improvement Points</b>
                                </P>
                            </td>
                            <td width="10%">
                                <P>
                                    @Model.NeedImprovementPoints
                                </P>
                            </td>
                            <td width="20%" style="padding-right:5px;">
                                <P>
                                    89% - 86% = Fail
                                </P>
                            </td>
                        </tr>
                        <tr>
                            <td width="35%" style="padding-right:5px;">
                                <P>
                                    <b>Total Failed Point</b>
                                </P>
                            </td>
                            <td width="10%">
                                <P>
                                    @Model.FailPoints
                                </P>
                            </td>
                            <td width="20%" style="padding-right:5px;">
                                <P>
                                    85% - 81% = Poor
                                </P>
                            </td>
                        </tr>
                        <tr>
                            <td width="35%" style="padding-right:5px;">
                                <P>
                                    <b>Percent Score</b>
                                </P>
                            </td>
                            <td width="10%">
                                <P>
                                    @Model.ScorePercent
                                </P>
                            </td>
                            <td width="20%" style="padding-right:5px;">
                                <P>
                                    80% or Less 93% = Fail
                                </P>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group" style="background:black;color: white;padding-bottom:2px;">
                <div class="col-md-12">
                    <span>Customer Signature</span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <table class="header" style="margin-bottom:0px;font-size:11px;">
                        <tr>
                            <td style="padding-right:5px;">
                                <img src="@Model.SignatureUrl" style="width: 200px;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>