
@{
    ViewBag.Title = "CustomerServiceReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    tr > td {
        font-size: 12px !important;
        padding: 4px !important;
    }

    /*tr > th {
        font-size: 11px !important;
        text-transform: uppercase;
    }*/

    .row {
        margin: 0;
        padding: 3px 0;
    }

    .right {
        text-align: right;
    }

    .personlink {
        text-align: center;
    }

    .close {
        background-image: url(/Content/admin/assets/global/img/stick_close.png) !important;
        height: 12px !important;
        width: 12px !important;
        margin-top: 0px !important;
    }

    .page-size {
        padding-left: 0;
        padding-right: 0;
        width: 62px;
    }

    .topheader {
        font-size: 14px;
        font-weight: bold;
        color: #FFF !important;
        text-transform: uppercase;
        margin-top: 3px;
    }

    .alignRight {
        text-align: right;
    }

    .alignCenter {
        text-align: center;
    }

    #NewCustomerList th {
        vertical-align: middle;
    }

    .no-padding {
        padding: 0;
    }

    .no-margin {
        margin: 0;
    }

    .padding-tb1 {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .margin-tb1 {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .custom-listbox .headerbox {
        padding: 3px 0px 3px 5px;
    }

    .custom-listbox {
        margin-top: 4px;
        margin-bottom: 0px;
    }

    .btn.multiselect {
        text-align: left;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 11px;
        color: #555;
    }

    .multiselect .caret {
        right: 0;
        position: absolute;
        margin-top: 8px;
        margin-right: 8px;
    }

    .multiselect-container.dropdown-menu {
        text-transform: none;
        font-size: 14px;
        padding-left: 24px;
    }
</style>

@section styles{
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css")" rel="stylesheet" />
}

<div class="custom-listbox" style="margin-top:4px;margin-bottom:3px;">
    <div class="headerbox">
        <div class="row" style="background-color: #3598DC;color: #fff;">
            <div class="col-md-12 no-padding">
                <div class="alignCenter">
                    <div class="col-md-12 text-center">
                        Customer Service Reports
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tablebox">
        <div class="row" style="padding-top: 50px;padding-bottom: 20px;">
            <div class="col-md-12">
                <div class="col-md-3">
                    <input type="button" class="btn btn-primary  col-md-8" value="Wednesday Report" style="margin-left: 20px;" onclick="openWednesdayReport()" />
                </div>
                <div class="col-md-3">
                    <input type="button" class="btn btn-primary  col-md-8" value="" style="margin-left: 20px;" />
                </div>
                <div class="col-md-3">
                    <input type="button" class="btn btn-primary  col-md-8" value="" style="margin-left: 20px;" />
                </div>
                <div class="col-md-3">
                    <input type="button" class="btn btn-primary  col-md-8" value="" style="margin-left: 20px;" />
                </div>
            </div>
        </div>

    </div>
</div>




@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
        });
        $(function () {
        });

        @*function clickFranchiseeRevenues() {
            var pageurl = '@Url.Action("FranchiseeRevenues", "Management", new { area = "Portal"})';
            window.location.href = pageurl;
        }
        function click1099Report() {
            var pageurl = '@Url.Action("Report1099", "Management", new { area = "Portal"})';
            window.location.href = pageurl;
        }
        function clickCustomerRevenues() {
            var pageurl = '@Url.Action("CustomerRevenues", "Management", new { area = "Portal"})';
            window.location.href = pageurl;
        }

        function openLeaseBillReport() {
            var pageurl = '@Url.Action("LeaseBillReport", "Management", new { area = "Portal"})';
            window.location.href = pageurl;
        }
        function openFinderFeeReport() {
            var pageurl = '@Url.Action("FinderFeeReport", "Management", new { area = "Portal"})';
            window.location.href = pageurl;
        }
        function openDeductionsReport() {
            var pageurl = '@Url.Action("DeductionsReport", "Management", new { area = "Portal"})';
            window.location.href = pageurl;
        }

        function openObligationReport() {
            var pageurl = '@Url.Action("ObligationReport", "Management", new { area = "Portal"})';
            window.location.href = pageurl;
        }*@

        function openWednesdayReport() {
            var pageurl = '@Url.Action("CustomerServiceSearchWednesdayReport", "CustomerService", new { area = "Portal"})';
            window.location.href = pageurl;
        }

    </script>
}