
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/JKControl/Views/Shared/_LayoutLogin.cshtml";
}
<link href="~/Content/admin/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
<link href="~/Content/admin/assets/global/plugins/wow-alert-master/css/wow-alert.css" rel="stylesheet" />
<div class="col-md-12" style="padding-top:7%;">
    <div class="col-md-4"></div>
    <div class="col-md-5" style="border: 6px solid #3598dc;border-radius: 30px;background: white;padding-top: 60px;padding-bottom: 100px;">
        <div class="form-horizontal">
            <div class="custom-listbox" style="max-width:100%;" id="divcustomerList">
                <div class="headerbox" style="font-weight: normal;">
                    <div class="col-md-12 text-center">
                        <img class="login-logo" src="../../Content/admin/assets/pages/img/login/JK_Logo.png" style="width: 170px;padding-bottom:15px;">
                    </div>
                    <div class="col-md-12 text-center" style="color: cadetblue;">
                        <h3 style="padding-bottom: 10px;"><b>Reset password</b></h3>
                    </div>
                </div>
                <div class="portlet-body" style="padding:10px">
                    <div class="row" id="newUser">
                        <div class="col-md-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-8" style="padding-right:0px;">
                                <form action="#">
                                    <div class="form-group">
                                        <input type="password" id="txtTempResetPassword" class="form-control" placeholder="Temporary Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="txtNewResetPassword" class="form-control" placeholder="New Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="txtReNewResetPassword" class="form-control" placeholder="Re-type New Password">
                                    </div>
                                    <div class="form-group text-right">
                                        <input type="hidden" id="userEmail" value="@ViewBag.Email" />
                                        <a href="javascript:;" id="btnResetPassword" class="btn green" style="padding-left: 20px;padding-right: 20px;">Reset</a>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/admin/assets/global/plugins/jquery.min.js"></script>
<script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/global/plugins/wow-alert-master/js/wow-alert.js")"></script>
<script>
    $("#btnResetPassword").click(function () {
            VerfyResetPassword(1);
    });

    function VerfyResetPassword(count) {
        var form = $('#regresetForm');
        var error = $('.alert-danger', form);
        var success = $('.alert-success', form);
        var errCount = 0;
        if ($('#txtNewResetPassword').val() == '') { $('#txtNewResetPassword').css('border-color', 'red'); errCount += 1; } else { $('#txtNewResetPassword').css('border-color', ''); }
        if ($('#txtReNewResetPassword').val() == '') { $('#txtReNewResetPassword').css('border-color', 'red'); errCount += 1; } else { $('#txtReNewResetPassword').css('border-color', ''); }
        if ($('#txtTempResetPassword').val() == '') { $('#txtTempResetPassword').css('border-color', 'red'); errCount += 1; } else { $('#txtTempResetPassword').css('border-color', ''); }
        if (errCount == 0) {
            var tempPass = $("#txtTempResetPassword").val();
            var newPass = $("#txtNewResetPassword").val();
            var rePass = $("#txtReNewResetPassword").val();
            if (newPass == rePass) {
                ResetNewPassword(newPass);
            }
            else {
                alert("Password Not Match!");
            };
        }
    }

    function ResetNewPassword() {
            var pass = $("#txtNewResetPassword").val();
            var tempPass = $("#txtTempResetPassword").val();
            var mail = $("#userEmail").val();
            $.ajax({
                url: "/JKControl/User/SetnewPassword?NewPass=" + pass + ";" + tempPass + ";" + mail,
                type: "GET",
                dataType: "json",
                cache: false,
                success: function (response) {
                    if (response == 0) {
                        alert("Password Updated failed!");
                        //window.location.href = '@Url.Action("Index", "User")';
                    }
                    else if (response == 1) {
                         swal({
                             title: "Success",
                             text: "Thank You, Your Password Reset Successfully!",
                             type: "success",
                            confirmButtonClass: "btn-confirmr",
                            confirmButtonText: "Ok"
                        },
                           function (isConfirm) {
                               window.location.href = '@Url.Action("Index", "User")';
                           }
                      );
                        @*alert("Thank You, Your Password Reset Successfully!");
                        window.location.href = '@Url.Action("Index", "User")';*@
                    }
                },
            })
        }

</script>
