@model JKViewModels.Management.SalesPersonBonusCommissionScheduleViewModel


<div class="modal fade custom-model custom-form-design" id="ModalCommissionSchedulePopup" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content" style="border-radius: 0px;" id="RenderCommissionSchedule">
            <div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
                <h4 class="modal-title text-center" style="margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;text-transform: uppercase;">
                    EA/Sales CommSch
                </h4>
            </div>
            <div class="modal-body form form-horizontal" style="padding-top: 1px;margin-top: -5px;">
                <div class="form-body" style="padding-top: 0px;">
                    <input type="hidden" id="hdfCommissionScheduleId" name="hdfCommissionScheduleId" value="0" />
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class=" col-md-3 control-label pad-right">
                                    Sales Rep/ AE:
                                </div>
                                <div class="col-md-5">
                                    <select class="form-control input-sm" id="ddlsalesUserList">
                                        <option value="">Select Sales Rep/ AE</option>
                                        @foreach (var item in (SelectList)ViewBag.salesUserList)
                                        {
                                            <option @(item.Value == Model.SalesPersonId.ToString() ? "selected" : "") value="@item.Value">@item.Text</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class=" col-md-3 control-label pad-right">
                                    Contract Type:
                                </div>
                                <div class="col-md-5">
                                    <select class="form-control input-sm" id="ddlContractTypeList">
                                        <option value="">Select Contract Type</option>
                                        @foreach (var item in (SelectList)ViewBag.ContractTypeList)
                                        {
                                            <option @(item.Value == Model.ContractTypeId.ToString() ? "selected" : "") value="@item.Value">@item.Text</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3 control-label pad-right">
                                    Bonus Schedule:
                                </div>
                                <div class="col-md-5">
                                    <select class="form-control input-sm" id="ddlCommissionAdditionalBonusScheduleList">
                                        <option value="">Select Additional Bonus Schedule</option>
                                        @foreach (var item in (SelectList)ViewBag.CommissionAdditionalBonusScheduleList)
                                        {
                                            <option @(item.Value == Model.CommissionAdditionalBonusScheduleId.ToString() ? "selected" : "") value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-offset-1  col-md-2 control-label pad-right">
                                    Bonus Amt Type :
                                </div>
                                <div class="col-md-5">
                                    <select class="form-control input-sm" id="ddlBonusAmountTypeList" onchange="ddlBonusAmountTypeListChange()">
                                        <option value="">Select Bonus Amount Type</option>
                                        <option @(Model.BonusAmountTypeId == 1 ? "selected" : "") value="1">Flat Rate</option>
                                        <option @(Model.BonusAmountTypeId == 2 ? "selected" : "") value="2">Percentage</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-offset-1  col-md-2 control-label pad-right">
                                    Bonus Amount :
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm" id="txtBonusAmount" name="txtBonusAmount" value="@Model.BonusAmount" />
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-offset-1  col-md-2 control-label pad-right">
                                    Effective Date:
                                </div>
                                <div class="col-md-3">
                                    <input type="text" name="txtEffectiveDate" id="txtEffectiveDate" value="" class="form-control input-sm date-picker" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-offset-1  col-md-2 control-label pad-right">
                                    Status:
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control input-sm" id="CTStatuslist">
                                        <option value="">Select</option>
                                        @foreach (var item in (SelectList)ViewBag.statusList)
                                        {
                                            <option @(item.Value == Model.StatusListId.ToString() ? "selected" : "") value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-actions" style="padding: 7px;">
                    <div class="col-md-12">
                        <button type="button" name="Cancel" id="btnCancelCommissionPaymentSchedule" onclick="btnCancelCommissionPaymentSchedule()" class="btn btn-primary button-next pull-right" style="margin-right:0px;min-width: 90px;">Cancel</button>
                        <button type="button" name="Save" id="btnSaveCommissionPaymentSchedule" onclick="btnSaveCommissionPaymentSchedule()" class="btn btn-primary button-next pull-right" style="margin-right:10px;min-width: 90px;">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
