@model List<JKApi.Service.AccountPayable.FranchiseeReportDetailsViewModel>
@{
    var request = HttpContext.Current.Request;
    var _siteUrl = string.Format("{0}://{1}", request.Url.Scheme, request.Url.Authority);

    string imgpath = _siteUrl + "/Content/admin/assets/layouts/layout2/img/lg_jklogo.jpg";
     
}
@*@section styles{
        <link rel="stylesheet" href="@Url.Content("~/Content/FranchiseeReport.css")" />
    }*@


@if (ViewBag.IsPrintView == true)
{
    <div class="print-container no-print">
        <input type="button" class="print-button" value="Create PDF" onclick="createPDF()" />
        <input type="button" class="print-button" value="Back to Portal" onclick="backToPortal()" />
    </div>
}
<table class="header" style="margin-bottom:0px;">
    <tr>
        <td width="25%">
            <img src="@imgpath" style="height: 80px" />
        </td>
        <td> <h2 style="font-weight: 600;"> NEW ACCOUNT START UP / SET UP</h2></td>     
    </tr>

</table>


<div class="form-class row">
    <div class="form-wrapper">
        <form class="registeration-form">
            <div class="form-header col-md-12">
                <div class="group-form div-25">
                    <label>Date</label>
                    <input type="text" />
                </div>
                <div class="group-form div-49" style="width: 34%;">
                    <label style="width: 40%;">Walk through Date</label>
                    <input type="text" style="width: 58%;" />
                </div>
                <div class="group-form div-25" style="width: 35%;">
                    <label style="width: 32%;">Start Date</label>
                    <input type="text" />
                </div>
            </div>
            <div class="body-content">
                <div class="account-name">
                    <div class="group-form div-49">
                        <label>Account Name:</label>
                        <input type="text" />
                    </div>
                    <div class="group-form div-49">
                        <label>Franchise Owner</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="account-name">
                    <div class="group-form div-49">
                        <label>Address:</label>
                        <input type="text" />
                    </div>
                    <div class="group-form div-49">
                        <label>Days Cleaned:</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="account-name">
                    <div class="group-form div-49">
                        <label></label>
                        <input type="text" />
                    </div>
                    <div class="group-form div-49">
                        <label>Time Cleaned</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="account-name">
                    <div class="group-form div-49">
                        <label>Contact Phone:</label>
                        <input type="text" />
                    </div>
                    <div class="group-form div-49">
                        <label>Office Phone</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="account-name">
                    <div class="group-form div-49">
                        <label>Contact Email:</label>
                        <input type="text" />
                    </div>
                    <div class="group-form div-49">
                        <label>Office Email</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="account-name">
                    <div class="group-form div-49">
                        <label>Billing Address:</label>
                        <input type="text"  />
                    </div>
                    <div class="group-form div-49">
                        <label>Office Fax</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="account-name">
                    <div class="group-form div-49">
                        <label></label>
                        <input type="text" />
                    </div>
                    <div class="group-form div-49">
                        <div class="div-70">
                            <label style="width: 39%;">Mo. Billing Amount $</label>
                            <input type="text" style="width:50%" />
                        </div>
                        <div class="div-25"style="    width: 27%;">
                            <label style="padding-right: 20px;">P.O#</label>
                            <input type="text" />
                        </div>
                    </div>
                </div>
                <div class="account-name">
                    <div class="group-form div-49" style="width: 45%;">
                        <label style="    width: 28%;">A.P Contact Name:</label>
                        <input style="    width: 70%;" type="text" />
                    </div>
                    <div class="group-form div-49">
                        <label style="    width: 34%;">Partial Billing Amount $</label>
                        <input type="text" style="    width: 64.5%;" />
                    </div>
                </div>
                <div class="account-name">
                    <div class="group-form div-49">
                        <label>A.P Contact Email:</label>
                        <input type="text" />
                    </div>
                    <div class="group-form div-49">
                        <div class="div-70">
                            <label style="width: 37%;">I.C Amount: $</label>
                            <input style="    width: 57%;" type="text" />
                        </div>
                        <div class="div-25" style="width: 22%;">
                            <label>P.O#</label>
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="location-checklist">
                <div class="wrapper-class-location">
                    <h5 class="text-uppercase location-heading">Location Checklist</h5>
                </div>
                <div class="location-questions">
                    <div class="display-inline pr-20">
                        <label>Light Switches?</label>
                        <label for="Y" style="padding-right: 9px;">
                            <input type="radio" name="Light"> Y
                        </label>

                        <label for="N">
                            <input type="radio"  name="Light"> N
                        </label>
                        @*<span>Y/N</span>*@
                    </div>
                    <div class="display-inline pr-20">
                        <label>Breaker's Panel?</label>
                            <label for="Y" style="padding-right: 9px;">
                                <input type="radio" name="Breaker"> Y
                            </label>

                            <label for="N">
                                <input type="radio" name="Breaker"> N
                            </label>
                    </div>
                    <div class="display-inline pr-20">
                        <label>Contact's Office?</label>
                        <label for="Y" style="padding-right: 9px;">
                            <input type="radio" name="Contact"> Y
                        </label>

                        <label for="N">
                            <input type="radio" name="Contact"> N
                        </label>
                    </div>
                    <div class="display-inline pr-20">
                        <label>Storage Areas?</label>
                        <label for="Y" style="padding-right: 9px;">
                            <input type="radio" name="Storage"> Y
                        </label>

                        <label for="N">
                            <input type="radio" name="Storage"> N
                        </label>
                    </div>
                </div>
                <div class="location-questions">
                    <div class="display-inline pr-20">
                        <label>Water Source?</label>
                        <label for="Y" style="padding-right: 9px;">
                            <input type="radio" name="Water"> Y
                        </label>

                        <label for="N">
                            <input type="radio" name="Water"> N
                        </label>
                    </div>
                    <div class="display-inline pr-20">
                        <label>Trash Disposal?</label>
                        <label for="Y" style="padding-right: 9px;">
                            <input type="radio" name="Trash"> Y
                        </label>

                        <label for="N">
                            <input type="radio" name="Trash"> N
                        </label>
                    </div>
                    <div class="display-inline pr-45">
                        <label>Recycling?</label>
                        <label for="Y" style="padding-right: 9px;">
                            <input type="radio" name="Recycling"> Y
                        </label>

                        <label for="N">
                            <input type="radio" name="Recycling"> N
                        </label>
                    </div>
                    <div class="display-inline pr-20">
                        <label>Account supplies?</label>
                        <label for="Y" style="padding-right: 9px;">
                            <input type="radio" name="Account"> Y
                        </label>

                        <label for="N">
                            <input type="radio" name="Account"> N
                        </label>
                    </div>
                </div>
            </div>

            <div class="location-checklist">
                <div class="wrapper-class-location">
                    <h5 class="text-uppercase location-heading">Security Checklist</h5>
                </div>
                <div class="location-questions">

                    <div class="display-inline" style="width:6%">
                        <label>Key?:</label>
                    </div>
                    <div class="display-inline" style="width:23%">
                        <label>Entry:</label>
                        <label for="Y" style="padding-right: 9px;">
                            <input type="radio" name="Entry"> Y
                        </label>

                        <label for="N">
                            <input type="radio" name="Entry"> N
                        </label>
                    </div>
                    <div class="display-inline" style="    width: 25%;">
                        <label>Alarm System:</label>
                        <label for="Y" style="padding-right: 9px;">
                            <input type="radio" name="Alarm"> Y
                        </label>

                        <label for="N">
                            <input type="radio" name="Alarm"> N
                        </label>
                    </div>
                    <div class="display-inline" style="width:40%">
                        <label>Restroom paper dispensers:</label>
                        <label for="Y" style="padding-right: 9px;">
                            <input type="radio" name="Restroom"> Y
                        </label>

                        <label for="N">
                            <input type="radio" name="Restroom"> N
                        </label>
                    </div>
                    <div class="display-inline">
                        <label>Alarm System?</label>
                        <label for="Y" style="padding-right: 9px;">
                            <input type="radio" name="System"> Y
                        </label>

                        <label for="N">
                            <input type="radio" name="System"> N
                        </label>
                    </div>
                    <div class="group-form div-75">
                        <label style="width:24%;padding:0;">Security Procedures?</label>
                        <input type="text" style="width:68.5%" />
                    </div>
                    <div class="group-form div-100">
                        <label style="width:41%;padding:0;">Emergency names and telephone numbers:</label>
                        1:<input type="text" style="width:51.5%" />
                    </div>
                    <div class="group-form div-100">
                        <label style="width:41%;padding:0;"></label>
                        2:<input type="text" style="width:51.5%" />
                    </div>
                    <div class="group-form div-100">
                        <label style="width:56%;padding:0;">Problem, conncerns, areas needing improvement and general comments?</label>
                        <input type="text" style="width:37.5%" />
                    </div>
                    <div class="group-form div-100">
                        @*<label style="width:80%;padding:0;">Problem, conncerns, areas needing improvement and general comments?</label>*@
                        <input type="text" style="width:94%" />
                    </div>
                </div>
            </div>

            <div class="location-checklist">
                <div class="wrapper-class-location" style="width:50%;display:inline-block">
                    <h5 class="text-uppercase location-heading">Paperwork Checklist</h5>
                </div>
                <div class="wrapper-class-location" style="display:inline-block">
                    <h5 class="text-uppercase location-heading">signatures</h5>
                </div><br />
                      <div class="display-inline" style="width:45%">
                          <label class="rdcls">1. Signed Maintenance Agreement?</label>
                          <label for="Y" style="padding-right: 10px;">
                              <input type="radio" name="Signed"> Y
                          </label>

                          <label for="N">
                              <input type="radio" name="Signed"> N
                          </label>
                      </div>
                <div class="display-inline">
                    <label>A.E.</label>
                    <input type="text" />
                </div>

                <div class="display-inline" style="width:45%">
                    <label class="rdcls">2. Signed Price Page?</label>
                    <label for="Y" style="padding-right: 10px;">
                        <input type="radio" name="SignedPrice"> Y
                    </label>

                    <label for="N">
                        <input type="radio" name="SignedPrice"> N
                    </label>
                </div>
                <div class="display-inline">
                    <label>OPS</label>
                    <input type="text" />
                </div>
                <div class="display-inline" style="width:45%">
                    <label class="rdcls">3. Signed Cleaning Schedule?</label>
                    <label for="Y" style="padding-right: 10px;">
                        <input type="radio" name="SignedCleaning"> Y
                    </label>

                    <label for="N">
                        <input type="radio" name="SignedCleaning"> N
                    </label>
                </div>
                <div class="display-inline">
                    <label>R.D.</label>
                    <input type="text" />
                </div>

                <div class="display-inline" style="width:45%">
                    <label class="rdcls">4. Analysis of Account?</label>
                    <label for="Y" style="padding-right: 10px;">
                        <input type="radio" name="Analysis"> Y
                    </label>

                    <label for="N">
                        <input type="radio" name="Analysis"> N
                    </label>
                </div>
                <div class="display-inline">
                    <label>F.O.</label>
                    <input type="text" />
                </div>
                <div class="display-inline" style="width:45%">
                    <label class="rdcls">5. Account Bid Sheet?</label>
                    <label for="Y" style="padding-right: 10px;">
                        <input type="radio" name="AccountBid"> Y
                    </label>

                    <label for="N">
                        <input type="radio" name="AccountBid"> N
                    </label>
                </div>
                <div class="display-inline">
                    @*<label>A.E.</label>
            <input type="text" />*@
                </div>
                <br />
                <div class="display-inline pr-20" style="width:30%">
                    <label class="rdcls">Uploaded Documents?</label>
                   <label for="Y" style="padding-right: 10px;">
                            <input type="radio" name="Uploaded"> Y
                        </label>

                        <label for="N">
                            <input type="radio" name="Uploaded"> N
                        </label>
                </div>

                <div class="display-inline pr-20" style="width:35%">
                    <label class="rdcls">E-mailed to Customer Service?</label>
                    <label for="Y" style="padding-right: 10px;">
                        <input type="radio" name="Emailed"> Y
                    </label>

                    <label for="N">
                        <input type="radio" name="Emailed"> N
                    </label>
                </div>

                <div class="display-inline pr-20">
                    <label class="rdcls">Business Card Attached?</label>
                    <label for="Y" style="padding-right: 10px;">
                        <input type="radio" name="Business"> Y
                    </label>

                    <label for="N">
                        <input type="radio" name="Business"> N
                    </label>
                </div>

                <div class="display-inline pr-20" style="margin-left:20%">
                    <label>Transaction A Completed and Sent to Franchise Accounting?</label>
                    <label for="Y" style="padding-right: 10px;">
                        <input type="radio" name="Transaction"> Y
                    </label>

                    <label for="N">
                        <input type="radio" name="Transaction"> N
                    </label>
                </div>

            </div>

        </form>
    </div>

</div>
@section scripts{
    <script>

        @*function createPDF() {
            window.open('@Url.Action("FranchiseeReportExportToPDF", "AccountsPayable", new { area = "Portal" })?ids=@(Request.QueryString["ids"])', '_blank');
        }
        function backToPortal() {
            window.location.href = '@Url.Action("FranchiseePay", "AccountsPayable", new { area = "Portal" })';
        }*@
    </script>
}
@*<script>
    function ExportPDFFranchiseePayReport() {
        window.open('@Url.Action("FranchiseeReportExportToPDF", "AccountsPayable", new { area = "Portal" })?ids=@(Request.QueryString["ids"])', '_blank');
    }
    function PrintFranchiseePayReport() {
        var sURL = '@Url.Action("PrintFranchiseePayReport", "AccountsPayable", new { area = "Portal" })?ids=' + @(Request.QueryString["ids"]);
        $.ajax({
            type: "GET",
            url: sURL,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                var tUrl = data;
                printJS({ printable: document.location.origin + tUrl, type: 'pdf', showModal: false });

            },
            error: function () {
                alert("Content load failed.");
            }
        });
    }
</script>*@
<style>
    .rdcls{
        padding-right:5px;
    } 
    .registeration-form input {
        border: 0 none;
        border-bottom: 1px solid #444;
        background: aliceblue;
    }
    .div-100 {
        width: 100%;
        display: inline-block;
    }
    .div-75 {
        width: 75%;
        display: inline-block;
    }
    .div-70 {
        width:70%;
        display: inline-block;
    }
    .div-30 {
        width:30%;
        display: inline-block;
    }
    .div-25 {
        width: 25%;
        display: inline-block;
    }
    .div-49 {
        width: 49%;
        display: inline-block;
    }
    .group-form input {
        width: 65%;
        display: inline-block;
    }
    .group-form label {
        width: 25%;
        display: inline-block;
        text-align: right;
    }
    .location-checklist .location-heading {
        font-weight: 600;
        margin-top: 40px;
        text-decoration: underline;
    }
    .location-questions label, .location-questions span {
        padding-right: 3px;
        font-size: 14px;
    }

    .display-inline {
        display:inline-block;
    }
    .pr-20 {
        padding-right: 20px;
    }
    .pr-45 {
        padding-right: 45px;
    }
    .location-questions .display-inline {
        width:24%;
    }
    .location-questions .display-inline:last-child {
        text-align: right;
    }

    input[type=radio] {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: black;
        background-color: #f1f4ff;
    }
</style>