@{
    ViewBag.Title = "NegativeDueReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/admin/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css")" rel="stylesheet" />

    <style type="text/css">
        input[type="text"].txtcolon:before {
            content: ": ";
        }

        .credit-field {
            width: 80px !important;
        }

        .alignRight {
            text-align: right;
        }

        .alignCenter {
            text-align: center;
        }

        .close {
            background-image: url(/Content/admin/assets/global/img/stick_close.png) !important;
            height: 12px !important;
            width: 12px !important;
            margin-top: 0px !important;
        }

        .clsAmounttd {
            text-align: right;
        }

        .clsAmounttdRed {
            text-align: right;
            color: red;
        }

        .clsFooterAmounttd {
            background: #bbf7f7;
            font-size: 12px !important;
        }


        .clsFooterAmounttdRed {
            background: #bbf7f7;
            font-size: 12px !important;
            color: red;
        }

        .opendiv {
            padding: 4px;
            background-color: gold;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .closeddiv {
            padding: 4px;
            background-color: limegreen;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .overpaiddiv {
            padding: 4px;
            background-color: deepskyblue;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .overduediv {
            padding: 4px;
            background-color: orangered;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .btn {
            padding: 3px 12px;
            font-size: 12px;
        }

        .alignRight {
            text-align: right;
        }

        .alignCenter {
            text-align: center;
        }

        .close {
            background-image: url(/Content/admin/assets/global/img/stick_close.png) !important;
            height: 12px !important;
            width: 12px !important;
            margin-top: 0px !important;
        }

        .topheader {
            font-size: 14px;
            font-weight: bold;
            color: #FFF !important;
            text-transform: uppercase;
            margin-top: 3px;
        }

        .no-padding {
            padding: 0 !important;
        }

        .no-margin {
            margin: 0 !important;
        }

        .padding-tb1 {
            padding-top: 1px;
            padding-bottom: 1px;
        }

        .margin-tb1 {
            margin-top: 1px;
            margin-bottom: 1px;
        }

        .custom-listbox .headerbox {
            padding: 3px 0px 3px 5px;
            font-weight: normal;
        }

        .custom-listbox {
            margin-top: 4px;
            margin-bottom: 0px;
        }

        .row {
            margin: 0;
            padding: 3px 0;
        }

        .page-size {
            padding-left: 0;
            padding-right: 0;
            width: 62px;
        }

        .btn.multiselect {
            text-align: left;
            padding-top: 4px;
            padding-bottom: 4px;
            font-size: 11px;
            color: #555;
        }

        .multiselect .caret {
            right: 0;
            position: absolute;
            margin-top: 8px;
            margin-right: 8px;
        }

        .multiselect-container.dropdown-menu {
            text-transform: none;
            font-size: 14px;
        }
    </style>
}

<div class="headerbox">
    <div class="row" style="background-color: #3598DC;color: #fff;">
        <div class="col-md-12 no-padding">
            <div class="alignCenter">
                <div class="col-md-4" style="text-align:right;">
                </div>
                <div class="col-md-4 topheader">
                    NEGATIVE DUE REPORT
                </div>
                <div class="col-md-4" style="padding-right:5px;">
                    <div class="col-md-7 pull-right no-padding">
                        <div style="display:table-cell;padding-right: 5px;">
                            Region
                        </div>
                        <div style="display:table-cell;width:100%;">
                            @if (ViewBag.regionlist != null)
                            {
                                <select class="form-control input-sm" multiple="multiple" id="regionlist" style="display:none;">
                                    @foreach (var item in (SelectList)ViewBag.regionlist)
                                    {
                                        <option @(item.Selected ? "selected" : "") value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-listbox" id="divfranchiseList" style="margin-top:4px;">
    <div class="headerbox">
        <div class="row no-padding">
            <div class="col-md-1 page-size">
                <select class="form-control input-sm" id="pageSize" style="padding-left:6px;">
                    <option value="-1">All</option>
                    <option value="100" selected>100</option>
                    <option value="50">50</option>
                    <option value="25">25</option>
                </select>
            </div>
            <div class="col-md-3">
                <div class="col-md-10 no-padding">
                    <div class="input-icon">
                        <i class="icon-magnifier icon-align-right" style="margin-top: 8px;"></i>
                        <input id="input_Search" type="text" required name="customernumber" autocomplete="off" placeholder="Search..." value="" class="form-control input-sm typeahead" />
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
                    <div class="input-group pull-right">
                        <div class="icheck-inline" style="margin-top: 2px; margin-bottom: 2px">
                            <label class="icheck-inline" style="margin-top: 0px; margin-bottom: 0px; ">
                                <input type="radio" name="isSummaryView" value="1" class="icheck" checked id="chkAll"> All
                            </label>
                            <label class="icheck-inline" style="margin-top: 0px; margin-bottom: 0px; ">
                                <input type="radio" name="isSummaryView" value="2" class="icheck" id="chkBalanceDue"> Balance Due Only
                            </label>
                        </div>
                    </div>
            </div>

            <div class="col-md-5 pull-right no-padding">
                <div class="col-md-10 pull-right no-padding" style="text-align:center;">
                    <div class="col-md-6 no-padding" style="margin-left:30px;">
                        <select id="select_timeduration" class="form-control input-sm">
                            <option value="1">This Week</option>
                            <option value="2">This Week-to-date</option>
                            <option value="3">This Month</option>
                            <option value="4">This Month-to-date</option>
                            <option value="5">This Quarter</option>
                            <option value="6">This Quarter-to-date</option>
                            <option value="7" selected="selected">This Fiscal Year</option>
                            <option value="8">This Fiscal Year-to-date</option>
                            <option value="9">Today</option>
                            <option value="10">Yesterday</option>
                            <option value="11">Last Week</option>
                            <option value="12">Last Month</option>
                            <option value="13">Last Quarter</option>
                            <option value="14">Last Year</option>
                            <option value="15">Custom Date</option>
                            @* <option value="16">Period</option>*@
                        </select>
                    </div>
                    <div class="col-md-5 divspandate no-padding" id="divspandate" style="margin-top: 3px; margin-left: 0px; display: block; float: right;">
                        <span id="spnStartDate"></span> - <span id="spnEndtDate"></span>
                    </div>
                    <div class="col-md-3 no-padding" style="margin-left: 3px; width: 70px; display: none;" id="divSD">
                        <input type="text" name="txtStartDate" id="txtStartDate" value="" class="form-control input-sm date-picker RemovePeriodvalidation" style="padding: 3px;" />
                    </div>
                    <div class="col-md-3 no-padding" style="margin-left: 3px; width: 70px; display: none;" id="divED">
                        <input type="text" name="txtEndtDate" id="txtEndtDate" value="" class="form-control input-sm date-picker RemovePeriodvalidation" style="padding: 3px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tablebox">
    <div class="table-responsive" id="divNegativeDetailReportList">
        <table class="table table-striped table-bordered table-hover" id="tblNegativeDueDetailReport" style="margin-top:0 !important;">
            <thead>
                <tr>
                    <td style="text-align:center;" class="dtable_Period">
                        Period
                    </td>
                    @*<td style="text-align:center;" class="dtable_NDDate">
                        ND Date
                    </td>*@
                    <td style="text-align:center;" class="dtable_NDAmount">
                        ND Amount
                    </td>
                    <td style="text-align:center;" class="dtable_NDApplied">
                        ND Applied
                    </td>
                    <td style="text-align:center;" class="dtable_NDAppliedSource">
                        Applied Source
                    </td>
                    <td style="text-align:center;" class="dtable_AppliedDate">
                        Applied Date
                    </td>
                    <td style="text-align:center;" class="dtable_RollOver">
                        Moved to Next Period
                    </td>
                    <td style="text-align:center;" class="dtable_Balance">
                        Balance
                    </td>
                </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<div class="modal fade in" id="modal_RegionModel" tabindex="-1" role="basic" aria-hidden="true" style="display: none; padding-right: 17px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 8px;">
            <div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
                <h4 class="modal-title text-center" style="margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;text-transform: uppercase;">
                    Select Region
                </h4>
            </div>
            <div class="modal-body form form-horizontal" style="padding-top: 1px;margin-top: -5px;">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-12" style="text-align: center;padding: 5px;background-color: #e8e8e8;margin-bottom:5px;font-weight:bold;">Select Region</label>
                                @if (ViewBag.regionlist != null)
                                {
                                    <select class="form-control input-sm" id="selectregionlist">
                                        <option value="">Select Region</option>
                                        @foreach (var item in (SelectList)ViewBag.regionlist)
                                        {
                                            <option @(item.Selected ? "selected" : "") value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="col-md-12">
                        <button type="button" name="SaveNew" id="btnRegion" class="btn btn-primary button-next pull-right" onclick="" style="margin-right:0px;">Select Region</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{

    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/datatable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/admin/assets/global/scripts/app.min.js")" type="text/javascript" )"></script>*@
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/table-datatables-managed.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js")" type="text/javascript"></script>




    <script src="@Url.Content("~/Content/admin/assets/global/plugins/select2/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js")" type="text/javascript"></script>

}

@section scripts{
    <script>
        var NegativeDueDetailReportList;

        function getTableURL() {

            var _regionId = $("#regionlist").val();
            var _fromDateVal = $('#spnStartDate').text();
            var _toDateVal = $('#spnEndtDate').text();

            var sURL = '@Url.Action("NegativeDueResultData", "Management", new { area = "Portal" })?regionIds=' + _regionId + '&from=' + _fromDateVal + '&to=' + _toDateVal
            return sURL;
        }

        function formatJSONDate(jsonDate) {
            if (jsonDate != null) {
                //debugger;
                //var dateString = jsonDate.substr(6);
                var dtstr = jsonDate.substr(6);
                var dateString = dtstr.substring(0, dtstr.length - 2);
                var currentTime = new Date(parseInt(dateString)).toUTCString();
                var date = moment(currentTime).format("MM/DD/YYYY")
                return date;
            }
            return null;
        }

        function refreshTable() {
            $.blockUI();
            var url = getTableURL();
            var selectedview = $("input[name=isSummaryView]:checked").val();
            if (selectedview == 1) {
                reloadTable();
            }
            else {
                BalanceOnly();
            }
            $.unblockUI();
            //NegativeDueDetailReportList.DataTable().ajax.url(url).load(function () { $.unblockUI(); });
        }

        function formatCurrency(total) {
            var neg = false;
            if (total < 0) {
                neg = true;
                total = Math.abs(total);
            }
            return (neg ? "-$" : '$') + parseFloat(total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();
        }

        $(window).load(function () {
            if ('@ViewBag.selectedRegionId' == 0) {
                $("#modal_RegionModel").modal({ backdrop: 'static' });
            } else {
                refreshTable();
            }
        });

        function reloadTable() {
            $.blockUI();

            $('#tblNegativeDueDetailReport tbody').html('');

            $.ajax({
                type: "GET",
                url: getTableURL(),
                success: function (data) {
                    var frId = 0;
                    var sec_frid = 0;
                    var frNo = 0;
                    var Name = 0;
                    var NDBalanceDue = 0;
                    if (data.aadata.length != 0) {
                        for (var i = 0; i <= data.aadata.length; i++) {
                            var lengthdata = data.aadata.length;
                            if (data.aadata[i] != null) {
                                frId = data.aadata[i].FranchiseeId;
                                
                                trNegativeDueDetail = "";
                                if (frId != sec_frid) {
                                    if (sec_frid != 0 && sec_frid != frId) {
                                        trNegativeDueDetail += '<tr relcusn="' + frNo + ' ' + Name + '">';
                                        trNegativeDueDetail += '<td style="text-align:right;background: #bbf7f7;font-weight: bold;"colspan="6">ND Balance for Franchisee</td>';
                                        trNegativeDueDetail += '<td style="text-align:right;background: #bbf7f7;font-weight: bold;">' + formatCurrency(parseFloat(NDBalanceDue)) + '</td>';
                                        trNegativeDueDetail += '</tr>';
                                        NDBalanceDue = 0;
                                    }
                                    trNegativeDueDetail += '<tr relcusn="' + data.aadata[i].FranchiseeNo + ' ' + data.aadata[i].Name + '">';
                                    trNegativeDueDetail += '<td style="font-size:12px;background:#e6e6e6;" colspan="7"><b>' + data.aadata[i].FranchiseeNo + '</b>-<span style="color: blue;"> <b>' + data.aadata[i].Name + '</b></span></td></tr>';
                                    frNo = data.aadata[i].FranchiseeNo;
                                    Name = data.aadata[i].Name;
                                    sec_frid = data.aadata[i].FranchiseeId;
                                }
                                if (frId == sec_frid) {
                                    trNegativeDueDetail += '<tr relcusn="' + data.aadata[i].FranchiseeNo + ' ' + data.aadata[i].Name + '">';
                                    trNegativeDueDetail += '<td style="text-align:center;">' + data.aadata[i].BillMonth + '-' + data.aadata[i].BillYear + '</td>';
                                    //trNegativeDueDetail += '<td style="text-align:center;">' + formatJSONDate(data.aadata[i].TransactionDate) + '</td>';
                                    trNegativeDueDetail += '<td style="text-align:right;">' + formatCurrency(data.aadata[i].Amount) + '</td>';
                                    trNegativeDueDetail += '<td style="text-align:right;">' + formatCurrency(data.aadata[i].AppliedAmount) + '</td>';
                                    trNegativeDueDetail += '<td style="text-align:right;"></td>';
                                    trNegativeDueDetail += '<td style="text-align:right;"></td>';
                                    if (data.aadata[i].Rollover == 1)
                                        trNegativeDueDetail += '<td style="text-align:center;">Yes</td>';
                                    else {
                                        trNegativeDueDetail += '<td style="text-align:center;"></td>';
                                    }
                                    trNegativeDueDetail += '<td style="text-align:right;">' + formatCurrency(data.aadata[i].Balance) + '</td>';
                                    trNegativeDueDetail += '</tr>';
                                    NDBalanceDue = data.aadata[i].Balance;

                                }
                                trNegativeDueDetail += '</tr>';

                                if (i == lengthdata - 1) {
                                    trNegativeDueDetail += '<tr relcusn="' + data.aadata[i].FranchiseeNo + ' ' + data.aadata[i].Name + '">';
                                    trNegativeDueDetail += '<td style="text-align:right;background: #bbf7f7;font-weight: bold;"colspan="6">ND Balance for Franchisee</td>';
                                    trNegativeDueDetail += '<td style="text-align:right;background: #bbf7f7;font-weight: bold;">' + formatCurrency(parseFloat(NDBalanceDue)) + '</td></tr>';
                                }


                                $('#tblNegativeDueDetailReport tbody').append(trNegativeDueDetail);
                            }

                        }
                    }
                    else {
                        trNegativeDueDetail = "";

                                    trNegativeDueDetail += '<tr>';
                                    trNegativeDueDetail += '<td style="text-align:center;" colspan="7">No Record Found</td>';
                                    trNegativeDueDetail += '</tr>';
                                    $('#tblNegativeDueDetailReport tbody').append(trNegativeDueDetail);
                    }
                    $.unblockUI();
                },
                error: function () {
                    $.unblockUI();
                    alert("Content load failed");
                }
            });

        }

        function BalanceOnly() {
            $.blockUI();

            $('#tblNegativeDueDetailReport tbody').html('');

            $.ajax({
                type: "GET",
                url: getTableURL(),
                success: function (data) {
                    var frId = 0;
                    var sec_frid = 0;
                    var frNo = 0;
                    var Name = 0;
                    var NDBalanceDue = 0;
                    var recBalance = 0;
                    trNegativeDueDetail = "";
                    if (data.aadata.length != 0) {
                        for (var i = 0; i <= data.aadata.length; i++) {
                            var lengthdata = data.aadata.length;
                            if (data.aadata[i] != null) {
                                frId = data.aadata[i].FranchiseeId;
                                
                               
                                if (frId != sec_frid) {
                                    if (sec_frid != 0 && sec_frid != frId) {
                                        if (recBalance > 0)
                                        {
                                            
                                            trNegativeDueDetail += '<tr relcusn="' + frNo + ' ' + Name + '">';
                                            trNegativeDueDetail += '<td style="text-align:right;background: #bbf7f7;font-weight: bold;"colspan="6">ND Balance for Franchisee</td>';
                                            trNegativeDueDetail += '<td style="text-align:right;background: #bbf7f7;font-weight: bold;">' + formatCurrency(parseFloat(NDBalanceDue)) + '</td>';
                                            trNegativeDueDetail += '</tr>';
                                            $('#tblNegativeDueDetailReport tbody').append(trNegativeDueDetail);
                                            trNegativeDueDetail = "";
                                            NDBalanceDue = 0;
                                            recBalance = 0;
                                        }
                                        else {
                                            trNegativeDueDetail = "";
                                            NDBalanceDue = 0;
                                            recBalance = 0;
                                        }
                                    }
                                    trNegativeDueDetail += '<tr relcusn="' + data.aadata[i].FranchiseeNo + ' ' + data.aadata[i].Name + '">';
                                    trNegativeDueDetail += '<td style="font-size:12px;background:#e6e6e6;" colspan="7"><b>' + data.aadata[i].FranchiseeNo + '</b>-<span style="color: blue;"> <b>' + data.aadata[i].Name + '</b></span></td></tr>';
                                    frNo = data.aadata[i].FranchiseeNo;
                                    Name = data.aadata[i].Name;
                                    sec_frid = data.aadata[i].FranchiseeId;
                                }
                                if (frId == sec_frid) {
                                    trNegativeDueDetail += '<tr relcusn="' + data.aadata[i].FranchiseeNo + ' ' + data.aadata[i].Name + '">';
                                    trNegativeDueDetail += '<td style="text-align:center;">' + data.aadata[i].BillMonth + '-' + data.aadata[i].BillYear + '</td>';
                                    //trNegativeDueDetail += '<td style="text-align:center;">' + formatJSONDate(data.aadata[i].TransactionDate) + '</td>';
                                    trNegativeDueDetail += '<td style="text-align:right;">' + formatCurrency(data.aadata[i].Amount) + '</td>';
                                    trNegativeDueDetail += '<td style="text-align:right;">' + formatCurrency(data.aadata[i].AppliedAmount) + '</td>';
                                    trNegativeDueDetail += '<td style="text-align:right;"></td>';
                                    trNegativeDueDetail += '<td style="text-align:right;"></td>';
                                    if (data.aadata[i].Rollover == 1)
                                        trNegativeDueDetail += '<td style="text-align:center;">Yes</td>';
                                    else {
                                        trNegativeDueDetail += '<td style="text-align:center;"></td>';
                                    }
                                    trNegativeDueDetail += '<td style="text-align:right;">' + formatCurrency(data.aadata[i].Balance) + '</td>';
                                    trNegativeDueDetail += '</tr>';
                                    NDBalanceDue = data.aadata[i].Balance;
                                    recBalance = data.aadata[i].Balance;
                                }
                                trNegativeDueDetail += '</tr>';

                                if (i == lengthdata - 1) {
                                    if (recBalance > 0) {
                                        trNegativeDueDetail += '<tr relcusn="' + data.aadata[i].FranchiseeNo + ' ' + data.aadata[i].Name + '">';
                                        trNegativeDueDetail += '<td style="text-align:right;background: #bbf7f7;font-weight: bold;"colspan="6">ND Balance for Franchisee</td>';
                                        trNegativeDueDetail += '<td style="text-align:right;background: #bbf7f7;font-weight: bold;">' + formatCurrency(parseFloat(NDBalanceDue)) + '</td></tr>';
                                        $('#tblNegativeDueDetailReport tbody').append(trNegativeDueDetail);
                                    }
                                }
                                
                                //$('#tblNegativeDueDetailReport tbody').append(trNegativeDueDetail);
                            }

                        }
                    }
                    else {
                        trNegativeDueDetail = "";

                        trNegativeDueDetail += '<tr>';
                        trNegativeDueDetail += '<td style="text-align:center;" colspan="8">No Record Found</td>';
                        trNegativeDueDetail += '</tr>';
                        $('#tblNegativeDueDetailReport tbody').append(trNegativeDueDetail);
                    }
                    $.unblockUI();
                },
                error: function () {
                    $.unblockUI();
                    alert("Content load failed");
                }
            });

        }

        jQuery(document).ready(function () {
            $("#regionlist").multiselect({
                includeSelectAllOption: true,
                selectAllText: 'Select all',
                buttonWidth: '100%',
                nonSelectedText: 'Select region..',
                dropRight: true,
                numberDisplayed: 2
            });

            $("input[name=isSummaryView]").change(function () {
                refreshTable();
            });

            $("#regionlist").change(function () {
                if ($("#regionlist").val() != null)
                    refreshTable();
            });

            $("#btnRegion").click(function () {
                if ($("#selectregionlist").val() != "") {
                    $("#regionlist option[value='" + $("#selectregionlist").val() + "']").attr("selected", 1);
                    $("#regionlist").multiselect("refresh");
                    refreshTable();
                    $(".close").click();
                }
            });

            $("#pageSize").change(function () {
                setPaging();
            });

            $('#divspandate').show();
            $('#divSD').hide();
            $('#divED').hide();

            firstDay = moment().subtract(0, 'month').startOf('year').toString();
            lastDay = moment().subtract(0, 'month').endOf('year').toString();

            $('#spnStartDate').html(moment(firstDay).format('L'));
            $('#spnEndtDate').html(moment(lastDay).format('L'));

            var ps = $('#pageSize').val();



            $("#input_Search").keyup(function () {
                $("#tblNegativeDueDetailReport tbody>tr").hide()
                $("#tblNegativeDueDetailReport tbody>tr[relcusn*='" + $(this).val().toUpperCase() + "']").show()
                if ($(this).val() == "")
                {
                    $("#tblNegativeDueDetailReport tbody>tr").show()
                }
            });

            NegativeDueDetailReportList = $('#tblNegativeDueDetailReport').DataTable({
                //"bProcessing": true,
                "bInfo": false,
                "bServerSide": false,
                "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "pageLength": 25, // default records per page
                "dom": "<'table-responsive't><'bottom'ip><'clear'>"
            });
        })


        var date = new Date(), y = date.getFullYear(), m = date.getMonth();
        var firstDay;
        var lastDay;
        Date.prototype.getWeek = function (start) {
            //Calcing the starting point
            start = start || 0;
            var today = new Date(this.setHours(0, 0, 0, 0));
            var day = today.getDay() - start;
            var date = today.getDate() - day;

            // Grabbing Start/End Dates
            var StartDate = new Date(today.setDate(date));
            var EndDate = new Date(today.setDate(date + 6));
            return [StartDate, EndDate];
        }

        $('#txtStartDate').change(function () {
            $('#spnStartDate').html($(this).val());
            if ($('#txtStartDate').val() != '' && $('#txtEndtDate').val() != '')
                refreshTable();
        });

        $('#txtEndtDate').change(function () {
            $('#spnEndtDate').html($(this).val());
            if ($('#txtStartDate').val() != '' && $('#txtEndtDate').val() != '')
                refreshTable();
        });

        $('#select_timeduration').change(function () {

            //alert($(this).val());
            $('#spnStartDate').html('');
            $('#spnEndtDate').html('');
            $('#divspandate').show();
            $('#divSD').hide();
            $('#divED').hide();
            switch (parseInt($(this).val())) {
                case 1:
                    firstDay = moment().startOf('isoWeek').toString();
                    lastDay = moment().endOf('isoWeek').toString();
                    break;
                case 2:
                    //code block
                    firstDay = moment().startOf('isoWeek').toString();
                    lastDay = new Date().toString();
                    break;
                case 3:
                    firstDay = moment().subtract(0, 'month').startOf('month').toString();
                    lastDay = moment().subtract(0, 'month').endOf('month').toString();
                    break;
                case 4:
                    //code block
                    firstDay = moment().subtract(0, 'month').startOf('month').toString();
                    lastDay = new Date().toString();
                    break;
                case 5:
                    //code block
                    firstDay = moment().startOf('quarter').toString();
                    lastDay = moment().endOf('quarter').toString();
                    break;
                case 6:
                    //code block
                    firstDay = moment().startOf('quarter').toString();
                    lastDay = new Date().toString();
                    break;
                case 7:
                    //code block
                    firstDay = moment().startOf('year').toString();;
                    lastDay = moment().endOf('year').toString();
                    break;
                case 8:
                    //code block
                    firstDay = moment().startOf('year').toString();
                    lastDay = new Date().toString();
                    break;
                case 9:
                    //code block
                    firstDay = moment().toString();
                    lastDay = moment().toString();
                    break;
                case 10:
                    //code block
                    firstDay = moment().add(-1, 'days').toString();
                    lastDay = moment().add(-1, 'days').toString();
                    break;
                case 11:
                    //code block
                    firstDay = moment().subtract(1, 'week').startOf('week').toString();
                    lastDay = moment().subtract(1, 'week').endOf('week').toString();
                    break;
                case 12:
                    //code block
                    firstDay = moment().subtract(1, 'month').startOf('month').toString();
                    lastDay = moment().subtract(1, 'month').endOf('month').toString();
                    break;
                case 13:
                    //code block
                    firstDay = moment().subtract(1, 'quarter').startOf('quarter').toString();
                    lastDay = moment().subtract(1, 'quarter').endOf('quarter').toString();
                    break;
                case 14:
                    //code block
                    firstDay = moment().subtract(1, 'year').startOf('year').toString();
                    lastDay = moment().subtract(1, 'year').endOf('year').toString();
                    break;
                case 15:
                    //code block
                    $('#divspandate').hide();
                    $('#divSD').show();
                    $('#divED').show();
                    $('#txtStartDate').val('');
                    $('#txtEndtDate').val('')
                    break;
                default:
                //code block
            }
            $('#spnStartDate').html(moment(firstDay).format('L'));
            $('#spnEndtDate').html(moment(lastDay).format('L'));



            if (parseInt($(this).val()) != 15)
                refreshTable();
        });


    </script>
}
