@model JKViewModels.Management.StarecapViewModel
@{
    ViewBag.Title = "starecap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .jkcustom-page-title {
            font-size: 18px;
            padding: 3px;
            color: #fff !important;
            background: #3598dc !important;
            text-align: center;
            margin-bottom: 10px;
        }

        .jkcustom-form-table {
            width: 100%;
        }

            .jkcustom-form-table tr {
            }

                .jkcustom-form-table tr > td {
                    padding-bottom: 3px;
                    padding-top: 3px;
                }

        .form-group.form-md-line-input {
            position: relative;
            margin: 0 0 15px;
            padding-top: 20px;
        }
    </style>}

@using (Html.BeginForm("starecap", "Management", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    List<SelectListItem> billMonthsList = (List<SelectListItem>)ViewBag.billMonthsList;
    List<SelectListItem> billYearList = (List<SelectListItem>)ViewBag.billYearList;
    <div class="col-md-12">
        <div class="jkcustom-page-title">
            Special Trust Account Recap
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div class="form-horizontal panel panel-default  center-body text-center">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <strong>
                            @Html.LabelFor(model => model.billMonth, new { @class = "control-label" })
                            <span class="required">*</span>
                        </strong>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.billMonth, billMonthsList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.billMonth, "", new { @class = "text-danger" })


                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.billYear, billYearList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.billYear, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="submit" value="Generate" class="btn btn-default btn-info" />

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}