@model JKViewModels.CRM.CRMNewContactViewModel

    <div class="row">
        @using (Html.BeginForm("Create", "CRMContacts", FormMethod.Post, new { @class = "form-horizontal", @name = "newContactAllContactsForm",@id="FromNewAccount" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-md-9">
                <div class="form-group">
                    <label for="contactTypeInput" class="col-md-4 control-label" style="text-align:left;">Contact Type</label>

                    <div class="col-md-8">
                        @Html.DropDownListFor(Model => Model.ContactTypeId, new SelectList(new List<Object>{
                                                                                    new { value = 1 , text = "Customer Contact" },
                                                                                    new { value = 2 , text = "Jani-King"}
                                                                                 }, "value", "text", Model.ContactTypeId), new { @class = "form-control" })

                        @*<p ng-show="newContactAllContactsForm."></p>*@
                    </div>
                </div>

                <div class="form-group">
                    <button for="fullNameInput" class="btn btn-default col-md-4 control-label" style="text-align:left;">Full Name</button>
                    <div class="col-md-8">
                        @Html.TextBoxFor(Model => Model.FullName, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="companyInput" class="col-md-4 control-label" style="text-align:left;">Company</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(Model => Model.Company, new { @class = "form-control" })
                    </div>
                </div>
                @Html.HiddenFor(Model=>Model.ContactID)
                <div class="form-group">
                    <label for="jobTitleInput" class="col-md-4 control-label" style="text-align:left;">Job Title</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(Model => Model.Jobtitle, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="fileAsInput" class="col-md-4 control-label" style="text-align:left;">File as</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(Model => Model.FileAs, new SelectList(new List<Object> { new { value = 1, text = "No Idea" } }
                                            , "value", "text", Model.FileAs), new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <img class="col-md-12" src="~/Images/default-profileImage.png" style="border:solid 0.1rem #ababab;" />
            </div>

            <div class="col-md-12">
                Internet
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label class="btn btn-default col-md-4 control-label" style="text-align:left;">E-mail</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" style="text-align:left;">Display as</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(Model => Model.DisplayAs, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" style="text-align:left;">Web page address</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(Model => Model.WebPageAddress, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" style="text-align:left;">IM address</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(Model => Model.IMAddress, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                Phone Numbers
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label class="btn btn-default col-md-4 control-label" style="text-align:left;text-overflow:ellipsis;">Business Phone</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(Model => Model.BusinessPhone, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="btn btn-default col-md-4 control-label" style="text-align:left;text-overflow:ellipsis;">Home Phone</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(Model => Model.HomePhone, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="btn btn-default col-md-4 control-label" style="text-align:left;text-overflow:ellipsis;">Business Fax Phone</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(Model => Model.BusinessFaxPhone, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="btn btn-default col-md-4 control-label" style="text-align:left;text-overflow:ellipsis;">Mobile Phone</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(Model => Model.MobilePhone, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                Addresses
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="btn btn-default col-md-12 control-label" style="text-align:left;text-overflow:ellipsis;">Business Address</label>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(Model => Model.IsMailingAddress) This is the mailing address
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.TextAreaFor(Model => Model.BusinessAddress, new { @class = "form-control", @rows = "3", @cols = "6" })
                    </div>
                    <div class="col-md-2" style="border:solid 0.1rem #e1e1e1;">
                        <img src="~/Images/globe-marker-icon.png" class="col-md-12" />
                        <span class="col-md-12 text-center">Map It</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="saveCustomerMaintenance()" class="btn btn-primary btnSubmit">Add Contact</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        }
    </div>
