@using JK.Resources
@model JKViewModels.CRM.CRMAccountFranchiseDetailViewModel


<form action="#" id="form_referenceinfo" class="form-horizontal">
    <div class="form-body">
        <div id="franchiselead_Id" style="padding-top:0px; margin-top:-10px;">
            <h5 class="sbold uppercase"><b style="font-size:18px;">Lead #:</b> @Html.Label(Model.CRM_AccountId.ToString(), new { @style = "font-size:16px;" })</h5>
        </div>

        <div style="margin-top:16px;">
            <button id="cancelcontactinfo_button" type="button" class="btn green btn-sm" style="width:70px; margin-top:-8px; display:none;" onclick="CancelBtn();">Cancel</button>
            <button id="editcontactinfo_button" type="button" class="btn green btn-sm pull-right" style="width:70px; margin-top:-8px;" onclick="EditData();">Edit</button>

            <!-- Employer INFO SECTION -->
            <h5 class="form-section sbold uppercase"><b>Company Info:</b></h5>
            <!-- Employeer -->
            <div class="form-group">
                <label for="input_employer" class="control-label col-md-4 reference-label">Franchisee Name<span class="required">*</span>:</label>
                <div class="col-md-8">
                    @Html.TextBox("franchiseename", Model.FranchiseeName, new { @class = "form-control input-sm", @id = "input_franchiseename" })
                </div>
            </div>

            <!-- Employer Full/Part Time -->
            <div class="form-group">
                <label for="select_Jobtype" class="control-label col-md-4 reference-label">Full/Part Time<span class="required">*</span>:</label>
                <div class="col-md-8">
                    @Html.DropDownList("job", (SelectList)ViewBag.JobType, "Select..", new { @class = "form-control input-sm", @id = "select_jobtype" })
                </div>
            </div>

            <!-- CONTACT SECTION -->
            <h5 class="form-section sbold uppercase"><b>Contact Info:</b></h5>
            <!-- Contact First Name -->
            <div class="form-group">
                <label for="input_contactfirstname" class="control-label col-md-4 reference-label">Contact Name<span class="required">*</span>:</label>
                <div class="col-md-8">
                    @Html.TextBox("firstname", Model.ContactName, new { @class = "form-control input-sm", @id = "input_contactname" })
                </div>
            </div>

            <!-- Employer Position -->
            <div class="form-group">
                <label for="input_postion" class="control-label col-md-4 reference-label">Position:</label>
                <div class="col-md-8">
                    @Html.TextBox("locations", Model.Position, new { @class = "form-control input-sm", @id = "input_position" })
                </div>
            </div>

            <!-- Contact Phone Number -->
            <div class="form-group">
                <label for="input_contactphonenumber" class="control-label col-md-4 reference-label">Cell Phone No<span class="required">*</span>:</label>
                <div class="col-md-5">
                    @Html.TextBox("phonenumber", Model.PhoneNumber, new { @class = "form-control input-sm", @id = "input_contactphonenumber" })
                </div>
                <div class="col-md-3">
                    <button id="call_btn" type="button" class="btn blue btn-sm btn-call" style="width:70px;">Call</button>
                </div>
            </div>
            <!-- Contact Email Address -->
            <div class="form-group">
                <label for="input_contactemail" class="control-label col-md-4 reference-label">Email<span class="required">*</span>:</label>
                <div class="col-md-8">
                    @Html.TextBox("contactEmail", Model.EmailAddress, new { @class = "form-control input-sm", @id = "input_contactemail", type = "email" })
                </div>
            </div>

            <!-- Address SECTION -->
            <h5 class="form-section sbold uppercase"><b>Address:</b></h5>
            <!--Address 1-->
            <div class="form-group">
                <label for="input_address1" class="control-label col-md-4 reference-label">Address 1<span class="required">*</span>:</label>
                <div class="col-md-8">
                    @Html.TextBox("locations", Model.Address1, new { @class = "form-control input-sm", @id = "input_address1" })
                </div>
            </div>
            <!--Address 2-->
            <div class="form-group">
                <label for="input_address2" class="control-label col-md-4 reference-label">Address 2:</label>
                <div class="col-md-8">
                    @Html.TextBox("locations", Model.Address2, new { @class = "form-control input-sm", @id = "input_address2" })
                </div>
            </div>
            <!--City-->
            <div class="form-group">
                <label for="input_city" class="control-label col-md-4 reference-label">City<span class="required">*</span>:</label>
                <div class="col-md-8">
                    @Html.TextBox("locations", Model.City, new { @class = "form-control input-sm", @id = "input_city" })
                </div>
            </div>
            <!--County-->
            @*<div class="form-group">
                    <label for="input_county" class="control-label col-md-4 reference-label">County:</label>
                    <div class="col-md-8">
                        @Html.TextBox("locations", Model.County, new { @class = "form-control input-sm", @id = "input_county" })
                    </div>
                </div>*@
            <!--State-->
            <div class="form-group">
                <label for="select_state" class="control-label col-md-4 reference-label">State<span class="required">*</span>:</label>
                <div class="col-md-8">
                    @Html.DropDownList("states", (SelectList)ViewBag.State, "Select", new { @class = "form-control input-sm", @id = "select_state" })
                </div>
            </div>
            <!--Home -->
            @*<div class="form-group" style="display:none;">
                    <label for="input_homenumber" class="control-label col-md-4 reference-label">Home:</label>
                    <div class="col-md-8">
                        @Html.TextBox("locations", Model.HomeNumber, new { @class = "form-control input-sm", @id = "input_homenumber" })
                    </div>
                </div>*@
            <!--Fax Number-->
            @*<div class="form-group" style="display:none;">
                    <label for="input_faxnumber" class="control-label col-md-4 reference-label">@JKCRMResource.fax:</label>
                    <div class="col-md-8">
                        @Html.TextBox("locations", Model.FaxNumber, new { @class = "form-control input-sm", @id = "input_faxnumber" })
                    </div>
                </div>*@
            <!--Zipcode-->
            <div class="form-group">
                <label for="input_zipcode" class="control-label col-md-4 reference-label">Zipcode<span class="required">*</span>:</label>
                <div class="col-md-8">
                    @Html.TextBox("locations", Model.ZipCode, new { @class = "form-control input-sm", @id = "input_zipcode" })
                </div>
            </div>
        </div>
    </div>
</form>
