@model JKViewModels.Administration.General.CPIViewModel
@{
    ViewBag.Title = "CreateCPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateCPI</h2>

@section styles{
    <style type="text/css">
        .jkcustom-page-title {
            font-size: 18px;
            padding: 3px;
            color: #fff !important;
            background: #3598dc !important;
            text-align: center;
            margin-bottom: 10px;
        }

        .jkcustom-form-table {
            width: 100%;
        }

            .jkcustom-form-table tr {
            }

                .jkcustom-form-table tr > td {
                    padding-bottom: 3px;
                    padding-top: 3px;
                }

        .form-group.form-md-line-input {
            position: relative;
            margin: 0 0 15px;
            padding-top: 20px;
        }
    </style>}

@using (Html.BeginForm("CreateCPI", "Administration", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <div class="jkcustom-page-title">
            @ViewBag.Result
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div class="form-horizontal panel panel-default  center-body text-center">
            <div class="panel-body">
                
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <strong>
                                @Html.LabelFor(model => model.billmonth, new { @class = "control -label text-align: left;" })

                            </strong>
                        </div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.billmonth, new { @class = "form-control required", @id = "txtsearchvalue", placeholder = "Search Value" })
                        </div>
                        <div class="col-md-4">
                            <strong>
                                @Html.LabelFor(model => model.billyear, new { @class = "control-label" })
                            </strong>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.billyear, new { @class = "form-control date-picker", @id = "dtptransactionDate" })
                        </div><div class="col-md-1">
                            @Html.Label("*CPI", new { @class = "control -label" })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.percent, new { @class = "form-control date-picker", @id = "dtptransactionDateTo" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                       
                            @Html.Label("Notes", new { @class = "control -label" })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.description, new { @class = "form-control date-picker", @id = "dtptransactionDateTo" })
                        </div>
                    </div>
                </div>
                <div class="row"><input type="submit" value="Save" class="btn btn-default btn-info" /></div>
            </div>


        </div>
   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



