@model JKViewModels.InspectionResultModel
@{
    ViewBag.Title = "Inspection Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inspection Result</h2>

<form id="fgUnPdvEmailForm" name="verifyEmailForm" method="post">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label col-md-2">
                    Account Type
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.AccountType, new { @class = "form-control input-sm requiredValidation", @id = "txtTemplateName" })
                     
                </div>
                <label class="control-label col-md-2">
                    Contact Name
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control input-sm requiredValidation", @id = "txtDescription" })
                  
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label col-md-2">
                    Address
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control input-sm requiredValidation", @id = "txtDescription" })
                </div>
                <label class="control-label col-md-2">
                    Phone
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-sm requiredValidation", @id = "txtDescription" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label col-md-2">
                    Acc Type
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.AcctType, new { @class = "form-control input-sm requiredValidation", @id = "txtDescription" })
                </div>
                <label class="control-label col-md-2">
                    Franchisee Name
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.FranchiseeName, new { @class = "form-control input-sm requiredValidation", @id = "txtDescription" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label col-md-2">
                    Frequency
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Frequency, new { @class = "form-control input-sm requiredValidation", @id = "txtDescription" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label col-md-2">
                    Inspector Name
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.InspectorName, new { @class = "form-control input-sm requiredValidation", @id = "txtDescription" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label col-md-2">
                    Result
                </label>
                <div class="col-md-4">
                    Pass <input type="checkbox" />
                    Need Improvement <input type="checkbox" />
                    Fail <input type="checkbox" />
                    N/A <input type="checkbox" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">

        @for (int i = 0; i < 5; i++)
        {
            <table class="responsive-toggler">
                <tr>
                    <td width="20%">
                        Area Name
                    </td>
                    <td width="20%">
                        Pass Points : 0
                    </td>
                    <td width="20%">
                        Need Improvement Points : 0
                    </td>
                    <td width="20%">
                        Full Points : 0
                    </td>
                    <td width="20%">
                        Area Score : 0%
                    </td>
                </tr>
            </table>
            <table class="responsive-toggler">
                <tr>
                    <td width="10%"></td>
                    <td width="10%"></td>
                    <td width="10%"></td>
                    <td width="10%"></td>
                    <td width="10%"></td>
                    <td width="10%"></td>
                    <td width="10%"></td>
                    <td width="10%"></td>
                </tr>
            </table>
        }

    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label col-md-2">
                    Result
                </label>
                <div class="col-md-4">
                    Pass <input type="checkbox" />
                    Need Improvement <input type="checkbox" />
                    Fail <input type="checkbox" />
                    N/A <input type="checkbox" />
                </div>
            </div>
        </div>
    </div>
</form>

