@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="custom-form portlet light">
    @*<div class="headerbox">
            <div class="row">
                <div class="col-md-12 text-center">
                    User List
                </div>
            </div>
        </div>*@
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-group">
                <div class="row" style="background-color: #4b85cc;color: #fff;padding-top:8px;padding-bottom:8px">
                    <div class="col-md-12">
                        <div class="row" style="margin-top: -7px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <a class="btn btn-default btn-outline btn-circle" data-toggle="modal" href="#AddNewgroupModal"><i class="fa fa-plus"></i>Add New Role</a>
                                        <a class="btn btn-default btn-outline btn-circle" data-toggle="modal" href="javascript:void(0);" style="width:132px;"><i class="fa fa-edit"></i>Rename Role</a>
                                        <a class="btn btn-default btn-outline btn-circle" data-toggle="modal" href="javascript:void(0);" style="width:132px;"><i class="fa fa-trash"></i>Delete Role</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover order-column" id="tblRole">
                                <thead>
                                    <tr>
                                        <th style="width:1%;text-align:center;">

                                        </th>
                                        <th style="width:165px;text-align:center;">
                                            Menu/Application
                                        </th>
                                        <th style="text-align:center;width:1%;">
                                            Admin
                                        </th>
                                        <th style="text-align:center;width:11%;">
                                            Supper User
                                        </th>
                                        <th style="text-align:center;width:9%;">
                                            Corp Mgr
                                        </th>
                                        <th style="text-align:center;">
                                            Corp User
                                        </th>
                                        <th style="text-align:center;width:11%;">
                                            Region User
                                        </th>
                                        <th style="text-align:center;">
                                            Sales Mgr
                                        </th>
                                        <th style="text-align:center;width:1%;">
                                            Sales
                                        </th>
                                        <th style="text-align:center;">
                                            Telemarketing
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="background: #f7e176;">
                                        <td style="width:50px;text-align:center;">
                                            <input type="checkbox" id="chk" />
                                        </td>
                                        <td style="text-align:left;width:50px;">
                                            ACCOUNTING
                                        </td>
                                        <td style="text-align:center;width:50px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Dashboard
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Accounts Receivable
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Franchisee Receivable
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Franchisee Payable
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Customer
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Franchisee
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Management
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Administration
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr style="background: #f7e176;">
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            CUSTOMER RELATIONSHIP MANAGER
                                        </td>
                                        <td style="text-align:center;width:50px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Dashboard
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Customer Sales
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Franchisee Sales
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Schedule / Tasks
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Management
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Administration
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr style="background: #f7e176;">
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            BUSINESS INTELIGENCE
                                        </td>
                                        <td style="text-align:center;width:50px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                        <td style="text-align:center;width:80px;"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Finance Reports
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Management Reports
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;text-align:center;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:left;width:50px;">
                                            Corporation Reports
                                        </td>
                                        <td style="text-align:center;width:50px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                        <td style="text-align:center;width:80px;"><input type="checkbox" id="chk" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section pageplugins{
    @if (Request.IsSecureConnection)
    {
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
    }
    else
    {
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
    }
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/select2/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/datatable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/app.min.js")" type="text/javascript" )"></script>
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/table-datatables-managed.min.js")" type="text/javascript"></script>
}
@section scripts{
    <script>
        jQuery(document).ready(function () {

            var table = $('#tblRole');
            table.DataTable({
                "ordering": false,
                "bPaginate": false,
                "bAutoWidth": false,
                "dom": "<'table-responsive't><'bottom'ip><'clear'>",
                "bInfo": false,
                "bStateSave": false,
                "fnStateSaveParams": function (oSettings, sValue) {
                    $("#tblRole tr.filter .form-control").each(function () {
                        sValue[$(this).attr('name')] = $(this).val();
                    });

                    return sValue;
                },

            });
        });
    </script>
}
