

@{
    ViewBag.Title = "TaxAPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="custom-form portlet light" style="max-width:400px;margin: 0px auto;padding:0;min-height: 100px;">
    <div class="headerbox">
        <div class="row">
            &nbsp;
        </div>
    </div>
    <div class="portlet-body form">
        <form class="form-horizontal" role="form" method="post">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-10">
                                Import/Update Tax
                            </label>
                            
                        </div>
                    </div>
                </div>
             

            </div>
            <div class="form-actions">

                <div class="col-md-12">
                    <button type="button" class="btn btn-primary button-next pull-right" onclick="TaxImport()" style="margin-right:0px;">Import Tax</button>
                </div>

            </div>
        </form>
    </div>
</div>

@section pageplugins{

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/select2/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")" type="text/javascript"></script>
    10.8   <!-- END PAGE LEVEL PLUGINS -->


}
@section scripts{
   
    <script>
        $(document).ready(function () {

        });


      

        function TaxImport() {

           
            var sURL = '@Url.Action("TaxImport","Administration", new { area = "Portal" })'
            $.ajax(
              {
                  type: "GET", //HTTP GET Method
                  url: sURL,
                  success: function (r) {
                    alert("Finished Inporting Tax Data.")    
                  },
                  error: function (err) {
                      alert('failure');
                  },
              });

        }
     




    </script>
}


