@using MvcBreadCrumbs

<div id="divtopnav" class="page-bar" style="margin-top:-22px;background-color: transparent;">
    <div class="portlet-body">
        <div class="tabbable tabbable-tabdrop">
            @if (ViewBag.HMenu == "Franchise")
            {
                <ul class="nav custom-nav-pills">
                    <li class="fr @(ViewBag.CurrentMenu == "FranchiseGeneral" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;Franchises</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "FranchiseTransactions" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-transaction.svg" alt="" />&nbsp;Transactions</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "FranchiseFranchiseeReport" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-report.svg" alt="" />&nbsp;Report</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "FranchiseAccount" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-customer.svg" alt="" />&nbsp;General</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "FranchiseLease" ? "active" : "")">
                        <a href="#tab5" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-finalize.svg" alt="" />&nbsp;Lease</a>
                    </li>
                    <li class="fr @(ViewBag.CurrentMenu == "FranchiseFinder" ? "active" : "")">
                        <a href="#tab6" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-finalize.svg" alt="" />&nbsp;Finder Fee</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane@(ViewBag.CurrentMenu == "FranchiseGeneral" ? " active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr">
                                <a href="@Url.Action("Franchiseedetail", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>
                            </li>
                            <li class="fr">
                                <a href="@Url.Action("SearchList", "Franchise", new { area = "Portal"})?searchin=7&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                            <li class="fr">
                                <a href="@Url.Action("MaintenanceStepOne", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-plus.svg" alt="" />
                                    Add New
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "FranchiseTransactions" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr">
                                <a javascript:void(0);>
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-single.svg" alt="" />
                                    Bills
                                </a>
                            </li>
                            <li class="fr">
                                <a javascript:void(0);>
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-recuring.svg" alt="" />
                                    Bills Payments
                                </a>
                            </li>
                            <li class="fr">
                                <a href="@Url.Action("FranchiseeChargeback", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-import.svg" alt="" />
                                    Chargeback
                                </a>
                            </li>
                            <li class="fr">
                                <a javascript:void(0);>
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-panding.svg" alt="" />
                                    Negative Due
                                </a>
                            </li>
                            <li class="fr">
                                <a href="@Url.Action("TransactionSearch", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search Transaction
                                </a>
                            </li>
                            <li class="fr">

                                <a href="@Url.Action("AddNewTransaction", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Add New
                                </a>
                            </li>
                            <li class="fr">
                                <a href="@Url.Action("FranchiseeCredit", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Franchisee Credit
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "FranchiseFranchiseeReport" ? " active" : "")" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr">
                                <a javascript:void(0);>
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-finalize.svg" alt="" />
                                    Franchise Report
                                </a>
                            </li>
                            <li class="fr">
                                <a href="@Url.Action("AccountHistory", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-report.svg" alt="" />
                                    Account History
                                </a>
                            </li>
                            <li class="fr">
                                <a javascript:void(0);>
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-generate.svg" alt="" />
                                    Neg Due History
                                </a>
                            </li>
                            @*<li class="fr">
                                <a href="@Url.Action("FinderFeeReport", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/eye.svg" alt="" />
                                    Finder Fees Report
                                </a>

                            </li>*@
                            <li class="fr">
                                <a javascript:void(0);>
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-generate.svg" alt="" />
                                    QC Report
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "FranchiseAccount" ? " active" : "")" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr">

                                <a href="@Url.Action("", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-report.svg" alt="" />
                                    Account Offering

                                </a>

                            </li>
                            <li class="fr">
                                <a href="@Url.Action("Report1099", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-fees.svg" alt="" />
                                    1099/Reports
                                </a>
                            </li>
                            <li class="fr">

                                <a href="@Url.Action("", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-notes.svg" alt="" />
                                    Collect Call
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "FranchiseLease" ? " active" : "")" id="tab5">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr">
                                <a href="@Url.Action("FranchiseeLease", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-report.svg" alt="" />
                                    New Lease
                                </a>
                            </li>
                            <li class="fr">
                                <a href="@Url.Action("LeaseList", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-report.svg" alt="" />
                                    List
                                </a>
                            </li>
                            <li class="fr">
                                <a href="@Url.Action("", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-notes.svg" alt="" />
                                    Transfer
                                </a>
                            </li>
                            <li class="fr">
                                <a href="@Url.Action("", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-fees.svg" alt="" />
                                    Lease Payment
                                </a>
                            </li>
                            @*<li class="fr" style="width: 175px;">
                                <a href="@Url.Action("LeaseBill", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-fees.svg" alt="" />
                                    Run Monthly LeaseBill
                                </a>
                            </li>*@
                            <li class="fr">
                                <a href="@Url.Action("LeaseReport", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-notes.svg" alt="" />
                                    Reports
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "FranchiseFinder" ? " active" : "")" id="tab6">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr">
                                <a href="@Url.Action("NewFinderFee", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-report.svg" alt="" />
                                    New Finder Fee
                                </a>
                            </li>
                            <li class="fr">
                                <a href="@Url.Action("FinderFeeList", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-report.svg" alt="" />
                                    Finder Fee List
                                </a>
                            </li>
                            <li class="fr">
                                <a href="@Url.Action("FinderFeeReport", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-notes.svg" alt="" />
                                    Run Monthly FinderFee
                                </a>
                            </li>
                            <li class="fr">
                                <a href="@Url.Action("MonthlyFinderFeeReport", "Franchise", new { area = "Portal"})" style="padding-left: 0px;padding-right: 0px;">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-fees.svg" alt="" />
                                    Monthly FinderFee Report
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            }
            else if (ViewBag.HMenu == "AccountReceivable")
            {
                <ul class="nav custom-nav-pills">
                    <li class="ar @(ViewBag.CurrentMenu == "AccountsReceivableInvoices" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/download.svg" alt="" />&nbsp;Invoices</a>
                    </li>
                    <li class="ar @(ViewBag.CurrentMenu == "AccountsReceivablePayment" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/sign-1.svg" alt="" />&nbsp;Payment</a>
                    </li>
                    <li class="ar @(ViewBag.CurrentMenu == "AccountsReceivableCredits" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/incoming.svg" alt="" />&nbsp;Customer Credits</a>
                    </li>
                    <li class="ar @(ViewBag.CurrentMenu == "AccountsReceivableReports" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/windows.svg" alt="" />&nbsp;Reports</a>
                    </li>


                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableInvoices" ? "active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="ar">
                                <a href="@Url.Action("InvoiceList", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file.svg" alt="" />
                                    List
                                </a>
                            </li>
                            @*<li class="ar">
                                <a href="@Url.Action("BillRun", "AccountReceivable", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Bill Run</a>
                            </li>*@
                            <li class="ar">
                                <a href="@Url.Action("ManualInvoice", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file.svg" alt="" />
                                    Manual Invoice
                                </a>
                            </li>
                            <li class="ar">
                                <a href="@Url.Action("GenerateInvoice", "AccountReceivable", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Generate Invoice</a>
                            </li>
                            <li class="ar">
                                <a href="@Url.Action("InvoicesSearch", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-1.svg" alt="" />
                                    Search
                                </a>
                            </li>

                            <li class="ar">
                                <a href="@Url.Action("MonthlyBillRun", "AccountReceivable", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Monthly Bill Run</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "AccountsReceivablePayment" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="ar">
                                <a href="@Url.Action("LockboxImport", "AccountReceivable", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Lockbox Payment</a>
                            </li>
                            <li class="ar">
                                <a href="@Url.Action("ManualPayment", "AccountReceivable", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Manual Payment</a>
                            </li>
                            <li class="ar">
                                <a href="@Url.Action("PaymentList", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />Payment List
                                </a>
                            </li>
                            <li class="ar">
                                <a href="@Url.Action("PostPayment", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />Post Payment
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableCredits" ? "active" : "")" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="ar">
                                <a href="@Url.Action("CreditList", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/view.svg" alt="" />List
                                </a>
                            </li>
                            <li class="ar">
                                <a href="@Url.Action("CustomerCredits", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/id-card-1.svg" alt="" />New Credits
                                </a>
                            </li>
                            <li class="ar">
                                <a href="@Url.Action("PendingCreditList", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/view.svg" alt="" />Pending Approval
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableReports" ? "active" : "")" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="ar">

                                <a href="@Url.Action("ARLog", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-8.svg" alt="" />
                                    AR Log
                                </a>

                            </li>
                            <li class="ar">

                                <a href="@Url.Action("Aging", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-7.svg" alt="" />
                                    Aging
                                </a>

                            </li>

                            <li class="ar">

                                <a javascript:void(0);>
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-9.svg" alt="" />
                                    Payment Rec
                                </a>

                            </li>
                            <li class="ar">

                                <a javascript:void(0);>
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-9.svg" alt="" />
                                    Customer Statements
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            }
            else if (ViewBag.HMenu == "AccountsPayable")
            {
                <ul class="nav custom-nav-pills">
                    <li class="ap @(ViewBag.CurrentMenu == "AccountsPayableGeneral" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;Billing</a>
                    </li>
                    <li class="ap @(ViewBag.CurrentMenu == "AccountsPayableReport" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/windows.svg" alt="" />&nbsp;PayBill</a>
                    </li>
                    <li class="ap @(ViewBag.CurrentMenu == "AccountsPayableRegularCheckBook" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-1.svg" alt="" />&nbsp;Chargeback</a>
                    </li>
                    <li class="ap @(ViewBag.CurrentMenu == "AccountsPayableSTA" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-2.svg" alt="" />&nbsp;Reports</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsPayableGeneral" ? "active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="ap">
                                <a href="@Url.Action("BillingPayList", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                            @*<li class="ap">
                                <a href="/Portal/AccountsPayable">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/calendar.svg" alt="" />
                                    BillRun
                                </a>
                            </li>*@
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsPayableReport" ? "active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="ap">

                                <a href="/Portal/AccountsPayable">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file.svg" alt="" />
                                    Search/List
                                </a>

                            </li>
                            <li class="ap">
                                <a href="@Url.Action("RunPaymentCheck", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file.svg" alt="" />
                                    Run Payment Check
                                </a>
                            </li>
                            <li class="ap">
                                <a href="@Url.Action("FranchiseePay", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-1.svg" alt="" />
                                    Franchisee Due
                                </a>
                            </li>
                            <li class="ap">
                                <a href="@Url.Action("FranchiseePayProcess", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-1.svg" alt="" />
                                    Final Franchisee Report
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsPayablePay" ? "active" : "")" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="ap">
                                <a href="/Portal/AccountsPayable">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/view.svg" alt="" />
                                    Search/List
                                </a>
                            </li>
                            <li class="ap">
                                <a href="@Url.Action("FranchiseeChargeback", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Run Chargeback Process
                                </a>
                            </li>
                            <li class="ap">
                                <a href="@Url.Action("FranchiseeChargebackList", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Chargeback List
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsPayableSTA" ? "active" : "")" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="ap">
                                <a href="@Url.Action("FranchiseePay", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-8.svg" alt="" />
                                    Franchisee Report
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            }
            else if (ViewBag.HMenu == "Customer")
            {
                <ul class="nav custom-nav-pills">


                    <li class="cr @(ViewBag.CurrentMenu == "CustomerGeneral" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;Customers</a>
                    </li>

                    <li class="cr @(ViewBag.CurrentMenu == "CustomerGeneral" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="/Content/admin/assets/layouts/layout2/img/svg/sign-1.svg" alt="" />&nbsp;Transactions</a>
                    </li>

                    <li class="cr @(ViewBag.CurrentMenu == "CustomerGeneral" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="/Content/admin/assets/layouts/layout2/img/svg/windows.svg" alt="" />&nbsp;Reports</a>
                    </li>

                    <li class="cr @(ViewBag.CurrentMenu == "CustomerService" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-import.svg" alt="" />&nbsp;Services</a>
                    </li>
                    @*<li class="cr @(ViewBag.CurrentMenu == "CustomerGeneral" ? "active" : "")">
                            <a href="#tab5" data-toggle="tab"><img src="/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-import.svg" alt="" />&nbsp;Maintenance</a>
                        </li>*@

                    @*<li class="cr @(ViewBag.CurrentMenu == "CustomerCustomerService" ? "active" : "")">
                            <a href="#tab3" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/user.svg" alt="" />&nbsp;Customer Service</a>
                        </li>
                        <li class="cr @(ViewBag.CurrentMenu == "CustomerCollections" ? "active" : "")">
                            <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-14.svg" alt="" />&nbsp;Collections</a>
                        </li>*@
                    <li style="width:5px;"></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane@(ViewBag.CurrentMenu == "CustomerGeneral" ? " active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="cr">
                                <a href="@Url.Action("CustomerDetail", "Customer", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>
                            </li>
                            <li class="cr">
                                <a href="@Url.Action("SearchList", "Customer", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                            <li class="cr">
                                <a href="@Url.Action("MaintenanceStepOne", "Customer", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-plus.svg" alt="" />
                                    Add New
                                </a>
                            </li>
                            <li class="cr">
                                <a href="@Url.Action("CustomerMaintenance", "Customer", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Maintenance
                                </a>
                            </li>
                            @*<li>

                                    <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Grouping</a>

                                </li>
                                <li>

                                    <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Properties</a>

                                </li>*@
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "CustomerTransactions" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="cr">

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Payment</a>

                            </li>
                            <li class="cr">

                                <a href="/Portal/Customer"><i class="icon-credit-card"></i>&nbsp;Credit </a>

                            </li>
                            <li class="cr">

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Invoice</a>

                            </li>
                            <li class="cr">

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Search Transaction</a>

                            </li>
                            @*<li>

                                    <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Unscheduled</a>

                                </li>*@
                            @*<li>
                                    <a href="@Url.Action("BillRun", "Customer", new { area = "Portal"})">&nbsp;Bill Run</a>
                                </li>*@
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="cr">

                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Customer Statements</a>

                            </li>
                            @*<li>

                                    <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Logs</a>

                                </li>*@
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "CustomerService" ? " active" : "")" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            @*<li class="cr">
                                <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;List Call Log</a>
                            </li>*@
                            <li class="cr">
                                <a href="@Url.Action("ServiceCallLog", "Customer", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />
                                    Service Call Log
                                </a>
                            </li>
                            <li class="cr">
                                <a href="@Url.Action("ServiceCallList", "Customer", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />
                                    Service Call List
                                </a>
                            </li>
                            <li class="cr">
                                <a href="@Url.Action("CollectionCallLog", "Customer", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />
                                    Collection Call Log
                                </a>
                            </li>
                            <li class="cr">
                                <a href="@Url.Action("CollectionCallList", "Customer", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />
                                    Collection Call List
                                </a>
                            </li>
                        </ul>
                    </div>
                    @*<div class="tab-pane" id="tab5">
                            <ul class="nav custom-nav-pills custom-nav-pills-inner">
                                <li>

                                    <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Distribution</a>

                                </li>
                                <li>

                                    <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Cancellations</a>

                                </li>
                                <li>

                                    <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Increase/Decrease History</a>

                                </li>
                                <li>

                                    <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;New Accounts</a>

                                </li>
                                <li>

                                    <a href="/Portal/Customer"><img src="~/Content/admin/assets/layouts/layout2/img/svg/archive-2.svg" alt="" />&nbsp;Increase/Decrease History</a>

                                </li>
                            </ul>
                        </div>*@
                </div>

            }
            else if (ViewBag.HMenu == "Company")
            {
                <ul class="nav custom-nav-pills">


                    <li class="co @(ViewBag.CurrentMenu == "CompanyBankAccounts" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;Bank Accounts</a>
                    </li>

                    <li class="co @(ViewBag.CurrentMenu == "CompanyGeneralLedger" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="/Content/admin/assets/layouts/layout2/img/svg/sign-1.svg" alt="" />&nbsp;General Ledger</a>
                    </li>

                    <li class="co @(ViewBag.CurrentMenu == "CompanyGLEntries" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="/Content/admin/assets/layouts/layout2/img/svg/windows.svg" alt="" />&nbsp;GL Entries</a>
                    </li>

                    <li class="co @(ViewBag.CurrentMenu == "CompanyFinancialReport" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-import.svg" alt="" />&nbsp;Financial Report</a>
                    </li>


                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane@(ViewBag.CurrentMenu == "CompanyBankAccounts" ? " active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="co">
                                <a href="@Url.Action("WriteCheck", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Write Check
                                </a>
                            </li>
                            <li class="co">
                                <a href="@Url.Action("", "", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Deposit
                                </a>
                            </li>
                            <li class="co">
                                <a href="@Url.Action("", "", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Void Check
                                </a>
                            </li>
                            <li class="co">
                                <a href="@Url.Action("BankStatement", "Company", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Bank Statement
                                </a>
                            </li>
                            <li class="co">
                                <a href="@Url.Action("AddBankAccount", "Company", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Add New Bank Account
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane@(ViewBag.CurrentMenu == "CompanyGeneralLedger" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="co">
                                <a href="@Url.Action("General", "Company", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Chart of Accounts
                                </a>

                            </li>
                            @*<li>
                                    <a href="@Url.Action("General", "Administration", new { area = "Portal"})">
                                        <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                        List
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("", "", new { area = "Portal"})?searchin=1&status=1">
                                        <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                        Add New GL
                                    </a>
                                </li>*@
                        </ul>
                    </div>

                </div>

            }
            else if (ViewBag.HMenu == "Administration")
            {
                <ul class="nav custom-nav-pills">
                    <li class="ad @(ViewBag.CurrentMenu == "AdministrationGeneral" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;Company Config</a>
                    </li>

                    <li class="ad @(ViewBag.CurrentMenu == "AdministrationSystemSetUp" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Application Setting</a>
                    </li>

                    <li class="ad @(ViewBag.CurrentMenu == "AdministrationUsers" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/users.svg" alt="" />&nbsp;Inspection</a>
                    </li>

                    <li class="ad @(ViewBag.CurrentMenu == "AdministrationUserManagment" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/home-general.svg" alt="" />&nbsp;User Management</a>
                    </li>


                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane@(ViewBag.CurrentMenu == "AdministrationGeneral" ? " active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="ad">
                                <a href="@Url.Action("CompanyConfiguration", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Configuration</a>

                            </li>
                            <li class="ad">
                                <a href="@Url.Action("CheckLayout", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Check Layout</a>

                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane@(ViewBag.CurrentMenu == "AdministrationSystemSetUp" ? " active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="ad">
                                <a href="@Url.Action("FeeList", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/settings-1.svg" alt="" />&nbsp;Franchisee Fee</a>
                            </li>
                            <li class="ad">

                                <a href="@Url.Action("CPIList", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;CPI API</a>

                            </li>
                            <li class="ad">

                                <a href="@Url.Action("TaxAPI", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;Tax API</a>

                            </li>
                            <li class="ad">

                                <a href="@Url.Action("PaymentGateway", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;Payment Gateway</a>

                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane@(ViewBag.CurrentMenu == "AdministrationUsers" ? " active" : "")" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="ad">
                                <a href="@Url.Action("Inspection", "Administration", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Inspection Templates
                                </a>
                            </li>
                            <li class="ad">
                                <a href="@Url.Action("", "", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Inspection Assigned
                                </a>
                            </li>
                            <li class="ad">
                                <a href="@Url.Action("", "", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Inspection Reports
                                </a>
                            </li>
                            <li class="ad">
                                <a href="@Url.Action("AddInspection", "Administration", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Add Inspection Template
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane@(ViewBag.CurrentMenu == "AdministrationUserManagment" ? " active" : "")" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="ad">
                                <a href="@Url.Action("ListUser", "Administration", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    List User
                                </a>
                            </li>
                            <li class="ad">
                                <a href="@Url.Action("AddUser", "Administration", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Add New User
                                </a>
                            </li>
                            <li class="ad">
                                <a href="@Url.Action("Role", "Administration", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Role
                                </a>
                            </li>
                            <li class="ad">
                                <a href="@Url.Action("Group", "Administration", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Group
                                </a>
                            </li>
                            <li class="ad">
                                <a href="@Url.Action("UserPermission", "Administration", new { area = "Portal"})?searchin=1&status=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list-1.svg" alt="" />
                                    Permission
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            }

            else if (ViewBag.HMenu == "Management")
            {
                <ul class="nav custom-nav-pills">
                    <li class="mn @(ViewBag.CurrentMenu == "ManagementRegion" ? "active" : "")">
                        <a href="#tab5" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-5.svg" alt="" />&nbsp;&nbsp;Region</a>
                    </li>
                    <li class="mn @(ViewBag.CurrentMenu == "ManagementCommission" ? "active" : "")">
                        <a href="#tab6" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-5.svg" alt="" />&nbsp;&nbsp;Commission</a>
                    </li>
                    <li class="mn @(ViewBag.CurrentMenu == "ManagementReports" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-5.svg" alt="" />&nbsp;&nbsp;Management Old</a>
                    </li>
                    <li class="mn @(ViewBag.CurrentMenu == "AROldMenus" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-5.svg" alt="" />&nbsp;&nbsp;AR Old Menus</a>
                    </li>
                    <li class="mn @(ViewBag.CurrentMenu == "FranchiseOldMenus" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-5.svg" alt="" />&nbsp;&nbsp;Franchise Old Menus</a>
                    </li>
                    <li class="mn @(ViewBag.CurrentMenu == "APOldMenus" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-5.svg" alt="" />&nbsp;&nbsp;AP Old Menus</a>
                    </li>
                    <li class="mn @(ViewBag.CurrentMenu == "APOldMenus" ? "active" : "")">
                        <a href="#tab7" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-5.svg" alt="" />&nbsp;&nbsp;Old Administration</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="mn-reports">
                                <a href="@Url.Action("CorporateDues", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Corporate Dues </a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("Deductions", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Deductions</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("DRO", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;DRO</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("leaseList", "Management",  new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Leases</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("leasepayment", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Lease Payments</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("revenue", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Monthly Revenue</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("starecap", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;STA Recap</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("taxliability", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Tax Liability</a>
                            </li>
                            <li class="mn-reports">
                                <a href="@Url.Action("BankRegister", "Management", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notepad-1.svg" alt="" />&nbsp;Bank Register</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("InvoicesDaily", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file.svg" alt="" />
                                    Daily
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("InvoicesBulkPayment", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-1.svg" alt="" />
                                    Enter Bulk Payment
                                </a>

                            </li>

                            <li>

                                <a href="@Url.Action("Index", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file.svg" alt="" />
                                    Generate
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("InvoicesLockboxImport", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-1.svg" alt="" />
                                    Lockbox Import
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("Lockboximportresult", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file-2.svg" alt="" />
                                    Lockbox Exception
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("Overpaymentlist", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/fax.svg" alt="" />
                                    Over Paid
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("Index", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file.svg" alt="" />
                                    Past Due
                                </a>

                            </li>
                            @*<li>
                                <a href="@Url.Action("ProcessBillRun", "AccountReceivable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/file.svg" alt="" />
                                    Bill Run
                                </a>

                            </li>*@
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li class="fr-transactions">

                                <a href="@Url.Action("Transaction", "Franchise", new { area = "Portal" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-single.svg" alt="" />
                                    Single
                                </a>

                            </li>
                            <li class="fr-transactions">

                                <a href="@Url.Action("Transaction", "Franchise", new { area = "Portal" })?recurring=1">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-recuring.svg" alt="" />
                                    Recurring
                                </a>

                            </li>
                            <li class="fr-transactions">

                                <a href="@Url.Action("TransactionImport", "Franchise", new { area = "Portal" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-import.svg" alt="" />
                                    Import
                                </a>
                            </li>
                            <li class="fr-transactions">

                                <a href="@Url.Action("TransactionPendingList", "Franchise", new { area = "Portal" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-panding.svg" alt="" />
                                    Pending
                                </a>
                            </li>
                            <li class="fr-report">

                                <a href="@Url.Action("FranchiseeReportsFinalize", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-finalize.svg" alt="" />
                                    Finalize
                                </a>

                            </li>
                            <li class="fr-report">

                                <a href="@Url.Action("FranchiseeReportsGenerate", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-generate.svg" alt="" />
                                    Generate
                                </a>

                            </li>
                            <li class="fr-report">

                                <a href="@Url.Action("FranchiseeReportsView", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/eye.svg" alt="" />
                                    View
                                </a>

                            </li>

                            <li class="fr-chargebacks">

                                <a href="@Url.Action("ChargebackLetterGenerate", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-latter.svg" alt="" />
                                    Letters
                                </a>

                            </li>
                            <li class="fr-chargebacks">

                                <a href="@Url.Action("ChargebackPossible", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-possible.svg" alt="" />
                                    Possible
                                </a>

                            </li>
                            <li class="fr-chargebacks">

                                <a href="@Url.Action("ChargebackTurnaround", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-turnaround.svg" alt="" />
                                    Turnaround
                                </a>

                            </li>
                            <li class="fr-chargebacks">
                                <a href="@Url.Action("ChargebackSearch", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/eye.svg" alt="" />
                                    View
                                </a>

                            </li>

                            <li class="fr-nagativedue">

                                <a href="@Url.Action("NegativeDuePossible", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-possible.svg" alt="" />
                                    Possible
                                </a>
                            </li>
                            <li class="fr-nagativedue">

                                <a href="@Url.Action("NegativeDueSearch", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/eye.svg" alt="" />
                                    View
                                </a>

                            </li>
                            <li class="fr-customerlead">

                                <a href="@Url.Action("CustomerLeadsReport", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-report.svg" alt="" />
                                    Reports

                                </a>

                            </li>
                            <li class="fr-customerlead">

                                <a href="@Url.Action("FindersFeeBalances", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-fees.svg" alt="" />
                                    Finders Fees

                                </a>

                            </li>
                            <li class="fr-customerlead">

                                <a href="@Url.Action("NoteList", "Franchise", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-notes.svg" alt="" />
                                    Notes
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("CheckGenerate", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    Generate Checks
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("checkmanual", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list.svg" alt="" />
                                    Manual Check
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("registermaintenance", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/bookmark.svg" alt="" />
                                    Miscellenous Entry
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("otherDeposits", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/bookmark-1.svg" alt="" />
                                    Other Deposits
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("manualdeposit", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/bookmark.svg" alt="" />
                                    Remit - Payments
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("otherDeposits", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/bookmark-1.svg" alt="" />
                                    Other Deposits
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("searchRegister", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-search.svg" alt="" />
                                    Search
                                </a>
                            </li>

                            <li>

                                <a href="@Url.Action("searchRegisterList", "AccountsPayable", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/view.svg" alt="" />
                                    View
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("", "", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("", "", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list.svg" alt="" />
                                    Add New
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("", "", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/bookmark.svg" alt="" />
                                    Config
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-pane" id="tab6">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>

                                <a href="@Url.Action("", "", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("", "", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/list.svg" alt="" />
                                    Add New
                                </a>

                            </li>
                            <li>

                                <a href="@Url.Action("", "", new { area = "Portal"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/bookmark.svg" alt="" />
                                    Config
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-pane" id="tab7">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">

                            <li>

                                <a href="@Url.Action("SystemConfiguration", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/document.svg" alt="" />&nbsp;System Configuration</a>

                            </li>



                            <li>

                                <a href="@Url.Action("RegionList", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/view-1.svg" alt="" />&nbsp;List</a>

                            </li>

                            <li>

                                <a href="@Url.Action("RegionSearch", "Administration", new { area = "Portal"})"><img src="~/Content/admin/assets/layouts/layout2/img/svg/search-1.svg" alt="" />&nbsp;Search</a>

                            </li>


                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



<div class="custom-page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("Index", "DashBoard", new { area = "Portal" })">Home</a>
            /
        </li>
    </ul>

    @Html.Raw(BreadCrumb.Display())

</div>