@using MvcBreadCrumbs


<div id="divtopnav" class="page-bar" style="margin-top:-22px;background-color: transparent;">
    <div class="portlet-body">
        <div class="tabbable tabbable-tabdrop">

            @if (ViewBag.HMenu == "CustomerSales")
            {
                <ul class="nav custom-nav-pills">                   
                    <li class="crm @(ViewBag.CurrentMenu == "Lead" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-19.svg" alt="" />&nbsp;Leads</a>
                    </li>
                    @*<li class="crm @(ViewBag.CurrentMenu == "Potential" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/layers.svg" alt="" />&nbsp;Potentials</a>
                    </li>*@
                    <li class="crm @(ViewBag.CurrentMenu == "Customer" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/user-5.svg" alt="" />&nbsp;Customers</a>
                    </li>
                    <li class="crm @(ViewBag.CurrentMenu == "Report" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-1.svg" alt="" />&nbsp;Reports</a>
                    </li>
                    <li style="width:5px;"></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "CustomerGeneral" ? "active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            @*<li>

                                <a href="@Url.Action("Index", "CRMDashboard", new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "CRMDashboard", new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/layers.svg" alt="" />
                                    Create
                                </a>
                            </li>*@
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "Lead" ? "active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("Index","CRMLeadCustomer" , new { area = "CRM"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-latter.svg" alt="" />
                                    New Lead List
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("QualifiedLeads", "CRMLeadCustomer", new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-latter.svg" alt="" />
                                    Qualified Lead List
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("UnQualifiedLeads", "CRMLeadCustomer", new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-latter.svg" alt="" />
                                    UnQualified Lead List
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Potential", "CustomerSales", new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-latter.svg" alt="" />
                                    Potential List
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "Potential" ? "active" : "")" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("Potential","CustomerSales",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-latter.svg" alt="" />
                                    Potential List
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("Index","CRMCustomer",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CRMCustomer",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/edit-1.svg" alt="" />
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CRMCustomer",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/error.svg" alt="" />
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("Index","CRMReport",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CRMReport",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/edit-1.svg" alt="" />
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CRMReport",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/error.svg" alt="" />
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            }
            @if (ViewBag.HMenu == "FranchiseSales")
            {
                <ul class="nav custom-nav-pills">                   
                    <li class="crm @(ViewBag.CurrentMenu == "Lead" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-19.svg" alt="" />&nbsp;Leads</a>
                    </li>                    
                    <li class="crm @(ViewBag.CurrentMenu == "Customer" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/user-5.svg" alt="" />&nbsp;Customers</a>
                    </li>
                    <li class="crm @(ViewBag.CurrentMenu == "Report" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/notebook-1.svg" alt="" />&nbsp;Reports</a>
                    </li>
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "FranchiseGeneral" ? "active" : "")" id="tab1">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("Index", "CRMDashboard", new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "CRMDashboard", new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/layers.svg" alt="" />
                                    Create
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "Lead" ? "active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("Index","CRMLeadFranchise" , new { area = "CRM"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-latter.svg" alt="" />
                                    New Lead List
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("QualifiedLeads", "CRMLeadFranchise", new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-latter.svg" alt="" />
                                    Qualified Lead List
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("UnQualifiedLeads", "CRMLeadFranchise", new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-latter.svg" alt="" />
                                    UnQualified Lead List
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CRMPotentialFranchise",new { area = "CRM"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-latter.svg" alt="" />
                                    Potential List
                                </a>
                            </li>
                        </ul>
                    </div>
                    @*<div class="tab-pane @(ViewBag.CurrentMenu == "Potential" ? "active" : "")" id="tab3">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("Index","CRMPotentialCustomer",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    List
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CRMPotentialCustomer",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/edit-1.svg" alt="" />
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CRMPotentialCustomer",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/error.svg" alt="" />
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>*@
                    <div class="tab-pane" id="tab4">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("Index","CRMCustomer",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CRMCustomer",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/edit-1.svg" alt="" />
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CRMCustomer",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/error.svg" alt="" />
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("Index","CRMReport",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/add-1.svg" alt="" />
                                    Add
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CRMReport",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/edit-1.svg" alt="" />
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CRMReport",new { area = "CRM" })">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/svg/error.svg" alt="" />
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            }

            @if (ViewBag.HMenu == "Administration")
            {
                <ul class="nav custom-nav-pills">
                    <li class="crm @(ViewBag.CurrentMenu == "Record" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><img src="~/Content/admin/assets/layouts/layout2/img/svg/folder-19.svg" alt="" />&nbsp;&nbsp;Records</a>
                    </li>                   
                    <li style="width:5px;"></li>
                </ul>
                <div class="tab-content">                   
                    <div class="tab-pane @(ViewBag.CurrentMenu == "Record" ? "active" : "")" id="tab2">
                        <ul class="nav custom-nav-pills custom-nav-pills-inner">
                            <li>
                                <a href="@Url.Action("Index","CRMAdministration" , new { area = "CRM"})">
                                    <img src="~/Content/admin/assets/layouts/layout2/img/hnav/fr/fr-cm-latter.svg" alt="" />
                                    List
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="custom-page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("Index", "Management", new { area = "Portal" })">Home</a>            
        </li>
    </ul>

    @Html.Raw(BreadCrumb.Display())

</div>