@using JK.Resources

<!--Stage Status Navigation-->
<div class="row">
    <div class="max-opp-stage-progress max-opp-stage-progress-line" style="margin-bottom:8px;">
        <div class="max-opp-stage-each">
            <div class="col-md-12">
                <div class="max-opp-stage-progress-list col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;" id="leadactivity_InitialCommunication">
                    <div class="max-opp-stage-progress-link" style="text-align: center;">
                        <div class="max-opp-stage-progress-untouched">
                            <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Initial Communication</span>
                        </div>
                    </div>
                </div>
                <div class="max-opp-stage-progress-list col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;" id="leadactivity_NeedAssessment">
                    <div class="max-opp-stage-progress-link" style="text-align: center;">
                        <div class="max-opp-stage-progress-untouched">
                            <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Need Assessment</span>
                        </div>
                    </div>
                </div>
                <div class="max-opp-stage-progress-list col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;" id="leadactivity_Prestentation">
                    <div class="max-opp-stage-progress-link" style="text-align: center;">
                        <div class="max-opp-stage-progress-untouched">
                            <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Prestentation</span>
                        </div>
                    </div>
                </div>
                <div class="max-opp-stage-progress-list col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;" id="leadactivity_Negotiation">
                    <div class="max-opp-stage-progress-link" style="text-align: center;">
                        <div class="max-opp-stage-progress-untouched">
                            <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Negotiation</span>
                        </div>
                    </div>
                </div>
                <div class="max-opp-stage-progress-list col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;" id="leadactivity_CommittoBuy">
                    <div class="max-opp-stage-progress-link" style="text-align: center;">
                        <div class="max-opp-stage-progress-untouched">
                            <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Commit to Buy</span>
                        </div>
                    </div>
                </div>
                <div class="max-opp-stage-progress-list col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;" id="leadactivity_Potential">
                    <div class="max-opp-stage-progress-link" style="text-align: center;">
                        <div class="max-opp-stage-progress-untouched">
                            <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Potential</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Customer Account Activity-->
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12 portlet-align">
                <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">
                    <div class="portlet-title compact">
                        <div class="caption uppercase">
                            Activity
                        </div>
                        @*<div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="" class="fullscreen"> </a>
                        </div>*@
                    </div>
                    <div class="portlet-body">
                        <form action="#" id="form_activities" class="form-horizontal">
                            <div class="form-body">
                                <div class="scroller" style="height: 250px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#333">
                                    <div class="general-item-list">
                                        <div class="mt-comments">
                                            <div class="mt-comment" id="content_activity">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-actions">
                            <div class="row">
                                <div class="col-md-4 pull-right">
                                    <a class="btn green btn-block" data-toggle="modal" href="#addActivity_modalview">@JKCRMResource.addnewactivity</a>
                                </div>
                            </div>
                        </div>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12 portlet-align" id="right-content">
                <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">
                    <div class="portlet-title compact">
                        <div class="caption uppercase">
                          Stage Detail  
                        </div>
                        @*<div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="" class="fullscreen"> </a>
                        </div>*@
                    </div>
                    <div class="portlet-body">
                        <form action="#" id="form_summary" class="form-horizontal">
                            <div class="form-body">
                                @Html.Hidden("AccountDetailId", "", new { @id = "accountdetailid" })
                                <!-- Lead Status -->
                                <div class="form-group">
                                    <label for="select_stagestatus" class="control-label col-md-4">Cold Call In Person:</label>
                                    <div class="col-md-6">
                                        @*@Html.DropDownList("stagestatus", (SelectList)ViewBag.LeadStageStatusList, new { @class = "form-control input-sm", @id = "select_stagestatus" })*@
                                        @Html.TextBox("_budgetamount", "", new { @class = "form-control input-sm", @id = "input_budgetamountt" })
                                    </div>
                                </div>
                                <!-- Lead Source -->
                                <div class="form-group">
                                    <label for="select_providertype" class="control-label col-md-4">AE OR TM Phone Call:</label>
                                    <div class="col-md-6">
                                        @*@Html.DropDownList("providertype", (SelectList)ViewBag.ProviderTypeList, new { @class = "form-control input-sm", @id = "select_providertype" })*@
                                        @Html.TextBox("_budgetamount", "", new { @class = "form-control input-sm", @id = "input_budgetamountt" })
                                    </div>
                                </div>
                                <!-- Current Provider -->
                                <div class="form-group">
                                    <label for="select_providersource" class="control-label col-md-4">Identify Decision Maker:</label>
                                    <div class="col-md-6">
                                        @*@Html.DropDownList("providersource", (SelectList)ViewBag.ProviderSourceList, new { @class = "form-control input-sm", @id = "select_providersource" })*@
                                        @Html.TextBox("_budgetamount", "", new { @class = "form-control input-sm", @id = "input_budgetamountt" })
                                    </div>
                                </div>
                                <!-- Budget Amount -->
                                <div class="form-group">
                                    <label for="input_budgetamount" class="control-label col-md-4">Pervious Customer:</label>
                                    <div class="col-md-6">
                                        @*@Html.TextBox("_budgetamount", "$50,000", new { @class = "form-control input-sm", @id = "input_budgetamount" })*@
                                        <select id="select_assignee" class="form-control input-sm">
                                            <option value="1">Positive</option>
                                            <option value="2">Negative</option>
                                        </select>
                                    </div>
                                </div>
                                <h5 class="form-section sbold uppercase"><b>@JKCRMResource.note:</b></h5>
                                <!-- Note -->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextArea("note", "", new { @class = "form-control autosizeme", rows = "10", style = "font-size: 11px", @id = "text_leadgeneralnote" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row" id="summary_action">
                                    <div class="col-md-3 pull-right">
                                        <button id="savesummary_button" type="button" class="btn green btn-block" onclick="saveSummaryData();">@CommonResource.btnSave</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Activity Model View -->
<div class="modal fade" id="addActivity_modalview" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="addActivity_modalview_header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="resetAddActivityForm();"></button>
                <h4 class="modal-title">@JKCRMResource.addnewactivity</h4>
            </div>
            <div class="modal-body" id="addschedule_modalview_body">
                <div class="row">
                    <form action="#" id="addActivity_form">
                        <div class="form-body">
                            <div class="col-md-12">
                                <!--Activity Title-->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_title" class="control-label col-md-3 input-sm text-right">@JKCRMResource.type<span class="required">*</span>:</label>
                                        <div class="col-md-8">
                                            <select id="select_Type" class="form-control select2 input-sm">
                                                <option value="1">@JKCRMResource.call</option>
                                                <option value="2">@JKCRMResource.email</option>
                                                <option value="3">@JKCRMResource.meeting</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" id="divOutcome">
                                <!-- Outcome -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_title" class="control-label col-md-3 input-sm text-right">@JKCRMResource.outcome:</label>
                                        <div class="col-md-8">
                                            <select id="select_OutCome" class="form-control select2 input-sm">
                                                <option value="1">@JKCRMResource.noanswer</option>
                                                <option value="2">@JKCRMResource.busy</option>
                                                <option value="3">@JKCRMResource.wrongnumber</option>
                                                <option value="4">@JKCRMResource.leftvoicemail</option>
                                                <option value="5">@JKCRMResource.connected</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <!-- Start Time -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_startdate" class="control-label col-md-3 input-sm text-right">@JKCRMResource.dateandtime<span class="required"></span>:</label>
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm date form_datetime bs-datetime ">
                                                <input id="dtp_Timestamp" type="text" size="16" class="form-control" aria-describedby="sizing-addondstart">
                                                <span class="input-group-addon" id="sizing-addondstart">
                                                    <button class="default date-set" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--Note-->
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_description" class="control-label col-md-3 input-sm" style="text-align: right;">@JKCRMResource.note:</label>
                                        <div class="col-md-8">
                                            <textarea id="form_description" class="form-control input-sm" rows="6"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer" id="addActivity_modalview_footer">
                <button id="cancel_addActivity_button" type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddActivityForm();">@JKCRMResource.cancel</button>
                <button id="addActivity_button" type="button" class="btn btn-success" onclick="saveActivityData();">@JKCRMResource.save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
