<meta charset="utf-8" />
<title>JaniKing | CRM</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="JaniKing CRM" name="description" />
<meta content="" name="author" />



<link href="~/fonts/FaceFontcss.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- END PAGE LEVEL PLUGINS -->
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<!-- BEGIN THEME GLOBAL STYLES -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="@Url.Content("~/Content/admin/assets/global/css/components-rounded.min.css")" rel="stylesheet" id="style_components" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/css/plugins.min.css")" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="@Url.Content("~/Content/admin/assets/global/plugins/select2/css/select2.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/select2/css/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css")" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="@Url.Content("~/Content/admin/assets/layouts/layout2/css/layout.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/layouts/layout2/css/themes/blue.css")" rel="stylesheet" type="text/css" id="style_color" />
<link href="@Url.Content("~/Content/admin/assets/layouts/layout2/css/custom.css")" rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->


<link rel="@Url.Content("https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css")" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-sweetalert/sweetalert.css")" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />


<!-- START SPINNER BUTTON STYLES-->
<link href="@Url.Content("~/Content/admin/assets/global/plugins/ladda/ladda-themeless.min.css")" rel="stylesheet" type="text/css" />
<!-- END SPINNER BUTTON STYLES-->
@*<link rel="@Url.Content("https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css")" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css")" rel="stylesheet" />*@

<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css")" rel="stylesheet" />



<style type="text/css">
    .page-bar .breadcrumb {
        display: inline-block;
        float: left;
        padding: 10px 6px;
        margin: 0;
        list-style: none;
        background-color: #fff;
    }
    .page-bar .breadcrumb > li {
        display: inline-block;
    }
    .page-bar {
        padding: 0;
        background-color: #fff;
        margin-bottom: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
    }
    .nav-pills  {
        background-color: #212d41;
    }
    .nav-pills > li > a {
        color: #FFF;
    }
    .nav-pills > li > a:hover {
        color: #333;
    }
    .nav-pills > li {
        float: left;
        text-align: center;
        min-width: 200px;
    }
</style>

<!-- BEGIN CRM STYLES -->
<link href="@Url.Content("~/Areas/CRM/Content/crmstyles.css")" rel="stylesheet"  media="all"/>
<!-- END CRM STYLES-->