<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    @RenderSection("Head", required: false)
    @Html.Partial("_HeadView")
    @RenderSection("styles", required: false)
</head>

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-boxed">
        @Html.Partial("~/Views/Shared/Layout/_HeaderView.cshtml")
        @*@Html.Partial("_HeaderView")*@
        <div class="container">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                @Html.Partial("~/Views/Shared/Layout/_SideBarView.cshtml")
                @*@Html.Partial("_SideBarView")*@
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        @Html.Partial("_ContentView")
                        @RenderBody()
                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
            </div>
            @Html.Partial("_FooterView")
        </div>


        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/corePlugins")
        @Scripts.Render("~/bundles/mainLayout")
        @Scripts.Render("~/bundles/mainLayout2")
        @Scripts.Render("~/bundles/mainLayout3")
        @Scripts.Render("~/bundles/mainLayout4")

        @RenderSection("pageplugins", required: false)

        @RenderSection("scripts", required: false)
        <script src="@Url.Content("~/Scripts/common.js?v=" + System.Configuration.ConfigurationManager.AppSettings["jsVersion"])"></script>
    </body>
</html>