@model JKViewModels.AccountsPayable.SearchRegisterViewModel
@{
    ViewBag.Title = "searchRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .jkcustom-page-title {
            font-size: 18px;
            padding: 3px;
            color: #fff !important;
            background: #3598dc !important;
            text-align: center;
            margin-bottom: 10px;
        }

        .jkcustom-form-table {
            width: 100%;
        }

            .jkcustom-form-table tr {
            }

                .jkcustom-form-table tr > td {
                    padding-bottom: 3px;
                    padding-top: 3px;
                }

        .form-group.form-md-line-input {
            position: relative;
            margin: 0 0 15px;
            padding-top: 20px;
        }
    </style>}

@using (Html.BeginForm("searchRegister", "AccountsPayable", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <div class="jkcustom-page-title">
            Check Register
        </div>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div class="form-horizontal panel panel-default  center-body text-center">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1 col-lg-1"></div>
                        <div class="col-md-2 col-lg-2 col-sm-2">
                            <strong>
                                @Html.LabelFor(model => model.search, new { @class = "control-label" })
                            </strong>
                        </div>
                        <div class="col-md-5 col-lg-5 col-sm-5">
                            @Html.DropDownListFor(model => model.search, new List<SelectListItem> {
                                 new SelectListItem { Text = "-Select One-", Value = "-1"},
                                    new SelectListItem { Text = "Check No.", Value = "1"},
                                    new SelectListItem { Text = "Customer No.", Value = "2"},
                                    new SelectListItem {Text  = "Francchisee No",Value="3"},
                                     new SelectListItem {Text  = "Payee Name",Value="4"},
                           }, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <strong>
                                @Html.LabelFor(model => model.SearchValue, new { @class = "control-label" })
                            </strong>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.SearchValue, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <strong>
                                @Html.LabelFor(model => model.Type, new { @class = "control-label" })
                            </strong>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Type, new List<SelectListItem> {
                                 new SelectListItem { Text = "-Select One-", Value = "-1"},
                                    new SelectListItem { Text = "Due Francchisee", Value = "1"},
                                    new SelectListItem { Text = "Accounting Fee Rebate", Value = "2"},
                                    new SelectListItem {Text  = "Chargebacks Paid",Value="3"},
                                     new SelectListItem {Text  = "Test check",Value="4"},
                           }, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <strong>
                                @Html.LabelFor(model => model.TransactionDate, new { @class = "control-label" })
                            </strong>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.TransactionDate, new { @class = "form-control date-picker", @id = "dtpDate" })
                        </div>
                        <div class="col-md-1">
                            @Html.LabelFor(model => model.TransactionDateTo, new { @class = "control-label" })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.TransactionDateTo, new { @class = "form-control date-picker", @id = "dtpDateTo" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <strong>
                                @Html.LabelFor(model => model.Check, new { @class = "control-label" })
                            </strong>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Check, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            @Html.LabelFor(model => model.CheckTo, new { @class = "control-label" })
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.CheckTo, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <strong>
                                @Html.LabelFor(model => model.Filterby, new { @class = "control-label" })
                            </strong>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Filterby, new List<SelectListItem> {
                                 new SelectListItem { Text = "-Select One-", Value = "-1"},
                                    new SelectListItem { Text = "All", Value = "1"},
                                    new SelectListItem { Text = "Checks", Value = "2"},
                                    new SelectListItem {Text  = "Credits",Value="3"},
                                     new SelectListItem {Text  = "Debits",Value="4"},
                                      new SelectListItem {Text  = "Deposits",Value="5"}
                           }, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <input type="submit" value="Generate" class="btn btn-default btn-info" />
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/components-date-time-pickers.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
}




