
@{
    ViewBag.Title = "TransactionsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
}
<style>
    .textalign {
        text-align: center;
    }
</style>

<div class="custom-listbox" style="max-width: 100%; display: block;">
    <div class="tablebox">
        <div class="dataTables_wrapper no-footer">
            <div class="headerbox list">
                <div class="row">
                    <div class="col-md-2">
                        <div class="dataTables_length">
                            <label>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="dataTables_filter">
                            <label>
                                <input type="search" class="form-control input-sm input-small input-inline" placeholder="Search">&nbsp;&nbsp;
                                <a href="javascript:;" class="pull-left" style="padding:5px;color: #fff;">&nbsp;Search</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        @*<label>
                            <select name="" class="form-control input-sm input-xsmall input-inline">
                                <option value="">Sep</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">MAr</option>
                            </select>
                        </label>*@
                        <label>&nbsp;08/01/2017 - 08/31/2017</label>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover  dataTable no-footer">
                    <thead>
                        <tr role="row">
                            <th class="textalign">
                                Franchise ID.
                            </th>
                            <th class="textalign">
                                Franchise Name
                            </th>
                            <th class="textalign">
                                Contact Billing
                            </th>
                            <th class="textalign">
                                Deductions
                            </th>
                            <th class="textalign">
                                Payment
                            </th>
                            <th class="textalign">
                                Balance
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeX odd" role="row">
                            <td class="textalign">
                                <a href="@Href("~/Portal/AccountsPayable/TransactionDetail")">701011701011</a>
                            </td>
                            <td class="sorting_1">
                                <a href="@Href("~/Portal/AccountsPayable/TransactionDetail")"> KIMBURNS, LLC</a>
                            </td>
                            <td class="textalign">
                                <label for="">$128942.99</label>
                            </td>
                            <td class="textalign">
                                <label for="">$59528.99</label>
                            </td>
                            <td class="textalign">
                                $0.00
                            </td>
                            <td class="textalign">
                                $80063.21
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td class="textalign">
                                <a href="@Href("~/Portal/AccountsPayable/TransactionDetail")">701011701011</a>
                            </td>
                            <td class="sorting_1">
                                <a href="@Href("~/Portal/AccountsPayable/TransactionDetail")"> KIMBURNS, LLC</a>
                            </td>
                            <td class="textalign">
                                <label for="">$128942.99</label>
                            </td>
                            <td class="textalign">
                                <label for="">$59528.99</label>
                            </td>
                            <td class="textalign">
                                $0.00
                            </td>
                            <td class="textalign">
                                $80063.21
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td class="textalign">
                                <a href="@Href("~/Portal/AccountsPayable/TransactionDetail")">701011701011</a>
                            </td>
                            <td class="sorting_1">
                                <a href="@Href("~/Portal/AccountsPayable/TransactionDetail")"> KIMBURNS, LLC</a>
                            </td>
                            <td class="textalign">
                                <label for="">$128942.99</label>
                            </td>
                            <td class="textalign">
                                <label for="">$59528.99</label>
                            </td>
                            <td class="textalign">
                                $0.00
                            </td>
                            <td class="textalign">
                                $80063.21
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td class="textalign">
                                <a href="@Href("~/Portal/AccountsPayable/TransactionDetail")">701011701011</a>
                            </td>
                            <td class="sorting_1">
                                <a href="@Href("~/Portal/AccountsPayable/TransactionDetail")"> KIMBURNS, LLC</a>
                            </td>
                            <td class="textalign">
                                <label for="">$128942.99</label>
                            </td>
                            <td class="textalign">
                                <label for="">$59528.99</label>
                            </td>
                            <td class="textalign">
                                $0.00
                            </td>
                            <td class="textalign">
                                $80063.21
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td class="textalign">
                                <a href="@Href("~/Portal/AccountsPayable/TransactionDetail")">701011701011</a>
                            </td>
                            <td class="sorting_1">
                                <a href="@Href("~/Portal/AccountsPayable/TransactionDetail")"> KIMBURNS, LLC</a>
                            </td>
                            <td class="textalign">
                                <label for="">$128942.99</label>
                            </td>
                            <td class="textalign">
                                <label for="">$59528.99</label>
                            </td>
                            <td class="textalign">
                                $0.00
                            </td>
                            <td class="textalign">
                                $80063.21
                            </td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td class="textalign">&nbsp;</td>
                            <td class="sorting_1"></td>
                            <td class="textalign"></td>
                            <td class="textalign"></td>
                            <td class="textalign"></td>
                            <td class="textalign"></td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td class="textalign">&nbsp;</td>
                            <td class="sorting_1"></td>
                            <td class="textalign"></td>
                            <td class="textalign"></td>
                            <td class="textalign"></td>
                            <td class="textalign"></td>
                        </tr>
                        <tr class="gradeX odd" role="row">
                            <td class="textalign">&nbsp;</td>
                            <td class="sorting_1"></td>
                            <td class="textalign"></td>
                            <td class="textalign"></td>
                            <td class="textalign"></td>
                            <td class="textalign"></td>
                        </tr>
                        <tr class="odd" style="display:none;">
                            <td valign="top" colspan="7" class="dataTables_empty">No data available in table</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="bottom">
            </div>
            <table class="table table-striped table-bordered table-hover  dataTable no-footer">
                <thead>
                    <tr role="row">
                        <th style="text-align:right;width:188px;" colspan="2">
                            Total
                        </th>
                        <th class="textalign">
                            $128942.99
                        </th>
                        <th class="textalign">
                            $59528.99
                        </th>
                        <th style="text-align:center;width:90px;">
                            $0.00
                        </th>
                        <th style="text-align:right;width:90px;">
                            $80063.21
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="clear"></div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
        });
    </script>
}

