@using JK.Resources

<div class="col-md-7  pdappointmentcontent" id="pdappointment" style="margin-left:-30px;">
    <div class="row">
        <div class="col-md-12 portlet-align">
            <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">
                <div class="portlet-title compact">
                    <div class="caption">
                        PD Appointment Detail
                    </div>
                </div>
                <div class="portlet-body">
                    <form action="#" id="form_pdpotentialdetail" class="form-horizontal">
                        <div class="form-body">

                            @Html.Hidden("AccountDetailId", "", new { @id = "accountdetailid" })
                            <!--Meeting Person-->
                            <div class="form-group">
                                <label for="select_priceapproved" class="control-label col-md-4">Meeting Person<span class="required">*</span>:</label>
                                <div class="col-md-5" style="padding-left:0px;">
                                    <input id="input_pdpotentialmeetwith" name="name" type="text" data-required="1" class="form-control input-sm clsmeetwith" placeholder="" />
                                </div>
                                <div class="col-md-2" style="padding-left:0px;width:130px;display:none;">
                                    <input type="checkbox" id="chksameContmeetingper2" class="clssameContmeetingper" /> Same as Contact
                                </div>
                            </div>

                            <!--Contact Phone-->
                            <div class="form-group">
                                <label for="input_contactphone" class="control-label col-md-4">Contact Phone<span class="required">*</span>:</label>
                                <div class="col-md-5" style="padding-left:0px;">
                                    <input id="input_pdcontactphonepotential" name="name" type="text" data-required="1" class="form-control input-sm clsconphone" placeholder="" />
                                </div>
                            </div>


                            <!--Contact Email-->
                            <div class="form-group">
                                <label for="input_contactemail" class="control-label col-md-4">Contact Email<span class="required">*</span>:</label>
                                <div class="col-md-5" style="padding-left:0px;">
                                    <input id="input_pdcontactemailpotential" name="name" type="text" data-required="1" class="form-control input-sm clsconemail" placeholder="" />
                                </div>
                            </div>

                            <!--Schedule-->
                            <!--Start Date/Time-->
                            <div class="form-group">
                                <label for="schedule_start" class="control-label col-md-4">Start Date/Time<span class="required">*</span>:</label>
                                <div class="col-md-2" style="padding-left:0px;">
                                    <input type="text" class="form-control input-group input-group-sm input-sm date date-picker RemovePeriodvalidation input_bidstartdate" name="datepicker"
                                           data-date-format="mm/dd/yyyy" id="input_pdbid_potential_schedulestartdate" disabled="disabled" />
                                </div>
                                <!--Start Time-->
                                <div class="col-md-3" style="padding-left:0px;">
                                    <div class="input-icon">
                                        <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                        <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_bidstarttime"
                                               id="input_pdbid_potential_schedulestarttime" disabled="disabled" />
                                    </div>

                                </div>
                            </div>

                            <!--End Date/Time-->
                            <div class="form-group">
                                <label for="schedule_start" class="control-label col-md-4">End Date/Time<span class="required">*</span>:</label>
                                <div class="col-md-2" style="padding-left:0px;">
                                    <input type="text" class="form-control input-group input-group-sm input-sm date date-picker RemovePeriodvalidation input_bidenddate" name="datepicker"
                                           data-date-format="mm/dd/yyyy" id="input_pdbid_potential_scheduleenddate" disabled="disabled" />
                                </div>
                                <!--End Time-->
                                <div class="col-md-3" style="padding-left:0px;">
                                    <div class="input-icon">
                                        <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                        <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_bidendtime"
                                               id="input_pdbid_potential_scheduleendtime" value="" disabled="disabled" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="callback_purpose" class="control-label col-md-4">Purpose:</label>
                                <div class="col-md-5" style="padding-left:0px;">
                                    @Html.DropDownList("BiddingPurposeTypeList", (SelectList)ViewBag.BiddingPurposeTypeList, "Select", new { @class = "form-control input-sm select_bidpurpose", @id = "select_pdbid_pdpotential_Schedulepurpose"})                   
                                </div>
                            </div>


                            <!--Meet with Decision maker -->
                            <div class="form-group" style="margin-top:5px;">
                                <label for="radio_pdpotentialdecision" class="control-label col-md-4">Met with Decision Maker<span class="required">*</span>:</label>
                                <div class="col-md-1">
                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="radio" name="membership" value="1" class="i-checks pd_yesdecisionmaker" id="pd_yesdecisionmaker" checked="checked" />
                                        <span>Yes</span>
                                    </label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check-inline" style="margin-top: 6px; margin-left:0px;">
                                        <input type="radio" name="membership" value="0" class="i-checks pd_nodecisionmaker" />
                                        <span>No</span>
                                    </label>

                                </div>
                            </div>

                            <!--potential Decision-->
                            <div class="pd_decision" style="display:none;">
                                <!--Decision Meeting Person-->
                                <div class="form-group">
                                    <label for="input_pdmeetwith" class="control-label col-md-4">Meeting Person Name<span class="required">*</span>:</label>
                                    <div class="col-md-5" style="padding-left:0px;">
                                        <input id="input_potential_decisioncontactname" type="text" data-required="1" class="form-control input-sm" placeholder="" />
                                    </div>
                                </div>
                                <!--Decision Contact Phone-->
                                <div class="form-group">
                                    <label for="input_contactphone" class="control-label col-md-4">Meeting Person Phone<span class="required">*</span>:</label>
                                    <div class="col-md-5" style="padding-left:0px;">
                                        <input id="input_potential_decisioncontactphone" type="text" data-required="1" class="form-control input-sm" placeholder="" />
                                    </div>
                                </div>
                                <!--Decision Contact Email-->
                                <div class="form-group">
                                    <label for="input_contactemail" class="control-label col-md-4">Meeting Person Email<span class="required">*</span>:</label>
                                    <div class="col-md-5" style="padding-left:0px;">
                                        <input id="input_potential_decisioncontactemail" type="text" data-required="1" class="form-control input-sm" placeholder="" />
                                    </div>
                                </div>
                            </div>

                            <!--Present Proposal Presentation-->
                            <div id="div_presentproposal" class="form-group">

                                <label for="radio_pdpotentialpresent" class="control-label col-md-4">Presented Proposal?<span class="required">*</span>:</label>
                                <div class="col-md-1">
                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="radio" name="present" value="1" class="i-checks check_bidpresentedproposal" id="checkboxpdpotential_presentproposal" />
                                        <span>Yes</span>
                                    </label>
                                </div>
                                <div class="col-md-1">
                                    <label class="check-inline" style="margin-top: 6px; margin-left:0px;">
                                        <input type="radio" name="present" value="0" class="i-checks check_bidpresentedproposal" />
                                        <span>No</span>
                                    </label>

                                </div>

                            </div>

                            <!-- OverCome Objections -->
                            <div class="pd_overcome" style="display:none;">
                                <div class="form-group">
                                    <label for="select_potentialovercome" class="control-label col-md-4">Overcome Objections<span class="required">*</span>:</label>
                                    <div class="col-md-5" style="padding-left:0px;">
                                        <select id="select_pdpotentialovercome" class="form-control input-sm select_overcomeobjection" disabled>
                                            <option value="">Select</option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group pd_selectovercome pd_overcome_yes" style="display:none">
                                    <label for="schedule_purpose" class="control-label col-md-4">Result<span class="required">*</span>:</label>
                                    <div class="col-md-5" style="padding-left:0px;">
                                        <select id="select_pdpotential_scheduleresult" class="form-control input-sm select_pdpurpose" name="options2">
                                            <option value="">Select</option>
                                            <option value="12">Signed Contract</option>
                                            <option value="5">Delivered Proposal Scheduled Call-Back</option>
                                            @*<option value="11">Follow up meeting</option>*@
                                            <option value="9002">Giving current service more time</option>
                                            <option value="9999">Other</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group pd_selectovercome pd_overcome_no" style="display:none">
                                    <label for="schedule_purpose" class="control-label col-md-3">Reason<span class="required">*</span>:</label>
                                    <div class="col-md-6" style="padding-left:0px;">
                                        <select id="select_pdpotential_schedulereason" class="form-control input-sm select_pdpurpose" name="options2">
                                            <option value="">Select</option>
                                            <option value="9004">Price too High</option>
                                            <option value="9101">Cannot Break Current Contract</option>
                                            <option value="9103">Need to check with other Partners/Officers</option>
                                            <option value="9104">Jani-King is too big (Perception)</option>
                                            <option value="9105">Our facility has special needs</option>
                                            <option value="9106">Going to take cleaning in-house</option>
                                            <option value="9102">Giving existing company more time</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group pd_present_no" style="display:none">
                                <label for="schedule_purpose" class="control-label col-md-3">Reason<span class="required">*</span>:</label>
                                <div class="col-md-6" style="padding-left:0px;">
                                    <select id="select_pdpotential_nopresentreason" class="form-control input-sm select_pdpurpose" name="options2">
                                        <option value="">Select</option>
                                        <option value="9001">Cannot break contract per agreement</option>
                                        <option value="9003">Going in-house</option>
                                        <option value="9004">Price too High</option>
                                        <option value="9005">Contact Not Available</option>
                                        <option value="9006">JK Rep Missed Appointment</option>
                                        <option value="9007">Re-scheduled by Contact</option>
                                        <option value="9008">Re-scheduled by JK rep</option>
                                        <option value="9009">Appointment Cancelled</option> 
                                    </select>
                                </div>
                            </div>

                            <div class="form-group errmsg" style="display:none; text-align:center" id="dateTooEarlyMsg">
                                <span style="color:red;">Start date must be more recent than previous meetings.</span>
                            </div>

                            <div class="form-group errmsg" style="display:none; text-align:center" id="scheduleConflictMsg">
                                <span style="color:red;">You have a schedule conflict at the selected time.</span>
                            </div>

                            <!-- Follow Appointment Schedule-->
                            <!--Start Date/Time-->

                            <div class="pd_followup_time_div" style="display: none">
                                <div class="form-group">
                                    <div class="col-md-9">
                                        <div class="row">
                                            <label for="schedule_start" class="control-label col-md-5">Start Date/Time<span class="required">*</span>:</label>
                                            <div class="col-md-3" style="padding-left:0px;">
                                                <input type="text" class="form-control input-group input-group-sm input-sm date date-picker RemovePeriodvalidation input_pdstartdate pd_followup_time" name="datepicker"
                                                       data-date-format="mm/dd/yyyy" id="input_pdfollow_potential_schedulestartdate" disabled="disabled" />
                                            </div>
                                            <!--Start Time-->
                                            <div class="col-md-4" style="padding-left:0px; padding-right:0px;">
                                                <div class="input-icon">
                                                    <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                                    <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_pdstarttime pd_followup_time" id="input_pdfollow_potential_schedulestarttime" disabled="disabled">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="schedule_start" class="control-label col-md-5">End Date/Time<span class="required">*</span>:</label>
                                            <div class="col-md-3" style="padding-left:0px;">
                                                <input type="text" class="form-control input-group input-group-sm input-sm date date-picker RemovePeriodvalidation input_pdenddate pd_followup_time" name="datepicker"
                                                       data-date-format="mm/dd/yyyy" id="input_pdfollow_potential_scheduleenddate" disabled="disabled" />
                                            </div>
                                            <!--End Time-->
                                            <div class="col-md-4" style="padding-left:0px; padding-right:0px;">
                                                <div class="input-icon">
                                                    <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                                    <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_pdendtime pd_followup_time" id="input_pdfollow_potential_scheduleendtime" value="" disabled="disabled" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn green btn-block" data-toggle="modal" id="calendar_schedules" style="height: 57px; line-height: 57px; padding: 0px; width: 100px">Schedules</a>
                                    </div>
                                </div>
                            </div>


                            <h5 class="form-section sbold uppercase"><b>@JKCRMResource.note:</b></h5>
                            <!-- Note -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextArea("note", "", new { @class = "form-control autosizeme textarea_bidnote", rows = "8", style = "font-size: 11px", @id = "text_pdpotential_note" })
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row" id="pd_summary_action">
                                <div class="col-md-3 pull-right">
                                    <button type="button" class="btn green btn-block" onclick="validPdAppointmentDetail();">@CommonResource.btnSave</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>