@using JK.Resources
<div class="col-md-7  fvpresentationcontent" id="fvpresentation" style="margin-left:-30px;">
    <div class="row">
        <div class="col-md-12 portlet-align">
            <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">
                <div class="portlet-title compact">
                    <div class="caption">
                        Fv Presentation Detail
                    </div>
                </div>
                <div class="portlet-body">
                    <form action="#" id="form_fvpotentialstagedetail" class="form-horizontal">
                        <div class="form-body">
                            @Html.Hidden("AccountDetailId", "", new { @id = "accountdetailid" })
                            <!-- Measure Contact Person -->
                            <div class="form-group">
                                <label for="select_stagestatus" class="control-label col-md-4">Measure Contact Person<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    <input id="input_potentialmeasurecontactperson" type="text" data-required="1" class="form-control input-sm clsmeasurecontact" placeholder="" />
                                </div>
                                <div class="col-md-2" style="padding-left:0px;width:130px;">
                                    <input type="checkbox" id="chkSameContact" class="clssamecontact" /> Same as Contact
                                </div>
                            </div>
                            <!-- Measure facility(sq.ft)-->
                            <div class="form-group">
                                <label for="select_providertype" class="control-label col-md-4">Measure facility(sq.ft)<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    <input id="input_potentialmeasurefacility" type="text" data-required="1" class="form-control input-sm input_measurefacility" placeholder="" />
                                </div>
                            </div>
                            <!-- # of Floor-->
                            <div class="form-group">
                                <label for="select_providertype" class="control-label col-md-4"># of Floor (s)<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    <input id="input_potentialnumoffloors" type="text" data-required="1" class="form-control input-sm input_numoffloor" placeholder="" />
                                </div>
                            </div>
                            <!-- Budget-->
                            <div class="form-group">
                                <label for="select_stagestatus" class="control-label col-md-4">Budget Amount<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    <input id="input_potentialbudget" type="text" data-required="1" class="form-control input-sm input_budgetamount" placeholder="" />
                                </div>
                            </div>
                            <!--Billing Frequency-->
                            <div class="form-group" style="display:none;">
                                <label for="select_frequency" class="control-label col-md-4">Billing Frequency<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    <select id="select_potentialfrequency" class="form-control input-sm select_billingfrequency">
                                        <option value="">Select</option>
                                        <option value="1" selected>Monthly</option>
                                        <option value="2">Quarterly</option>
                                        <option value="3">Yearly</option>
                                        <option value="4">Variable</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Service Type-->
                            <div class="form-group">
                                <label for="select_servicetype" class="control-label col-md-4">Service Type<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    @Html.DropDownList("servicetype", (SelectList)ViewBag.ServiceTypeListModel,"Select", new { @class = "form-control input-sm select_servicetype", @id = "select_potentialservicetype" })
                                    
                                </div>
                            </div>
                            <!-- Service Level-->
                            <div class="form-group">
                                <label for="select_servicelevel" class="control-label col-md-4">Service Level<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    <select id="select_potentialservicelevel" class="form-control input-sm select_servicelevel">
                                        <option value="">Select</option>
                                        <option value="1">Good</option>
                                        <option value="3">Better</option>
                                        <option value="2">Best</option>
                                    </select>
                                </div>
                            </div>
                            <!--Clean Times-->
                            <div class="form-group">
                                <label for="input_cleantimes" class="control-label col-md-4"> # of Clean Times<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    <input id="input_potentialcleantimes" type="text" data-required="1" class="form-control input-sm input_cleantime" placeholder="" />
                                </div>
                            </div>
                            <!-- Clean Frequency-->
                            <div class="form-group">
                                <label for="select_cleanfrequency" class="control-label col-md-4">Clean Frequency<span class="required">*</span>:</label>
                                <div class="col-md-4">
                                    <select id="select_potentialcleanfrequency" class="form-control input-sm input_cleanfrequency" name="option2">
                                        <option value="1">Week</option>
                                        <option value="2">Month</option>
                                        <option value="3">Quarter</option>
                                        <option value="4">Year</option>
                                        <option value="5">Variable</option>
                                        <option value="6">One Time Clean</option>
                                        <option value="7">Weekend</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Cleaning Day-->
                            <div class="form-group" style="margin-top:4px;" id="potentialweekdays">
                                <label for="select_providertype" class="control-label col-md-4 cleningdayclass">Cleaning Day<span class="required">*</span>:</label>
                                <div class="col-md-8 fvDays" id="fv">
                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="checkbox" name="service" value="1" class="i-checks input_mon" id="chkweekday_mon" />
                                        <span>Mon</span>
                                    </label>

                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="checkbox" value="2" class="i-checks input_tue" id="chkweekday_tue"/>
                                        <span>Tue</span>
                                    </label>

                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="checkbox" value="3" class="i-checks input_wed" id="chkweekday_wed"/>
                                        <span>Wed</span>
                                    </label>

                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="checkbox" value="4" class="i-checks input_thu" id="chkweekday_thu"/>
                                        <span>Thu</span>
                                    </label>

                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="checkbox" value="5" class="i-checks input_fri" id="chkweekday_fri"/>
                                        <span>Fri</span>
                                    </label>

                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="checkbox" value="6" class="i-checks input_sat" id="chkweekday_sat"/>
                                        <span>Sat</span>
                                    </label>
                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="checkbox" value="7" class="i-checks input_sun" id="chkweekday_sun"/>
                                        <span>Sun</span>
                                    </label>
                                    <label class="check-inline" style="margin-top: 6px;">
                                        <input type="checkbox" value="8" class="i-checks input_weekend" id="chkweekday_Weekend" />
                                        <span>Weekend</span>
                                    </label>
                                </div>
                            </div>
                            <h5 class="form-section sbold uppercase"><b>@JKCRMResource.note:</b></h5>
                            <!-- Note -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextArea("note", "", new { @class = "form-control autosizeme textarea_fvnote", rows = "10", style = "font-size: 11px", @id = "text_potentialgeneralnote" })
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row" id="fv_summary_action">
                                <div class="col-md-3 pull-right">
                                    <button type="button" class="btn green btn-block" onclick="validFvPresentationDetail();">@CommonResource.btnSave</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>