@using JK.Resources
<div class="col-md-7  followupcontent" id="followup" style="margin-left:-30px;">
    <div class="row">
        <div class="col-md-12 portlet-align">
            <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">
                <div class="portlet-title compact">
                    <div class="caption">
                        Follow-Up Detail
                    </div>
                </div>
                <div class="portlet-body">
                    <form action="#" id="form_followpotentialstagedetail" class="form-horizontal">
                        <div class="form-body">
                            @Html.Hidden("AccountDetailId", "", new { @id = "accountdetailid" })
                           
                            <!-- Available To Meet -->
                            <!--Start Date/Time-->
                            <div class="form-group">
                                <label for="schedule_start" class="control-label col-md-4">Start Date/Time<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-group input-group-sm input-sm date date-picker RemovePeriodvalidation input_followupPd_startdate"
                                           data-date-format="mm/dd/yyyy" id="input_followupPd_startdate" disabled="disabled" />
                                </div>
                                <!--Start Time-->
                                <div class="col-md-2" style="padding-left:0px; padding-right:0px;">
                                    <div class="input-icon">
                                        <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                        <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_followupPd_starttime" id="input_followupPd_starttime" disabled="disabled" />
                                    </div>
                                </div>
                            </div>

                            <!--End Date/Time-->
                            <div class="form-group">
                                <label for="schedule_start" class="control-label col-md-4">End Date/Time<span class="required">*</span>:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-group input-group-sm input-sm date date-picker RemovePeriodvalidation input_followupPd_enddate" data-date-format="mm/dd/yyyy"
                                           id="input_followupPd_enddate" disabled="disabled" />
                                </div>
                                <!--End Time-->
                                <div class="col-md-2" style="padding-left:0px; padding-right:0px;">
                                    <div class="input-icon">
                                        <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                        <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_followupPd_endtime"
                                               id="input_followupPd_endtime" value="" disabled="disabled" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="schedule_purpose" class="control-label col-md-4">Purpose:</label>
                                <div class="col-md-5 fieldspadding-left">
                                    <select id="select_followupPdpurpose" class="form-control input-sm select_followupPdpurpose" disabled="disabled">
                                        <option value="">Select</option>
                                        <option value="5">Call Back</option>
                                        <option value="9">Follow up</option>
                                        <option value="10">Follow up meeting</option>                                       
                                        <option value="11">Contract Signed</option>
                                        <option value="9001">Cannot break contract per agreement</option>
                                        <option value="9002">Giving current service more time</option>
                                        <option value="9003">Going in-house</option>
                                        <option value="9004">Price too High</option>
                                        <option value="9005">Contact Not Available</option>
                                        <option value="9006">JK Rep Missed Appointment</option>
                                        <option value="9007">Re-scheduled by Contact</option>
                                        <option value="9008">Re-scheduled by JK rep</option>
                                        <option value="9009">Appointment Cancelled</option>
                                        <option value="9101">Cannot Break Current Contract</option>
                                        <option value="9103">Need to check with other Partners/Officers</option>
                                        <option value="9104">Jani-King is too big (Perception)</option>
                                        <option value="9105">Our facility has special needs</option>
                                        <option value="9106">Going to take cleaning in-house</option>
                                        <option value="9102">Giving existing company more time</option>
                                        <option value="9999">Other</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Price Approved -->
                            <div class="form-group">
                                <label for="select_priceapproved" class="control-label col-md-4">Close<span class="required">*</span>:</label>
                                <div class="col-md-5 fieldspadding-left">
                                    @Html.DropDownList("CloseType", (SelectList)ViewBag.CloseType,"Select", new { @class = "form-control input-sm select_closetype" , @id = "select_closetype" , @name = "options2" })
                                   
                                </div>
                            </div>

                            <!-- Available To Meet -->
                            <div class="col-md-12 div_reschedule" id="div_reschedule" style="padding: 0px; display:none;">
                                <div class="form-group">
                                    <label for="schedule_purpose" class="control-label col-md-4">Purpose:</label>
                                    <div class="col-md-6">
                                        @Html.DropDownList("FollowUpPurposeTypeList", (SelectList)ViewBag.FollowUpPurposeTypeList, "Select", new { @class = "form-control input-sm select_followup_reschedulePurpose", @id = "selectpotential_followmeetagainpurpose" })                                       
                                    </div>
                                </div>

                                <div class="form-group" style="display:none; text-align:center" id="dateTooEarlyMsg">
                                    <span style="color:red;">Start date must be more recent than previous meetings.</span>
                                </div>

                                <div class="form-group" style="display:none; text-align:center" id="scheduleConflictMsg">
                                    <span style="color:red;">You have a schedule conflict at the selected time.</span>
                                </div>

                                <!--Start Date/Time-->

                                <div class="form-group">
                                    <div class="col-md-10" style="padding-right:0px;">
                                        <div class="row">
                                            <label for="schedule_start" class="control-label col-md-5">Start Date/Time<span class="required">*</span>:</label>
                                            <div class="col-md-3" style="padding-left:0px;">
                                                <input type="text" class="form-control input-group input-group-sm input-sm date date-picker RemovePeriodvalidation input_followup_reschedule_startdate"
                                                       data-date-format="mm/dd/yyyy" id="input_followup_reschedule_startdate" disabled="disabled" />
                                            </div>
                                            <!--Start Time-->
                                            <div class="col-md-3" style="padding-left:0px; padding-right:0px;">
                                                <div class="input-icon">
                                                    <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                                    <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_followup_reschedule_starttime"
                                                           id="input_followup_reschedule_starttime" disabled="disabled"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label for="schedule_start" class="control-label col-md-5">End Date/Time<span class="required">*</span>:</label>
                                            <div class="col-md-3" style="padding-left:0px;">
                                                <input type="text" class="form-control input-group input-group-sm input-sm date date-picker RemovePeriodvalidation input_followup_reschedule_enddate"
                                                       data-date-format="mm/dd/yyyy" id="input_followup_reschedule_enddate" disabled="disabled" />
                                            </div>

                                            <!--End Time-->
                                            <div class="col-md-3" style="padding-left:0px; padding-right:0px;">
                                                <div class="input-icon">
                                                    <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                                    <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_followup_reschedule_endtime"
                                                           value="" id="input_followup_reschedule_endtime" disabled="disabled" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2" style="padding-left:0px;">
                                        <a class="btn green btn-block" data-toggle="modal" id="calendar_schedules" style="height: 57px; line-height: 57px; padding: 0px; width: 100px">Schedules</a>
                                    </div>
                                </div>
                            </div>

                            <h5 class="form-section sbold uppercase"><b>@JKCRMResource.note:</b></h5>
                            <!-- Note -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextArea("note", "", new { @class = "form-control autosizeme textarea_followupnote", rows = "10", style = "font-size: 11px", @id = "textarea_followupnote" })
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row" id="follow_summary_action">
                                <div class="col-md-3 pull-right">
                                    <button id="potential_savefollowsummary_button" type="button" class="btn green btn-block" onclick="validFollowupDetail();">@CommonResource.btnSave</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
