@model JKViewModels.CRM.CRMInitialCommunicationViewModel

<div class="modal-header modal-custom-header" id="initialdetail_modalview_header">
    <button type="button" class="close modal-close-button" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Initial Communication</h4>
</div>


<div class="modal-body" id="initialdetail_modalview_body">
    <div class="row">
        <form action="#" id="form_schedulestagedetail" class="form-horizontal">
            <div class="form-body">
                @Html.Hidden("AccountDetailId", "", new { @id = "accountdetailid" })
                <!-- Reach Contact Person -->
                <div class="form-group">
                    <label for="reach_contactperson" class="control-label col-md-4">Person Spoken To<span class="required">*</span>:</label>
                    <div class="col-md-6">
                        <input id="inputinitial_contactpersonmodal" name="name" type="text" data-required="1" class="form-control input-sm" value="@Model.ContactPerson" disabled="disabled" />
                    </div>
                </div>
                <!-- Interested In Proposal -->
                <div class="form-group">
                    <label for="select_interestedinproposal" class="control-label col-md-4">Interested In Proposal<span class="required">*</span>:</label>
                    <div class="col-md-6">
                        <select id="selectinitial_interestedinproposalmodal" class="form-control input-sm input-sm" name="options2" disabled="disabled">
                            <option value="">select..</option>
                            <option value="1" @(Model.InterestedInPerposal == true ? "selected=selected" :string.Empty)>Yes</option>
                            <option value="0" @(Model.InterestedInPerposal == false ? "selected=selected" :string.Empty) >No</option>
                        </select>
                    </div>
                </div>
                <!-- Available To Meet -->
                 

                <div class="form-group">
                    <label for="schedule_start" class="control-label col-md-4">Start Date/Time<span class="required">*</span>:</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-mysize input-group input-group-sm input-sm date date-picker RemovePeriodvalidation" name="datepicker" data-date-format="mm/dd/yyyy"
                               id="input_schedulestartdate" value="@(Model.StartDate != null ? Convert.ToDateTime(Model.StartDate).ToString("MM-dd-yyyy") :string.Empty)" disabled="disabled" />
                        <!--Start Time-->

                    </div>
                    <div class="col-md-3">
                        <div class="input-icon">
                            <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                            <input type="text" class="form-control input-group input-mysize2 input-group-sm input-sm  timepicker timepicker-default" id="input_schedulestarttime" value="@(Model.StartDate != null ? Convert.ToDateTime(Model.StartDate).ToString("hh:mm tt") :string.Empty)" disabled="disabled" >
                        </div>
                    </div>
                </div>

                <!--End Date/Time-->
                <div class="form-group">
                    <label for="schedule_start" class="control-label col-md-4">End Date/Time<span class="required">*</span>:</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-mysize input-group input-group-sm input-sm date date-picker RemovePeriodvalidation" name="datepicker" data-date-format="mm/dd/yyyy" id="input_scheduleenddate" value="@(Model.EndDate != null ? Convert.ToDateTime(Model.EndDate).ToString("MM-dd-yyyy") :string.Empty)" disabled="disabled" />
                    </div>
                    <!--End Time-->
                    <div class="col-md-3">
                        <div class="input-icon">
                            <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                            <input type="text" class="form-control input-group input-mysize2 input-group-sm input-sm  timepicker timepicker-default" id="input_scheduleendtime" value="@(Model.EndDate != null ? Convert.ToDateTime(Model.EndDate).ToString("hh:mm tt") :string.Empty)" disabled="disabled" />
                        </div>
                    </div>

                </div>


                <div class="form-group">
                    <label for="schedule_purpose" class="control-label col-md-4">Purpose:</label>
                    <div class="col-md-6">
                        <select id="selectinitial_schedulepurposemodal" class="form-control input-sm" name="options2" disabled="disabled">
                            <option value="">Select..</option>
                            <option value="1" @(Model.PURPOSE == 1 ? "selected=selected" : string.Empty)>First Visit</option>
                            <option value="2" @(Model.PURPOSE == 2 ? "selected=selected" : string.Empty)>Proposal Delivery</option>
                            <option value="3" @(Model.PURPOSE == 3 ? "selected=selected" : string.Empty)>Proposal Follow up</option>
                            <option value="4" @(Model.PURPOSE == 4 ? "selected=selected" : string.Empty)>Walk Thru</option>
                            <option value="5" @(Model.PURPOSE == 5 ? "selected=selected" : string.Empty)>Call Back</option>
                            <option value="6" @(Model.PURPOSE == 6 ? "selected=selected" : string.Empty)>Cold Call</option>
                            <option value="7" @(Model.PURPOSE == 7 ? "selected=selected" : string.Empty)>Prospecting Email</option>
                            <option value="8" @(Model.PURPOSE == 8 ? "selected=selected" : string.Empty)>Past Proposal </option>
                            <option value="9" @(Model.PURPOSE == 9 ? "selected=selected" : string.Empty)>Follow Up</option>
                        </select>
                    </div>
                </div>

                <!-- Note -->
                <div class="form-group">
                    <label for="schedule_purpose" class="control-label col-md-4">Note:</label>
                    <div class="col-md-6">
                        <textarea name="note" id="text_initialcommunicationmodal" class="form-control autosizeme" rows = "6" style = "font-size: 11px" disabled = "disabled">@Model.Note</textarea>
                        @*@Html.TextArea("note", "", new { @class = "form-control autosizeme", rows = "6", style = "font-size: 11px", @id = "text_initialcommunicationmodal", @disabled = "disabled" })*@
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
