@model JKViewModels.CRM.CRMCloseViewModel


<div class="modal-header modal-custom-header" id="sold_modalview_header">
    <button type="button" class="close modal-close-button" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Sold</h4>
</div>
<div class="modal-body" id="sold_modalview_body">
    <div class="row">
        <div class="form-body">
            <!--Close have contract agreement-->
            <form action="#" id="form_contractagreement" class="form-horizontal">
                @Html.Hidden("AccountDetailId", "", new { @id = "accountdetailid" })
                <div class="form-group" style="margin-top:5px;">
                    <label for="select_providertype" class="control-label col-md-6">Does this Contract require Background check?<span class="required">*</span>:</label>
                    <div class="col-md-6">
                        <label class="check-inline" style="margin-top: 6px;">
                            <input type="radio" name="membership" value="1" class="i-checks" id="soldmodal_yes_contract" disabled="disabled" @(Model.HaveContractAgreement == true ? "checked=checked" : string.Empty ) />
                            <span>Yes</span>
                        </label>

                        <label class="check-inline" style="margin-top: 6px; margin-left:40px;">
                            <input type="radio" name="membership" value="0" class="i-checks" id="soldmodal_no_contract" disabled="disabled" @(Model.HaveContractAgreement == false ? "checked=checked" : string.Empty ) />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </form>
            <!--Get Signed Agreement-->
            <form action="#" id="form_signedagreement" class="form-horizontal">
                <div class="form-group" style="margin-top:5px;">
                    <label for="select_providertype" class="control-label col-md-6">Get Signed Agreement<span class="required">*</span>:</label>
                    <div class="col-md-6">
                        <label class="check-inline" style="margin-top: 6px;">
                            <input type="radio" name="membership" value="1" class="i-checks" id="soldmodal_yes_signed" disabled="disabled" @(Model.SignedAgreement == true ? "checked=checked" : string.Empty) />
                            <span>Yes</span>
                        </label>

                        <label class="check-inline" style="margin-top: 6px; margin-left:40px;">
                            <input type="radio" name="membership" value="0" class="i-checks" id="soldmodal_no_signed" disabled="disabled" @(Model.SignedAgreement == false ? "checked=checked" : string.Empty) />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </form>
            <!--Document in Sales CRM-->
            <form action="#" id="form_documentsalescrm" class="form-horizontal">
                <div class="form-group" style="margin-top:5px;">
                    <label for="select_providertype" class="control-label col-md-6">Document in Sales CRM<span class="required">*</span>:</label>
                    <div class="col-md-6">
                        <label class="check-inline" style="margin-top: 6px;">
                            <input type="radio" name="membership" value="1" class="i-checks" id="soldmodal_yes_documentsalescrm" disabled="disabled" @(Model.DocumentSalesCRM == true ? "checked=checked" : string.Empty ) />
                            <span>Yes</span>
                        </label>

                        <label class="check-inline" style="margin-top: 6px; margin-left:40px;">
                            <input type="radio" name="membership" value="0" class="i-checks" id="soldmodal_no_documentsalescrm" disabled="disabled" @(Model.DocumentSalesCRM == false ? "checked=checked" : string.Empty ) />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </form>
            <!--Notify Operations for account Placement-->
            <form action="#" id="form_accountplacement" class="form-horizontal">
                <div class="form-group" style="margin-top:5px;">
                    <label for="select_providertype" class="control-label col-md-6">Notify Operations for account Placement<span class="required">*</span>:</label>
                    <div class="col-md-6">
                        <label class="check-inline" style="margin-top: 6px;">
                            <input type="radio" name="membership" value="1" class="i-checks" id="soldmodal_yes_accountplacement" disabled="disabled" @(Model.NotifyAccountPlacement == true ? "checked=checked" : string.Empty ) />
                            <span>Yes</span>
                        </label>

                        <label class="check-inline" style="margin-top: 6px; margin-left:40px;">
                            <input type="radio" name="membership" value="0" class="i-checks" id="soldmodal_no_accountplacement" disabled="disabled" @(Model.NotifyAccountPlacement == false ? "checked=checked" : string.Empty ) />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </form>

            <form action="#" id="form_contactinfo_close" class="form-horizontal">
                <!--Prop. Amount AND Proposed Initial Clean-->
                <div class="form-group" style="margin-top:5px;">
                    <label for="select_providertype" class="control-label col-md-3">Prop. Amount:</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="soldmodal_propamount" disabled="disabled" value="@string.Format("{0:c}", Model.PropAmount)" />
                    </div>
                    <label for="select_providertype" class="control-label col-md-3">Proposed Initial Clean:</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="soldmodal_initialamount" disabled="disabled" value="@Model.InitialClean" />
                    </div>
                </div>
                <!--Contract Amount AND Initial Clean Amount-->
                <div class="form-group" style="margin-top:5px;">
                    <label for="select_contractamount" class="control-label col-md-3">Contract Amount:</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="soldmodal_contractamount" disabled="disabled" value="@string.Format("{0:c}", Model.ContractAmount)" />
                    </div>
                    <label for="select_initialcleanamount" class="control-label col-md-3">Initial Clean Amount:</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="soldmodal_initialcleanamount" disabled="disabled" value="@string.Format("{0:c}", Model.InitialCleanAmount)" />
                    </div>
                </div>
                <!--Sign Date AND Start Date-->
                <div class="form-group" style="margin-top:5px;">
                    <label for="select_sign Date" class="control-label col-md-3">Sign Date:</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm date date-picker RemovePeriodvalidation" data-date-format="mm/dd/yyyy" id="soldmodal_signdate" disabled="disabled"  value="@((Model.SignDate != null) ? Convert.ToDateTime(Model.SignDate).ToString("MM-dd-yyyy") :string.Empty)" />
                    </div>
                    <label for="select_startdate" class="control-label col-md-3">Start Date:</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm date date-picker RemovePeriodvalidation" data-date-format="mm/dd/yyyy" id="soldmodal_startdate" disabled="disabled" value="@((Model.StartDate != null) ? Convert.ToDateTime(Model.StartDate).ToString("MM-dd-yyyy") :string.Empty)" />
                    </div>
                </div>
                <!--PO Number AND Contract Term-->
                <div class="form-group" style="margin-top:5px;">
                    <label for="select_ponumber" class="control-label col-md-3">PO Number:</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="soldmodal_ponumber" disabled="disabled" value="" />
                    </div>
                    <label for="select_contractterm" class="control-label col-md-3">Contract Term (Months):</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="soldmodal_contractTerm" disabled="disabled" value="@Model.ContractTerm" />
                    </div>
                </div>
                <!--Service Type AND Billing Frequency-->
                <div class="form-group" style="margin-top:5px;">
                    <label for="select_servicetype" class="control-label col-md-3">Service Type:</label>
                    <div class="col-md-3">
                        @Html.DropDownList("ServiceTypeListModel", (SelectList)ViewBag.ServiceTypeListModel, new { @class = "form-control input-sm", @id = "soldmodal_ServiceTypeListModel", @disabled = "disabled" })
                    </div>
                    <label for="select_billingfrequency" class="control-label col-md-3">Billing Frequency:</label>
                    <div class="col-md-3">
                        @Html.DropDownList("FrequencyListModel", (SelectList)ViewBag.FrequencyListModel, null, new { @class = "form-control input-sm", required = "required", @id = "soldmodal_FrequencyListModel", @disabled = "disabled" })
                    </div>
                </div>

                <!--Clean Time AND Clean Frequency-->
                <div class="form-group" style="margin-top:5px;">
                    <label for="select_cleantime" class="control-label col-md-3">Clean Time:</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="soldmodal_cleantime" disabled="disabled" value="@Model.CleanTime" />
                    </div>
                    <label for="select_cleanfrequency" class="control-label col-md-3">Clean Frequency:</label>
                    <div class="col-md-3">
                        @Html.DropDownList("ContractDetail_CleanFrequency", (SelectList)ViewBag.CleanFrequencyListModel, null, new { @class = "form-control input-sm", required = "required", @id = "soldmodal_ContractDetail_CleanFrequency", @disabled = "disabled" })
                    </div>
                </div>
            </form>

            <!--Cleaning Day-->
            <form action="#" id="form_sold_cleaningday" class="form-horizontal">
                <div class="form-group" style="margin-top:4px;" id="weekdays">
                    <label for="select_cleanday" class="control-label col-md-3" style="padding-top: 12px;">Cleaning Day:</label>
                    <div class="col-md-9" id="sold">
                        <div class="mt-checkbox-inline">
                            <label class="mt-checkbox">
                                <input type="checkbox" id="soldmodal_mon" value="1" disabled="disabled" @(Model.Mon == true ? "checked=checked" : string.Empty)> Mon
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox" id="soldmodal_tue" value="2" disabled="disabled"  @(Model.Tue == true ? "checked=checked" : string.Empty)> Tue
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox" id="soldmodal_wed" value="3" disabled="disabled"  @(Model.Wed == true ? "checked=checked" : string.Empty)> Wed
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox" id="soldmodal_thu" value="4" disabled="disabled"  @(Model.Thu == true ? "checked=checked" : string.Empty)> Thu
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox" id="soldmodal_fri" value="5" disabled="disabled"  @(Model.Fri == true ? "checked=checked" : string.Empty)> Fri
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox" id="soldmodal_sat" value="6" disabled="disabled"  @(Model.Sat == true ? "checked=checked" : string.Empty)> Sat
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox" id="soldmodal_sun" value="7" disabled="disabled"  @(Model.Sun == true ? "checked=checked" : string.Empty)> Sun
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Note -->
            <form action="#" class="form-horizontal">
                <div class="form-group">
                    <label for="select_stagestatus" class="control-label col-md-4">Note<span class="required"></span>:</label>
                    <div class="col-md-6">
                        <textarea name="note" id="text_soldmodal" class="form-control autosizeme" rows="6" style="font-size: 11px" disabled="disabled">@Model.Note</textarea>                       
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
