@using JK.Resources
@model JKViewModels.CRM.CRMAccountCustomerDetailViewModel



<form action="#" id="form_referenceinfo" class="form-horizontal">
    <div class="form-body">
        <div id="lead_Id" style="padding-top:0px; margin-top:-10px;">
            <h5 class="sbold uppercase"><b style="font-size:18px;">Lead #:</b> @Html.Label(Model.CRM_AccountId.ToString() , new { id = "crm_accountId" , @style="font-size:16px;"})</h5>
        </div>

        <div style="margin-top:16px;">
            <button id="contactinfo_cancel_btn" type="button" class="btn green btn-sm " style="width:70px; margin-top:-8px; display:none">Cancel</button>
            <button id="contactinfo_edit_btn" type="button" class="btn green btn-sm pull-right" style="width:70px; margin-top:-8px;">Edit</button>

            <!-- COMPANY INFO SECTION -->
            <h5 class="form-section sbold uppercase"><b>@JKCRMResource.companyinfo:</b></h5>

            <!-- Company Name -->
            <div class="form-group">
                <label for="input_companyname" class="control-label col-md-3 reference-label">@JKCRMResource.name<span class="required">*</span>:</label>
                <div class="col-md-9">
                    @Html.TextBox("company", Model.CompanyName, new { @class = "form-control input-sm", @id = "input_companyname", @name = "name" })
                </div>
            </div>

            <!-- Company Phone Number -->
            <div class="form-group">
                <label for="input_companyphonenumber" class="control-label col-md-3 reference-label">@JKCRMResource.phone<span class="required">*</span>:</label>
                <div class="col-sm-5 col-md-5 col-lg-5" style="padding-right:0px;">
                    @Html.TextBox("companyphonenumber", Model.CompanyPhoneNumber, new { @class = "form-control input-sm", @id = "input_companyphonenumber", @name = "number" })
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 ">
                    <button id="call_btn" type="button" class="btn blue btn-sm btn-call" style="width:70px;">Call</button>
                </div>
            </div>

            <!-- Company Website -->
            @*<div class="form-group">
                    <label for="input_companywebsite" class="control-label col-md-4 reference-label">@JKCRMResource.website:</label>
                    <div class="col-md-8">
                        @Html.TextBox("website", Model.CompanyWebSite, new { @class = "form-control input-sm", @id = "input_companywebsite" })
                    </div>
                </div>*@



            <!-- Number of Locations -->
            @*<div class="form-group">
                    <label for="input_numberoflocations" class="control-label col-md-4 reference-label">@JKCRMResource.locations:</label>
                    <div class="col-md-8">
                        @Html.TextBox("locations", Model.NumberOfLocations, new { @class = "form-control input-sm", @id = "input_numberoflocations" })
                    </div>
                </div>*@

            <!-- SqFt -->
            @*<div class="form-group">
                    <label for="input_sqft" class="control-label col-md-4 reference-label">SqFt:</label>
                    <div class="col-md-8">
                        @Html.TextBox("sqft", Model.SqFt, new { @class = "form-control input-sm", @id = "input_sqft" })
                    </div>
                </div>*@

            <!-- Line of Business -->
            @*<div class="form-group">
                    <label for="input_lineofbusiness" class="control-label col-md-4 reference-label">Line of Business:</label>
                    <div class="col-md-8">
                        @Html.TextBox("lineofbusiness", Model.LineofBusiness, new { @class = "form-control input-sm", @id = "input_lineofbusiness" })
                    </div>
                </div>*@

            <!-- Sales Volume -->
            @*<div class="form-group">
                    <label for="input_salesvolume" class="control-label col-md-4 reference-label">Sales Volume:</label>
                    <div class="col-md-8">
                        @Html.TextBox("salesvolume", Model.SalesVolume, new { @class = "form-control input-sm", @id = "input_salesvolume" })
                    </div>
                </div>*@

            <!-- Company Fax Number -->
            @*<div class="form-group">
                    <label for="input_companyfaxnumber" class="control-label col-md-4 reference-label">@JKCRMResource.fax:</label>
                    <div class="col-md-8">
                        @Html.TextBox("faxnumber", Model.CompanyFaxNumber, new { @class = "form-control input-sm", @id = "input_companyfaxnumber" })
                    </div>
                </div>*@

            <!-- Company Email -->
            @*<div class="form-group">
                    <label for="input_companyemail" class="control-label col-md-4 reference-label">@JKCRMResource.email:</label>
                    <div class="col-md-8">
                        @Html.TextBox("companyemail", Model.CompanyEmailAddress, new { @class = "form-control input-sm", @id = "input_companyemail", type = "email" })
                    </div>
                </div>*@


            <!-- CONTACT SECTION -->
            <h5 class="form-section sbold uppercase"><b>@JKCRMResource.contact:</b></h5>

            <!-- Contact Title -->
            <div class="form-group">
                <label for="input_title" class="control-label col-md-3 reference-label">Title:</label>
                <div class="col-md-9">
                    @Html.TextBox("title", Model.Title, new { @class = "form-control input-sm", @id = "input_title" })
                </div>
            </div>

            <!-- Contact First Name -->
            <div class="form-group">
                <label for="input_contactname" class="control-label col-md-3 reference-label">Name<span class="required">*</span>:</label>
                <div class="col-md-9">
                    @Html.TextBox("contactname", Model.ContactName, new { @class = "form-control input-sm", @id = "input_contactname", @name = "name" })
                </div>
            </div>

            <!-- Contact Last Name -->
            @*<div class="form-group">
                    <label for="input_contactlastname" class="control-label col-md-4 reference-label">@JKCRMResource.lastname<span class="required">*</span>:</label>
                    <div class="col-md-8">
                        @Html.TextBox("lastname", Model.LastName, new { @class = "form-control input-sm", @id = "input_contactlastname" })
                    </div>
                </div>*@

            <!-- Contact Phone Number -->
            <div class="form-group">
                <label for="input_contactphonenumber" class="control-label col-md-3 reference-label">@JKCRMResource.phone<span class="required">*</span>:</label>
                <div class="col-md-9">
                    @Html.TextBox("phonenumber", Model.PhoneNumber, new { @class = "form-control input-sm", @id = "input_contactphonenumber", @name = "number" })
                </div>
            </div>

            <!-- Contact Email Address -->
            <div class="form-group">
                <label for="input_contactemail" class="control-label col-md-3 reference-label">@JKCRMResource.email:</label>
                <div class="col-md-9">
                    @Html.TextBox("contactEmail", Model.EmailAddress, new { @class = "form-control input-sm", @id = "input_contactemail", type = "email", @name = "email" })
                </div>
            </div>


            <!-- ADDRESS SECTION -->
            <h5 class="form-section sbold uppercase"><b>@JKCRMResource.address:</b></h5>

            <!-- Address Line 1 -->
            <div class="form-group">
                <label for="input_addressline1" class="control-label col-md-4 reference-label" style="margin-left:-15px;">@JKCRMResource.address1<span class="required">*</span>:</label>
                <div class="col-md-8" style="padding-left:0px; padding-right:0px;">
                    @Html.TextBox("addessline1", Model.CompanyAddressLine1, new { @class = "form-control input-sm", @id = "input_addressline1", @name = "name" })
                </div>
            </div>

            <!-- Address Line 2 -->
            <div class="form-group">
                <label for="input_addressline2" class="control-label col-md-3 reference-label">@JKCRMResource.address2:</label>
                <div class="col-md-9">
                    @Html.TextBox("addessline2", Model.CompanyAddressLine2, new { @class = "form-control input-sm", @id = "input_addressline2" })
                </div>
            </div>

            <!-- City -->
            <div class="form-group">
                <label for="input_city" class="control-label col-md-3 reference-label">@JKCRMResource.city<span class="required">*</span>:</label>
                <div class="col-md-9">
                    @Html.TextBox("city", Model.CompanyCity, new { @class = "form-control input-sm", @id = "input_city", @name = "name" })
                </div>
            </div>

            <!-- County -->
            @*<div class="form-group">
                    <label for="input_county" class="control-label col-md-4 reference-label">@JKCRMResource.county:</label>
                    <div class="col-md-8">
                        @Html.TextBox("county", Model.CompanyCounty, new { @class = "form-control input-sm", @id = "input_county" })
                    </div>
                </div>*@

            <!-- State -->
            <div class="form-group">
                <label for="select_state" class="control-label col-md-3 reference-label">@JKCRMResource.state<span class="required">*</span>:</label>
                <div class="col-md-9">
                    @Html.DropDownList("states", (SelectList)ViewBag.State, "Select", new { @class = "form-control input-sm", @id = "select_state" })
                </div>
            </div>

            <!-- ZipCode -->
            <div class="form-group">
                <label for="input_zipcode" class="control-label col-md-3 reference-label">@JKCRMResource.zipCode<span class="required">*</span>:</label>
                <div class="col-md-9">
                    @Html.TextBox("zipcode", Model.CompanyZipCode, new { @class = "form-control input-sm", @id = "input_zipcode", @name = "number", maxlength = "5" })
                </div>
            </div>
        </div>
    </div>
</form>
