@model JKViewModels.CRM.PotentialLeadEmailTemplateModel

<table style="width: 513px;">
    <tbody>
        <tr>
            <td style="width: 437px;" colspan="2">Dear @Model.UserName</td>
        </tr>
        <tr>
            <td style="width: 150px;"></td>
            <td style="width: 287px;"></td>
        </tr>
        <tr>
            <td style="width: 150px;"></td>
            <td style="width: 287px;"></td>
        </tr>
        <tr>
            <td style="width: 437px;" colspan="2">You have new Lead assigned to you, please find information below:</td>
        </tr>
        <tr>
            <td style="width: 150px;"></td>
            <td style="width: 287px;"></td>
        </tr>
        <tr>
            <td style="width: 150px;"></td>
            <td style="width: 287px;"></td>
        </tr>
        <tr>
            <td style="width: 150px;">Lead No:</td>
            <td style="width: 287px;">@Model.LeadNo</td>
        </tr>
        <tr>
            <td style="width: 150px;">Company Name:</td>
            <td style="width: 287px;">@Model.CompanyName </td>
        </tr>
        <tr>
            <td style="width: 150px;">Contact Phone #:</td>
            <td style="width: 287px;">@Model.ContactPhone </td>
        </tr>
        <tr>
            <td style="width: 150px;">Account Type:</td>
            <td style="width: 287px;">@Model.AccountType </td>
        </tr>
        <tr>
            <td style="width: 150px;">Budget Amount:</td>
            <td style="width: 287px;">@Model.BudgetAmount </td>
        </tr>
        <tr>
            <td style="width: 150px;">Schedule:</td>
            <td style="width: 287px;">@Model.Schedule </td>
        </tr>
        <tr>
            <td style="width: 150px;"></td>
            <td style="width: 287px;"></td>
        </tr>
        <tr>
            <td style="width: 150px;"></td>
            <td style="width: 287px;"></td>
        </tr>
        <tr>
            <td style="width: 150px;">Purpose:</td>
            <td style="width: 287px;">@Model.Purpose </td>
        </tr>
        <tr>
            <td style="width: 150px;">Note:</td>
            <td style="width: 287px;">@Model.Note </td>
        </tr>
    </tbody>
</table>
<br /><br />
Thank You.
