@model List<JKApi.Service.Service.Administration.Company.BBankStatmentViewModel> 
<style>
    .tblAccountHistory thead th,
    .tblAccountHistory thead td {
        padding: 3px 0px !important;
        font-size: 12px !important;
        /*background-color: #95A5A6 !important;
        color: #fff;*/
    }

    .tblAccountHistory tbody td {
        padding: 3px 0px !important;
        font-size: 12px !important;
    }

    .tblAccountHistory thead th {
        vertical-align: middle;
        font-weight: bold;
    }
</style>

<table cellspacing="0" style="width:100%;" class="tblAccountHistory">
    <thead>
        <tr>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:80px!important;"><b>Date</b></th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:85px!important;"><b>CheckNo/ Reference </b></th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:150px !important;"><b>TRX Type</b></th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:60px!important;"><b>Payer No</b></th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:120px!important;"><b>Payee/Payer</b></th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:35px!important;"><b>Code</b></th>            
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:85px!important;"><b>Decription/ Reason</b></th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:70px!important;"><b>Debit</b></th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:70px!important;"><b>Credit</b></th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:90px!important;"><b>Balance</b></th>            
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            //decimal DebitTotal = 0;
            //decimal CreditAmount = 0;            
            //decimal BalanceAmount = 0;

            foreach (var item in Model)
            {
                        <tr>
                            <td style="text-align:left;">@Convert.ToDateTime(item.TransactionDate).ToString("MM/dd/yyyy") </td>
                            <td style="text-align:left;">@Html.DisplayFor(modelItem => item.ReferenceNumber)</td>
                            <td style="text-align:left;">@Html.DisplayFor(modelItem => item.TrxType)</td>
                            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.PayeeNo)</td>
                            <td style="text-align:left;">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.Code)</td>                            
                            <td style="text-align:left;">@Html.DisplayFor(modelItem => item.Notes)</td>                            
                            <td style="text-align:right;">@string.Format("{0:C}", item.Debit)</td>                            
                            <td style="text-align:right;">@string.Format("{0:C}", item.Credit)  </td>
                            <td style="text-align:right;">@string.Format("{0:C}", item.Balance)  </td>                       
                        </tr>
                //DebitTotal += Convert.ToDecimal(item.Debit);
                //CreditAmount += Convert.ToDecimal(item.Credit);         
                //BalanceAmount += Convert.ToDecimal(item.Balance);
            }
            @*<tr>
                <td colspan="7" align="right">
                    <b>Total:</b>
                </td>
                <td style="text-align:right;">
                    <b>@string.Format("{0:C}", DebitTotal)</b>
                </td>
                <td style="text-align:right;">
                    <b>@string.Format("{0:C}", CreditAmount)</b>
                </td>                
                <td style="text-align:right;">
                    <b>@string.Format("{0:C}", BalanceAmount)</b>
                </td>

            </tr>*@            
        }
    </tbody>
</table>

<div style="page-break-before:always"></div>