
@{
    ViewBag.Title = "PaidInvoiceSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/admin/assets/Card/dist/card.css" rel="stylesheet" />
<link href="~/Content/admin/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css")" rel="stylesheet" />
<link href="~/Content/admin/assets/global/plugins/icheck/skins/minimal/_all.css" rel="stylesheet" />

@section styles{

    <link href="~/Content/admin/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css")" rel="stylesheet" />
    <style type="text/css">
        .topheader {
            font-size: 14px;
            font-weight: bold;
            color: #FFF !important;
            text-transform: uppercase;
            margin-top: 3px;
        }


        .lbl-p5 {
            padding: 5px;
        }

            .lbl-p5.red {
                color: red;
            }


            .lbl-p5.green {
                color: lightgreen;
            }

        input[type="text"].txtcolon:before {
            content: ": ";
        }

        .credit-field {
            width: 80px !important;
        }

        .alignRight {
            text-align: right;
        }

        .alignCenter {
            text-align: center;
        }

        .close {
            background-image: url(/Content/admin/assets/global/img/stick_close.png) !important;
            height: 12px !important;
            width: 12px !important;
            margin-top: 0px !important;
        }

        .custom-listbox .headerbox {
            padding: 3px 0px 3px 5px;
            font-weight: normal;
        }

        .custom-listbox {
            margin-top: 4px;
            margin-bottom: 0px;
        }

        .row {
            margin: 0;
            padding: 3px 0;
        }

        .btn.multiselect {
            text-align: left;
            padding-top: 4px;
            padding-bottom: 4px;
            font-size: 11px;
            color: #555;
        }

        .multiselect .caret {
            right: 0;
            position: absolute;
            margin-top: 8px;
            margin-right: 8px;
        }

        .multiselect-container.dropdown-menu {
            text-transform: none;
            font-size: 14px;
        }

        .no-padding {
            padding: 0;
        }

        #modal_RegionModel .modal-content {
            width: 55% !important;
            margin-left: 30% !important;
        }

        table.dataTable thead th {
            padding: 4px !important;
        }
    </style>
}


 <div class="headerbox">
    <div class="row" style="background-color: #3598DC;color: #fff;">
        <div class="col-md-12 no-padding">
            <div class="alignCenter">
                <div class="col-md-4" style="text-align:right;">
                </div>
                <div class="col-md-4 topheader">
                    AP - Paid Invoice
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-listbox" style="margin-top:4px;margin-bottom:3px;">
    <div class="headerbox">
        <div class="row no-padding">
            <div class="col-sm-1 page-size">
                <select class="form-control input-sm" id="pageSize" style="padding-left:6px;">
                    <option value="-1">All</option>
                    <option value="100" selected>100</option>
                    <option value="50">50</option>
                    <option value="25">25</option>
                </select>
            </div>
            <div class="col-md-3">
                <div class="input-icon">
                    <i class="icon-magnifier icon-align-right" style="margin-top: 8px;"></i>
                    <input id="input_Search" type="text" required name="customernumber" autocomplete="off" placeholder="Search" value="" class="form-control input-sm typeahead" />
                </div>
            </div>
            
          

            <div class="col-md-7 ">
                <div class="col-md-7 pull-right no-padding" >
                    <div class="col-md-6 no-padding">
                        <select id="select_timeduration2" class="form-control input-sm">
                            <option value="0">Select One</option>
                            <option value="1">This Week</option>
                            <option value="2">This Week-to-date</option>
                            <option value="3">This Month</option>
                            <option value="4">This Month-to-date</option>
                            <option value="5">This Quarter</option>
                            <option value="6">This Quarter-to-date</option>
                            <option value="7">This Fiscal Year</option>
                            <option value="8">This Fiscal Year-to-date</option>
                            <option value="9">Today</option>
                            <option value="10">Yesterday</option>
                            <option value="11">Last Week</option>
                            <option value="12">Last Month</option>
                            <option value="13">Last Quarter</option>
                            <option value="14">Last Year</option>
                            <option value="15">Custom Date</option>
                            <option value="16">Period</option>
                        </select>
                    </div>
                    <div id="div_spandate2" class="col-md-5 divspandate" style="margin-top: 3px; margin-left: 0px; display: block; ">
                        <span id="spnStartDate2"></span> - <span id="spnEndDate2"></span>
                    </div>
                    <div class="col-md-3 no-padding" style="margin-left: 3px; width: 70px; display: none;" id="divSD2">
                        <input type="text" name="txtStartDate2" id="txtStartDate2" value="" class="form-control input-sm date-picker RemovePeriodvalidation" style="padding: 3px;" />
                    </div>
                    <div class="col-md-3 no-padding" style="margin-left: 3px; width: 70px; display: none;" id="divED2">
                        <input type="text" name="txtEndDate2" id="txtEndDate2" value="" class="form-control input-sm date-picker RemovePeriodvalidation" style="padding: 3px;" />
                    </div>
                    <div class="col-md-3 no-padding" style="margin-left: 3px; width: 70px; display: none;" id="divmonth2">
                        <select id="monthlist2" class="form-control input-sm">
                            <option value=""></option>
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">Aug</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                    </div>
                    <div class="col-md-3 no-padding" style="margin-left: 3px; width: 70px; display: none;" id="divyear2">
                        <select class="form-control input-sm" id="yearlist2" style="padding-left: 2px;">
                            <option value=""></option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="col-md-5" no-padding" style="margin-left: 3px; width: 50px;">
                <button type="button" onclick="SearchClick()" class="btn btn-primary btn-sm pull-right" style="margin-right: 5px;">Refine Search</button>
            </div>
        </div>
    </div>
</div>
<div id="tabledata" class="tablebox">
    <div class="row padding-tb1">
        <div class="row no-padding">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="tblPaidInvoiceList">
                    <thead>
                        <tr>
                            <th class="tblPaidInvVendor" style="text-align:center;">
                                Vendor
                            </th>
                            <th class="tblPaidInvInvNo" style="text-align:center;">
                                Invoice No
                            </th>
                            <th class="tblpaidInvInvoiceDate" style="text-align:center;">
                                Invoice Date
                            </th>
                           <th class="tblPaidInvCheckdate" style="text-align:center;">
                                Check Date
                            </th>
                            <th class="tblPaidInvChecknum" style="text-align:center;">
                                Check Number
                            </th>
                            <th class="tblPaidInvGrossAmt" style="text-align:center;">
                                Gross Amount
                            </th>
                            <th class="tblPaidInvdiscounts" style="text-align:center;width:140px;">
                                Discounts
                            </th>
                            <th class="tblPaidNetPaid" style="text-align:center;">
                                Net Paid
                            </th>
                        </tr>

                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" style="text-align:right;background: #b7cbef;font-size: 12px;">
                                Total
                            </td>
                            <td style="text-align:right;background: #b7cbef;padding-right:5px;font-size: 12px;">&nbsp;</td>
                            <td style="text-align:right;background: #b7cbef;padding-right:5px;font-size: 12px;">&nbsp;</td>
                            <td style="text-align:right;background: #b7cbef;padding-right:5px;font-size: 12px;">&nbsp;</td>
                            
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="modal_SearchModel" tabindex="-1" role="basic" aria-hidden="true" style="display: none; padding-right: 17px;padding-top:60px;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 8px;">
            <div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
                <h4 class="modal-title" style="margin-top: 0px;margin-bottom: 4px;padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;border-radius: 8px 8px 0 0;text-transform: uppercase;">
                    Paid Invoice Search
                </h4>
            </div>
            <div class="modal-body" id="" style="padding: 15px 25px 5px 25px;">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label pull-right" style="margin-bottom:5px;font-weight:bold;text-align:right;">Paid Date Range:</label>
                    </div>
                    
                        <div class="col-md-8 pull-left no-padding" style="text-align:center;">
                            <div class="col-md-5 no-padding" style="margin-left:15px;">
                                <select id="select_timeduration" class="form-control input-sm">
                                    <option value="0">Select One</option>
                                    <option value="1">This Week</option>
                                    <option value="2">This Week-to-date</option>
                                    <option value="3">This Month</option>
                                    <option value="4">This Month-to-date</option>
                                    <option value="5">This Quarter</option>
                                    <option value="6">This Quarter-to-date</option>
                                    <option value="7">This Fiscal Year</option>
                                    <option value="8">This Fiscal Year-to-date</option>
                                    <option value="9" selected>Today</option>
                                    <option value="10">Yesterday</option>
                                    <option value="11">Last Week</option>
                                    <option value="12">Last Month</option>
                                    <option value="13">Last Quarter</option>
                                    <option value="14">Last Year</option>
                                    <option value="15">Custom Date</option>
                                    <option value="16">Period</option>
                                </select>
                            </div>
                            <div id="div_spandate" class="col-md-5 divspandate no-padding" style="margin-top: 3px; margin-left: 0px; display: block; float: right;">
                                <span id="spnStartDate"></span> - <span id="spnEndDate"></span>
                            </div>
                            <div class="col-md-3 no-padding" style="margin-left: 3px; width: 70px; display: none;" id="divSD">
                                <input type="text" name="txtStartDate" id="txtStartDate" value="" class="form-control input-sm date-picker RemovePeriodvalidation" style="padding: 3px;" />
                            </div>
                            <div class="col-md-3 no-padding" style="margin-left: 3px; width: 70px; display: none;" id="divED">
                                <input type="text" name="txtEndDate" id="txtEndDate" value="" class="form-control input-sm date-picker RemovePeriodvalidation" style="padding: 3px;" />
                            </div>
                            <div class="col-md-3 no-padding" style="margin-left: 3px; width: 70px; display: none;" id="divmonth">
                                <select id="monthlist" class="form-control input-sm">
                                    <option value=""></option>
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                            </div>
                            <div class="col-md-3 no-padding" style="margin-left: 3px; width: 70px; display: none;" id="divyear">
                                <select class="form-control input-sm" id="yearlist" style="padding-left: 2px;">
                                    <option value=""></option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                </select>
                            </div>
                        </div>
                 
                    @*<div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label pull-right" style="margin-bottom:5px;font-weight:bold;text-align:right;">Paid Date Range:</label>
                        </div>
                        
                        <div class="col-md-3">
                            <select class="form-control input-sm" id="lstdaterange" name="lstdaterange">
                                <option value="1">Custom</option>
                                <option value="2">Today</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" name="txtStartDate" id="txtStartDate" value="" class="form-control input-sm date-picker" style="padding: 3px;" />
                        </div>
                        <div class="col-md-3">
                            <input type="text" name="txtEndDate" id="txtEndDate" value="" class="form-control input-sm date-picker" style="padding: 3px;" />
                        </div>
                    </div>*@
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label pull-right" style="margin-bottom:5px;font-weight:bold;text-align:right;">Form Check#:</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtFromCheckNo" class="form-control input-sm" />
                        </div>
                        <div class="col-md-1">
                            To
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtToCheckNo" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label pull-right" style="margin-bottom:5px;font-weight:bold;text-align:right;">Form Inv#:</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtFromInvoice" class="form-control input-sm" />
                        </div>
                        <div class="col-md-1">
                            To
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtToInvoice" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="text-align:center;">
                    <div class="col-md-6 pull-right no-padding">
                        
                    </div>
                </div>
                <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label pull-right" style="margin-bottom:5px;font-weight:bold;text-align:right;">Vendor:</label>
                </div>
                <div class="col-md-7">
                    @Html.DropDownList("slVendorList", (SelectList)ViewBag.VendorList, "All", new { @class = "form-control input-sm", @id = "slVendorList" })
                </div>
                </div>
            </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label pull-right" style="margin-bottom:5px;font-weight:bold;text-align:right;">Order By:</label>
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownList("slOrderByList", (SelectList)ViewBag.OrderbyList, "Vendor", new { @class = "form-control input-sm", @id = "slOrderByList" })
                           
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: -5px;margin-bottom: -5px;">
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="mt-checkbox-list">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    Include Voided Checks on Report
                                    <input type="checkbox" value="1" name="test">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 pull-right">
                    <input type="hidden" id="tempIdDelete" />
                    <button type="button" id="btnSave" onclick="btnGetData_Click(1)" class="btn btn-primary">Submit</button>
                    <button type="button" id="btnCancel" class="btn btn-primary closeA">Reset</button>

                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @if (Request.IsSecureConnection)
    {
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
    }
    else
    {
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
    }
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/select2/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/datatable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/app.min.js")" type="text/javascript" )"></script>
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/table-datatables-managed.min.js")" type="text/javascript"></script>
    <script src="~/Content/admin/assets/global/plugins/icheck/icheck.min.js"></script>
}
@section scripts{
    <script>
        var tblPaidInvoiceList;
        var selMonth = '';
        var selYear = '';
        var optValue = 0;

        jQuery(document).ready(function () {
            //$("#modal_SearchModel").modal({ backdrop: 'static' });

            var ps = $('#pageSize').val();

            $("#pageSize").change(function () {
                setPaging();
            });

            $('#txtStartDate').datepicker({ dateFormat: 'dd-mm-yyyy' }).val();
            $('#txtEndDate').datepicker({ dateFormat: 'dd-mm-yyyy' }).val();

            
            $("#lstdaterange").change(function () {
                var selectedvalue = parseInt($(this).val());
                var firstDay = '';
                var lastDay = '';

                switch (selectedvalue) {
                    case 1:
                        firstDay = '';
                        lastDay = '';

                        $("#txtStartDate").val('');
                        $("#txtEndDate").val('');

                        break;
                    case 2:
                        firstDay = new Date();
                        lastDay = new Date();

                        $("#txtStartDate").val((firstDay.getMonth() + 1) + '/' + firstDay.getDate() + '/'+ firstDay.getFullYear());
                        $("#txtEndDate").val((lastDay.getMonth() + 1) + '/' + lastDay.getDate() + '/' + lastDay.getFullYear());
                    
                        break;
                    default:
                }

            });
            
           
            if ($('#select_timeduration2').val() == 0) {
                $('#select_timeduration2').val(9);
                applyDurationFilter(9, 2);
            }

            function setPaging() {
                var z = $("#pageSize").val();
                var table = $("#tblPaidInvoiceList").DataTable();
                if (z > 0) {
                    table.page.len(z).draw();
                }
                else if (z == -1) {
                    table.page.len(table.rows().count()).draw();
                }
                else {
                    table.page.page.len(25).draw();
                }
            }

            $('#select_timeduration2').change(function () {
                applyDurationFilter(parseInt($(this).val()), 2);
              
            });

            $('#select_timeduration').change(function () {
                applyDurationFilter(parseInt($(this).val()), 1);
               
            });

      
            function applyDurationFilter(v, type) {

                switch (parseInt(type)) {
                    case 1:
                        $('#spnStartDate').html('');
                        $('#spnEndDate').html('');
                        $('#div_spandate').show();
                        $('#divSD').hide();
                        $('#divED').hide();
                        $('#divmonth').hide();
                        $('#divyear').hide();
                        $('#spnStartDate').html('');
                        $('#spnEndDate').html('');
                        $('#monthlist').val('');
                        $('#yearlist').val('');
                        break;
                    case  2:
                        $('#spnStartDate2').html('');
                        $('#spnEndDate2').html('');
                        $('#div_spandate2').show();
                        $('#divSD2').hide();
                        $('#divED2').hide();
                        $('#divmonth2').hide();
                        $('#divyear2').hide();
                        $('#spnStartDate2').html('');
                        $('#spnEndDate2').html('');
                        $('#monthlist2').val('');
                        $('#yearlist2').val('');
                        break;
                    default:
                }

                switch (v) {
                    case 1:
                        firstDay = moment().startOf('isoWeek').toString();
                        lastDay = moment().endOf('isoWeek').toString();
                        break;
                    case 2:
                        //code block
                        firstDay = moment().startOf('isoWeek').toString();
                        lastDay = new Date().toString();
                        break;
                    case 3:
                        firstDay = moment().subtract(0, 'month').startOf('month').toString();
                        lastDay = moment().subtract(0, 'month').endOf('month').toString();
                        break;
                    case 4:
                        //code block
                        firstDay = moment().subtract(0, 'month').startOf('month').toString();
                        lastDay = new Date().toString();
                        break;
                    case 5:
                        //code block
                        firstDay = moment().startOf('quarter').toString();
                        lastDay = moment().endOf('quarter').toString();
                        break;
                    case 6:
                        //code block
                        firstDay = moment().startOf('quarter').toString();
                        lastDay = new Date().toString();
                        break;
                    case 7:
                        //code block
                        firstDay = moment().startOf('year').toString();;
                        lastDay = moment().endOf('year').toString();
                        break;
                    case 8:
                        //code block
                        firstDay = moment().startOf('year').toString();
                        lastDay = new Date().toString();
                        break;
                    case 9:
                        //code block
                        firstDay = moment().toString();
                        lastDay = moment().toString();
                        break;
                    case 10:
                        //code block
                        firstDay = moment().add(-1, 'days').toString();
                        lastDay = moment().add(-1, 'days').toString();
                        break;
                    case 11:
                        //code block
                        firstDay = moment().subtract(1, 'week').startOf('week').toString();
                        lastDay = moment().subtract(1, 'week').endOf('week').toString();
                        break;
                    case 12:
                        //code block
                        firstDay = moment().subtract(1, 'month').startOf('month').toString();
                        lastDay = moment().subtract(1, 'month').endOf('month').toString();
                        break;
                    case 13:
                        //code block
                        firstDay = moment().subtract(1, 'quarter').startOf('quarter').toString();
                        lastDay = moment().subtract(1, 'quarter').endOf('quarter').toString();
                        break;
                    case 14:
                        //code block
                        firstDay = moment().subtract(1, 'year').startOf('year').toString();
                        lastDay = moment().subtract(1, 'year').endOf('year').toString();
                        break;
                    case 15:
                        //code block
                        switch (parseInt(type)) {
                            case 1:
                                $('#div_spandate').hide();
                                $('#divSD').show();
                                $('#divED').show();
                                $('#txtStartDate').val('');
                                $('#txtEndtDate').val('');
                                break;
                            case 2:
                                $('#div_spandate2').hide();
                                $('#divSD2').show();
                                $('#divED2').show();
                                $('#txtStartDate2').val('');
                                $('#txtEndDate2').val('');
                                break;
                            default:
                        }
                       break;
                    case 16:
                        switch (parseInt(type)) {
                            case 1:
                                $('#div_spandate').hide();
                                $('#divSD').hide();
                                $('#divED').hide();
                                $('#divmonth').show();
                                $('#divyear').show();
                                break;
                            case 2:
                                $('#div_spandate2').hide();
                                $('#divSD2').hide();
                                $('#divED2').hide();
                                $('#divmonth2').show();
                                $('#divyear2').show();
                                break;
                            default:
                        }
                        break
                    default:
                        //code block
                }

                switch (parseInt(type)) {
                    case 1:
                        $('#spnStartDate').html(moment(firstDay).format('L'));
                        $('#spnEndDate').html(moment(lastDay).format('L'));
                        break;
                    case 2:
                        $('#spnStartDate2').html(moment(firstDay).format('L'));
                        $('#spnEndDate2').html(moment(lastDay).format('L'));
                       
                        if ((v != 15 && v != 16) && ($('#spnStartDate2').html() != "" && $('#spnEndDate2').html() != "")) {
                            btnGetData_Click(0);
                        }

                        break;
                    default:
                }

               
            }

            $('#txtStartDate').change(function () {
                $('#spnStartDate').html($(this).val());
            });

            $('#txtEndDate').change(function () {
                $('#spnEndDate').html($(this).val());
            });

            $('#txtStartDate2').change(function () {
                $('#spnStartDate2').html($(this).val());
            });

            $('#txtEndDate2').change(function () {
                $('#spnEndDate2').html($(this).val());
                if (txtStartDate2 != "" && txtEndDate2 != "") {
                    btnGetData_Click(0)
                }
            });

            $('#monthlist').change(function () {
                selMonth = $(this).val();
                $('#spnStartDate').html('');
             
            });

            $('#yearlist').change(function () {
                if ($('#monthlist').val() != '' && $('#yearlist').val() != '') {
                    selYear = $(this).val();
                    var selDate = new Date(selYear.toString() + '-' + selMonth.toString() + '-01');
                    var firstDay = new Date(selDate.getFullYear(), selDate.getMonth(), 1);
                    var lastDay = new Date(selDate.getFullYear(), selDate.getMonth() + 1, 0);
                    $('#spnStartDate').html(firstDay.toString());
                    $('#spnEndDate').html(lastDay.toString());
                }
            });

            $('#monthlist2').change(function () {
                selMonth = $(this).val();
                $('#spnStartDate2').html('');
            });

            $('#yearlist2').change(function () {
            
                if ($('#monthlist2').val() != '' && $('#yearlist2').val() != '') {
                    selYear = $(this).val();
                    var selDate2 = new Date(selYear.toString() + '-' + selMonth.toString() + '-01');
                    var firstDay2 = new Date(selDate2.getFullYear(), selDate2.getMonth(), 1);
                    var lastDay2 = new Date(selDate2.getFullYear(), selDate2.getMonth() + 1, 0);
                    $('#spnStartDate2').html(firstDay2.toString());
                    $('#spnEndDate2').html(lastDay2.toString());

                    btnGetData_Click(0);
                }
            });

            $("#input_Search").keyup(function () {
                var table = $("#tblPaidInvoiceList").DataTable();
                table.search($(this).val()).draw();
            });


            var groupcol = 0;
            tblPaidInvoiceList = $('#tblPaidInvoiceList').DataTable({

                "ordering": true,
                "bAutoWidth": false,
                "iDisplayLength": ps == '-1' ? 25 : ps,
                "bDestroy": true,
                "bServerSide": false,
                "dom": "<'table-responsive't><'bottom'ip><'clear'>",
                "aaSorting": [[0, "desc"]],
                "order": [[groupcol, 'asc']],

                columnDefs: [

                     {
                         targets: "tblPaidInvVendor",
                         data: "VendorId",
                         className: "dt-left",
                         render: function (data, type, row, meta) {
                             return data;
                         }
                     },
                    {
                        targets: "tblPaidInvInvNo",
                        data: "InvoiceNum",
                        className: "dt-left",
                        render: function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        targets: "tblpaidInvInvoiceDate",
                        data: "InvoiceDate",
                        className: "dt-center",
                        render: function (data, type, row, meta) {
                            return formatJSONDateUtc(data);
                        }
                    },
                    {
                        targets: "tblPaidInvCheckdate",
                        data: "CheckDate",
                        className: "dt-center",
                        render: function (data, type, row, meta) {
                            return formatJSONDateUtc(data);
                        }
                    },
                    {
                        targets: "tblPaidInvChecknum",
                        data: "CheckNum",
                        className: "dt-center",
                        render: function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        targets: "tblPaidInvGrossAmt",
                        data: "ChkGrossAmtDue",
                        className: "dt-right",
                        render: function (data, type, row, meta) {
                            return data.toFixed(2);
                            //return formatCurrency(parseFloat(data));
                        }
                    },
                    {
                        targets: "tblPaidInvdiscounts",
                        data: "ChkDiscAmt",
                        className: "dt-right",
                        render: function (data, type, row, meta) {
                            return data.toFixed(2);
                            //return formatCurrency(parseFloat(data));
                        }
                    },
                    {
                        targets: "tblPaidNetPaid",
                        data: "ChkNetPaid",
                        className: "dt-right",
                        render: function (data, type, row, meta) {
                            return data.toFixed(2);
                            //return formatCurrency(parseFloat(data));
                        }
                    },

                ],

               

                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                            i : 0;
                    };

                    var totalGrossAmount = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    var totalDiscounts = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    var totalNetPaid = api
                        .column(7)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    $(api.column(5).footer()).html(formatCurrency(totalGrossAmount));
                    $(api.column(6).footer()).html(formatCurrency(totalDiscounts));
                    $(api.column(7).footer()).html(formatCurrency(totalNetPaid));
                },
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;
                    var prevVendorStr = "";
   
                    var prevVendorCount = 0;
                    var totalGrossAmount = parseFloat(0.00);
                    var totalDiscounts = parseFloat(0.00);
                    var totalNetPaid = parseFloat(0.00);
                    var dtRowCount = 0;

                  
                    api.column(groupcol, { page: 'current' }).data().each(function (group, i) {
                       
                        if (group != prevVendorStr) {

                            if (parseInt(prevVendorCount) > 0) {
                                $(rows).eq(i).before(
                                    '<tr class="group" style="font-weight:bold">' +
                                        '<td colspan="5" >' + 'Total' + '</td>' +
                                        '<td style="text-align:right;">' + formatCurrency(parseFloat(totalGrossAmount)) + '</td>' +
                                        '<td style="text-align:right;">' + formatCurrency(parseFloat(totalDiscounts)) + '</td>' +
                                        '<td style="text-align:right;">' + formatCurrency(parseFloat(totalNetPaid)) + '</td>' +
                                    '</tr>'
                                );
                            }

                            $(rows).eq(i).before('<tr class="group" style="color: blue;background: #bbf7f7;font-weight:bold;"><td colspan="8">' + group + '</td></tr>');

                            totalGrossAmount = parseFloat(0.00);
                            totalDiscounts = parseFloat(0.00);
                            totalNetPaid = parseFloat(0.00);
                            prevVendorCount = parseInt(0.00);

                        } else {

                            $('td:eq(0)', $(rows)).html('');
                        }

                        totalGrossAmount += parseFloat($('td:eq(5)', $(rows).eq(i)).html().replace('$', ""));
                        totalDiscounts += parseFloat($('td:eq(6)', $(rows).eq(i)).html().replace('$', ""));
                        totalNetPaid += parseFloat($('td:eq(7)', $(rows).eq(i)).html().replace('$', ""));
                        prevVendorCount =  parseInt(prevVendorCount) + 1;
                        prevVendorStr = group;

                        if ((i + 1) == rows.count()) {
                            if (parseInt(prevVendorCount) > 0) {
                                $(rows).eq(i).after(
                                    '<tr class="group" style="font-weight:bold">' +
                                        '<td colspan="5" >' + 'Total' + '</td>' +
                                        '<td style="text-align:right;">' +  formatCurrency(parseFloat(totalGrossAmount)) + '</td>' +
                                        '<td style="text-align:right;">' + formatCurrency(parseFloat(totalDiscounts)) + '</td>' +
                                        '<td style="text-align:right;">' + formatCurrency(parseFloat(totalNetPaid)) + '</td>' +
                                    '</tr>'
                                );
                            }

                        }

                    });

                },

            });

        })

      

        $("#modal_SearchModel").on('shown.bs.modal', function (e) {
            firstDay = moment().toString();
            lastDay = moment().toString();
            $('#spnStartDate').html(moment(firstDay).format('L'));
            $('#spnEndDate').html(moment(lastDay).format('L'));
        });

        function SearchClick() {
            tblPaidInvoiceList.clear().draw(); 
            var modalSearch = $("#modal_SearchModel").modal({ backdrop: 'static' });
        }

        function btnGetData_Click(fromPopup) {
            var invurl = "";
            var selSearchValue = 0;

            if (fromPopup == 0) {
                selSearchValue = $('#select_timeduration2').val();
            } else {
                selSearchValue = $('#select_timeduration').val();
            }

            var txtFromDate = $('#txtStartDate').val();
            var txtToDate = $('#txtEndDate').val();
            var txtFromDate2 = $('#txtStartDate2').val();
            var txtToDate2 = $('#txtEndDate2').val();

            var monthList = $('#monthlist').val();
            var yearList = $('#yearlist').val();

            var monthList2 = $('#monthlist2').val();
            var yearList2 = $('#yearlist2').val();

            var fromDate = $('#spnStartDate').html();
            var toDate = $('#spnEndDate').html();
            var fromDate2 = $('#spnStartDate2').html();
            var toDate2 = $('#spnEndDate2').html();

            var fromCheck = $('#txtFromCheckNo').val();
            var toCheck = $('#txtFromCheckNo').val();
            var fromInvoice = $('#txtFromInvoice').val();
            var toInvoice = $('#txtToInvoice').val();
            var fromVendor = $('#slVendorList').val();
            var orderBy = $('#slOrderByList').val();
            
            if (fromDate != "" && toDate != "") {
                var invurl = '@Url.Action("GetPaidInvoiceData", "Company", new { area = "Portal" })?FromDate=' +  fromDate + '&ToDate=' + toDate 
                    + '&FromCheck=' + fromCheck + '&ToCheck=' + toCheck + '&FromInvoice=' + fromInvoice + '&ToInvoice=' + toInvoice
                    + '&FromVendor=' + fromVendor + '&OrderBy=' + orderBy
            }else if (fromDate2 != "" && toDate2 != "") {
                invurl = '@Url.Action("GetPaidInvoiceData", "Company", new { area = "Portal" })?FromDate=' + fromDate2 + '&ToDate=' + toDate2
                    + '&FromCheck=' + fromCheck + '&ToCheck=' + toCheck + '&FromInvoice=' + fromInvoice + '&ToInvoice=' + toInvoice
                    + '&FromVendor=' + fromVendor + '&OrderBy=' + orderBy
            } else if ($('#monthlist').val() != "" && $('#yearlist').val() != "") {
                invurl = '@Url.Action("GetPaidInvoiceData", "Company", new { area = "Portal" })?FromDate=' + fromDate2 + '&ToDate=' + toDate2
                + '&FromCheck=' + fromCheck + '&ToCheck=' + toCheck + '&FromInvoice=' + fromInvoice + '&ToInvoice=' + toInvoice
                + '&FromVendor=' + fromVendor + '&OrderBy=' + orderBy
            }

            $.ajax({
                type: "POST",
                url: invurl,
                    
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $("#modal_SearchModel").modal('hide');
                    tblPaidInvoiceList.rows.add(data.aaData).draw();
                    
                    if (fromPopup == 0) {
                        $('#spnStartDate2').html(fromDate2);
                        $('#spnEndDate2').html(toDate2);
                        $('#select_timeduration2').val(selSearchValue);
                    } else {

                        $('#spnStartDate2').html('');
                        $('#spnEndDate2').html('');
                        $('#div_spandate2').show();
                        $('#divSD2').hide();
                        $('#divED2').hide();
                        $('#divmonth2').hide();
                        $('#divyear2').hide();
                        $('#spnStartDate2').html('');
                        $('#spnEndDate2').html('');
                        $('#monthlist2').val('');
                        $('#yearlist2').val('');

                        $('#spnStartDate2').html(fromDate);
                        $('#spnEndDate2').html(toDate);
                        $('#select_timeduration2').val(selSearchValue);

                        if (txtFromDate != "" && txtToDate != "") {
                            $('#div_spandate2').hide();
                            $('#divSD2').show();
                            $('#divED2').show();
                          
                            $('#txtStartDate2').val(txtFromDate);
                            $('#txtEndDate2').val(txtToDate);
                        }

                        if (monthList != "" && yearList != "") {
                            $('#div_spandate2').hide();
                            $('#divSD2').hide();
                            $('#divED2').hide();
                            $('#divmonth2').show();
                            $('#divyear2').show();

                            $('#monthlist2').val(monthList);
                            $('#yearlist2').val(yearList);
                        }

                    }
                },
                error: function () {
                    alert("Content load failed.");
                }

            });

        }

        function formatCurrency(total) {
            var neg = false;
            if (total < 0) {
                neg = true;
                total = Math.abs(total);
            }
            return (neg ? "-$" : '$') + parseFloat(total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();
        }

        function formatJSONDateUtc(jsonDate) {
            if (jsonDate != null) {
                var dtstr = jsonDate.substr(6);
                var dateString = dtstr.substring(0, dtstr.length - 2);
                var currentTime = new Date(parseInt(dateString)).toUTCString();
                var date = moment.utc(currentTime).format("MM/DD/YYYY");
                return date;
            }
            return null;
        }



    </script>
}
