
@*
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.searchBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.searchValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.agingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monthsToInclude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.withBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isNonChargebackOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.current)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._130)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._3160)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._6190)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._91plus)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.searchBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.searchValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monthsToInclude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.withBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isNonChargebackOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.current)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._130)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._3160)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._6190)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._91plus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    </table>*@
