@model JKApi.Service.AccountReceivable.CreditDetailViewModel
@section styles{
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        tr > td {
            font-size: 12px !important;
            padding: 4px !important;
        }

        /*tr > th {
            font-size: 11px !important;
            text-transform: uppercase;
        }*/

        .row {
            margin: 0;
            padding: 5px 0;
        }

        .opendiv {
            padding: 4px;
            background-color: gold;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .closeddiv {
            padding: 4px;
            background-color: limegreen;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .overpaiddiv {
            padding: 4px;
            background-color: deepskyblue;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .overduediv {
            padding: 4px;
            background-color: orangered;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .btn {
            padding: 3px 12px;
            font-size: 12px;
        }
    </style>
}

@{ 
    int invId = Model.Invoice.InvoiceDetail.InvoiceId;
}

<div class="modal fade custom-model custom-form-design" id="@string.Format("inv{0}_modal_applypaymentform", invId)" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content" style="border-radius: 8px;">
            <div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;" onclick="onClickClosePaymentForm(@Model.Invoice.InvoiceDetail.InvoiceId)"></button>
                <h4 class="modal-title" style="margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;border-radius: 8px 8px 0 0;text-transform: uppercase;">
                    Apply Partial Payment
                </h4>
            </div>
            <div class="modal-body" style="padding: 0px 30px 15px 30px;">
                
                @Html.Hidden(string.Format("inv{0}_invoiceId", invId), invId)
                @Html.Hidden(string.Format("inv{0}_invoiceItemCount", invId), Model.Invoice.InvoiceDetailItems.Count())
                @Html.Hidden(string.Format("inv{0}_invoiceNumber", invId), Model.Invoice.InvoiceDetail.InvoiceNo)
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2 text-right"><b>Invoice No:</b></div>
                        <div class="col-md-4">@Html.DisplayFor(one => one.Invoice.InvoiceDetail.InvoiceNo)</div>
                        <div class="col-md-4 text-right"><b>Inv. Date:</b></div>
                        <div class="col-md-2">@Html.DisplayFor(one => one.Invoice.InvoiceDetail.InvoiceDate)</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right"><b>Customer No:</b></div>
                        <div class="col-md-4">@Html.DisplayFor(one => one.Invoice.InvoiceDetail.CustomerNo)</div>
                        <div class="col-md-4 text-right"><b>Due Date:</b></div>
                        <div class="col-md-2">@Html.DisplayFor(one => one.Invoice.InvoiceDetail.DueDate)</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right"><b>Customer Name:</b></div>
                        <div class="col-md-4">@Html.DisplayFor(one => one.Invoice.InvoiceDetail.Customer)</div>
                        <div class="col-md-4 text-right"><b>Amount:</b></div>
                        <div class="col-md-2 form-inline"><span>$</span>@Html.TextBox(string.Format("inv{0}_oldBalance", invId), Convert.ToString(Model.InvoiceBalance), new { @class = "form-control input-sm payment-field", @readonly = "readonly" })</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-md-offset-9 text-right"><b>Payment:</b></div>
                        <div class="col-md-2 form-inline"><span>$</span>@Html.TextBox(string.Format("inv{0}_paymentAmt", invId), "0.00", new { @class = "form-control input-sm payment-field", @readonly = "readonly" })</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-6 text-right"><b>Balance:</b></div>
                        <div class="col-md-2 form-inline"><span>$</span>@Html.TextBox(string.Format("inv{0}_newBalance", invId), Convert.ToString(Model.InvoiceBalance), new { @class = "form-control input-sm payment-field", @readonly = "readonly" })</div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-striped table-bordered table-hover order-column table-responsive" width="100%">
                        <tr>
                            <th style="width:100px" class="text-center">Line No.</th>
                            <th class="text-center">Service Desc.</th>
                            <th style="width:120px">Open Balance</th>
                            <th style="width:120px">Apply Amt.</th>
                            <th style="width:80px">Tax</th>
                            <th style="width:80px">Total</th>
                            <th style="width:120px">New Balance</th>
                        </tr>
                        @{
                            for (int i = 0; i < Model.Invoice.InvoiceDetailItems.Count(); i++)
                            {
                                var item = Model.Invoice.InvoiceDetailItems[i];

                                @Html.Hidden(string.Format("inv{0}_item{1}_taxRate", invId, i), item.TAXAmount / item.Total)

                                <tr>

                                    <td class="text-center">@item.LineNumber @Html.Hidden(string.Format("inv{0}_item{1}_LineNumber", invId, i), Convert.ToString(item.LineNumber), new { })</td>
                                    <td class="text-center">@item.Description</td>
                                    <td class="form-inline"><span>$</span>@Html.TextBox(string.Format("inv{0}_item{1}_oldBalance", invId, i), Convert.ToString(item.Balance), new { @class = "form-control input-sm payment-field", @readonly = "readonly" })</td>
                                    <td class="form-inline"><span>$</span>@Html.TextBox(string.Format("inv{0}_item{1}_paymentAmt", invId, i), null, new { @class = "form-control input-sm payment-field payment-line-item-amt-field" })</td>
                                    <td class="form-inline"><span>$</span>@Html.TextBox(string.Format("inv{0}_item{1}_tax", invId, i), "0.00", new { @class = "form-control input-sm payment-field", @readonly = "readonly" })</td>
                                    <td class="form-inline"><span>$</span>@Html.TextBox(string.Format("inv{0}_item{1}_total", invId, i), "0.00", new { @class = "form-control input-sm payment-field", @readonly = "readonly" })</td>
                                    <td class="form-inline"><span>$</span>@Html.TextBox(string.Format("inv{0}_item{1}_newBalance", invId, i), Convert.ToString(item.Balance), new { @class = "form-control input-sm payment-field", @readonly = "readonly" })</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div class="row" id="modeldetail_Below">
                    <div class="form-group">
                        <div class="row">
                            <div class="portlet light bordered" style="margin-right: 27px;margin-left: 30px; margin-bottom: -6px;">
                                <div class="col-md-1 text-right" style="margin-top: -7px;"><b>Line No:</b></div>
                                <div class="col-md-2" style="margin-top: -7px;">
                                    @Html.DropDownList(string.Format("inv{0}_LineNoList", invId), (SelectList)ViewBag.LineNoList, new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-4 text-center" style="margin-top: -7px;">
                                    <label class="mt-checkbox">
                                        <input type="checkbox" id=@string.Format("inv{0}_chkAutoApply", invId) checked="checked">Auto Apply
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-2" style="margin-top: -7px;">
                                    <label class="mt-radio">
                                        <input type="radio" id=@string.Format("inv{0}_chkAmount", invId) name="rdPaymentUnit" value="amt" checked="checked">Amount
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-2" style="margin-top: -7px;">
                                    <label class="mt-radio">
                                        <input type="radio" id=@string.Format("inv{0}_chkPercentage", invId) name="rdPaymentUnit" value="pct">Percentage
                                        <span></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover order-column table-responsive" width="100%">
                        <tr>

                            <th style="width:120px;text-align:center">Name</th>
                            <th style="width:100px;text-align:center">Number</th>
                            <th style="width:100px;text-align:center">Open Balance</th>
                            <th class="franchisee-amt-col" style="width:100px;text-align:center">Apply Amt</th>
                            <th class="franchisee-pct-col" style="width:100px;text-align:center">Apply Pct</th>
                            <th style="width:100px;text-align:center">New Balance</th>
                        </tr>
                        @{
                            for (int i = 0; i < Model.Invoice.InvoiceDetailItems.Count(); i++)
                            {
                                var invoiceLine = Model.Invoice.InvoiceDetailItems[i];
                                for (int j = 0; j < Model.FranchiseeItems.Count(); j++)
                                {
                                    var franchiseeLine = Model.FranchiseeItems[j].InvoiceFranchiseeDetailItem;
                                    if (invoiceLine.LineNumber == franchiseeLine.LineNo)
                                    {
                                        var bpId = franchiseeLine.BillingPayId;
                                        @Html.Hidden(string.Format("inv{0}_bp{1}_franchiseeid", invId, bpId), franchiseeLine.FranchiseeId, new { @class = "franchisee-row-key" })
                                        @Html.Hidden(string.Format("inv{0}_bp{1}_flinenumber", invId, bpId), franchiseeLine.LineNo, new { @class = "franchisee-row-key" })
                                        @Html.Hidden(string.Format("inv{0}_bp{1}_key", invId, bpId), bpId, new { @class = "franchisee-row-key" })
                                        @Html.Hidden(string.Format("inv{0}_bp{1}_item", invId, bpId), string.Format("item{0}", i), new { @class = "franchisee-row-item" })
                                        <tr class="franchisee-row @string.Format("franchisee-row-line{0}", invoiceLine.LineNumber)">
                                            <td class="text-center">@franchiseeLine.Name @Html.Hidden(string.Format("inv{0}_item{1}_FLineNumber", invId, i), Convert.ToString(invoiceLine.LineNumber), new {})</td>
                                            <td class="text-center">@franchiseeLine.FranchiseeNo</td>
                                            <td class="form-inline"><span>$</span>@Html.TextBox(string.Format("inv{0}_bp{1}_oldBalance", invId, bpId), Convert.ToString(franchiseeLine.Balance), new { @class = "form-control input-sm payment-field", @readonly = "readonly" })</td>
                                            <td class="franchisee-amt-col form-inline"><span>$</span>@Html.TextBox(string.Format("inv{0}_bp{1}_paymentAmt", invId, bpId), null, new { @class = "form-control input-sm payment-field" })</td>
                                            <td class="franchisee-pct-col form-inline">@Html.TextBox(string.Format("inv{0}_bp{1}_paymentPct", invId, bpId), null, new { @class = "form-control input-sm payment-field" })<span>%</span></td>
                                            <td class="form-inline"><span>$</span>@Html.TextBox(string.Format("inv{0}_bp{1}_newBalance", invId, bpId), Convert.ToString(franchiseeLine.Balance), new { @class = "form-control input-sm payment-field", @readonly = "readonly" })</td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </table>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <button type="button" class="btn green btn-block" id=@string.Format("inv{0}_btnAppy", invId) onclick="onClickContinueToNextInvoice(@Model.Invoice.InvoiceDetail.InvoiceId)">Apply</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

@section scripts{
    <script>

    </script>
}