@{
    ViewBag.Title = "Aging Report";
    //Layout = "~/Areas/Portal/Views/Shared/_LayoutPortal.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
<link href="~/Content/admin/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css")" rel="stylesheet" />
    <style type="text/css">
        
            .lbl-p5 {
                padding: 5px;
            }

                .lbl-p5.red {
                    color: red;
                }


                .lbl-p5.green {
                    color: lightgreen;
                }

            input[type="text"].txtcolon:before {
                content: ": ";
            }

            .credit-field {
                width: 80px !important;
            }

            .alignRight {
                text-align: right;
            }

            .alignCenter {
                text-align: center;
            }

            .close {
                background-image: url(/Content/admin/assets/global/img/stick_close.png) !important;
                height: 12px !important;
                width: 12px !important;
                margin-top: 0px !important;
            }

            .selectable .ui-selecting {
                background: #124D8E;
            }

            .selectable .ui-selected {
                background: #124D8E;
                color: white;
            }

            .selectable {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

                .selectable li {
                    margin: 3px;
                    padding: 0.4em;
                    font-size: 1.2em;
                    height: 42px;
                }

            a:hover, a:focus {
                color: #2a6496 !important;
                text-decoration: none !important;
                cursor: pointer;
            }

        .topheader {
            font-size: 14px;
            font-weight: bold;
            color: #FFF !important;
            text-transform: uppercase;
            margin-top: 3px;
        }

        #CustomerPaymentList tfoot > tr > td {
            padding: 5px !important;
            padding-top: 5px !important;
            padding-right: 5px !important;
            padding-bottom: 5px !important;
            padding-left: 5px !important;
            font-size: 12px !important;
        }

        .btn.multiselect {
            text-align: left;
        }

        .multiselect .caret {
            right: 0;
            position: absolute;
            margin-top: 8px;
            margin-right: 8px;
        }
        .btn.multiselect {
            text-align: left;
            padding-top: 4px;
            padding-bottom: 4px;
            font-size: 11px;
            color: #555;
        }

        .multiselect .caret {
            right: 0;
            position: absolute;
            margin-top: 8px;
            margin-right: 8px;
        }

        .multiselect-container.dropdown-menu {
            text-transform: none;
            font-size: 14px;
        }
    </style>
}
<div class="headerbox">
    <div class="col-md-12" style="background-color: #4b85cc;color: #fff;">
        <div class="alignCenter">
            <div class="col-md-offset-4 col-md-4 topheader">
                <h5><b>AGING REPORT</b></h5>
            </div>
            <div class="col-md-2 pull-right" style="padding-right:5px;padding-top: 4px;">
                <div style="display:table-cell;padding-right: 5px;">
                    Region
                </div>
                <div style="display:table-cell;width:100%;">
                    @if (ViewBag.regionlist != null)
                    {
                        
                            <select class="form-control input-sm" multiple="multiple" id="regionlist" style="display:none;">
                                @{
                                    foreach (var item in (SelectList)ViewBag.regionlist)
                                    {
                                        <option @(item.Selected ? "selected" : "") value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                                }
                </div>
            </div>

        </div>
    </div>
</div>
<div class="custom-form portlet light form form-horizontal" style="margin: 0px auto;padding:0;">
    <div class="custom-form portlet light">
        <div class="portlet-body form">
            <div class="form-body" style="padding-top:0px !important;margin-top: 0px !important;">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-5 control-label">
                            Report Date:
                        </div>
                        <div class="col-md-2">
                            <input type="text" name="txtReportDate" id="txtReportDate" disabled="disabled" value="@(DateTime.Now.ToString("MM/dd/yyyy"))" class="form-control input-sm RemovePeriodvalidation" style="padding: 3px;" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-5 control-label">
                            Aging Date:
                        </div>
                        <div class="col-md-2">
                            <input type="text" name="txtAgingDate" id="txtAgingDate" value="" class="form-control input-sm date-picker RemovePeriodvalidation" style="padding: 3px;" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-5 control-label">
                            Payment Date:
                        </div>
                        <div class="col-md-2">
                            <input type="text" name="txtPaymentDate" id="txtPaymentDate" value=""  class="form-control input-sm date-picker RemovePeriodvalidation" style="padding: 3px;" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-5 control-label">
                            Calculation Method:
                        </div>
                        <div class="col-md-2">
                            <select class="form-control input-sm" style="padding: 3px;" id="ddlBillMonth">
                                <option value="30 Day Block" selected>30 Day Block</option>
                                <option value="Bill Month">Bill Month</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-5 control-label">
                            Months to Include:
                        </div>
                        <div class="col-md-1">
                            <input type="text" name="txtMonthlstoInclude" id="txtMonthlstoInclude" value="24" class="form-control input-sm" style="padding: 3px;" />
                        </div>
                    </div>
                </div>                

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-10" style="padding-left: 30px;">
                            <label class="mt-checkbox mt-checkbox-outline">
                                Only display Invoices associated with Franchisees that DO NOT Chargeback
                                <input type="radio" value="0" name="isNonChargebackOnly" id="isNonChargebackOnly">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-10" style="padding-left: 30px;">
                            <label class="mt-checkbox mt-checkbox-outline">
                                Only display Invoices associated with Franchisees that Chargeback
                                <input type="radio" value="1" name="isNonChargebackOnly" id="isNonChargebackOnly">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="div-Outer">
                                    <div class="col-xs-5">
                                        <div style="margin:5px 10px;"><b>Unselected Region</b></div>
                                        <div class="itemDiv">
                                            <select id="unassign" multiple="multiple" style="width: 100%;height: 160px;">
                                                @foreach (var item in ViewBag.RegionList)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-1" style="padding-top: 50px;">
                                        <button type="button" id="left" class="btn btn-default" style="width:50px;margin-bottom: 3px;">></button><br />
                                        <button type="button" id="forwoard" class="btn btn-default" style="width:50px;margin-bottom: 3px;">>></button><br />
                                        <button type="button" id="right" class="btn btn-default" style="width:50px;margin-bottom: 3px;"><</button><br />
                                        <button type="button" id="backword" class="btn btn-default" style="width:50px;margin-bottom: 3px;"><<</button>
                                    </div>
                                    <div class="col-xs-5">
                                        <div style="margin:5px 10px;"><b>Selected Region</b></div>
                                        <div class="itemDiv">
                                            <select id="selectable" multiple="multiple" style="width: 100%;height: 160px;"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>*@
                <div class="form-group" style="display:none;">
                    <div class="col-md-12">
                        <div class="col-md-4"></div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="icheck-inline">
                                    <label class="">
                                        <input type="radio" name="isSummaryView" value="true" class="icheck"> Summary View
                                    </label>
                                    <label>
                                        <input type="radio" name="isSummaryView" value="false" class="icheck"> Detail View
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="col-md-4"></div>
                            <div class="col-md-1">
                                <input type="submit" class="btn btn-primary" id="btnsubmit" value="submit">
                            </div>
                            <div class="col-md-1">
                                <input type="button" class="btn btn-primary" value="Reset" style="width: 70px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>*@
@section scripts{
<script type="text/javascript">

    jQuery(document).ready(function () {
        //$("#txtReportDate").datepicker();
        //$("#txtReportDate").datepicker({ dateFormat: 'MM/dd/yyyy' }).datepicker("setDate", new Date());
        $(".selectable").selectable();

        $("#regionlist").multiselect({
            includeSelectAllOption: false,
            selectAllText: 'Select all',
            buttonWidth: '100%',
            nonSelectedText: 'Select region..',
            dropRight: true,
            numberDisplayed: 2,
        });
    });

    $('#btnsubmit').click(function () {
        showAginReport();
    })

    var showAginReport = function () {
        var data = new Object();
        data.reportDate = $('#txtReportDate').val();
        data.agingDate = $('#txtAgingDate').val();
        data.paymentDate = $('#txtPaymentDate').val();
        data.monthsToInclude = $('#txtMonthlstoInclude').val();
        data.isNonChargebackOnly = $("input[name='isNonChargebackOnly']:checked").val() || false;
        //data.isSummaryView = $("input[name='isSummaryView']:checked").val();
        data.isSummaryView = false;
        data.IsMonthView = $("#ddlBillMonth").val();
        //var regionIds = "";
        var regionIds = $("#regionlist").val();

        var url = '/Portal/AccountReceivable/AgingReport';
        url += '?reportDate=' + data.reportDate;
        url += '&agingDate=' + data.agingDate;
        url += '&paymentDate=' + data.paymentDate;
        url += '&monthsToInclude=' + data.monthsToInclude;
        url += '&isNonChargebackOnly=' + data.isNonChargebackOnly;
        url += '&isSummaryView=' + data.isSummaryView
        url += '&regionIds=' + regionIds;
        url += '&IsMonthView=' + data.IsMonthView;

        window.location.replace(url);

    };
   

</script>
}