@model JKViewModels.CRM.CRMFranchiseContractViewModel
@using JK.Resources
@using JKViewModels.CRM

@{
    var documentvm = new List<CRMDocumentViewModel>();
    if (ViewBag.Documents != null)
    {
        documentvm = (List<CRMDocumentViewModel>)ViewBag.Documents;
        documentvm = documentvm.Where(d => d.FileTypeListId == 31 || d.FileTypeListId == 32).ToList();
    }
}

<div class="modal-header modal-custom-header" id="franchisecontract_modalview_header">
    <button type="button" class="close modal-close-button" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Franchise Contract</h4>
</div>


<div class="modal-body" id="franchisecontract_modalview_body">
    <div class="row">
        <form action="#" id="form_franchisecontract" class="form-horizontal">
            <div class="form-body">

                <div class="form-group">

                    @*<div class="col-md-1"></div>*@
                    <input type="checkbox" name="service" class="i - checks control-label col-md-1 aawork" @(Model.FranchiseQuestionaire == true ? "checked=checked" : string.Empty ) disabled="disabled" />
                    <div class="col-md-3" style="padding-left:0px;padding-right:0px;">
                        <label for="select_accountanalysisbook" class="">Franchise Questionaire</label>
                    </div>
                    <input type="checkbox" name="service" class="i - checks control-label col-md-1 aawork" @(Model.FranchiseDisclosure == true ? "checked=checked" : string.Empty) disabled="disabled" />
                    <div class="col-md-7" style="padding-left: 0px;padding-right: 0px;">
                        <label for="select_BidSheetbook" class="">Signed Acknowledgement of Disclosure(Receipt)</label>
                    </div>
                </div>

                <div class="form-group">
                    @foreach (var item in documentvm)
                    {
                        if (item.File_Name.Substring(item.File_Name.LastIndexOf('.') + 1) == "pdf")
                        {
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                                <a target="_blank" href="/CRM/CRMPotentialFranchise/DownloadDocument?id=@item.CRM_DocumentId">
                                    <img src="~/Images/if_pdf.png" />
                                </a>
                            </div>
                        }
                        else if (item.File_Name.Substring(item.File_Name.LastIndexOf('.') + 1) == "doc" || item.File_Name.Substring(item.File_Name.LastIndexOf('.') + 1) == "docx")
                        {
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                                <a target="_blank" href="/CRM/CRMPotentialFranchise/DownloadDocument?id=@item.CRM_DocumentId">
                                    <img src="~/Images/if_Doc.png" />
                                </a>
                            </div>

                        }
                        else if (item.File_Name.Substring(item.File_Name.LastIndexOf('.') + 1) == "xls" || item.File_Name.Substring(item.File_Name.LastIndexOf('.') + 1) == "xlsx" || item.File_Name.Substring(item.File_Name.LastIndexOf('.') + 1) == "xlsm")
                        {
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                                <a target="_blank" href="/CRM/CRMPotentialFranchise/DownloadDocument?id=@item.CRM_DocumentId">
                                    <img src="~/Images/if_xls.png" />
                                </a>
                            </div>
                        }
                        else if (item.File_Name.Substring(item.File_Name.LastIndexOf('.') + 1) == "txt")
                        {
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                                <a target="_blank" href="/CRM/CRMPotentialFranchise/DownloadDocument?id=@item.CRM_DocumentId">
                                    <img src="~/Images/if_Text.png" />
                                </a>
                            </div>
                        }
                        else if (item.File_Name.Substring(item.File_Name.LastIndexOf('.') + 1) == "jpg" || item.File_Name.Substring(item.File_Name.LastIndexOf('.') + 1) == "jpeg" || item.File_Name.Substring(item.File_Name.LastIndexOf('.') + 1) == "png")
                        {
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                                <a target="_blank" href="/CRM/CRMPotentialFranchise/DownloadDocument?id=@item.CRM_DocumentId">
                                    <img src="~/Images/if_image.png" />
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                                <a target="_blank" href="/CRM/CRMPotentialFranchise/DownloadDocument?id=@item.CRM_DocumentId">
                                    <img src="~/Images/if_defult.png" />
                                </a>
                            </div>
                        }
                    }
                </div>

                <div class="form-group" style="margin-bottom:-10px !important">
                    <div class="col-md-12" style="text-align:right;">
                        <button type="button" class="btn btn-primary" @*onclick="FileView(@Model.CRM_AccountCustomerDetailId)"*@>
                            View Files
                        </button>
                    </div>

                </div>


                <!--Prospect Sign Agreement-->
                <form>
                    <div class="form-group" style="margin-top:5px;">
                        <label for="radio_signagreement" class="control-label col-md-4" id="lbl_signagreement">Prospect Sign Agreement<span class="required">*</span>:</label>
                        <div class="col-md-8">
                            <label class="check-inline" style="margin-top: 6px; margin-left:20px;">
                                <input type="radio" name="membership" value="1" @(Model.SignAgreement == true ? "checked=checked" : string.Empty) class="i-checks" disabled="disabled" />
                                <span>Yes</span>
                            </label>

                            <label class="check-inline" style="margin-top: 6px; margin-left:60px;">
                                <input type="radio" name="membership" value="0" @(Model.SignAgreement == false ? "checked=checked" : string.Empty) class="i-checks" disabled="disabled" />
                                <span>No</span>
                            </label>
                        </div>
                    </div>
                </form>

                <!--Must have Compnay Created -->
                <div class="form-group">
                    <label for="select_companycreated" class="control-label col-md-4">Company Created<span class="required">*</span>:</label>
                    <div class="col-md-6">
                        <select id="select_companycreated" class="form-control input-sm" name="options2" disabled="disabled">
                            <option value="1" @(Model.CompanyCreated == 1 ? "selected=selected" : string.Empty)>LLC</option>
                            <option value="2" @(Model.CompanyCreated == 2 ? "selected=selected" : string.Empty)>Corporation</option>
                        </select>
                    </div>
                </div>

                <!-- All Principle Disclosed -->
                <div class="form-group">
                    <input type="checkbox" name="service" class="i - checks control-label col-md-4" style="margin-left:130px; margin-right:-90px; margin-top:11px;" @(Model.AllPrincipleClosed == true ? "checked=checked" : string.Empty) disabled="disabled" />
                    <div class="col-md-6">
                        <label for="all_principleclosed" class="control-label" style="margin-left:15px;">All Principle Closed</label>
                    </div>
                </div>


                <!-- Completed Franchise Application -->
                <form>
                    <div class="form-group" style="margin-top:5px;">
                        <label for="radio_fdfranchiseapplication" class="control-label col-md-4">Complete Franchise Application<span class="required">*</span>:</label>
                        <div class="col-md-8">
                            <label class="check-inline" style="margin-top: 6px; margin-left:20px;">
                                <input type="radio" name="membership" value="1" class="i-checks" @(Model.CompleteFranchiseApplication == true ? "checked=checked" : string.Empty) disabled="disabled" />
                                <span>Yes</span>
                            </label>

                            <label class="check-inline" style="margin-top: 6px; margin-left:60px;">
                                <input type="radio" name="membership" value="0" class="i-checks" @(Model.CompleteFranchiseApplication == false ? "checked=checked" : string.Empty) disabled="disabled" />
                                <span>No</span>
                            </label>
                        </div>
                    </div>
                </form>

                <!-- Note -->
                <div class="form-group">
                    <label for="select_stagestatus" class="control-label col-md-4">Note<span class="required"></span>:</label>
                    <div class="col-md-6">
                        <textarea name="note" class="form-control autosizeme" rows="6" style="font-size: 11px" id="text_biddingmodal" disabled="disabled"></textarea>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>
