@using JK.Resources



<!--/Lead Generation-->
<div class="col-md-7" id="contact_leadgen" style="margin-left:-30px;">
    <div class="row">
        <div class="col-md-12 portlet-align">
            <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">
                <div class="portlet-title compact">
                    <div class="caption">
                        Potential Detail
                    </div>
                </div>
                <div class="portlet-body">
                    <form action="#" id="form_contactleadgen" class="form-horizontal">
                        <div class="form-body">
                            @Html.Hidden("AccountDetailId", "", new { @id = "accountdetailid" })

                            <!-- Name -->
                            <div class="form-group">
                                <label for="input_name" class="control-label col-md-3">Name<span class="required">*</span>:</label>
                                <div class="col-md-5 fieldspadding-left" >
                                    <input id="input_leadgenname" name="name" type="text" data-required="1" class="form-control input-sm" placeholder="" />
                                </div>
                            </div>


                            <!-- Address -->
                            <div class="form-group">
                                <label for="input_address" class="control-label col-md-3">Address<span class="required">*</span>:</label>
                                <div class="col-md-5 fieldspadding-left">
                                    <input id="input_leadgenaddress" name="name" type="text" data-required="1" class="form-control input-sm" placeholder="" />
                                </div>
                            </div>


                            <!-- City -->
                            <div class="form-group">
                                <label for="input_city" class="control-label col-md-3">City<span class="required">*</span>:</label>
                                <div class="col-md-5 fieldspadding-left">
                                    <input id="input_leadgencity" name="name" type="text" data-required="1" class="form-control input-sm" placeholder="" />
                                </div>
                            </div>


                            <!-- State -->
                            <div class="form-group">
                                <label for="input_state" class="control-label col-md-3">State<span class="required">*</span>:</label>
                                <div class="col-md-5 fieldspadding-left">
                                    @Html.DropDownList("states", (SelectList)ViewBag.States, "Select", new { @class = "form-control input-sm", @id = "input_leadgenstate", @name = "select" })
                                </div>
                            </div>


                            <!-- Zip Code -->
                            <div class="form-group">
                                <label for="input_zipcode" class="control-label col-md-3">Zip Code<span class="required">*</span>:</label>
                                <div class="col-md-5 fieldspadding-left">
                                    <input id="input_leadgenzipcode" name="number" type="text" data-required="1" class="form-control input-sm" placeholder="" />
                                </div>
                            </div>


                            <!-- Contact Person -->
                            <div class="form-group">
                                <label for="input_contactperson" class="control-label col-md-3">Contact Person<span class="required">*</span>:</label>
                                <div class="col-md-5 fieldspadding-left">
                                    <input id="input_leadgencontactperson" name="name" type="text" data-required="1" class="form-control input-sm" placeholder="" />
                                </div>
                            </div>


                            <!-- Phone Number -->
                            <div class="form-group">
                                <label for="input_phonenumber" class="control-label col-md-3">Phone Number<span class="required">*</span>:</label>
                                <div class="col-md-5 fieldspadding-left">
                                    <input id="input_leadgencontactphonenumber" name="number" type="text" data-required="1" class="form-control input-sm" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group errmsg" style="display:none; text-align:center" id="dateTooEarlyMsg">
                                <span style="color:red;">Start date must be more recent than previous meetings.</span>
                            </div>
                            <div class="form-group errmsg" style="display:none; text-align:center" id="scheduleConflictMsg">
                                <span style="color:red;">You have a schedule conflict at the selected time.</span>
                            </div>

                            <!--Start Date/Time-->
                            <div class="form-group">
                                <div class="col-md-9">
                                    <div class="row">
                                        <label for="schedule_start" class="control-label col-md-4">Start Date/Time<span class="required">*</span>:</label>
                                        <div class="col-md-3" style="padding-left:0px;">
                                            <input type="text" class="form-control input-group input-group-sm input-sm date date-picker" name="datepicker" data-date-format="mm/dd/yyyy" data-provide="datepicker" id="input_leadgenstartdate" value="" />
                                        </div>
                                        <!--Start Time-->
                                        <div class="col-md-4" style="padding-left:0px;">
                                            <div class="input-icon">
                                                <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                                <input type="text" class="form-control input-group input-group-sm input-sm timepicker" data-provide="timepicker" id="input_leadgenstarttime" value="">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <label for="schedule_start" class="control-label col-md-4">End Date/Time<span class="required">*</span>:</label>
                                        <div class="col-md-3" style="padding-left:0px;">
                                            <input type="text" class="form-control input-group input-group-sm input-sm date date-picker" name="datepicker" data-date-format="mm/dd/yyyy" data-provide="datepicker" id="input_leadgenenddate"  value="" />
                                        </div>
                                        <!--End Time-->
                                        <div class="col-md-4" style="padding-left:0px;">
                                            <div class="input-icon">
                                                <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                                <input type="text" class="form-control input-group input-group-sm input-sm timepicker " data-provide="timepicker" id="input_leadgenendtime" value="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn green btn-block" data-toggle="modal" id="assignee_calendar" style="height: 57px; line-height: 57px; padding: 0px; width: 100px">Schedules</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="schedule_purpose" class="control-label col-md-3">Purpose:</label>
                                <div class="col-md-5 fieldspadding-left">
                                    @Html.DropDownList("PotentialInquaryPurpose", (SelectList)ViewBag.PotentialInquaryPurpose, "Select", new { @id = "select_leadgencontactpurpose", @class = "form-control input-sm", @name = "options2" })
                                </div>
                            </div>

                            <h5 class="form-section sbold uppercase"><b>@JKCRMResource.note:</b></h5>

                            <!-- Note -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextArea("note", "", new { @class = "form-control autosizeme", rows = "10", style = "font-size: 11px", @id = "note_leadgen" })
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row" id="leadgen_action">
                                <div class="col-md-3 pull-right">
                                    <button id="saveleadgen_button" type="button" class="btn green btn-block" onclick="validateLeadGen();">@CommonResource.btnSave</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
