@using MvcBreadCrumbs
<!-- BEGIN SECOND HEADER MENU -->
<div class="page-bar" style="margin-top:-22px">
    <div class="portlet-body">
        <div class="tabbable tabbable-tabdrop">
            @if (ViewBag.HMenu == "Franchise")
            {
                <ul class="nav nav-pills">


                    <li class="@(ViewBag.CurrentMenu == "FranchiseGeneral" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><i class="icon-home"></i>&nbsp;General</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "FranchiseChargebacks" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;Chargebacks</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "FranchiseNegativeDues" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><i class="glyphicon glyphicon-minus-sign"></i>&nbsp;Negative Dues</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "FranchiseTransactions" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;Transactions</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "FranchiseFranchiseeReport" ? "active" : "")">
                        <a href="#tab5" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Franchisee Report</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "FranchiseCustomerLeads" ? "active" : "")">
                        <a href="#tab6" data-toggle="tab"><i class="icon-user"></i>&nbsp;Customer Leads</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-plus"></i>
                                <a href="@Url.Action("Add", "Franchise", new { area = "Portal"})">Add</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                <a href="/Portal/Franchise">Search</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <a href="/Portal/Franchise">Letters</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="/Portal/Franchise">Possible</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-repeat"></i>
                                <a href="/Portal/Franchise">Turnaround</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-camera"></i>
                                <a href="/Portal/Franchise">View</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="/Portal/Franchise">Possible</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-camera"></i>
                                <a href="/Portal/Franchise">View</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-download"></i>
                                <a href="/Portal/Franchise">Single</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="/Portal/Franchise">Recurring</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-upload"></i>
                                <a href="/Portal/Franchise">
                                    Import
                                </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-map-marker"></i>
                                <a href="/Portal/Franchise">
                                    Pending
                                </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-out"></i>
                                <a href="/Portal/Franchise">Search</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-ok"></i>
                                <a href="/Portal/Franchise">
                                    Finalize
                                </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-download-alt"></i>
                                <a href="/Portal/Franchise">
                                    Generate
                                </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-camera"></i>
                                <a href="/Portal/Franchise">
                                    View
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab6">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <a href="/Portal/Franchise">
                                    Reports

                                </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-usd"></i>
                                <a href="/Portal/Franchise">
                                    Finders Fees

                                </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <a href="/Portal/Franchise">
                                    Notes

                                </a>
                                /
                            </li>
                        </ul>
                    </div>
                </div>

            }
            else if (ViewBag.HMenu == "AccountReceivable")
            {
                <ul class="nav nav-pills">


                    <li class="@(ViewBag.CurrentMenu == "AccountsReceivableBillRun" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><i class="icon-home"></i>&nbsp;Bill Run</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AccountsReceivableReports" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;Reports</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AccountsReceivableInvoices" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><i class="glyphicon glyphicon-minus-sign"></i>&nbsp;Invoices</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AccountsReceivableCredits" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;Credits</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AccountsReceivableOtherDeposits" ? "active" : "")">
                        <a href="#tab5" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Other Deposits</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableBillRun" ? "active" : "")" id="tab1">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-plus"></i>
                                <a href="@Url.Action("ProcessBillRun", "AccountReceivable", new { area = "Portal"})">Generate</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                <a href="@Url.Action("ProcessUndoBillRun", "AccountReceivable", new { area = "Portal"})">Undo</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableReports" ? "active" : "")" id="tab2">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <a href="@Url.Action("Aging", "AccountReceivable", new { area = "Portal"})">Aging</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="@Url.Action("ARLog", "AccountReceivable", new { area = "Portal"})">AR Log</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-repeat"></i>
                                <a href="@Url.Action("ChargeBackFee", "AccountReceivable", new { area = "Portal"})">Chargeback Fees</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableInvoices" ? "active" : "")" id="tab3">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="@Url.Action("InvoicesDaily", "AccountReceivable", new { area = "Portal"})">Daily</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-camera"></i>
                                <a href="@Url.Action("InvoicesBulkPayment", "AccountReceivable", new { area = "Portal"})">Enter Bulk Payment</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="@Url.Action("InvoicesBulkPayment", "AccountReceivable", new { area = "Portal"})">Enter Payment</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-camera"></i>
                                <a href="@Url.Action("Index", "AccountReceivable", new { area = "Portal"})">Generate</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="@Url.Action("InvoicesLockboxImport", "AccountReceivable", new { area = "Portal"})">Lockbox Import</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-camera"></i>
                                <a href="@Url.Action("Index", "AccountReceivable", new { area = "Portal"})">Lockbox Exception</a>

                            </li>
                            @*<li>
                                    <i class="glyphicon glyphicon-film"></i>
                                    <a href="@Url.Action("Index", "AccountReceivable", new { area = "Portal"})">Enter Payment</a>

                                </li>*@
                            <li>
                                <i class="glyphicon glyphicon-camera"></i>
                                <a href="@Url.Action("Index", "AccountReceivable", new { area = "Portal"})">Over Paid</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="@Url.Action("Index", "AccountReceivable", new { area = "Portal"})">Past Due</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-camera"></i>
                                <a href="@Url.Action("InvoicesSearch", "AccountReceivable", new { area = "Portal"})">Search</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableCredits" ? "active" : "")" id="tab4">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-download"></i>
                                <a href="@Url.Action("CreditsSearch", "AccountReceivable", new { area = "Portal"})">Search</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane @(ViewBag.CurrentMenu == "AccountsReceivableOtherDeposits" ? "active" : "")" id="tab5">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-ok"></i>
                                <a href="@Url.Action("OtherDepositsAdd", "AccountReceivable", new { area = "Portal"})">
                                    Add
                                </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-download-alt"></i>
                                <a href="@Url.Action("Index", "AccountReceivable", new { area = "Portal"})">
                                    View
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            }
            else if (ViewBag.HMenu == "AccountsPayable")
            {
                <ul class="nav nav-pills">


                    <li class="@(ViewBag.CurrentMenu == "AccountsPayableGeneral" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><i class="icon-home"></i>&nbsp;General</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AccountsPayableReport" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;Report</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AccountsPayableRegularCheckBook" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><i class="glyphicon glyphicon-minus-sign"></i>&nbsp;Regular Check Book</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AccountsPayableSTA" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;STA</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-plus"></i>
                                <a href="/Portal/AccountsPayable">Commit Projections</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                <a href="/Portal/AccountsPayable">Monthly Expense Projections</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                <a href="/Portal/AccountsPayable">View Invoices</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <a href="/Portal/AccountsPayable">AP - Invoice Search</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="/Portal/AccountsPayable">AP - Open Invoices</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-repeat"></i>
                                <a href="/Portal/AccountsPayable">AP - Paid Invoices</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="/Portal/AccountsPayable">View</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-camera"></i>
                                <a href="/Portal/AccountsPayable">Search</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-download"></i>
                                <a href="/Portal/AccountsPayable">Generate Checks</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="/Portal/AccountsPayable">Manual Check</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-upload"></i>
                                <a href="/Portal/AccountsPayable">
                                    Miscellenous Entry
                                </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-map-marker"></i>
                                <a href="/Portal/AccountsPayable">
                                    Other Deposits
                                </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-out"></i>
                                <a href="/Portal/AccountsPayable">Remit - Payments</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-out"></i>
                                <a href="/Portal/AccountsPayable">Remit - Other Deposits</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-out"></i>
                                <a href="/Portal/AccountsPayable">Search</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-out"></i>
                                <a href="/Portal/AccountsPayable">Unposted Checks</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-out"></i>
                                <a href="/Portal/AccountsPayable">View</a>

                            </li>
                        </ul>
                    </div>
                </div>

            }
            else if (ViewBag.HMenu == "Customer")
            {
                <ul class="nav nav-pills">


                    <li class="@(ViewBag.CurrentMenu == "CustomerGeneral" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><i class="icon-home"></i>&nbsp;General</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "CustomerTransactions" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;Transactions</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "CustomerCustomerService" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><i class="glyphicon glyphicon-minus-sign"></i>&nbsp;Customer Service</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "CustomerCollections" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;Collections</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "CustomerReports" ? "active" : "")">
                        <a href="#tab5" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;Reports</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-plus"></i>
                                <a href="@Href("~/Portal/Customer/Maintenance")">Add</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                <a href="/Portal/Customer">Grouping - ASP</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                <a href="/Portal/Customer">Properties</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                <a href="/Portal/Customer">Search</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <a href="/Portal/Customer">Add</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="/Portal/Customer">Credit </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-repeat"></i>
                                <a href="/Portal/Customer">Pending</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-repeat"></i>
                                <a href="/Portal/Customer">View</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-repeat"></i>
                                <a href="/Portal/Customer">Unscheduled</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="/Portal/Customer">Call-Backs </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-camera"></i>
                                <a href="/Portal/Customer">Logs</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-download"></i>
                                <a href="/Portal/Customer">Call-Backs</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="/Portal/Customer">Logs</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-download"></i>
                                <a href="/Portal/Customer">Distribution</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="/Portal/Customer">Cancellations</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="/Portal/Customer">Increase/Decrease History</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="/Portal/Customer">New Accounts</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="/Portal/Customer">Increase/Decrease History</a>

                            </li>
                        </ul>
                    </div>
                </div>

            }
            else if (ViewBag.HMenu == "Administration")
            {
                <ul class="nav nav-pills">


                    <li class="@(ViewBag.CurrentMenu == "AdministrationGeneral" ? "active" : "")">
                        <a href="#tab1" data-toggle="tab"><i class="icon-home"></i>&nbsp;General</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AdministrationLogs" ? "active" : "")">
                        <a href="#tab2" data-toggle="tab"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;Logs</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AdministrationSystemSetUp" ? "active" : "")">
                        <a href="#tab3" data-toggle="tab"><i class="glyphicon glyphicon-minus-sign"></i>&nbsp;System Set-Up</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AdministrationCustomers" ? "active" : "")">
                        <a href="#tab4" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;Customers</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AdministrationUsers" ? "active" : "")">
                        <a href="#tab5" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;Users</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AdministrationCustomerLeads" ? "active" : "")">
                        <a href="#tab6" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;Customer Leads</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AdministrationRegions" ? "active" : "")">
                        <a href="#tab7" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;Regions</a>
                    </li>
                    <li class="@(ViewBag.CurrentMenu == "AdministrationFranchiseLeads" ? "active" : "")">
                        <a href="#tab8" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;Franchise Leads</a>
                    </li>
                    <li>
                        <a href="#tab9" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;Company</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-plus"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Appointment Types</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Billing Period</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">CPI</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Tax Authority</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Transaction Cut Off </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-zoom-in"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Transaction Types</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Failed Log-On Attempts</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Site Activity </a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-film"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Region Set-Up </a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-camera"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">System Set-Up</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-camera"></i>
                                <a href="@Url.Action("SystemConfiguration", "Administration", new { area = "Portal"})">System Configuration</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-download"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Areas</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Inspection Areas</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Inspection Items</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Inspection Templates</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-download"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">View All</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Add New</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Schedule Access</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Search</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Security Definitions</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab6">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-download"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Account Types</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Sources</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab7">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-download"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">View All</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Add New</a>

                            </li>
                            <li>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Search	</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab8">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-download"></i>
                                <a href="@Url.Action("Index", "Administration", new { area = "Portal"})">Sources</a>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab9">
                        <ul class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-download"></i>
                                <a href="@Url.Action("CompanyConfiguration", "Administration", new { area = "Portal"})">Company Configuration</a>

                            </li>
                        </ul>
                    </div>


                </div>

            }
        </div>
    </div>
</div>
<!-- END HEADER MENU -->
<!-- BEGIN PAGE HEADER-->
@*<h1 class="page-title">
        @ViewBag.Title
        <small>@ViewBag.SmallTitle</small>
    </h1>*@
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("Index", "JKHome", new { area = "JKControl" })">Home</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
