

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start ">
                <a href="@Url.Action("Index", "JKHome", new { area = "JKControl"})" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="arrow"></span>
                </a> 
            </li>
            <li class="nav-item  "> 
                <a href="@Url.Action("Index", "Company", new { area = "JKControl"})" class="nav-link nav-toggle"> 
                    <i class="icon-diamond"></i>
                    <span class="title">Company</span>
                    <span class="arrow"></span>
                </a> 
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Index", "User", new { area = "JKControl"})" class="nav-link nav-toggle">
                    <i class="icon-puzzle"></i>
                    <span class="title">User</span>
                    <span class="arrow"></span>
                </a> 
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Index", "Menu", new { area = "JKControl"})" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Menu</span>
                    <span class="arrow"></span>
                </a> 
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Index", "Role", new { area = "JKControl"})" class="nav-link nav-toggle">
                    <i class="icon-bulb"></i>
                    <span class="title">Role</span>
                    <span class="arrow"></span>
                </a> 
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Index", "IPAdrress", new { area = "JKControl"})" class="nav-link nav-toggle">
                    <i class="icon-bulb"></i>
                    <span class="title">IP Adrress</span>
                    <span class="arrow"></span>
                </a>
            </li>
            
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->