
@model JKViewModels.Customer.CustomerSimpleViewModel

<div class="modal-content" style="border-radius: 8px;">
    <div class="custom-form portlet light" id="" style="margin-top:0px;">
        <div class="headerbox" style="font-weight: normal;">
            <div class="col-md-12 text-center" style="font-size:15px;">
                <b>Account History</b>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 5px !important;margin-right: 12px !important;"></button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portlet-body">
            <div>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td width="100%" style="text-align:center;">
                                <span style="text-align: center">
                                    <b>@Html.DisplayFor(o => o.CustomerName)</b><br>
                                    <b>No. @Html.DisplayFor(o => o.CustomerNumber)</b> <br>
                                    @Html.DisplayFor(o => o.Address1), @Html.DisplayFor(o => o.City), @Html.DisplayFor(o => o.State) @Html.DisplayFor(o => o.ZipCode)<br>
                                    @Html.DisplayFor(o => o.PrimaryContactPhone)
                                </span>
                                <hr style="margin-top:0px;margin-bottom:0px;" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-12" style="text-align:center;">
                            <b style="font-size:16px;">Account History Report </b>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Months to Include</label>
                        </div>
                        <div class="col-md-1">
                            <input class="form-control input-sm" id="txtAccountHistoryMonths" name="" placeholder="" type="text" value="12">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary  pull-right" id="btnGetAccHistory" onclick="getAccountHistoryDetails(@Html.DisplayFor(one => one.CustomerId))">
                                Submit
                            </button>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>

                <div id="divAccountHistoryDetails">
                </div>

            </div>
        </div>
    </div>
</div>