@model JKViewModels.Customer.CustomerMaintenanceViewModel



@{
    Layout = null;
}

@section styles{

    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
}
<style type="text/css">
    #tblcontractdetailrows {
    }

    .theadRow tr {
        font-size: 12px;
    }

    .theadRow td {
        border: 1px solid #e8e8e8 !important;
        padding: 0px 5px !important;
        font-size: 12px;
    }

    .theadRowH td {
        border-left: 1px solid #e8e8e8 !important;
        border-right: 1px solid #e8e8e8 !important;
        border-bottom: 1px solid #e8e8e8 !important;
        padding: 5px 5px !important;
        font-size: 12px;
    }

    .theadRowH.remove-padding td {
        padding: 0px !important;
        font-size: 12px;
    }

    .theadRow td > label, .theadRowH td > label {
        float: left;
        margin-top: 3px;
        font-size: 12px;
    }

    .theadRow td input[type=checkbox], .theadRowH td input[type=checkbox] {
        float: left;
        margin-right: 5px;
        margin-top: 6px;
        font-size: 12px;
    }

    .theadRow td input[type=text], .theadRowH td input[type=text] {
        margin-top: 0px !important;
        border: 0;
        border-radius: 0;
        font-size: 12px;
    }

    .theadRow td .input-sm, .theadRowH td .input-sm {
        margin-top: 0px !important;
        border: 0;
        border-radius: 0;
        font-size: 12px;
    }
</style>


<form class="form-horizontal" role="form" method="post" id="form_customermaintenance">
    @Html.HiddenFor(m => m.CustomerId, new { id = "hdfCustomerId" })
    <div class="row" style="margin-left:-26px !important;margin-right:-56px !important;">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-12" style="text-align: center;padding: 5px;background-color: #e8e8e8;margin-bottom:5px;font-weight:bold;">Customer</label>
                <label class="col-md-12">
                    <b>
                        @Html.DisplayFor(o => o.CustomerNo, new { @class = "form-control input-sm" })
                    </b>
                </label>
                <label class="col-md-12">@Html.DisplayFor(o => o.CustomerName, new { @class = "form-control input-sm" })</label>
                <label class="col-md-12">@Html.DisplayFor(o => o.CustomerAddress, new { @class = "form-control input-sm" })</label>
                <label class="col-md-12">@Html.DisplayFor(o => o.CustomerCity, new { @class = "form-control input-sm" }), @Html.DisplayFor(o => o.CustomerState, new { @class = "form-control input-sm" })&nbsp;@Html.DisplayFor(o => o.CustomerPincode, new { @class = "form-control input-sm" })</label>
            </div>
        </div>
        <div class="col-md-4 text-center" id="status"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-12" style="text-align: center;padding: 5px;background-color: #e8e8e8;margin-bottom:5px;font-weight:bold;">Billing</label>
                <label class="col-md-12"><b>@Html.DisplayFor(o => o.CustomerBillingName, new { @class = "form-control input-sm" })</b></label>
                <label class="col-md-12">&nbsp;@Html.DisplayFor(o => o.CustomerBillingAddress, new { @class = "form-control input-sm" })</label>
                <label class="col-md-12">@Html.DisplayFor(o => o.CustomerBillingCity, new { @class = "form-control input-sm" }), @Html.DisplayFor(o => o.CustomerBillingState, new { @class = "form-control input-sm" })&nbsp;@Html.DisplayFor(o => o.CustomerBillingPincode, new { @class = "form-control input-sm" })</label>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group">
            <div class="control-label col-md-2">
                Last Service Date<span class="required"> * </span>
            </div>
            <div class="col-md-3">

                <div class="input-group date" data-date-format="mm/dd/yyyy" style="width: 120px;">
                    @Html.TextBoxFor(o => o.LastServiceDate, new { @class = "form-control input-sm date-picker" })
                    <span class="input-group-btn">
                        <button class="btn default" type="button" style="margin-top: 3px;">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                Status <span class="required"> * </span>
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.StatusListId, (SelectList)ViewBag.StatusList, "Select", new { @class = "form-control input-sm", @id = "ddlStatus" })
            </div>
           
        </div>
    </div>

    <div id="manediv" style="display:none;">

        <div class="row" id="divresumedate"  style="display:none;">
            <div class="form-group">
                <div class="control-label col-md-2">
                    Resume Date<label id="ResumeDate-error" class="error" for="ResumeDate"></label> <span class="required"> * </span>
                </div>
                <div class="col-md-3">

                    <div class="input-group date" data-date-format="mm/dd/yyyy" style="width: 120px;">
                        @Html.TextBoxFor(o => o.ResumeDate, new { @class = "form-control input-sm date-picker" })
                        <span class="input-group-btn">
                            <button class="btn default" type="button" style="margin-top: 3px;">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>

            </div>
        </div>
        @*<div class="row" id="divlastservicedate"  style="display:none;">
            <div class="form-group">
                <div class="control-label col-md-2">
                    Last Service Date<span class="required"> * </span>
                </div>
                <div class="col-md-3">

                    <div class="input-group date" data-date-format="mm/dd/yyyy" style="width: 120px;">
                        @Html.TextBoxFor(o => o.LastServiceDate, new { @class = "form-control input-sm date-picker" })
                        <span class="input-group-btn">
                            <button class="btn default" type="button" style="margin-top: 3px;">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="form-group">
                <div class="control-label col-md-2">
                    Reason <span class="required"> * </span>
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.ReasonListId, (SelectList)ViewBag.StatusReasonList, "Select", new { @class = "form-control input-sm", @id = "ddlReason" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="control-label col-md-2">
                    Notes  <span class="required"> * </span>
                </div>
                <div class="col-md-8">
                    @Html.TextAreaFor(o => o.StatusNotes, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
        <div class="row" id="divtable" style="margin-left:-26px !important;margin-right:-56px !important;">
            <div class="form-group">
                <div class="table-responsive">
                    @if (Model.FindersFee != null && Model.FindersFee.Count() > 0 && Model.FindersFee[0].FindersFeeId != null)
                    {

                        if (Model.FindersFee[0].FindersFeeId == -1)
                        {
                    <table class="col-md-12 table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th style="width:45px" class="text-center">Franchisee No.</th>
                                <th style="width:110px" class="text-center">Franchise Name</th>
                                <th class="text-center" style="width:155px">Contract Detail Services type</th>
                                <th style="width:80px" class="text-center">$50.00 Cancellation Fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FindersFee.OrderBy(x => x.FranchiseeNo))
                            {

                                if (item.FindersFeeId != null)
                                {
                                    <tr class="odd gradeX">
                                        <td style="font-size:13px">
                                            @Html.HiddenFor(modelItem => item.FindersFeeId)
                                            @Html.DisplayFor(modelItem => item.FindersFeeNumber)
                                            @Html.DisplayFor(modelItem => item.FranchiseeNo)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(modelItem => item.FranchiseeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ServiceTypeListName)
                                        </td>
                                        <td style="text-align:center;display:none">
                                            <div class="input-group date" data-date-format="mm/dd/yyyy">
                                                @Html.TextBoxFor(modelItem => item.FindersFeeStopDate, new { @class = "form-control input-sm date-picker findersfee-date" })
                                            </div>
                                        </td>
                                        <td style="text-align:center">
                                            @Html.CheckBoxFor(modelItem => item.FindersFeeHasCancellationFee)
                                        </td>
                                    </tr>


                                }
                            }

                        </tbody>
                        <tfoot>
                            <tr><td colspan="8" style="text-align:center;color:red;">No Active Finder'sFee  found relate to this customer</td></tr>
                        </tfoot>
                    </table>

                        }
                        else
                        {

                            <table class="col-md-12 table table-striped table-bordered table-hover table-responsive" id="tblMaintance">
                                <thead>
                                    <tr>
                                        <th style="width:20px" class="text-center">FF No</th>
                                        <th style="width:45px" class="text-center">Franchisee No.</th>
                                        <th style="width:110px" class="text-center">Franchise Name</th>
                                        <th class="text-center" style="width:155px">Contract Detail Services type</th>
                                        <th style="width:45px" class="text-center"># of Payment </th>
                                        <th style="width:45px" class="text-center">Balance</th>
                                        <th style="width:130px" class="text-center">Finders Fee Stop Date</th>
                                        <th style="width:80px" class="text-center">$50.00 Cancellation Fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        string fno = string.Empty;
                                    }
                                    @foreach (var item in Model.FindersFee.OrderBy(x => x.FranchiseeNo))
                                    {

                                        if (item.FindersFeeId != null)
                                        {



                                            <tr class="odd gradeX">
                                                <td style="text-align:center">
                                                    @Html.HiddenFor(modelItem => item.FindersFeeId)
                                                    @*@Html.DisplayFor(modelItem => item.LineNumber)*@
                                                    @Html.DisplayFor(modelItem => item.FindersFeeNumber)
                                                </td>
                                                <td style="font-size:13px">
                                                    @Html.DisplayFor(modelItem => item.FranchiseeNo)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => item.FranchiseeName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ServiceTypeListName)
                                                </td>
                                                <td style="text-align:center">@Html.DisplayFor(modelItem => item.NumOfPaymentsPaid) of @Html.DisplayFor(modelItem => item.TotalNumOfpayments) </td>
                                                <td style="text-align:right">@(item.BalanceAmount != null ? string.Format("{0:c}", item.BalanceAmount) : string.Empty)</td>
                                                <td style="text-align:center">
                                                    <div class="input-group date" data-date-format="mm/dd/yyyy">
                                                        @Html.TextBoxFor(modelItem => item.FindersFeeStopDate, new { @class = "form-control input-sm date-picker findersfee-date" })
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button" style="margin-top: 3px;">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="text-align:center">
                                                    @if (fno != item.FranchiseeNo)
                                                    {
                                                        @Html.CheckBoxFor(modelItem => item.FindersFeeHasCancellationFee)
                                                        fno = item.FranchiseeNo;
                                                    }
                                                </td>
                                            </tr>


                                        }
                                    }

                                </tbody>
                               
                            </table>
                        }
                    }
                    else
                    {
                        <table class="col-md-12 table table-striped table-bordered table-hover table-responsive" id="tblMaintanceempty">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:20px;background-color:#95A5A6 !important;color:white;">FF No</th>
                                    <th class="text-center" style="width:45px;background-color:#95A5A6 !important;color:white;">Franchisee No.</th>
                                    <th class="text-center" style="width:110px;background-color:#95A5A6 !important;color:white;">Franchise Name</th>
                                    <th class="text-center" style="width:155px;background-color:#95A5A6 !important;color:white;">Contract Detail Services type</th>
                                    <th class="text-center" style="width:45px;background-color:#95A5A6 !important;color:white;"># of Payment </th>
                                    <th class="text-center" style="width:45px;background-color:#95A5A6 !important;color:white;">Balance</th>
                                    <th class="text-center" style="width:130px;background-color:#95A5A6 !important;color:white;">Finders Fee Stop Date</th>
                                    <th class="text-center" style="width:80px;background-color:#95A5A6 !important;color:white;">$50.00 Cancellation Fee</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr><td colspan="8" style="text-align:center;color:red;">No Active Finder'sFee  found relate to this customer</td></tr>
                            </tfoot>
                        </table>
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="form-actions" style="height:50px">

        <div class="col-md-12 CMList">
            <button type="button" id="CMSubmitButton" name="SaveNew" value="SaveNew" class="btn btn-primary button-next pull-right SaveButton" style="padding: 5px; margin: 15px; display: none" onclick="saveCustomerMaintenance()">Submit</button>
            <button type="button" id="CMContinueCancellationCreditsButton" class="btn btn-primary button-next pull-right SaveButton" style="padding: 5px; margin: 15px; display: none" onclick="continueCustomerMaintenanceToCancellationCredits()">Continue</button>
        </div>
        <div class="col-md-1"></div>
    </div>
</form>



@section pageplugins{
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/select2/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/datatable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/app.min.js")" type="text/javascript" )"></script>
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/table-datatables-managed.min.js")" type="text/javascript"></script>
}
@*@section scripts{*@
<script>

    var firstDateSet = true;

    $(document).on('click', 'form button[type=submit]', function (e) {
        var isValid = $('#form_customermaintenance').valid();
        if (!isValid || parseInt($('#hdfCustomerId').val()) == 0) {
            alert("Please Choose Customer.");
            e.preventDefault(); //prevent the default action
        }
    });

    function bindCustomerMaintenanceLoad(id)
    {
        var value = id;
        if (value == 1 || value == 0) {
            $("#manediv").hide();

            $("#ResumeDate").prop('required', false);
            $("#LastServiceDate").prop('required', false);
            $("#ddlReason").prop('required', false);
            $("#StatusNotes").prop('required', false);
        }
        else if (value == 16) {
            $("#manediv").show();
            $("#divtable").hide();
            //$('#divlastservicedate').hide();
            //$("#divresumedate").show();

            $("#ResumeDate").prop('required', true);
            $("#LastServiceDate").prop('required', false);
            $("#ddlReason").prop('required', true);
            $("#StatusNotes").prop('required', true);
        }
        else if (value == 10) {
            $("#manediv").show();
            //$("#divresumedate").hide();
            //$('#divlastservicedate').show();
            $("#divtable").show();

            $("#ResumeDate").prop('required', false);
            $("#LastServiceDate").prop('required', true);
            $("#ddlReason").prop('required', true);
            $("#StatusNotes").prop('required', true);
        }
    }
    $(document).ready(function () {

        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            //dateFormat: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
            //setDate: new Date(),
        };
        $('#ResumeDate').datepicker(options);
        $('#ResumeDate').datepicker("setDate", new Date());
        $('#LastServiceDate').datepicker(options);
        //$('#LastServiceDate').datepicker("setDate", new Date());
        $('#StatusDate').datepicker(options);
        $('#StatusDate').datepicker("setDate", new Date());

        $('.findersfee-date').datepicker(options);
        $('.findersfee-date').datepicker("setDate", new Date());

        $(".input-group-btn").click(function () {
            $(this).prev().trigger("focus");
            $(this).prev().trigger("focus");
        });
        $("#manediv").hide();
        //$("#divresumedate").hide();
        //$('#divlastservicedate').hide();
        $("#divtable").hide();

        $("#ddlStatus").prop('required', true);
        $("#StatusDate").prop('required', true);

        //$("#ddlStatus").prop('required', true);
        //$("#StatusDate").prop('required', true);
        //$('#StatusDate').datepicker("setDate", new Date());

        if(@(Model.StatusListId ?? 0)>0){
            bindCustomerMaintenanceLoad(@Model.StatusListId);
        }
        $("#ddlStatus").change(function () {
            toggleSubmitButton();
        });

        $('#StatusDate').change(function () {
            if (firstDateSet) {
                $('#LastServiceDate').val($('#StatusDate').val());
                firstDateSet = false;
                getCancellationInvoiceData();
            }
        });

        $('#LastServiceDate').change(function () {
            if (firstDateSet) {
                $('#StatusDate').val($('#LastServiceDate').val());
                firstDateSet = false;
            }
            getCancellationInvoiceData();
        });

        $('#tblMaintance').dataTable({
            "bProcessing": true,
            "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "pageLength": 200, // default records per page
            "dom": "<'table-responsive't>"
        });
    });

    function toggleSubmitButton() {
        var value = $("#ddlStatus").val();
        $(".SaveButton").hide();

        if (value != "") {
            if (value == "10") {
                if (getNextCancellationInvoiceInfo() != null) {
                    $("#CMContinueCancellationCreditsButton").show();
                }
                else {
                    alert("There are no Invoice base in effective date.");
                    $("#CMSubmitButton").show();
                }
            }
            else
                $("#CMSubmitButton").show();
        }

        bindCustomerMaintenanceLoad(value);
    }

    function bindcustomerdetail(customerid) {
        if (customerid != '' && customerid != null) {
            window.location.href = '@Url.Action("CustomerMaintenance", "customer", new { area = "Portal" })/' + customerid;
        }
    }

</script>
@*}*@

<script type="text/javascript">

</script>