<style>
    .input-sm.pp {
        margin-top: 0;
        margin-bottom: 0;
        text-align: right;
        padding: 3px;
        border-radius: 0;
    }
</style>
<div class="modal fade custom-model custom-form-design" id="modal_FranchiseeDistribution" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:952px">
        <div class="modal-content" style="border-radius: 8px;">
            <div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
                <h4 class="modal-title" style="margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;border-radius: 8px 8px 0 0;text-transform: uppercase;">
                    Franchisee Distribution<input type="hidden" id="hdfdistributioncustomerid" name="hdfdistributioncustomerid" value="" />
                </h4>
            </div>
            <div class="modal-body" style="padding: 0px 30px 15px 30px;">
                <section>
                    <div class="row">
                        <div style="max-width: 98%;margin: 0px auto;">
                            <div class="custom-form portlet light " id="form_wizard_1">
                                <div class="portlet-body form">
                                    <form class="form-horizontal" action="#" id="submit_form_distributioncustomer" method="POST">
                                        <input type="hidden" id="hdffrenchiseedetail_customerid" name="hdffrenchiseedetail_customerid" value="" />
                                        <input type="hidden" id="hdfcontractdetail_linecount" name="hdfcontractdetail_linecount" value="" />
                                        <input type="hidden" id="hdffrenchiseedetail_linecount" name="hdffrenchiseedetail_linecount" value="" />

                                        <div class="form-body-outer" style="padding: 0px;">
                                            <div style="width: 100%; margin: 0em auto;">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tb_fr_page1">
                                                        <div class="form-group">
                                                            <div class="col-md-6" style="margin-left: 10px;">
                                                                <b>Customer Name: <span id="spnCustomerName"></span></b>
                                                            </div>
                                                            <div class="col-md-4 text-right">
                                                                <b>Customer No: <span id="spnCustomerNo"></span></b>
                                                            </div>
                                                        </div>
                                                        <hr style="margin-top: 1px;margin-bottom: 1px;" />
                                                        <div style="margin-bottom: 20px;">

                                                            <div class="table-responsive">
                                                                <table class="table" id="tblFranchiseeDistributionList">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width:20px;text-align:center;">
                                                                                PO No.
                                                                            </th>
                                                                            <th style="width:140px;text-align:center;">
                                                                                Account Type
                                                                            </th>
                                                                            <th style="width:30px;text-align:center;">
                                                                                Term (m)
                                                                            </th>
                                                                            <th style="text-align:center;width:50px;">
                                                                                Start Date
                                                                            </th>
                                                                            <th style="text-align:center;width:30px;">
                                                                                Expiration Date
                                                                            </th>
                                                                            <th style="text-align:center;width:30px;">
                                                                                Total Amount
                                                                            </th>
                                                                            <th style="text-align:center;width:30px;">
                                                                                Status
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="width:20px;text-align:center;">
                                                                                975412
                                                                            </td>
                                                                            <td style="text-align:center;width:140px;">
                                                                                Hotel
                                                                            </td>
                                                                            <td style="text-align:center;width:30px;">
                                                                                24
                                                                            </td>
                                                                            <td style="text-align:center;width:50px;">
                                                                                01/30/2016
                                                                            </td>
                                                                            <td style="text-align:center;width:30px;">
                                                                                01/30/2018
                                                                            </td>
                                                                            <td style="text-align:center;width:30px;">
                                                                                $5,500.00
                                                                            </td>
                                                                            <td style="text-align:center;width:30px;">
                                                                                Active
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="table-responsive">
                                                                                    <table class="table table-striped table-bordered table-hover order-column" id="FranchiseeDistributionList1">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th style="width:20px;text-align:center;">
                                                                                                    Contract Detail Line
                                                                                                </th>
                                                                                                <th style="width:242px;text-align:center;">
                                                                                                    Service Description
                                                                                                </th>
                                                                                                <th style="width:30px;text-align:center;">
                                                                                                    Amount
                                                                                                </th>
                                                                                                <th style="width:30px;text-align:center;">
                                                                                                    Frequency
                                                                                                </th>
                                                                                                <th style="width:30px;text-align:center;">
                                                                                                    Schedule
                                                                                                </th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:20px;text-align:center;">1</td>
                                                                                                <td style="text-align:center;width:242px;">Strip Wax</td>
                                                                                                <td style="text-align:center;width:30px;">
                                                                                                    $3,000.00
                                                                                                </td>
                                                                                                <td style="text-align:center;width:30px;">
                                                                                                    Monthly
                                                                                                </td>
                                                                                                <td style="text-align:center;width:30px;">
                                                                                                    <a href="javascript:void(0);" onclick="">View</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td style="width:20px;text-align:center;">2</td>
                                                                                                <td style="text-align:center;width:242px;">Window Cleaning</td>
                                                                                                <td style="text-align:center;width:30px;">
                                                                                                    $2,500.00
                                                                                                </td>
                                                                                                <td style="text-align:center;width:30px;">
                                                                                                    Quarterly
                                                                                                </td>
                                                                                                <td style="text-align:center;width:30px;">
                                                                                                    <a href="javascript:void(0);" onclick="">View</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </td>
                                                                        </tr>


                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                        </div>
                                                        <hr />
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <table class="col-md-12" style="border:1px solid #e8e8e8" id="frdestributionTable">
                                                                        <thead>
                                                                            <tr>
                                                                                <th colspan="2">
                                                                                    <select class="form-control input-sm" style="border-radius: 0px;margin: 0px;" id="ddldetaillinenumber"></select>
                                                                                </th>
                                                                                <th colspan="4"><input type="text" id="fsearch-box" autocomplete="off" name="name" value="" placeholder="Search Pay To by Number or Name" class="form-control input-sm typeahead" style="padding: 5px;border-radius: 0px;margin: 0px;" /></th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th style="width:130px;padding:3px;margin: 0px;">Contract Detail Line</th>
                                                                                <th style="width:170px;padding:3px;margin: 0px;text-align:center;">Franchisee No.</th>
                                                                                <th style="width:300px;padding:3px;text-align:center;">Franchisee Name</th>
                                                                                <th style="width:150px;padding:3px;">Distribution Amount</th>
                                                                                <th style="width:25px;padding:3px;">Fees</th>
                                                                                <th style="width:25px;padding:3px;"></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="col-md-12" style="padding-right: 28px;">

                                                    <button type="button" class="btn btn-primary col-md-2 pull-right" id="btnSaveDistributionIncrease" onclick="ShowAddNEwFeeFinder()" style="margin-left: 10px; ">
                                                        CONTINUE
                                                        <i class="fa fa-check"></i>
                                                    </button>

                                                </div>
                                            </div>
                                            <div class="modal fade custom-model custom-form-design" id="modalData" tabindex="-1" role="basic" aria-hidden="true" style="display: none;"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</div>


<form class="form-horizontal" action="" id="form_Distribution" method="POST">
    <div class="modal fade custom-model custom-form-design" id="modal_Distribution" tabindex="-1" role="basic" aria-hidden="true" style="display: none;margin-top: 100px;">
        <div class="modal-dialog modal-sm" style="width: 400px;">
            <div class="modal-content" style="border-radius: 8px;">
                <div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
                    <h4 class="modal-title" style="margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;border-radius: 8px 8px 0 0;text-transform: uppercase;">
                        Fee
                    </h4>
                </div>
                <div class="modal-body" style="padding: 0px">
                    <section>
                        <div class="row">
                            <div style="max-width: 98%;margin: 0px auto;">
                                <div class="custom-form portlet light">
                                    <div class="portlet-body form">
                                        <input type="hidden" name="hdfDestributionFee_FranchiseeId" id="hdfDestributionFee_FranchiseeId" value="" />
                                        <input type="hidden" name="hdfDestributionFee_ContractDetailId" id="hdfDestributionFee_ContractDetailId" value="" />
                                        <input type="hidden" name="hdfDestributionFee_DestributionId" id="hdfDestributionFee_DestributionId" value="" />
                                        <input type="hidden" name="hdfDestributionFee_Linenumber" id="hdfDestributionFee_Linenumber" value="" />
                                        <div class="form-body-outer" style="padding: 0px;">
                                            <div style="overflow:auto;width: 100%; margin: 0em auto;">
                                                <div class="form-group">
                                                    <table class="table table-striped table-bordered table-hover order-column" id="feelist">
                                                        <thead>
                                                            <tr style="background-color: #e8e8e8;font-weight: bold;">
                                                                <td>
                                                                    Fee Name
                                                                </td>
                                                                <td>
                                                                    Type
                                                                </td>
                                                                <td style="width:50px;">
                                                                    Amount
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>

                                                </div>
                                                <div class="form-group">
                                                    <a href="javascript:void(0);" onclick="FranchiseeserviceAddDestribution()">Include Another Fee</a>
                                                </div>
                                                <div class="form-group">
                                                    <input type="button" name="btnDistributionFeeSave" onclick="btnDistributionFeeSaveOnClick()" value="Save" class="btn btn-primary input-sm pull-right" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </section>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    </div>
</form>
<form class="form-horizontal" action="" id="form_AddDistribution" method="POST">
    <div class="modal fade custom-model custom-form-design" id="modal_AddDistribution" tabindex="-1" role="basic" aria-hidden="true" style="display: none;margin-top: 100px;">
        <div class="modal-dialog modal-sm" style="width: 400px;">
            <div class="modal-content" style="border-radius: 8px;">
                <div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
                    <h4 class="modal-title" style="margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;border-radius: 8px 8px 0 0;text-transform: uppercase;">
                        Fee
                    </h4>
                </div>
                <div class="modal-body" style="padding: 0px">
                    <section>
                        <div class="row">
                            <div style="max-width: 98%;margin: 0px auto;">
                                <div class="custom-form portlet light">
                                    <div class="portlet-body form">

                                        <div class="form-body-outer" style="padding: 0px;">
                                            <div style="overflow:auto;width: 100%; margin: 0em auto;">
                                                <div class="form-group">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover order-column" id="feeListAdd">
                                                            <thead>
                                                                <tr style="background-color: #e8e8e8;font-weight: bold;">
                                                                    <td>@*<input type="checkbox" id="chkFeeAll" />*@</td>
                                                                    <td>
                                                                        Fee Name
                                                                    </td>
                                                                    <td>
                                                                        Type
                                                                    </td>
                                                                    <td style="width:50px;">
                                                                        Amount
                                                                    </td>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="button" name="btnAddDistributionFeeSave" onclick="btnAddDistributionFeeSaveOnClick()" value="Add" class="btn btn-primary input-sm pull-right" />

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </section>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    </div>

    


</form>

<script>
    var lstContractDetailServiceTypeList = [];
    var lineNo = 0;
    var flineNo = 0;
    var typeaheadSource = [];
    var app = {};
    $(document).ready(function () {


        $("#fsearch-box").keyup(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Frenchiseedata", "AccountReceivable", new { area = "Portal" })',
                data: 'keyword=' + $(this).val(),
                success: function (data) {
                    custlist = data;
                    var typeaheadSource = [];
                    $.each(custlist, function (key, value) {
                        typeaheadSource.push({ id: value.FranchiseeId, name: value.FranchiseeNo + ' ' + $.trim(value.Name) })
                    });

                    $('#fsearch-box').typeahead({
                        source: typeaheadSource,
                        updater: function (item) {
                            $("#hdfFrenchiseeId").val(item.id);
                            if ($('#ddldetaillinenumber').val() != "Select" || $('#ddldetaillinenumber').val() != "0") {

                                bindfranchiseedetail($('#ddldetaillinenumber').val(), item.id, item.name, $("#ddldetaillinenumber option[value=" + $('#ddldetaillinenumber').val() + "]").text());
                            }
                            return item;
                        }

                    });
                }
            });
        });
    });

    function deleteFrenchisee(linenumber, flineNo) {
        $("tr[id=row_" + flineNo + "]").remove();
    }

    function bindfranchiseedetail(linenumber, franchiseeid, franchiseename, ln) {
        flineNo++;

        FDistributionFinal.push({ FranchiseeId: franchiseeid, })
        //var txtmarkup = parseFloat($('#txtmarkup' + linenumber).val() == '' ? 0 : $('#txtmarkup' + linenumber).val())
        var txtqty = parseFloat($('#txtqty' + linenumber).val() == '' ? 0 : $('#txtqty' + linenumber).val())
        var txtunitprice = parseFloat($('#txtunitprice' + linenumber).inputmask('unmaskedvalue') == '' ? 0 : $('#txtunitprice' + linenumber).inputmask('unmaskedvalue'))
        var txttotal = (txtqty * txtunitprice)

        var lineTotalAmount = 0;
        $('input[relLinea="' + linenumber + '"]').each(function (el) {
            lineTotalAmount += parseFloat(this.defaultValue);
        });

        if (lineTotalAmount + txttotal > txttotal) {
            if (lineTotalAmount < txttotal) {
                txttotal = txttotal - lineTotalAmount;
            }
            else {
                txttotal = 0;
            }
        }

        var someString = franchiseename;
        var index = someString.indexOf(" ");  // Gets the first index where a space occours
        var FranchiseeNo = someString.substr(0, index); // Gets the first part
        var franchiseename = someString.substr(index + 1);

        AppendDistribution(ln, franchiseeid, FranchiseeNo, franchiseename, txttotal, linenumber, 0);

        setTimeout(function () {
            $("#hdfFrenchiseeId").val(0);
            document.getElementById('ddldetaillinenumber').selectedIndex = 0;
            $('#fsearch-box').val('');
        }, 500);

    }

    $('#fsearch-box').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            $(this).typeahead('val', '');
            $("#ddldetaillinenumber").val('')
        }
    });

    function viewDestribution() {
        $("#modal_view").modal({ backdrop: 'static' });
    }

    function ValidatefrenchiseeData() {
        var isNotValidForm = true;

       
        if ($('input[relcdamt="cd_relcdamt"]').length > 0) {
            var cdlinenumber = 0;
            var cdamount = 0;
            var fbamount = 0;
            $('input[relcdamt="cd_relcdamt"]').each(function (index, value) {
                cdamount = $(this).val();
                cdlinenumber = $(this)[index].id.toString().replace('cd_relcdamt', '');
                fbamount = 0.00;
                $('input[relfbamt="fb_amt' + cdlinenumber + '"]').each(function (index1, value1) {
                    fbamount += parseFloat($(this).val());
                    if (parseFloat(this.value) == 0) {
                        this.style.border = "1px solid red";
                        isNotValidForm = false;
                    }
                    else
                        this.style.border = "1px solid #c2cad8";
                });
                var isNotValid = true;
                if (fbamount != parseFloat(cdamount)) {
                    isNotValid = false;
                    //alert('Please enter distribution amount equals contract detail amount!');

                }

                $('input[relfbamt="fb_amt' + cdlinenumber + '"]').each(function (index1, value1) {
                    if (!isNotValid || parseFloat(this.value) == 0) {
                        this.style.border = "1px solid red";
                        isNotValidForm = false;
                        isNotValid = false;
                    }
                    else
                        this.style.border = "1px solid #c2cad8";
                });

            });
            return isNotValidForm;
        }
        return false;
    }


    var saveFranchiseeDistribution = function () {
        if (!ValidatefrenchiseeData()) {
            return false;
        }
        else {

           
            //'data' is much more complicated in my real application
            var jsonOfLog = JSON.stringify(DistributionfeeListFinal);

            $.ajax({
                type: 'POST',
                dataType: 'text',
                url: '@Url.Action("FranchiseeDistributionFeeSave", "Customer",new { area = "Portal" })',
                data: "inputdata=" + jsonOfLog,
                success: function (returnPayload) {
                    console && console.log("request succeeded");
                    $("#modal_Distribution").modal('');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console && console.log("request failed");
                },

                processData: false,
                async: false
            });

            //$(".editvalue").removeClass("editvaluetext");
            //$(".editvalue").addClass("editmode");
            //$(".editvalue").attr("readonly", "readonly");
            //$(".editcheck").attr("disabled", "disabled");
            //$(".editcheck").attr("readonly", "readonly");

            @*$.ajax({
                url: '@Url.Action("SaveDistribution", "Customer","Portal")',
                type: "POST",
                data: $('#submit_form_distributioncustomer').serialize(),
                success: function (res) {
                    console.log(DistributionfeeListFinal);
                    console.log(res);
                    $.ajax({
                        url: '@Url.Action("FranchiseeDistributionFeeSave", "Customer",new { area = "Portal" })?inputdata='+JSON.stringify(DistributionfeeListFinal).toString(),
                        type: "Get",
                        success: function (res) {
                            console.log("test");
                        },
                        error: function () { }
                    });
                    $('#modal_FranchiseeDistribution').modal('hide');
                },
                error: function () { }
            });*@
        }

    };

    var DistributionfeeList = [];
    var DistributionfeeListFinal = [];

    function Distributionfee(fid, ContractDetailId, DistributionId, ln) {

        $('#hdfDestributionFee_FranchiseeId').val(fid);
        $('#hdfDestributionFee_ContractDetailId').val(ContractDetailId);
        $('#hdfDestributionFee_DestributionId').val(DistributionId);
        $('#hdfDestributionFee_Linenumber').val(ln);
        var sURL = '@Url.Action("FranchiseeDistributionFeeData", "Customer", new { area = "Portal" })?FranchiseeId=' + fid + '&ContractDetailId=' + ContractDetailId + '&DistributionId=' + DistributionId;
        $.ajax({
            type: "GET",
            url: sURL,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#feelist>tbody').html('');
                console.log(data)
                DistributionfeeList = data;
                DistributionfeeBindData(DistributionfeeList);

                if (DistributionfeeList.ContractDetailId != undefined) {
                    DistributionfeeList.push({
                        DistributionFeesId: DistributionfeeList.DistributionFeesId, DistributionId: DistributionfeeList.DistributionId, CustomerId: $('#hdffrenchiseedetail_customerid').val(), ContractDetailId: DistributionfeeList.ContractDetailId,
                        FranchiseeId: DistributionfeeList.FranchiseeId, DetailLineNumber: DistributionfeeList.DetailLineNumber, FeeId: DistributionfeeList.FeeId, Amount: DistributionfeeList.Amount
                    });
                }
                $("#modal_Distribution").modal({ backdrop: 'static' });

            }
        });
    }
    function DistributionfeeBindData(DistributionfeeList) {
        $('#feelist>tbody').html('');
        $.each(DistributionfeeList, function (index, value) {

            tempRow = "";
            tempRow += '<tr relDistributionFeeId="' + value.FranchiseeId + '_' + value.ContractDetailId + '_' + value.FeeId + '">';
            tempRow += '<td style="vertical-align: middle;">' + value.FeeName + '</td>';
            tempRow += '<td style="vertical-align: middle;">' + value.FeeRateTypeName + '</td>';
            tempRow += '<td><input type="text" id="DistributionFeeAmount_' + value.FranchiseeId + '_' + value.ContractDetailId + '_' + value.FeeId + '" class="form-control input-sm pp" value="' + value.Amount + '" /></td>';
            tempRow += '</tr>';
            $('#feelist>tbody').append(tempRow);

            $('#DistributionFeeAmount_' + value.FranchiseeId + '_' + value.ContractDetailId + '_' + value.FeeId).change(function () {
                var new_arr = $.grep(DistributionfeeList, function (n, i) { return (n.FranchiseeId == value.FranchiseeId && n.ContractDetailId == value.ContractDetailId && n.FeeId == value.FeeId); });
                if (new_arr.length > 0) {
                    var amt = parseFloat($(this).val());
                    new_arr[0].Amount = amt;
                }                
            });
        });
    }


    var FDistributionFinal = [];

    var tempRowDistribution = "";
    var tempRowLineNo = 0;
    var tempFRowLineNo = 0;

    function FranchiseeDistributionData(id) {
        $('#hdffrenchiseedetail_customerid').val(id);
        var sURL = '@Url.Action("GetCustomerFranchiseeDistributionData", "Customer", new { area = "Portal" })?Id=' + id;
        $.ajax({
            type: "GET",
            url: sURL,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {

                $('#hdfdistributioncustomerid').val(data.CustomerId);
                $('#spnCustomerName').html(data.CustomerName);
                $('#spnCustomerNo').html(data.CustomerNo);
                $('#tblFranchiseeDistributionList>tbody').html('');
                tempRow = "";
                tempRow += '<tr><td style="width:20px;text-align:center;">' + data.PurchaseOrderNo + '</td>';
                tempRow += '<td style="text-align:left;width:140px;">' + data.AccountTypeName + '</td>';
                tempRow += '<td style="text-align:center;width:30px;">' + data.Term + '</td>';
                tempRow += '<td style="text-align:center;width:50px;">' + formatJSONDate(data.StartDate) + '</td>';
                tempRow += '<td style="text-align:center;width:50px;">' + formatJSONDate(data.ExpirationDate) + '</td>';
                tempRow += '<td style="text-align:right;width:30px;">$<span>' + data.TotalAmount + '</span></td>';
                tempRow += '<td style="text-align:center;width:30px;">' + data.Status + '</td>';

                tempRow += '<tr><td colspan="7" style="padding:5px;"><div class="table-responsive">';
                tempRow += '<table class="table table-striped table-bordered table-hover order-column" id="FranchiseeDistributionDetailList">';
                tempRow += '<thead>';
                tempRow += '<tr><th style="width:150px;text-align:center;">Contract Detail Line</th>';
                tempRow += '<th style="text-align:center;"> Service Description</th>';
                tempRow += '<th style="width:120px;text-align:center;">Amount</th>';
                tempRow += '<th style="width:100px;text-align:center;">Frequency</th>';
                tempRow += '<th style="width:50px;text-align:center;">Schedule</th>';
                tempRow += '</tr></thead><tbody></tbody></table></div></td></tr>';


                $('#tblFranchiseeDistributionList>tbody').append(tempRow);
                $('#ddldetaillinenumber').html('');
                var lineitems = []; lineitems.push("<option value='0'>Select</option>");

                $.each(data.listContractDetail, function (index, value) {
                    tempRowLineNo = value.LineNumber;
                    tempRowDistribution = "";
                    tempRowDistribution += '<tr>'
                    tempRowDistribution += '<td style="text-align:center;"><input type="hidden" relcdamt="cd_relcdamt" id="cd_relcdamt' + tempRowLineNo + '" value="' + value.Amount + '" />'
                    tempRowDistribution += value.LineNumber + '</td>';
                    tempRowDistribution += '<td style="text-align:center;">' + value.ServiceTypeName + '</td>';
                    tempRowDistribution += '<td style="text-align:right;"><input type="text" value="' + value.Amount + '" class="form-control input-sm editvalue" style="text-align:right;" readonly="readonly"/></td>';
                    tempRowDistribution += '<td style="text-align:center;">' + value.BillingFrequencyListName + '</td>';
                    tempRowDistribution += '<td style="text-align:center;"><a href="javascript:void(0);" onclick="Franchiseeservice(' + value.Mon + ',' + value.Tues + ',' + value.Wed + ',' + value.Thur + ',' + value.Fri + ',' + value.Sat + ',' + value.Sun + ')">View</a></td>'
                    tempRowDistribution += '</tr>'

                    $('#FranchiseeDistributionDetailList>tbody').append(tempRowDistribution);

                    lineitems.push("<option value=" + value.ContractDetailId + ">" + value.LineNumber + "</option>");

                    $('#frdestributionTable>tbody').html('');
                    var flineNo = 0;
                    $.each(data.listFranchiseeDistribution, function (index, value) {
                        AppendDistribution(value.DetailLineNumber, value.FranchiseeId, value.FranchiseeNo, value.FranchiseeName, value.Amount, value.ContractDetailId, value.DistributionId);
                    }),
                    bindfrenchiseelistbox(tempRowLineNo);


                });

                $('#ddldetaillinenumber').html(lineitems.join(' '));

                $("#hdfcontractdetail_linecount").val(tempRowLineNo);
                $("#hdffrenchiseedetail_linecount").val(tempFRowLineNo);

                $("#modal_FranchiseeDistribution").modal({ backdrop: 'static' });
            },
            error: function () {
                alert("Content load failed.");
            }
        });
    }

    function bindfrenchiseelistbox(lineno) {

        $("#fsearch-box_" + lineno).autocomplete({
            source: typeaheadSource,
            appendTo: $("#tblFranchiseeDistributionList"),
            select: function (event, ui) {
                event.preventDefault();
                tempFRowLineNo++;
                tempRowDistribution = "";
                tempRowDistribution += '<tr><td style="width:20px;text-align:center;">'
                tempRowDistribution += '<input type="hidden" id="FranchiseeDistributionFranchiseeId_' + lineno + '_' + tempFRowLineNo + '" name="FranchiseeDistributionFranchiseeId_' + lineno + '_' + tempFRowLineNo + '" value="' + ui.item.value + '" />';
                tempRowDistribution += '<input type="hidden" id="FranchiseeDistributionContractDetailId_' + lineno + '_' + tempFRowLineNo + '" name="FranchiseeDistributionContractDetailId_' + lineno + '_' + tempFRowLineNo + '" value="' + $("#ContractDetailId_" + lineno).val() + '" />';
                tempRowDistribution += '<input type="hidden" id="FranchiseeDistributionDetailId_' + lineno + '_' + tempFRowLineNo + '" name="FranchiseeDistributionDetailId_' + lineno + '_' + tempFRowLineNo + '" value="' + ui.item.value + '" /><span>' + ui.item.label.split(' ')[0] + '</span></td>';
                tempRowDistribution += '<td style="text-align:center;width:242px;">' + ui.item.label.replace(ui.item.label.split(' ')[0], "").trim() + '</td>';
                tempRowDistribution += '<td style="text-align:center;width:30px;"><input type="text" rel="ContractDetailAmount_' + lineno + '" value="' + $("#ContractDetailAmount_" + lineno).val() + '" class="form-control input-sm editvalue" id="FranchiseeDistributionAmountId_' + lineno + '_' + tempFRowLineNo + '" name="FranchiseeDistributionAmountId_' + lineno + '_' + tempFRowLineNo + '" style="margin-top:-6px;margin-bottom: -6px;" /></td>';
                tempRowDistribution += '</tr>'
                onlyDecimal('#FranchiseeDistributionAmountId_' + tempRowLineNo + '_' + tempFRowLineNo);
                $("#fsearch-box").val("");
                console.log(ui.item.label);
                console.log(ui.item.value);

                $("#hdffrenchiseedetail_linecount").val(tempFRowLineNo);
            }
        });


    }
    function btnAddDistributionFeeSaveOnClick() {

        $('input[rel="feeid_distribution"]').each(function (item) {
            if ($(this).is(":checked")) {
                var _FeeId = $(this).val();
                var new_arr = $.grep(FeeDataForDistribution, function (n, i) { return n.FeeId == _FeeId; })[0];

                DistributionfeeList.push({
                    DistributionFeesId: 0,
                    DistributionId: $('#hdfDestributionFee_DestributionId').val(),
                    CustomerId: $('#lblCustomerID').val(),
                    ContractDetailId: $('#hdfDestributionFee_ContractDetailId').val(),
                    FranchiseeId: $('#hdfDestributionFee_FranchiseeId').val(),
                    DetailLineNumber: $('#hdfDestributionFee_Linenumber').val(),
                    FeeId: _FeeId,
                    FeeName: new_arr.FeeName,
                    FeeRateTypeListId: new_arr.FeeRateTypeListId,
                    FeeRateTypeName: new_arr.FeeRateTypeName,
                    Amount: new_arr.Amount
                });

            }
        });
        DistributionfeeBindData(DistributionfeeList);

        $("#modal_AddDistribution").modal('hide');

    }
    function btnDistributionFeeSaveOnClick() {
        $.each(DistributionfeeList, function (index, value) {
            var new_arr = $.grep(DistributionfeeListFinal, function (n, i) { return (n.ContractDetailId == value.ContractDetailId && n.FranchiseeId == value.FranchiseeId && n.FeeId == value.FeeId); });
            if (new_arr.length > 0) {
                var amt = parseFloat($('#DistributionFeeAmount_' + value.FranchiseeId + '_' + value.ContractDetailId + '_' + value.FeeId).val());
                new_arr[0].Amount = amt;
            }
            else {
                DistributionfeeListFinal.push(value);
            }
        });
        DistributionfeeList = [];
        $("#modal_Distribution").modal('hide');
    }

    var lnFranchiseeDistribution = 0;
    function AppendDistribution(ln, fid, fnumber, fname, amt, contractdetailid, distributionid) {
        lnFranchiseeDistribution++;
        var tempRow = '';
        tempRow = tempRow + '<tr id=row_' + flineNo + '>'
        tempRow = tempRow + '<td>'
        tempRow = tempRow + '   <input type="hidden" relLine="' + lnFranchiseeDistribution + '" id="fd_hdfdistributionid' + lnFranchiseeDistribution + '" name="fd_hdfdistributionid' + lnFranchiseeDistribution + '" value="' + distributionid + '" />'
        tempRow = tempRow + '   <input type="hidden" relLine="' + lnFranchiseeDistribution + '" id="fd_hdfcontractdetailid' + lnFranchiseeDistribution + '" name="fd_hdfcontractdetailid' + lnFranchiseeDistribution + '" value="' + contractdetailid + '" />'
        tempRow = tempRow + '   <input type="hidden" relLine="' + lnFranchiseeDistribution + '" id="fd_hdfFrenchiseeId' + lnFranchiseeDistribution + '" name="fd_hdfFrenchiseeId' + lnFranchiseeDistribution + '" value="' + fid + '" />'
        tempRow = tempRow + '   <input type="text"   relLine="' + lnFranchiseeDistribution + '" id="fd_txtlinenumber' + lnFranchiseeDistribution + '" name="fd_txtlinenumber' + lnFranchiseeDistribution + '" required readonly value="' + ln + '" class="form-control input-sm cnumeric" style="text-align:center;padding: 5px;border-radius: 0px;" />'
        tempRow = tempRow + '</td>'
        tempRow = tempRow + '<td>'
        tempRow = tempRow + '   <input type="text" relLine="' + lnFranchiseeDistribution + '" id="fd_txtfranchiseeno' + lnFranchiseeDistribution + '" name="fd_txtfranchiseeno' + lnFranchiseeDistribution + '" required readonly   value="' + $.trim(fnumber) + '" class="form-control input-sm cnumeric" style="text-align:center;padding: 5px;border-radius: 0px;" />'
        tempRow = tempRow + '</td>'
        tempRow = tempRow + '<td>'
        tempRow = tempRow + '   <input type="text" relLine="' + lnFranchiseeDistribution + '" id="fd_txtfranchiseename' + lnFranchiseeDistribution + '" name="fd_txtfranchiseename' + lnFranchiseeDistribution + '" required readonly  value="' + $.trim(fname) + '" class="form-control input-sm cnumeric" style="text-align:center;padding: 5px;border-radius: 0px;" />'
        tempRow = tempRow + '</td>'
        tempRow = tempRow + '<td>'
        tempRow = tempRow + '   <input type="text" relfbamt="fb_amt' + ln + '" relLine="' + lnFranchiseeDistribution + '" id="fd_txtfranchiseeamount' + lnFranchiseeDistribution + '" name="fd_txtfranchiseeamount' + lnFranchiseeDistribution + '" required value="' + amt + '" class="form-control input-sm cnumeric" style="text-align:right;padding: 5px;border-radius: 0px;" />'
        tempRow = tempRow + '</td>';
        tempRow = tempRow + '<td>'
        if (distributionid > 0)
            tempRow = tempRow + '   <a href="javascript:void(0);" onclick="Distributionfee(' + fid + ',' + contractdetailid + ',' + distributionid + ',' + ln + ')">View/Edit</a>'
        else
            tempRow = tempRow + '   <a href="javascript:void(0);" onclick="Distributionfee(' + fid + ',' + contractdetailid + ',' + distributionid + ',' + ln + ')">Add</a>'
        tempRow = tempRow + '</td>';
        tempRow = tempRow + '<td>'
        tempRow = tempRow + '   <a style="font-size: 16px;padding: 3px;color: mediumvioletred;" href="javascript:deleteFrenchisee(' + ln + ',' + fnumber + ');"><i class="fa fa-trash" aria-hidden="true"></i></a>'
        tempRow = tempRow + '</td></tr>';

        $('#frdestributionTable tbody').append(tempRow);
        $('#hdffrenchiseedetail_linecount').val(lnFranchiseeDistribution);
    }
   


</script>


@*<script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/datatable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/table-datatables-managed.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js")" type="text/javascript"></script>*@