@model List<JKViewModels.Franchisee.FranchiseeFinderFeeDetailViewModel>
@{

    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div align="center"><h5><b> FinderFee Detail</b></h5></div>




    <table style="width:100%"  cellspacing="0">
        <tr style="background-color: #e8e8e8;">
            <th style="width:100px;text-align:center;font-size: 11px;font-weight:bold;padding:8px;border: 1px solid #777777;border-right: none;">Customer No.</th>
            <th colspan="6" style="width:680px;text-align:center;font-size: 11px;font-weight:bold;padding:8px;border: 1px solid #777777;border-right: none;">Customer Name</th>
            <th style="text-align:center;width:80px;font-size: 11px;font-weight:bold;padding:8px;border: 1px solid #777777;border-right: none;">Total FinderFee</th>
            <th style="text-align:center;width:80px;font-size: 11px;font-weight:bold;padding:8px;border: 1px solid #777777;border-right: none;">Total Down Payment</th>
            <th style="text-align:center;width:80px;font-size: 11px;font-weight:bold;padding:8px;border: 1px solid #777777;border-right: none;">Total Monthly Payment</th>
            <th style="text-align:center;width:80px;font-size: 11px;font-weight:bold;padding:8px;border: 1px solid #777777;border-right: none;">Total Paid</th>
            <th style="text-align:center;width:80px;font-size: 11px;font-weight:bold;padding:8px;border: 1px solid #777777;">Balance</th>
        </tr>
        <tr>
            <td style="text-align:center;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;">@Model.First().CustomerNo</td>
            <td style="text-align:left;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;" colspan="6">@Model.First().CustomerName</td>
            <td style="text-align:right;font-size: 11px;padding:3px 5px;border: 1px solid #777777;border-right: none;border-top: none;">@String.Format("{0:c}", Model.Sum(i => i.TotalFinderFee))</td>
            <td style="text-align:right;font-size: 11px;padding:3px 5px;border: 1px solid #777777;border-right: none;border-top: none;">@String.Format("{0:c}", Model.Sum(i => i.TotalDownPayment))</td>
            <td style="text-align:right;font-size: 11px;padding:3px 5px;border: 1px solid #777777;border-right: none;border-top: none;">@String.Format("{0:c}", Model.Sum(i => i.MonthlyPaymentAmount))</td>
            <td style="text-align:right;font-size: 11px;padding:3px 5px;border: 1px solid #777777;border-right: none;border-top: none;">@String.Format("{0:c}", Model.Sum(i => i.PaidAmount))</td>
            <td style="text-align:right;font-size: 11px;padding:3px 5px;border: 1px solid #777777;border-top: none;">$ @Model.Sum(i => i.TotalBalance)</td>
        </tr>

    </table>

    <br />
    <table style="width:100%"  cellspacing="0">

        <tr style="background-color: #e8e8e8;">
            <th style="width:100px;text-align:center;font-size: 11px;font-weight:bold;padding:3px;border: 1px solid #777777;border-right: none;">
                Franchisee No
            </th>
            <th style="width:180px;text-align:center;font-size:11px;font-weight:bold;padding:3px;border: 1px solid #777777;border-right: none;">
                Franchisee Name
            </th>
            <td style="width:80px;text-align:center;font-size:11px;font-weight:bold;padding:3px;border: 1px solid #777777;border-right: none;">
                FF Type
            </td>
            <td style="width:80px;text-align:center;font-size:11px;font-weight:bold;padding:3px;border: 1px solid #777777;border-right: none;">
                Contract Billing
            </td>
            <td style="width:80px;text-align:center;font-size:11px;font-weight:bold;padding:3px;border: 1px solid #777777;border-right: none;">
                FF Started
            </td>
            <td style="width:80px;text-align:center;font-size:11px;font-weight:bold;padding:3px;border: 1px solid #777777;border-right: none;">
                Payment #
            </td>
            <td style="width:80px;text-align:center;font-size:11px;font-weight:bold;padding:3px;border: 1px solid #777777;border-right: none;">
                No of Payment
            </td>
            <td style="width:80px;text-align:center;font-size:11px;font-weight:bold;padding:3px;border: 1px solid #777777;border-right: none;">
                Total FinderFee
            </td>
            <td style="width:80px;text-align:center;font-size:11px;font-weight:bold;padding:3px;border: 1px solid #777777;border-right: none;">
                Total Down Payment
            </td>
            <td style="width:80px;text-align:center;font-size:11px;font-weight:bold;padding:3px;border: 1px solid #777777;border-right: none;">
                Total Monthly Payment
            </td>
            <td style="width:80px;text-align:center;font-size:11px;font-weight:bold;padding:3px;border: 1px solid #777777;border-right: none;">
                Total Paid
            </td>
            <td style="width:80px;text-align:center;font-size:11px;font-weight:bold;padding:3px;border: 1px solid #777777;">
                Balance
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;">@item.FranchiseeNo</td>
                <td style="text-align:left;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;">@item.FranchiseeName</td>
                <td style="text-align:left;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;">@item.FindersFeeTypeListName</td>
                <td style="text-align:center;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;">@String.Format("{0:MM/dd/yyyy}", item.StartTime)</td>
                <td style="text-align:center;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;">@String.Format("{0:MM/dd/yyyy}", item.StartDate)</td>
                <td style="text-align:center;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;">@item.TotalNumOfpayments</td>
                <td style="text-align:center;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;">@item.NumOfPaymentsPaid</td>
                <td style="text-align:right;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;">@String.Format("{0:c}", item.TotalFinderFee)</td>
                <td style="text-align:right;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;">@String.Format("{0:c}", item.TotalDownPayment)</td>
                <td style="text-align:right;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;">@String.Format("{0:c}", item.MonthlyPaymentAmount)</td>
                <td style="text-align:right;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-right: none;border-top: none;">@String.Format("{0:c}", item.PaidAmount)</td>
                <td style="text-align:right;font-size: 11px;padding:5px 3px;border: 1px solid #777777;border-top: none;">$ @item.TotalBalance</td>
            </tr>
        }

    </table>
</body>
</html>

