@model JKViewModels.Customer.FullCustomerViewModel1
@{
    ViewBag.Title = "MaintenanceStepFifth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/admin/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/admin/assets/Card/dist/card.css" rel="stylesheet" />
    <link href="~/Content/admin/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <style type="text/css">        
        #ui-datepicker-div {
            z-index: 99999 !important;
        }
    </style>

}
<div class="modal-content" style="border-radius: 8px;">
    <div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
        <h4 class="modal-title text-center" style="margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;text-transform: uppercase;">
            NEW CUSTOMER DETAIL PENDING APPROVE
        </h4>
    </div>
    <div class="modal-body form form-horizontal" style="padding-top: 1px;margin-top: -5px;">
        <div class="form-body" style="padding-top: 0px;">
            <div class="form-group">
                <div class="row" style="background-color: #4b85cc;color: #fff;padding-top:8px;padding-bottom:8px;margin-left: 10px;margin-right: 25px;margin-top:8px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                Customer information : <b> @Html.DisplayFor(one => one.CustomerDetail.CustomerName)  </b>
                            </div>
                            <div class="col-md-6 text-center">Customer # <b>@Model.CustomerDetail.CustomerNo </b></div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body" style="padding:10px">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8" style="padding-left:0px;border: 1px solid grey; margin-left: -1px;margin-right: 1px;">
                                <div class="col-md-12" style="padding-left:0px;">
                                    <div class="col-md-12">
                                        <div class="form-body" style="padding: 5px;padding-bottom:0px;">
                                            <div class="form-group mr0">
                                                <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;"><b>Status:</b></label>
                                                <div class="col-md-9" style="padding-top:0px;padding-left: 10px;padding-right:4px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@(Model.CustomerDetail.CustomerName != null ? "Pending" : "") </label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-3 control-label" style="padding-top: 0px;padding-left: 4px;padding-right: 4px;"><b>Account Type:</b></label>
                                                <div class="col-md-9" style="padding-top: 0px;padding-left: 10px;padding-right: 4px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.CustomerDetail.Account_Type)</label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-3 control-label" style="padding-top: 0px;padding-left: 4px;padding-right: 4px;"><b>Contact Name:</b></label>
                                                <div class="col-md-9" style="padding-top: 0px;padding-left: 10px;padding-right: 4px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.CustomerDetail.ContactName)</label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;"><b>Phone:</b></label>
                                                <div class="col-md-9" style="padding-left: 10px;padding-right: 4px;padding-top:0px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;padding-bottom: 0px;">@Html.DisplayFor(one => one.CustomerDetail.Phone)</label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;"><b>Email:</b></label>
                                                <div class="col-md-9" style="padding-left: 10px;padding-right: 4px;padding-top:0px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.CustomerDetail.Email)</label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;"><b>Address:</b></label>
                                                <div class="col-md-9" style="padding-left: 10px;padding-right: 4px;padding-top:0px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">
                                                        @Html.DisplayFor(one => one.CustomerDetail.Address) @Html.DisplayFor(one => one.CustomerDetail.Address2)
                                                    </label>
                                                </div>
                                            </div>                                             
                                        </div>
                                    </div>
                                    @*<div class="col-md-6" style="padding-left: 0px;">
                                        <div class="form-body" style="padding: 5px;padding-bottom:0px;">
                                            <div class="form-group mr0">
                                                <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Status:</label>
                                                <div class="col-md-7" style="padding-top:0px;padding-left: 4px;padding-right:4px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@(Model.CustomerDetail.CustomerName != null ? "Pending" : "") </label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-5 control-label" style="padding-top: 0px;padding-left: 4px;padding-right: 4px;">Account Type:</label>
                                                <div class="col-md-7" style="padding-top: 0px;padding-left: 4px;padding-right: 4px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.CustomerDetail.Account_Type)</label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Main Address:</label>
                                                <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">
                                                        @Html.DisplayFor(one => one.CustomerDetail.Address)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;"></label>
                                                <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                    &nbsp;<label class="control-label" style="text-align:left!important;padding-top: 0px;">
                                                        @Html.DisplayFor(one => one.CustomerDetail.Address2)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Phone No.:</label>
                                                <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;padding-bottom: 0px;">@Html.DisplayFor(one => one.CustomerDetail.Phone)</label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Email:</label>
                                                <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.CustomerDetail.Email)</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6" style="padding-left:0px;">

                                        <div class="form-body" style="padding: 5px;padding-bottom: 0px;">
                                            <div class="form-group mr0">
                                                <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Contact Name:</label>
                                                <div class="col-md-7" style="padding-left: 5px;padding-right: 4px;padding-top:0px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.CustomerDetail.ContactName)</label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Contact Title:</label>
                                                <div class="col-md-7" style="padding-left: 5px;padding-right: 5px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.CustomerDetail.Title)</label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Phone No.:</label>
                                                <div class="col-md-5" style="padding-left: 5px;padding-right: 5px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.CustomerDetail.Phone)</label>
                                                </div>
                                                <label class="col-md-1 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Ext:</label>
                                                <div class="col-md-1" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.CustomerDetail.PhoneExtension)</label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Cell No.:</label>
                                                <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.CustomerDetail.CustomerCell)</label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Fax No.:</label>
                                                <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.CustomerDetail.Fax)</label>
                                                </div>
                                            </div>
                                            <div class="form-group mr0">
                                                <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Email:</label>
                                                <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.CustomerDetail.CustomerEmail) </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>*@

                                </div>
                            </div>
                            <div class="col-md-4" style="padding-right:0px;border: 1px solid grey;min-height:157px;">
                                <div class="col-md-6">
                                    <div class="form-group mr0" style="margin-top: 25px;">
                                        <a class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="showEditCustomerInfo(@ViewBag.CustomerID)">Edit Customer Info</a>
                                    </div>
                                    <div class="form-group mr0"  style="margin-top: 20px;">
                                        <a href="javascript:void(0);" class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="OpenCustomerContractPopup(@ViewBag.CustomerID)">Customer Contract</a>
                                    </div>
                                    @*<div class="form-group mr0">
                                        <a class="btn-custom btn btn-primary col-md-11" href="javascript:void(0)" style="font-size:11px;margin-bottom:34px;" onclick="OpenCustomerUploadDocumentPopup(@ViewBag.CustomerID)">Documents</a>
                                    </div>*@
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mr0" style="margin-top: 25px;">
                                        <a href="javascript:void(0);" class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="OpenCustomerUploadDocumentPopup(@ViewBag.CustomerID)">Documents</a>
                                        @*<a href="javascript:void(0);" class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="">Account Offering</a>*@
                                    </div>
                                    @*<div class="form-group mr0">
                                            <a class="btn-custom btn btn-primary col-md-11" style="font-size:11px;padding-left: 0px;padding-right: 0px;" onclick="">Maintenance</a>
                                        </div>*@
                                    <div class="form-group mr0"  style="margin-top: 20px;">
                                        <a class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="ShowCustomerSuggetionBox()">Distribution</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="hidden" id="hdnCustomerId" value="@Model.CustomerDetail.CustomerId" />
                            <div class="col-md-2 control-label">
                                Note :
                            </div>
                            <div class="col-md-6 control-label">
                                <textarea class="form-control input-sm" rows="3" id="txtNote"></textarea>
                            </div>
                            <div class="col-md-2 control-label">
                                <input type="button" id="btnReject" onclick="UpdatePendingStatus(38)" class="btn btn-primary col-md-11" value="Submit" style="margin-bottom:3px;font-size:11px;margin-top:16px;margin-left:-10px !important" />
                            </div>
                            @*<div class="col-md-2 control-label">
                                    <input type="button" id="btnApprove" onclick="UpdateApproveReject(1)" class="btn btn-primary col-md-11" value="APPROVED" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:-40px !important" />
                                </div>*@
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-8 control-label">

                                </div>
                                <div class="col-md-2">
                                    <input type="button" class="btn btn-primary col-md-11" value="REJECTED" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" class="btn btn-primary col-md-11" value="APPROVED" />
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<form class="form-horizontal" action="" id="form_Billingsetting" method="POST">
    @*<div class="modal fade custom-model custom-form-design" id="ModalEditCustomerInfo" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="width:869px" id="RenderEditCustomerInfoPopup">
        </div>
    </div>*@
</form>

<div class="modal fade custom-model custom-form-design" id="modal_CustomerContractPopupModal" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:785px">
        <div class="modal-content" style="border-radius: 8px;" id="RenderCustomerContractDetailsModal">
        </div>
    </div>
</div>
<div class="modal fade custom-model custom-form-design" id="modal_CustomerContractPopup" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:785px">
        <div class="modal-content" style="border-radius: 8px;" id="RenderCustomerContractDetails">
        </div>
    </div>
</div>

<div class="form-horizontal" action="" id="form_FranchiseeDistribution"></div>

<div class="form-horizontal" action="" id="form_FranchiseeIncreaseDistribution"></div>

<div class="modal fade in" id="ModelCustomerUploadDocumentPopup" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:750px">
        <div class="modal-content" style="border-radius: 8px;" id="RenderCustomerUploadDocumentPopup">
        </div>
    </div>
</div>
<div class="modal fade custom-model custom-form-design" id="ModalFranchiseDistribution_CustomerPopup" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:350px">
        <div class="modal-content" style="border-radius: 0px;" id="RenderFranchiseDistributionCustomer">
            <div class="modal-content" style="border-radius: 8px;" id="RenderFranchiseDistribution">
                <div class="custom-form portlet light" id="" style="margin-top:0px;box-shadow: none;">
                    <div class="headerbox" style="font-weight: normal;border-radius: 0;">
                        <div class="col-md-12 text-center" style="font-size:15px;">
                            <b> SEARCH FRANCHISEE </b>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 5px !important;margin-right: 12px !important;"></button>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="row" style="padding-top:8px;padding-bottom:8px;margin-left: 0px;margin-right: 0px;min-height: 100px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="input-icon" style="margin-top: 30px;">
                                    <i class="icon-magnifier icon-align-right" style="margin-top: 8px;"></i>
                                    <input id="fcsearch-box" type="text" required name="franchiseenumber" autocomplete="off" placeholder="Search Franchisee Name or Number" value="" class="form-control input-sm typeahead" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade custom-model custom-form-design" id="ModalFranchiseDistribution_CustomerPopup" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:350px">
        <div class="modal-content" style="border-radius: 0px;" id="RenderFranchiseDistributionCustomer">
            <div class="modal-content" style="border-radius: 8px;" id="RenderFranchiseDistribution">
                <div class="custom-form portlet light" id="" style="margin-top:0px;box-shadow: none;">
                    <div class="headerbox" style="font-weight: normal;border-radius: 0;">
                        <div class="col-md-12 text-center" style="font-size:15px;">
                            <b> SEARCH FRANCHISEE </b>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 5px !important;margin-right: 12px !important;"></button>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="row" style="padding-top:8px;padding-bottom:8px;margin-left: 0px;margin-right: 0px;min-height: 100px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="input-icon" style="margin-top: 30px;">
                                    <i class="icon-magnifier icon-align-right" style="margin-top: 8px;"></i>
                                    <input id="fcsearch-box" type="text" required name="franchiseenumber" autocomplete="off" placeholder="Search Franchisee Name or Number" value="" class="form-control input-sm typeahead" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="form_FranchiseCustomersDistributionPopup"></div>
@section pageplugins{
    @*<script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/datatable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/table-datatables-managed.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.js" type="text/javascript"></script>
    <script src="~/Content/admin/assets/Card/dist/jquery.card.js"></script>
}
 
@section scripts{
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/components-date-time-pickers.min.js")" type="text/javascript"></script>    
    <script>
        //Customer Contract Popup

        function OpenCustomerContractPopup(Id) {

            var sURL = '@Url.Action("RenderCustomerContractDetails", "Customer", new { area = "Portal" })?id=' + Id;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#RenderCustomerContractDetails').html(data);
                    //$('#Contract_StartDate').inputmask("mm/dd/yyyy", {});
                    //$('#Contract_StartDate').inputmask("mm/dd/yyyy", {});
                    //$('#Contract_SignDate').inputmask("mm/dd/yyyy", {});
                    //$('#Contract_StatusDate').inputmask("mm/dd/yyyy", {});
                    //$('#Contract_ExpirationDate').inputmask("mm/dd/yyyy", {});
                    //$('#Contract_ResumeDate').inputmask("mm/dd/yyyy", {});
                    $(".date-picker").datepicker();
                    $(".input-group-btn").click(function () {
                        $(this).prev().trigger("focus");
                        $(this).prev().trigger("focus");
                    });
                    $("#modal_CustomerContractPopup").modal({ backdrop: 'static' });
                },
                error: function () {
                    alert("Content load failed.");
                }
            });

            //$("#modal_CustomerContractPopup").modal({ backdrop: 'static' });
        }

        @*var OpenCustomerContractPopup = function (Id) {

            //$.blockUI();
            var sURL = '@Url.Action("PendingApprovalCustomerContractDetailPopup", "Customer", new { area = "Portal" })?id=' + Id;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#RenderCustomerContractDetails').html(data);
                    $('#Contract_StartDate').inputmask("mm/dd/yyyy", {});
                    $('#Contract_StartDate').inputmask("mm/dd/yyyy", {});
                    $('#Contract_SignDate').inputmask("mm/dd/yyyy", {});
                    $('#Contract_StatusDate').inputmask("mm/dd/yyyy", {});
                    $('#Contract_ExpirationDate').inputmask("mm/dd/yyyy", {});
                    $('#Contract_ResumeDate').inputmask("mm/dd/yyyy", {});
                    //$.unblockUI();
                    $(".date-picker").datepicker();
                    $("#Contract_ExpirationDate").datepicker();
                    $(".input-group-btn").click(function () {
                        $(this).prev().trigger("focus");
                        $(this).prev().trigger("focus");
                    });
                    $("#modal_CustomerContractPopup").modal({ backdrop: 'static' });
                },
                error: function () {
                    alert("Content load failed.");
                }
            });

            //$("#modal_CustomerContractPopup").modal({ backdrop: 'static' });
        }*@
    </script>


    <script>

    $(document).ready(function () {

    });
    @*function ShowCustomerSuggetionBox() {

        var box = $('#fcsearch-box').data('typeahead');
        if (box != null) {
            box.source = c_typeaheadSource;
        }
        else {
            $('#fcsearch-box').typeahead({
                source: c_typeaheadSource,
                updater: function (item) {
                    BindFranchiseeCustomerDistribution(@Model.CustomerDetail.CustomerId,item.id);
                    return item;
                },
                minLength: 1
            }).focus();
        }

        $("#ModalFranchiseDistribution_CustomerPopup").modal({ backdrop: 'static' });
    }*@
        @*function BindFranchiseeCustomerDistribution(cid, fid) {
        
        var sURL = '@Url.Action("RenderFranchiseCustomerDistributionPopup", "Customer", new { area = "Portal" })?cid=' + cid + '&fid=' + fid;
        $.ajax({
            type: "GET",
            url: sURL,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#form_FranchiseCustomersDistributionPopup').html(data);
                $("#modal_CIDFranchiseeDistribution").modal({ backdrop: 'static' });
                GetFindersFeeScheduleList();

                maskCurrency('FranchiseeDistribution_Amount');
            },
            error: function () {
                alert("Content load failed.");
            }
        });
    }*@
        function UpdatePendingStatus(status) {

        var Id = $("#hdnCustomerId").val();
        if (Id > 0) {
            $("#btnReject").attr("disabled", "disabled");
            $.ajax({
                url: '@Url.Action("UpdatePendingStatus", "Customer")',
                dataType: "json",
                data: { CustomerId: Id, Note: $("#txtNote").val(), Status: status },
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function () {
                    //window.location.href = '@Url.Action("PendingApprovalList", "Customer", new { area = "Portal", @id = 4 })';
                    window.location.href = '@Url.Action("Index", "CRMRegionOperation", new { area = "CRM" })';
                },
                error: function () { }
            });
        }
    }
    function showEditCustomerInfo(Id) {

        var sURL = '@Url.Action("PendingApprovalListEditCustomerPopup", "Customer", new { area = "Portal" })?id=' + Id;
        $.ajax({
            type: "GET",
            url: sURL,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#form_Billingsetting').html(data);
                $("#ModalEditCustomerInfo").modal({ backdrop: 'static' });
                $(".input-group-btn").click(function () {
                    $(this).prev().trigger("focus");
                    $(this).prev().trigger("focus");
                });
                $(".date-picker").datepicker();
                $(".edit").attr("disabled", "disabled");
                $(".edit").attr("readonly", "readonly");

                $("#btnSave").prop("disabled", "false");
                $("#btnSave").prop("readonly", "true");
                $("#btnCancel").prop("disabled", "false");
                $("#btnCancel").prop("readonly", "true");
                $("#btnSave").hide();
                $("#btnCancel").hide();

                $(".editmain1").attr("disabled", "disabled");
                $(".editmain1").attr("readonly", "readonly");
                $(".editmain").attr("disabled", "disabled");
                $(".editmain").attr("readonly", "readonly");

                $(".editbill1").attr("disabled", "disabled");
                $(".editbill1").attr("readonly", "readonly");
                $(".editbill").attr("disabled", "disabled");
                $(".editbill").attr("readonly", "readonly");

                $(".EditBtn").show();
                $(".SaveBtn").hide();
                $(".CancelBtn").hide();

            },
            error: function () {
                alert("Content load failed.");
            }
        });

    }

    function OpenCustomerContractPopupModal(Id) {
        var sURL = '@Url.Action("RenderCustomerContractDetails", "Customer", new { area = "Portal" })?id=' + Id;
        $.ajax({
            type: "GET",
            url: sURL,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#RenderCustomerContractDetailsModal').html(data);
                $(".date-picker").datepicker();
                $("#modal_CustomerContractPopupModal").modal({ backdrop: 'static' });
                $('#Contract_StartDate').inputmask("mm/dd/yyyy", {});
                $('#Contract_StartDate').inputmask("mm/dd/yyyy", {});
                $('#Contract_SignDate').inputmask("mm/dd/yyyy", {});
                $('#Contract_StatusDate').inputmask("mm/dd/yyyy", {});
                $('#Contract_ExpirationDate').inputmask("mm/dd/yyyy", {});
                $('#Contract_ResumeDate').inputmask("mm/dd/yyyy", {});
                $("#Contract_ExpirationDate").datepicker();
                $(".input-group-btn").click(function () {
                    $(this).prev().trigger("focus");
                    $(this).prev().trigger("focus");
                });
                //$("#ModelCustomerDetailsPopup").modal('hide');
            },
            error: function () {
                alert("Content load failed.");
            }
        });
    }

        function OpenCustomerUploadDocumentPopup(Id) {

            var sURL = '@Url.Action("CustomerUploadDocumentPopup", "Customer", new { area = "Portal" })?id=' + Id;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#RenderCustomerUploadDocumentPopup').html(data);
                    $("#ModelCustomerUploadDocumentPopup").modal({ backdrop: 'static' });
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        }     
    </script>


    <script>
        var editFranchiseeDistribution = function () {

            $(".editvalue").addClass("editvaluetext");
            $(".editvalue").removeClass("editmode");
            //$("#btnSaveDistribution").show();
            //$("#btnEditDistribution").hide();
            $(".editvalue").removeAttr("disabled").removeAttr("readonly");
            $(".editcheck").removeAttr("disabled").removeAttr("readonly");
        };
        function FranchiseeDistribution(id) {
            var sURL = '@Url.Action("CustomerDetailFranchiseeDistribution", "Customer", new { area = "Portal" })?Id=' + id;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#form_FranchiseeDistribution').html(data);

                    $(".editvalue").removeClass("editvaluetext");
                    $(".editvalue").addClass("editmode");
                    $(".editvalue").attr("readonly", "readonly");
                    //$("#btnSaveDistribution").hide();
                    //$("#btnEditDistribution").show();
                    $(".editcheck").attr("disabled", "disabled");
                    $(".editcheck").attr("readonly", "readonly");

                    FranchiseeDistributionData(id);
                    bindcustomerDetailDisLoad(id);
                    $('.modal-dialog').draggable();
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        }
        function IncreaseDistribution() {
            var id = 272;
            var sURL = '@Url.Action("CustomerDetailIncreaseDistribution", "Customer", new { area = "Portal" })?Id=' + id;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#form_FranchiseeIncreaseDistribution').html(data);

                    $(".editvalue").removeClass("editvaluetext");
                    $(".editvalue").addClass("editmode");
                    $(".editvalue").attr("readonly", "readonly");
                    //$("#btnSaveDistribution").hide();
                    //$("#btnEditDistribution").show();
                    $(".editcheck").attr("disabled", "disabled");
                    $(".editcheck").attr("readonly", "readonly");

                    FranchiseeDistributionData(id);
                    bindcustomerDetailDisLoad(id);
                    $('.modal-dialog').draggable();
                    $('#modalDataCusContractPopup').modal('hide');
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        }

        function bindcustomerDetailDisLoad(customerid) {

        }
        var editFranchiseeDistribution = function () {

            $(".editvalue").addClass("editvaluetext");
            $(".editvalue").removeClass("editmode");
            //$("#btnSaveDistribution").show();
            //$("#btnEditDistribution").hide();
            $(".editvalue").removeAttr("disabled").removeAttr("readonly");
            $(".editcheck").removeAttr("disabled").removeAttr("readonly");
        };

        function FranchiseeDistribution(id) {
            var sURL = '@Url.Action("CustomerDetailFranchiseeDistribution", "Customer", new { area = "Portal" })?Id=' + id;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#form_FranchiseeDistribution').html(data);

                    $(".editvalue").removeClass("editvaluetext");
                    $(".editvalue").addClass("editmode");
                    $(".editvalue").attr("readonly", "readonly");
                    //$("#btnSaveDistribution").hide();
                    //$("#btnEditDistribution").show();
                    $(".editcheck").attr("disabled", "disabled");
                    $(".editcheck").attr("readonly", "readonly");

                    FranchiseeDistributionData(id);
                    bindcustomerDetailDisLoad(id);
                    $('.modal-dialog').draggable();
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        }


        function IncreaseDistribution() {
            var id = 272;
            var sURL = '@Url.Action("CustomerDetailIncreaseDistribution", "Customer", new { area = "Portal" })?Id=' + id;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#form_FranchiseeIncreaseDistribution').html(data);

                    $(".editvalue").removeClass("editvaluetext");
                    $(".editvalue").addClass("editmode");
                    $(".editvalue").attr("readonly", "readonly");
                    //$("#btnSaveDistribution").hide();
                    //$("#btnEditDistribution").show();
                    $(".editcheck").attr("disabled", "disabled");
                    $(".editcheck").attr("readonly", "readonly");

                    FranchiseeDistributionData(id);
                    bindcustomerDetailDisLoad(id);
                    $('.modal-dialog').draggable();
                    $('#modalDataCusContractPopup').modal('hide');
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        }


        function bindcustomerDetailDisLoad(customerid) {

        }

        function viewDistributionFee() {
            $("#modal_Distribution").modal({ backdrop: 'static' });
        }
        function Franchiseeservice(mo, tu, we, th, fr, sa, su) {

            $("#chkScheduleMonday").prop('checked', false);
            $("#chkScheduleTuesday").prop('checked', false);
            $("#chkScheduleWednesday").prop('checked', false);
            $("#chkScheduleThursday").prop('checked', false);
            $("#chkScheduleFriday").prop('checked', false);
            $("#chkScheduleSaturday").prop('checked', false);
            $("#chkScheduleSunday").prop('checked', false);


            if (mo == 1)
                $("#chkScheduleMonday").prop('checked', true);
            if (tu == 1)
                $("#chkScheduleTuesday").prop('checked', true);
            if (we == 1)
                $("#chkScheduleWednesday").prop('checked', true);
            if (th == 1)
                $("#chkScheduleThursday").prop('checked', true);
            if (fr == 1)
                $("#chkScheduleFriday").prop('checked', true);
            if (sa == 1)
                $("#chkScheduleSaturday").prop('checked', true);
            if (su == 1)
                $("#chkScheduleSunday").prop('checked', true);




            $("#modal_service").modal({ backdrop: 'static' });
        }
        //function FranchiseeserviceDestribution() {
        //    $("#modal_Distribution").modal({ backdrop: 'static' });
        //}
        var FeeDataForDistribution = [];
        function FranchiseeserviceAddDestribution() {

            $.ajax({
                url: '@Url.Action("GetFeeData", "Customer","Portal")',
                success: function (res) {
                    console.log(res);
                    FeeDataForDistribution = res;
                    var tempRow = "";
                    $('#feeListAdd tbody').html('');
                    $.each(res, function (index, value) {
                        tempRow = "";
                        tempRow += '<tr>';
                        tempRow += '    <td><input type="checkbox" rel="feeid_distribution" value="' + value.FeeId + '" /></td>';
                        tempRow += '    <td>' + value.FeeName + '</td>';
                        tempRow += '    <td>' + value.FeeRateTypeName + '</td>';
                        tempRow += '    <td style="text-align: right;">' + (value.FeeRateTypeListId == 1 ? (value.Amount + '%') : ('$ ' + value.Amount)) + '</td>';
                        tempRow += '</tr>';
                        $('#feeListAdd tbody').append(tempRow);
                    });

                    $("#modal_AddDistribution").modal({ backdrop: 'static' });
                },
                error: function () { }
            });
        }

        var c_typeaheadSource = [];
        applyAutoSearch();
        function applyAutoSearch() {

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetAllFranchisees", "Franchise", new { area = "Portal" })',
                data: {},
                success: function (data) {
                    c_typeaheadSource = [];
                    $.each(data, function (key, value) {
                        c_typeaheadSource.push({ id: value.FranchiseeId, name: value.FranchiseeNo + ' ' + value.Name })
                    });
                }
            });
        }

        function ShowCustomerSuggetionBox() {
            var box = $('#fcsearch-box').data('typeahead');
            if (box != null) {
                box.source = c_typeaheadSource;
            }
            else {
                $('#fcsearch-box').typeahead({
                    source: c_typeaheadSource,
                    updater: function (item) {
                        BindFranchiseeCustomerDistribution(@Model.CustomerDetail.CustomerId,item.id);
                        return item;
                    },
                    minLength: 1
                }).focus();
            }

            $("#ModalFranchiseDistribution_CustomerPopup").modal({ backdrop: 'static' });
        }
        function BindFranchiseeCustomerDistribution(cid, fid) {
            var sURL = '@Url.Action("RenderFranchiseCustomerOnlyDistributionPopup", "Customer", new { area = "Portal" })?cid=' + cid + '&fid=' + fid + '&callfrom=CD';
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {

                    $('#form_FranchiseCustomersDistributionPopup').html(data);
                    $("#CustomerDetail_EffectiveDate").datepicker("setDate", new Date());
                    //$("#modal_CIDFranchiseeDistribution").modal({ backdrop: 'static' });
                    //$("#FD_modal_FranchiseeDistribution").modal({ backdrop: 'static' });

                    $("#ModalFranchiseDistribution_CustomerPopup").modal('hide');

                },
                error: function () {
                    alert("Content load failed.");
                }
            });
            @*var sURL = '@Url.Action("RenderFranchiseCustomerDistributionPopup", "Customer", new { area = "Portal" })?cid=' + cid + '&fid=' + fid;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#form_FranchiseCustomersDistributionPopup').html(data);
                    $("#modal_CIDFranchiseeDistribution").modal({ backdrop: 'static' });
                    GetFindersFeeScheduleList();

                    maskCurrency('FranchiseeDistribution_Amount');
                },
                error: function () {
                    alert("Content load failed.");
                }
            });*@
        }


        function showCustomerFranchiseeDistribution(Id) {

            var sURL = '@Url.Action("FranchiseeCustomerMaintenancePendingDetail", "Customer", new { area = "Portal" })?id=' + Id;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#form_FranchiseeCustomerMaintenanceApproval').html(data);


                    maskCurrency('FranchiseeDistribution_Amount');
                    //CustomerDetail_EffectiveDate
                   
                    maskCurrency('lstFindersFeeAdjustment_0__Amount');
                    maskCurrency('FindersFee_ContractBillingAmount');
                    maskCurrency('FindersFee_TotalAdjustmentAmount');
                    maskCurrency('FindersFee_PayableOnAmount');
                    maskPercentage('FindersFee_DownPayPercentage');
                    maskCurrency('FindersFee_DownPaymentAmount');
                    maskPercentage('FindersFee_MonthlyPaymentPercentage');
                    maskCurrency('FindersFee_MonthlyPaymentAmount');
                    maskCurrency('FindersFee_FinancedAmount');
                    maskCurrency('FindersFee_TotalAmount');



                    $('#modal_CIDFranchiseeDistribution').modal({ backdrop: 'static' });
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        }

    </script>
}