<style>
    .cls-center {
        text-align: center;
    }

    .cls-left {
        text-align: left;
    }

    .cls-right {
        text-align: right;
    }
</style>
<div class="modal fade custom-model custom-form-design" id="modal_AccountOfferingDetail" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content" style="border-radius: 8px;">
            <div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
                <h4 class="modal-title" style="text-align:center;margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;border-radius: 8px 8px 0 0;text-transform: uppercase;">
                    Account Offering
                </h4>
            </div>
            <div class="custom-form portlet light" id="">
                <div class="portlet-body">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "", @role = "form", @class = "form form-horizontal", style = "margin: 0px;" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label col-md-2" style="font-weight:600;">
                                    Customer No.
                                </label>
                                <div class="col-md-4">
                                    <label class="control-label col-md-4" style="width:auto;">
                                        @ViewBag.CustomerNo
                                    </label>
                                </div>
                                <div class="col-md-1 col-md-offset-1">
                                    <label class="control-label" style="font-weight:600;padding-left:15px;">
                                        Address
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label" style="width:auto;">
                                        @ViewBag.Address1
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label col-md-2" style="font-weight:600;">
                                    Customer Name
                                </label>
                                <div class="col-md-4">
                                    <label class="control-label col-md-4" style="width:auto;">
                                        @ViewBag.CustomerName
                                    </label>
                                </div>
                                <div class="col-md-1 col-md-offset-1">
                                    <label class="control-label" style="font-weight:600;">
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label" style="width:auto;">
                                        @ViewBag.Address2
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label col-md-2" style="font-weight:600;">
                                    Service Type
                                </label>
                                <div class="col-md-2" style="width:170px;margin-right:-25px;">
                                    <label class="control-label" style="width:auto;">
                                        @ViewBag.ServiceType
                                    </label>
                                </div>
                                <div class="col-md-1 col-md-offset-1" style="width:118px;">
                                    <label class="control-label" style="font-weight:600;">
                                        Contract Amount:
                                    </label>
                                </div>
                                <div class="col-md-1" style="width:110px!important;">
                                    <label class="control-label" style="width:auto;">
                                        <b>@(ViewBag.ContractAmount != null ? String.Format("{0:c}", ViewBag.ContractAmount) : string.Empty ) </b>
                                        <input type="hidden" id="hdnContractAmount" name="hdnContractAmount" value="@ViewBag.ContractAmount" />
                                    </label>
                                </div>
                                <div class="col-md-1 col-md-offset-1" style="width:106px;margin-left:10px;">
                                    <label class="control-label" style="font-weight:600;">
                                        Initial Business:
                                    </label>
                                </div>
                                <div class="col-md-1" style="width:72px!important;">
                                    <label class="control-label" style="width:auto;">
                                        <b>@(ViewBag.InitialBusiness != null ? String.Format("{0:c}", ViewBag.InitialBusiness) : string.Empty) </b>
                                        <input type="hidden" id="hdnInitialBusiness" name="hdnInitialBusiness" value="@ViewBag.InitialBusiness" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr style="margin-top:10px;margin-bottom: 10px;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Date Offered:<span class="required"> * </span>
                            </label>
                            <div class="col-md-2">
                                <div class="input-group date" data-date-format="mm/dd/yyyy">
                                    <input id="txtDateOffered" name="DateOffered" class="form-control input-sm date date-picke" autocomplete="off" />
                                    <span class="input-group-btn cal-btn">
                                        <button class="btn default cal-btn" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <label class="control-label col-md-2">
                                Amount Offered:<span class="required"> * </span>
                            </label>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <input id="txtAmountOffered" name="txtAmountOffered" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="mt-checkbox">
                                    <input type="checkbox" id="chksameContractAmount">Same as Contract Amount
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-1" style="width:100px;">
                                <label class="mt-radio">
                                    <input type="radio" name="OptType" id="optAccepted" checked="checked">Accepted
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-md-1">
                                <label class="mt-radio">
                                    <input type="radio" name="OptType" id="optDecline">Decline
                                    <span></span>
                                </label>
                            </div>
                            <label class="control-label col-md-1">
                                Date
                            </label>
                            <div class="col-md-2">
                                <div class="input-group date" data-date-format="mm/dd/yyyy">
                                    <input id="txtDate" name="Date" class="form-control input-sm date date-picke" autocomplete="off" />
                                    <span class="input-group-btn cal-btn">
                                        <button class="btn default cal-btn" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <label class="control-label">
                                    Decline Reason:
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("ddlDeclineReasonListId", (SelectList)ViewBag.DeclineReasonList, "Select", new { @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Note:
                            </label>
                            <div class="col-md-7">
                                <textarea class="form-control input-sm" cols="35" rows="3" id="txtNote"> </textarea>
                            </div>
                        </div>
                        <div class="form-actions" style="padding:15px !important;padding-top:25px !important;">
                            @*<button type="button" class="btn btn-primary  pull-left" style="margin-left: 22px;" onclick="OnclickOfferedList()">
                                Offered List
                            </button>*@
                            <button type="button" class="btn btn-primary  pull-right" id="btnOfferCancel" style="margin-right: 22px;" data-dismiss="modal">
                                Cancel
                                <i class="fa fa-angle-right"></i>
                            </button>
                            <button type="button" class="btn btn-primary button-next pull-right" id="btnOfferSave" style="margin-right: 30px;" onclick="SaveData()">
                                Save
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                    }
                    <div class="modal fade custom-model custom-form-design" id="modalDataCusContractPopup" tabindex="-1" role="basic" aria-hidden="true" style="display: none;"></div>
                </div>
            </div>

        </div>
    </div>
</div>

@*<div class="form-horizontal" id="RenderAccountOfferingListingDetail"></div>*@


<script type="text/javascript">
    $(document).ready(function () {


        if ($("#ddlDeclineReasonListId").is(":checked")) {
            $("#ddlDeclineReasonListId").removeAttr("disabled");
        }
        else {
            $("#ddlDeclineReasonListId").prop("disabled", "false");
        }
        applyMaskCurrency($('#txtAmountOffered'));
        $('#chksameContractAmount').click(function () {

            if ($(this).is(":checked")) {
                $("#txtAmountOffered").val($("#hdnContractAmount").val());
            }
            else {
                $("#txtAmountOffered").val("");
            }
        });

        $('#optAccepted').click(function () {
            $("#ddlDeclineReasonListId").prop("disabled", "false");
        });
        $('#optDecline').click(function () {
            $("#ddlDeclineReasonListId").removeAttr("disabled");
        });


    });

    function SaveData() {
        var isvalid = true;
        
        if ($('#txtDateOffered').val() == '') { $('#txtDateOffered').css('border-color', 'red'); if (isvalid == true) { isvalid = false; } } else { $('#txtDateOffered').css('border-color', ''); }
        if ($('#txtAmountOffered').val() == '') { $('#txtAmountOffered').css('border-color', 'red'); if (isvalid == true) { isvalid = false; } } else { $('#txtAmountOffered').css('border-color', ''); }
        if (isvalid) {

            var CustomerId = $('#hdfsearch_customerid').val();
            var FranchiseeId = $("#hdnFranId").val();
            var DateOffered = $("#txtDateOffered").val();
            var AmountOffered = $("#txtAmountOffered").val();
            var Accepted = 0;
            var Decline = 0;
            var strDate = $("#txtDate").val();
            var DeclineReasonId = 0;
            var strDesc = $("#txtNote").val();
            var InitialBusiness = $("#hdnInitialBusiness").val();

            if ($("#optAccepted").is(":checked")) {
                Accepted = 1
            }
            if ($("#optDecline").is(":checked")) {
                Decline = 1;
            }
            if ($("#ddlDeclineReasonListId").val() != "") {
                DeclineReasonId = $("#ddlDeclineReasonListId").val();
            }

            $.ajax({
                type: "GET",
                url: '@Url.Action("SaveFranchiseeOffering", "Franchise", new { area = "Portal" })',                
                data: { OfferingId: 0, FranchiseeId: FranchiseeId, CustomerId: CustomerId, DateOffered: DateOffered, AmountOffered: AmountOffered, Accepted: Accepted, Decline: Decline, strDate: strDate, DeclineReason: DeclineReasonId, Description: strDesc},
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $("#modal_AccountOfferingDetail").modal("hide");

                },
                error: function () {
                    alert("Content load failed.");
                    $.unblockUI()
                }
            });
            $.unblockUI();
        }
    }

    @*function OnclickOfferedList() {
        $.blockUI();
        var sURL = '@Url.Action("AccountOfferingListPopup", "Franchise", new { area = "Portal" })?Id=' + $("#hdnFranId").val();
        console.log(sURL);
        $.ajax({
            type: "GET",
            url: sURL,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#RenderAccountOfferingListingDetail').html(data);
                $.unblockUI();
                $("#modal_AccountOfferingListingDetail").modal({ backdrop: 'static' });
                _bindOfferingList();

            },
            error: function () {
                $.unblockUI();
                alert("Content load failed.");
            }
        });
    }*@

    @*function getCurrentUrl() {
        return '@Url.Action("OfferingListData", "Franchise", new { area = "Portal" })?Id=' + $("#hdnOffringFranchiseeId").val();
    }*@
    

</script>