@model JKViewModels.Franchisee.FullFranchiseeViewModel
@{
    ViewBag.Title = "Franchisee Owner";
    Layout = null;
}



<div class="modal-dialog" style="max-width:800px; max-height:600px">
    
         

@*@using (Html.BeginForm("AddEditOwner", "Franchise", FormMethod.Post, new { @id = "add-franchiseeowner", @role = "form" }))
{*@

    @Html.HiddenFor(one => one.FranchiseeIdByOwner) 


        @Html.HiddenFor(one => one.FranchiseeOwner.OwnerInfo.ContactId)
        @Html.HiddenFor(one => one.FranchiseeOwner.OwnerInfo.ClassId)
        @Html.HiddenFor(one => one.FranchiseeOwner.OwnerInfoAddress.AddressId)
        @Html.HiddenFor(one => one.FranchiseeOwner.OwnerInfoEmail.EmailId)
        @Html.HiddenFor(one => one.FranchiseeOwner.OwnerInfoPhone.PhoneId)
        @Html.HiddenFor(one => one.FranchiseeOwner.OwnerIdentification.IdentificationId)
    
        <div class="modal-content" style="border-radius: 8px;">

            <div class="modal-header headerbox list" style="padding:0px!important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
                <h4 class="modal-title" style="margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;border-radius: 8px 8px 0 0;text-transform: uppercase;">Add Franchisee Owner</h4>
            </div>
            <div class="modal-body" style="padding: 15px 15px 15px 35px; min-height:310px">

                 
   
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">
                                    Name
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(o => o.FranchiseeOwner.OwnerInfo.Name, new { @class = "form-control input-sm", required = "required" })
                                </div>
                                @*<label class="control-label col-md-1">
                                    MI
                                </label>
                                <div class="col-md-1">
                                    @Html.TextBoxFor(o => o.FranchiseeOwner.OwnerInfo.MI, new { @class = "form-control input-sm" })
                                </div>
                                <label class="control-label col-md-2">
                                    Last Name
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(o => o.FranchiseeOwner.OwnerInfo.LastName, new { @class = "form-control input-sm", required = "required" })
                                </div>*@
                            </div>
                            <div class="form-group  col-md-12">
                                <label class="control-label col-md-2">
                                    Address
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(o => o.FranchiseeOwner.OwnerInfoAddress.Address1, new { @class = "form-control input-sm", required = "required" })
                                </div>
                            </div>
                            <div class="form-group  col-md-12">
                                <label class="control-label col-md-2">
                                    City
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(o => o.FranchiseeOwner.OwnerInfoAddress.City, new { @class = "form-control input-sm", required = "required" })
                                </div>
                                <label class="control-label col-md-1" style="padding:0px;">
                                    State
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-3">                                    
                                    @Html.DropDownListFor(n => n.FranchiseeOwner.OwnerInfoAddress.StateListId, new SelectList(ViewBag.StateList, "Value", "Text", "Select One"), new { @class = "form-control input-sm", required = "required" })
                                </div>
                                <label class="control-label col-md-1">
                                    Zip
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(o => o.FranchiseeOwner.OwnerInfoAddress.PostalCode, new { @class = "form-control input-sm", required = "required", maxlength = "5" })                                     
                                </div>
                            </div>
                            <div class="form-group  col-md-12">
                                <label class="control-label col-md-2">
                                    Phone
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(o => o.FranchiseeOwner.OwnerInfoPhone.Phone, new { @class = "form-control input-sm", required = "required" })
                                </div>
                                <label class="control-label col-md-1">
                                    Ext
                                </label>
                                <div class="col-md-1">
                                    @Html.TextBoxFor(o => o.FranchiseeOwner.OwnerInfoPhone.PhoneExt, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                            <div class="form-group   col-md-12">
                                <label class="control-label col-md-2">
                                    Fax
                                </label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(o => o.FranchiseeOwner.OwnerInfoPhone.Fax, new { @class = "form-control input-sm" })
                                </div>
                                <label class="control-label col-md-1">
                                    Cell
                                </label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(o => o.FranchiseeOwner.OwnerInfoPhone.Cell, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                            <div class="form-group  col-md-12">
                                <label class="control-label col-md-2">
                                    Email
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(o => o.FranchiseeOwner.OwnerInfoEmail.EmailAddress, new { @class = "form-control input-sm", type = "email", required = "required" })
                                </div>
                            </div>
                 
                </div>
                 
             
            
 
            <div class="modal-footer" style="padding-right: 40px;">
                <button type="button" onclick="addEditFranchiseeOwner()" class="btn btn-primary">Save </button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel </button>
                <!-- /.modal-content -->
            </div>
    </div>

    
@*}*@
</div>

 
<script type="text/javascript">




    function addEditFranchiseeOwner()
    {
        var Isvalid = true;
        if ($("#FranchiseeOwner_OwnerIdentification_IdentifierNumer").val() == "") {
            if (Isvalid == true) {Isvalid = false;}
            $("#FranchiseeOwner_OwnerIdentification_IdentifierNumer").addClass("errormsg");
        }
        else { $("#FranchiseeOwner_OwnerIdentification_IdentifierNumer").removeClass("errormsg"); }

        if ($("#FranchiseeOwner_OwnerInfo_Name").val() == "") {
            if (Isvalid == true) { Isvalid = false; }
            $("#FranchiseeOwner_OwnerInfo_Name").addClass("errormsg");
        }
        else { $("#FranchiseeOwner_OwnerInfo_Name").removeClass("errormsg"); }

        //if ($("#FranchiseeOwner_OwnerInfo_LastName").val() == "") {
        //    if (Isvalid == true) { Isvalid = false; }
        //    $("#FranchiseeOwner_OwnerInfo_LastName").addClass("errormsg");
        //}
        //else { $("#FranchiseeOwner_OwnerInfo_LastName").removeClass("errormsg"); }

        if ($("#FranchiseeOwner_OwnerInfoAddress_Address1").val() == "") {
            if (Isvalid == true) { Isvalid = false; }
            $("#FranchiseeOwner_OwnerInfoAddress_Address1").addClass("errormsg");
        }
        else { $("#FranchiseeOwner_OwnerInfoAddress_Address1").removeClass("errormsg"); }

        if ($("#FranchiseeOwner_OwnerInfoAddress_City").val() == "") {
            if (Isvalid == true) { Isvalid = false; }
            $("#FranchiseeOwner_OwnerInfoAddress_City").addClass("errormsg");
        }
        else { $("#FranchiseeOwner_OwnerInfoAddress_City").removeClass("errormsg"); }

        if ($("#FranchiseeOwner_OwnerInfoAddress_StateListId").val() == "") {
            if (Isvalid == true) { Isvalid = false; }
            $("#FranchiseeOwner_OwnerInfoAddress_StateListId").addClass("errormsg");
        }
        else { $("#FranchiseeOwner_OwnerInfoAddress_StateListId").removeClass("errormsg"); }


        if ($("#FranchiseeOwner_OwnerInfoAddress_PostalCode").val() == "") {
            if (Isvalid == true) { Isvalid = false; }
            $("#FranchiseeOwner_OwnerInfoAddress_PostalCode").addClass("errormsg");
        }
        else { $("#FranchiseeOwner_OwnerInfoAddress_PostalCode").removeClass("errormsg"); }

        if ($("#FranchiseeOwner_OwnerInfoPhone_Phone").val() == "") {
            if (Isvalid == true) { Isvalid = false; }
            $("#FranchiseeOwner_OwnerInfoPhone_Phone").addClass("errormsg");
        }
        else { $("#FranchiseeOwner_OwnerInfoPhone_Phone").removeClass("errormsg"); }

        if ($("#FranchiseeOwner_OwnerInfoEmail_EmailAddress").val() == "") {
            if (Isvalid == true) { Isvalid = false; }
            $("#FranchiseeOwner_OwnerInfoEmail_EmailAddress").addClass("errormsg");
        }
        else { $("#FranchiseeOwner_OwnerInfoEmail_EmailAddress").removeClass("errormsg"); }        
        
        if (Isvalid == true) {
            var url = '@Url.Action("AddEditOwner", "Franchise", new { area="Portal" })';
            $.ajax({

                type: "POST",
                url: url,
                data: $("#form_wizard_1").serialize(),
                success: function (result) {
            
                    loadOwners(result.aaData.FranchiseeIdByOwner);
                    $('#modalData').modal('toggle');
                },
                error: function (result) {
                 
                    loadOwners(result.aaData.FranchiseeIdByOwner);
                    $('#modalData').modal('toggle');
                }

            });
        }
    }


    function loadOwners(id)
    {
        $.blockUI({
            baseZ: 99999,
            message: '<center><img height: src="/Images/loading_icon.gif" /><h3> <b>Processing....</br> Please wait! and do not refresh page.</b></h3></center>',
            css: { backgroundColor: 'rgb{0,0,0}', border: '0', color: '#fff', "z-index": 99999 }
        });

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetFranchiseeOwner", "Franchise", new { @area = "Portal" })?id=' + id,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $('#tblFranchiseeOwner').html(response);
                $.unblockUI();
            },
            error: function (xhr, textStatus, error) {
                if (typeof console == "object") {

                    $('#tblFranchiseeOwner').html(xhr.responseText);
                    console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                }
                $.unblockUI();
            }
        });

        $.unblockUI();
    }

    $("#FranchiseeOwner_OwnerInfoPhone_Phone").focus(function () {

        $('#FranchiseeOwner_OwnerIdentification_IdentifierNumer').inputmask("mask", {
            "mask": "999-99-9999"
        });
        $('#FranchiseeOwner_OwnerInfoPhone_Phone').inputmask("mask", {
            "mask": "(999) 999-9999"
        });

        $('#FranchiseeOwner_OwnerInfoPhone_Cell').inputmask("mask", {
            "mask": "(999) 999-9999"
        });
        $('#FranchiseeOwner_OwnerInfoPhone_Fax').inputmask("mask", {
            "mask": "(999) 999-9999"
        });
    });


    $("#FranchiseeOwner_OwnerIdentification_IdentifierNumer").focus(function () {

        $('#FranchiseeOwner_OwnerIdentification_IdentifierNumer').inputmask("mask", {
            "mask": "999-99-9999"
        });
        $('#FranchiseeOwner_OwnerInfoPhone_Phone').inputmask("mask", {
            "mask": "(999) 999-9999"
        });

        $('#FranchiseeOwner_OwnerInfoPhone_Cell').inputmask("mask", {
            "mask": "(999) 999-9999"
        });
        $('#FranchiseeOwner_OwnerInfoPhone_Fax').inputmask("mask", {
            "mask": "(999) 999-9999"
        });
    });


    $("#FranchiseeOwner_OwnerInfoPhone_Cell").focus(function () {

        $('#FranchiseeOwner_OwnerIdentification_IdentifierNumer').inputmask("mask", {
            "mask": "999-99-9999"
        });
        $('#FranchiseeOwner_OwnerInfoPhone_Phone').inputmask("mask", {
            "mask": "(999) 999-9999"
        });

        $('#FranchiseeOwner_OwnerInfoPhone_Cell').inputmask("mask", {
            "mask": "(999) 999-9999"
        });
        $('#FranchiseeOwner_OwnerInfoPhone_Fax').inputmask("mask", {
            "mask": "(999) 999-9999"
        });
    });

    $("#FranchiseeOwner_OwnerInfoPhone_Fax").focus(function () {

        $('#FranchiseeOwner_OwnerIdentification_IdentifierNumer').inputmask("mask", {
            "mask": "999-99-9999"
        });
        $('#FranchiseeOwner_OwnerInfoPhone_Phone').inputmask("mask", {
            "mask": "(999) 999-9999"
        });

        $('#FranchiseeOwner_OwnerInfoPhone_Cell').inputmask("mask", {
            "mask": "(999) 999-9999"
        });
        $('#FranchiseeOwner_OwnerInfoPhone_Fax').inputmask("mask", {
            "mask": "(999) 999-9999"
        });
    });




    $(document).ready(function () {
        $("#FranchiseeOwner_OwnerInfoAddress_PostalCode").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        })         
    });
    
</script>