@model JKViewModels.Franchisee.LeaseBillDetailViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <table style="font-size:10px;" class="table">
        <tr>
            <td colspan="5" align="center" style="font-size:15px;" width="25">Lease Monthly Bill Detail</td>
        </tr>
        <tr>
            <td valign="top" class="t1col1">
                <table width="180" style="font-size:10px;" class="tabborder">
                    <tr>
                        <td colspan="2" align="center">Franchise</td>
                    </tr>
                    <tr>
                        <td align="center"><b>Number .</b></td>
                        <td align="center">  @Html.DisplayFor(x => x.FranchiseeNo) </td>
                    </tr>
                    <tr>
                        <td align="center"><b> Name: </b> </td>
                        <td align="center"> @Html.DisplayFor(x => x.FranchiseeName) </td>
                    </tr>
                    
                </table>
            </td>
            <td align="left" valign="top" class="t1col2">
               

            </td>
            <td width="10" class="t1col3"></td>
            <td class="t1col4">
                <table width="180" style="font-size:10px;" class="tabborder">                    
                    <tr>
                        <td align="center"><b>Transaction No.</b></td>
                        <td align="center"> @Html.DisplayFor(x => x.TransactionNumber) </td>
                    </tr>
                    <tr>
                        <td align="center"><b> Billing Date </b> </td>
                        <td align="center"> @Convert.ToDateTime(Model.TransactionDate).ToString("MM/dd/yyyy") </td>
                    </tr>
                    <tr>
                        <td align="center"><b> Status </b> </td>
                        <td align="center" valign="top">@Html.DisplayFor(x => x.TransactionStatus)</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4">
               
            </td>
        </tr>
        <tr>
          
        </tr>
        <tr>
            <td colspan="4">
                <table>
                    <tr>
                        <td class="t3col1"></td>
                        
                        <td class="t3col3" align="right">
                           
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
       
    </table>

    <br />
    <table cellpadding="5" style="font-size:8.5px" class="tabborder">
        
       <tr>
            <th align="center" valign="top" class="col3"><b>Make</b></th>
            <th align="center" valign="top" class="col2"><b>Model</b></th>
            <th align="center" valign="top" class="col4"><b>Lease Description</b></th>
            
        </tr>
        
        <tr>
            <td align="center" valign="top"> @Html.DisplayFor(x => x.Make) </td>
            <td align="center" valign="top">@Html.DisplayFor(x => x.Model) </td>
            <td align="center" valign="top"> @Html.DisplayFor(x => x.Description)</td>
        </tr>
    </table>

    <br />
    <table cellpadding="5" style="font-size:8.5px" class="tabborder">
        <tr>
            <td align="center" class="collease3"><b>LEASE CONTRACT #</b></td>
            <td align="center" class="col3"><b>DATE</b></td>
            <td align="center" class="collease3"><b>PAYMENT #</b></td>
            <td align="center" class="col4"><b>DESCRIPTION</b></td>
            <td align="center" class="col3"><b>AMOUNT</b></td>
            <td align="center" class="col3"><b>TAX</b></td>
            <td align="center" class="collease3"><b>TOTAL AMOUNT</b></td>
        </tr>
        <tr>
            <td align="center" valign="top">@Html.DisplayFor(x => x.LeaseBillNo)</td>
            <td align="center" valign="top">@Html.DisplayFor(x => x.Dateformat)</td>
            <td align="center" valign="top">@Html.DisplayFor(x => x.PaymentNumber)</td>
            <td align="center" valign="top">@Html.DisplayFor(x => x.Description)</td>
            <td align="center" valign="top">@Html.DisplayFor(x => x.PaymentAmount)</td>
            <td align="center" valign="top">@Html.DisplayFor(x => x.TaxAmount)</td>
            <td align="center" valign="top">@Html.DisplayFor(x => x.Total)</td>
        </tr>
        
    </table>
    <table style="font-size:10px;" class="table">
        <tr>
            <td align="left" style="font-size:15px;" width="25"><b>Note:</b></td>
            <td colspan="1" align="left" style="font-size:12px;" width="25"></td>
        </tr>
        </table>
</body>
</html>
