@model JKViewModels.Franchisee.FranchiseeDetailViewModel

<div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
    <h4 class="modal-title text-center" style="margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;text-transform: uppercase;">
        NEW FRANCHISEE DETAIL PENDING APPROVE
    </h4>
</div>
<div class="modal-body form form-horizontal" style="padding-top: 1px;margin-top: -5px;">
    <div class="form-body" style="padding-top: 0px;">
        <div class="form-group">
            <div class="row" style="background-color: #4b85cc;color: #fff;padding-top:8px;padding-bottom:8px;margin-left: 10px;margin-right: 10px;margin-top:8px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            Franchisee Name :  <b> @Html.DisplayFor(one => one.Name) </b>
                        </div>
                        <div class="col-md-6 text-center">Franchisee No.: <b>@Html.DisplayFor(one => one.FranchiseeNo)</b></div>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="padding:10px">
                <div class="row">
                    <div class="col-md-12" style="padding-left:0px;padding-right: 0px;">
                        <div class="col-md-8" style="border: 1px solid grey; margin-left: -2px;margin-right: 1px;">
                            <div class="col-md-12" style="padding-left:0px;">
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <div class="form-body" style="padding: 5px;padding-bottom:0px;">
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Payee Name:</label>
                                            <div class="col-md-7" style="padding-top:0px;padding-left: 4px;padding-right:4px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.Name)</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Main Address:</label>
                                            <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">
                                                    @Html.DisplayFor(one => one.Address1)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;"></label>
                                            <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                &nbsp;<label class="control-label" style="text-align:left!important;padding-top: 0px;">
                                                    @Html.DisplayFor(one => one.City), @Html.DisplayFor(one => one.StateName) @Html.DisplayFor(one => one.PostalCode)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Phone No.:</label>
                                            <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;padding-bottom: 0px;">@Html.DisplayFor(one => one.Phone) Ext.@Html.DisplayFor(one => one.Ext)</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Cell No.:</label>
                                            <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;padding-bottom: 0px;">@Html.DisplayFor(one => one.Cell)</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Email:</label>
                                            <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.EmailAddress)</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6" style="padding-left:0px;">

                                    <div class="form-body" style="padding: 5px;padding-bottom: 0px;">
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Status:</label>
                                            <div class="col-md-7" style="padding-left: 5px;padding-right: 4px;padding-top:0px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.StatusName)</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Plan Type :</label>
                                            <div class="col-md-7" style="padding-left: 5px;padding-right: 5px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.PlanType)</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Date Sign:</label>
                                            <div class="col-md-7" style="padding-left: 5px;padding-right: 5px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">@(Model.DateSign != null ? ((DateTime)Model.DateSign).ToString("MM/dd/yyyy") : "")</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Term (yrs):</label>
                                            <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.Term) Years</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <div class="col-md-6" style="padding-right:0px;">
                                                <label class="mt-checkbox input-sm" style="margin-bottom: 0px;">
                                                    <input type="checkbox" @(Model.BBPAdministrationFee != null ? (Model.BBPAdministrationFee == true ? "checked='checked'" : "") : "") /><span style="margin-top: 4px;"></span> BBP Admin Fee
                                                </label>
                                            </div><div class="col-md-6" style="padding-right:0px;">
                                                <label class="mt-checkbox input-sm" style="margin-bottom: 0px;">
                                                    <input type="checkbox" @(Model.Chargeback == true ? "checked='checked'" : "") /><span style="margin-top: 4px;"></span> Chargeback
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0" style="margin-top: -10px;">
                                            <div class="col-md-6" style="padding-right:0px;">
                                                <label class="mt-checkbox input-sm" style="margin-bottom: 0px;">
                                                    <input type="checkbox" @(Model.Incorporated == true ? "checked='checked'" : "") /><span style="margin-top: 4px;"></span> In Coporated
                                                </label>
                                            </div><div class="col-md-6" style="padding-right:0px;">
                                                <label class="mt-checkbox input-sm" style="margin-bottom: 0px;">
                                                    <input type="checkbox" @(Model.Print1099 == true ? "checked='checked'" : "") /><span style="margin-top: 4px;"></span> Print 1099
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-4" style="padding-right:0px;border: 1px solid grey;min-height: 170px;">
                            <div class="col-md-6">
                                <div class="form-group mr0" style="margin-top: 26px;">
                                    <a class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="OpenEditFranchisePopup(@Model.FranchiseeId)">Edit Franchisee Info</a>
                                </div>
                                <div class="form-group mr0">
                                    <a href="javascript:void(0);" class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="OpenEditFranchisePlanInfoPopup(@Model.FranchiseeId)">Plan Information</a>                                                                        
                                </div>                                
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mr0" style="margin-top: 26px;">
                                    <a href="javascript:void(0);" class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="">Owner Information</a>    
                                </div>
                                @*<div class="form-group mr0" style="margin-top: 26px;">
                                    <a href="javascript:void(0);" class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="">Maintenance</a>
                                </div>*@
                                <div class="form-group mr0" style="padding-bottom: 31px;">
                                    <a class="btn-custom btn btn-primary col-md-11" href="javascript:void(0)" style="font-size:11px;" onclick="OpenEditFranchiseUploadDocumentPopup(@Model.FranchiseeId)">Documents</a>
                                </div>
                                @*<div class="form-group mr0">
                                    <a class="btn-custom btn btn-primary col-md-11" href="javascript:void(0)" style="font-size:11px;padding-left: 0px;padding-right: 0px;" onclick="">Lease</a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="tab-pane" id="tb_fr_page3">                         
                        <div class="form-group" style="margin-right:60px !important;">
                            <label class="control-label col-md-3">
                                Background Check
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-3">
                                <div class="input-group date cal-btn" data-date-format="mm/dd/yyyy">                                                                        
                                    <input type="text" id="txtBackgroundCheckDate" name="BackgroundCheckDate" class="form-control input-sm date-picker" />
                                    <span class="input-group-btn">
                                        <button class="btn default cal-btn" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>                                 
                            </div>
                            <label class="control-label col-md-3">
                                Business Protection
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-3">
                                <div class="input-group date" data-date-format="mm/dd/yyyy">                                    
                                    <input id="txtBusinessProtectionDate" name="BusinessProtectionDate" class="form-control input-sm date-picker" />
                                    <span class="input-group-btn cal-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-right:60px !important;">
                            <label class="control-label col-md-3">
                                Business License
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-3">
                                <div class="input-group date" data-date-format="mm/dd/yyyy">                                   
                                    <input id="txtBusinessLicenseDate" name="BusinessLicensedate" class="form-control input-sm date-picker" />
                                    <span class="input-group-btn cal-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <label class="control-label col-md-3">
                                Equipment & Supply
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-3">
                                <div class="input-group date" data-date-format="mm/dd/yyyy">                                   
                                    <input id="txtEquipmentAndSupplyDate" name="EquipmentAndSupplyDate" class="form-control input-sm date-picker" />
                                    <span class="input-group-btn cal-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-right:60px !important;">
                            <label class="control-label col-md-3">
                                Training
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-3">
                                <div class="input-group date" data-date-format="mm/dd/yyyy">                                    
                                    <input id="txtTrainingDate" name="TrainingDate" class="form-control input-sm date-picker" />
                                    <span class="input-group-btn cal-btn">
                                        <button class="btn default" type="button" style="margin-top: 3px;">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <span style="color:red;display:none;" class="errmsg" id="spnerrmsg">All validation required </span>
                        @foreach (var item in ViewBag.ValidationItem)
                        {

                            <label class="mt-checkbox" style="width:100%;">
                                <input type="checkbox" id="chkValidationItem_@item.ValidationItemId" class="clsvalitem" value="@item.ValidationItemId">@item.Name<span style="color:red">*</span>
                                <span></span>
                            </label>
                        }
                    </div>

                    <div class="col-md-7">
                        <input type="hidden" id="hdnFranchiseeId" value="@Model.FranchiseeId" />
                        <div class="col-md-2 control-label">
                            Note :<span class="required"> * </span>
                        </div>
                        <div class="col-md-9 control-label">
                            <textarea class="form-control input-sm" rows="3" id="txtNote"></textarea>
                        </div>                        
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-9 control-label">                             
                        </div>
                        <div class="col-md-2 control-label">
                            <input type="button" id="btnSave" onclick="SaveUpdateRequest()" class="btn btn-primary col-md-11" value="Submit" style="font-size:11px;margin-left: 35px;"/>
                        </div>    
                    </div>
                    @*<div class="col-md-12">
                        <div class="col-md-2 control-label">
                            <input type="button" id="btnReject" onclick="UpdateApproveReject(14)" class="btn btn-primary col-md-11" value="REJECTED" style="margin-bottom:3px;font-size:11px;margin-top:3px;margin-left:-10px !important" />
                        </div>
                        <div class="col-md-2 control-label">
                            <input type="button" id="btnApprove" onclick="UpdateApproveReject(9)" class="btn btn-primary col-md-11" value="APPROVED" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:-40px !important" />
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $(".input-group-btn").click(function () {
            $(this).prev().trigger("focus");
            $(this).prev().trigger("focus");
        });
        $('.date-picker').datepicker({ autoclose: true, dateFormat: 'mm/dd/yy' });
        $('.date-picker').attr("placeholder", "mm/dd/yyyy");
    });

    function SaveUpdateRequest() {

        var isValid = true;

        if ($('#txtNote').val() == '') { $('#txtNote').css('border-color', 'red'); isValid = false; } else { $('#txtNote').css('border-color', ''); }
        if ($('#txtBackgroundCheckDate').val() == '') { $('#txtBackgroundCheckDate').css('border-color', 'red'); isValid = false; } else { $('#txtBackgroundCheckDate').css('border-color', ''); }
        if ($('#txtBusinessProtectionDate').val() == '') { $('#txtBusinessProtectionDate').css('border-color', 'red'); isValid = false; } else { $('#txtBusinessProtectionDate').css('border-color', ''); }
        if ($('#txtBusinessLicenseDate').val() == '') { $('#txtBusinessLicenseDate').css('border-color', 'red'); isValid = false; } else { $('#txtBusinessLicenseDate').css('border-color', ''); }
        if ($('#txtEquipmentAndSupplyDate').val() == '') { $('#txtEquipmentAndSupplyDate').css('border-color', 'red'); isValid = false; } else { $('#txtEquipmentAndSupplyDate').css('border-color', ''); }
        if ($('#txtTrainingDate').val() == '') { $('#txtTrainingDate').css('border-color', 'red'); isValid = false; } else { $('#txtTrainingDate').css('border-color', ''); }

        var isval = true;
        $(".clsvalitem").each(function () {
            if (!$(this).is(":checked")) {
                if (isval == true) {
                    isval = false;
                }
            }
        })
        if (!isval) {
            isValid = false; 
            $("#spnerrmsg").show();
        }
        else
        {
            $("#spnerrmsg").hide();
        }

        if (isValid) {
            var Id = $("#hdnFranchiseeId").val();

            var strIds=$('.clsvalitem:checked').map(function(){
                return this.value;
            }).get().join(',');

            if (Id > 0) {

                 $.ajax({
                    url: '@Url.Action("UpdateLegalCompliancePending", "Franchise",new {area = "portal" })',
                    dataType: "json",
                    data: { FranchiseeId: Id, Note: $("#txtNote").val(), Status: status, BackgroundCheckDate: $("#txtBackgroundCheckDate").val(), BusinessProtectionDate: $("#txtBusinessProtectionDate").val(), BusinessLicenseDate: $("#txtBusinessLicenseDate").val(), EquipmentAndSupplyDate: $("#txtEquipmentAndSupplyDate").val(), TrainingDate: $("#txtTrainingDate").val(), valIds: strIds },
                    traditional: true,
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        window.location.href = window.location.href;
                    },
                    error: function () { }
                }); 
            }
        }
    }

</script>
