@model  List<JKApi.Data.DAL.portal_spGet_F_FinderfeeReportList_Result>
<style>
    .tblFranchiseeRevenues thead th,
    .tblFranchiseeRevenues thead td {
        padding: 3px 5px !important;
        font-size: 12px !important;
        /*background-color: #95A5A6 !important;
        color: #fff;*/
    }

    .tblFranchiseeRevenues tbody td {
        padding: 3px 5px !important;
        font-size: 12px !important;
    }

    .tblFranchiseeRevenues thead th {
        vertical-align: middle;
        font-weight: bold;
    }
</style>

<table cellspacing="0" class="tblFranchiseeRevenues" style="margin-bottom:10px !important;">
    <tr>
        <th style="text-align:center;font-size: 16px !important;">
            <b style="text-align:center;">Finders Fee Bill Transaction Report</b>
            @*Jani-King of @Model.Where(o => o.RegionId == Regionid).FirstOrDefault().RegionName, Inc<br />
                For the month of @ViewBag.PeriodTtitle*@
        </th>
    </tr>
</table><br />
<table class="tblFranchiseeRevenues" style="width:100%;">
    <thead>
        <tr>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:70px!important;">
                <b>Region</b>
            </th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:80px!important;">
                Franchise No
            </th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:145px!important;">
                Franchise Name
            </th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:90px!important;">
                FindersFee Type
            </th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:80px!important;">
                Transaction Date
            </th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:110px !important;">
                <b>Transaction #</b>
            </th>           
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:80px!important;">
                Customer No
            </th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:160px!important;">
                Customer Name
            </th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:80px!important;">
                Payment #
            </th>            
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:80px!important;">
                Total Amount
            </th>
            <th style="text-align:center;border-bottom:1px solid #000000 !important;padding-bottom:3px;width:65px!important;">
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td style="text-align:center">@item.RegionName</td>
                    <td style="text-align:center">@item.FranchiseeNo</td>
                    <td style="text-align:left">@item.FranchiseeName</td>
                    <td style="text-align:left">@item.FindersFeeType</td>
                    <td style="text-align:center"> @string.Format("{0:MM/dd/yyyy}", item.trxdate)</td>
                    <td style="text-align:center;">@item.transactionNumber</td>
                    <td style="text-align:center;">@item.CustomerNo</td>
                    <td style="text-align:left;">@item.Name</td>
                    <td style="text-align:left;">@item.PaymentNumber</td>
                    <td style="text-align:right;">$ @string.Format("{0:n}", item.Total)</td>                    
                    <td style="text-align:center;">@item.FFStatus</td>
                   
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="11" style="text-align:center;border-top:1px solid #000000 !important">No record found</td>
            </tr>
        }
    </tbody>
</table>
<div style="page-break-before:always"></div>

