@model JKViewModels.Franchisee.ManualTransactionViewModel
@section styles{

    <style type="text/css">
        .close {
            background-image: url(/Content/admin/assets/global/img/stick_close.png) !important;
            height: 12px !important;
            width: 12px !important;
            margin-top: 0px !important;
        }

        .pad-right {
            padding-right: 0px !important;
        }

        #divNewTransaction .input-sm {
            padding: 3px 3px !important;
        }
    </style>
}


<form action="@Url.Action("FranchiseeManualTrasactionEditUpdate", "Franchise", new { area = "Portal" })" method="post" id="form_FranchiseeMTrasaction">
    <div class="form form-horizontal" id="divNewTransaction">
        <div class="custom-form portlet light">
            <div class="headerbox">
                <div class="row">
                    <div class="col-md-12">
                        Franchisee Manual Transaction
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: -12px !important;margin-right: 12px !important;"></button>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    @Html.HiddenFor(o => o.FranchiseeManualTransactionId)
                    @Html.HiddenFor(o => o.MasterTrxTypeListId)
                    @Html.HiddenFor(o => o.MastertrxDetailId)
                    @Html.HiddenFor(o => o.FranchiseeId)
                    @Html.HiddenFor(o => o.FranchiseeId, new { @class = "form-control input-sm date-picker", required = "required", id = "hdfFranchiseeId" })
                    <input type="hidden" name="hdfTaxRate" id="hdfTaxRate" value="" />
                    <div class="form-group" style="border:1px solid #999999;">
                        <div class="form-group">
                            <div class="col-md-2 control-label" style="padding-top: 0px;">
                                Franchisee No.:
                            </div>
                            <div class="col-md-3">
                                <span id="spnFranchiseeNumber">@Html.DisplayFor(o => o.FranchiseeNo)</span>
                            </div>
                            <div class="col-md-offset-1 col-md-2 control-label" style="padding-top: 0px;">
                                Franchisee Name:
                            </div>
                            <div class="col-md-3">
                                <span id="spnFranchiseeName">@Html.DisplayFor(o => o.FranchiseeName)</span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group" style="border:1px solid #3598dc;padding-left: 0px;padding-right: 0px;">



                        <div id="divbelow">

                            <div class="form-group">
                                <div class="col-md-2 control-label pad-right" style="padding-right: 0px;">
                                    Type:
                                </div>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.ServiceTypeListId, (SelectList)ViewBag.ServiceTypeList, "Select", new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-2">
                                    @Html.CheckBoxFor(model => model.ReSell, new { @id = "chkResale" }) ReSell
                                </div>

                            </div>
                            <div id="divAfterType">
                                <div class="form-group" id="divRecVL">
                                    <div class="col-md-2 control-label pad-right" style="padding-right: 0px;">
                                        Vendor:
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(model => model.VendorId, (SelectList)ViewBag.VendorList, "Select", new { @class = "form-control input-sm" })
                                    </div>
                                    <div class="col-md-2 control-label pad-right" style="padding-right: 0px;width:135px">
                                        Vendor Invoice No.<span style="color:red">*</span>:
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(o => o.VendorInvoiceNumber, new { @class = "form-control input-sm" })
                                    </div>
                                    <div class="col-md-2 control-label pad-right" style="padding-right: 0px;width:140px">
                                        Vendor Invoice Date<span style="color:red">*</span>:
                                    </div>
                                    <div class="col-md-2">
                                        <div class="col-md-12 input-group date" data-date-format="mm/dd/yyyy">
                                            @Html.TextBoxFor(o => o.VendorInvoiceDate, new { @class = "form-control input-sm date-picker RemovePeriodvalidation", required = "required" })
                                            <span class="input-group-btn cal-btn">
                                                <button class="btn default" type="button" style="margin-top: 3px;">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 control-label pad-right" style="padding-right: 0px;">
                                        Description<span style="color:red">*</span>:
                                    </div>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(o => o.FranchiseeManualTransactionDescription, new { @class = "form-control input-sm", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 control-label pad-right" style="padding-right: 0px;">
                                        Quantity<span style="color:red">*</span>:
                                    </div>
                                    <div class="col-md-1">
                                        @Html.TextBoxFor(o => o.Quantity, new { @class = "form-control input-sm", required = "required", onchange = "CalculateAmount()", maxlength = 3, @style = "width: 70px;" })
                                    </div>
                                    <div class="col-md-1 control-label pad-right" style="padding-right: 0px;width:80px">
                                        Item Amt<span style="color:red">*</span>:
                                    </div>
                                    <div class="col-md-1">
                                        @Html.TextBoxFor(o => o.DistributionAmount, new { @class = "form-control input-sm", required = "required", onchange = "CalculateAmount()", maxlength = 12, @style = "width: 80px;" })
                                    </div>
                                    <div class="col-md-1 control-label pad-right" style="padding-right: 0px;width:85px">
                                        Sub-Total:
                                    </div>
                                    <div class="col-md-1">
                                        @Html.TextBoxFor(o => o.ExtendedPrice, new { @class = "form-control input-sm", required = "required", @readonly = "readonly", @style = "width: 80px;" })
                                    </div>
                                    <div class="col-md-1 control-label pad-right" style="padding-right: 0px;">
                                        Tax:
                                    </div>
                                    <div class="col-md-1">
                                        @Html.TextBoxFor(o => o.TotalTax, new { @class = "form-control input-sm", required = "required", @readonly = "readonly", @style = "width: 80px;" })
                                    </div>
                                    <div class="col-md-1 control-label pad-right" style="padding-right: 0px;">
                                        Total:
                                    </div>
                                    <div class="col-md-1">
                                        @Html.TextBoxFor(o => o.Total, new { @class = "form-control input-sm", required = "required", @readonly = "readonly", @style = "width: 85px;" })
                                    </div>

                                </div>

                                <hr style="margin-bottom: 0px;" />

                                <div class="form-group">
                                    <div class="col-md-10"></div>
                                    <div class="col-md-2">
                                        <input type="button" class="col-md-12 btn btn-primary button-next" value="Update" id="btnUpdateClose" name="UpdateClose" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="@Url.Content("~/Content/admin/assets/pages/scripts/components-date-time-pickers.min.js")" type="text/javascript"></script>
<script>

    $(document).ready(function () {
        //$("#ddlSelect").val(1);
        $("#ServiceTypeListId").change(function () {
            var value = this.value;
            //if ($("#ddlSelect").val().trim() != 0 && value != "") {
            //    $("#divAfterType").show();
            //}
            //else {
            //    $("#divAfterType").hide();
            //}
            if (this.value == 18) {
                $("#divRecVL").show();
            }
            else {
                $("#divRecVL").hide();
            }
            CalculateAmount();
        });

        
        if ($("#ServiceTypeListId").val() == 18) {
            $("#divRecVL").show();
        }
        else {
            $("#divRecVL").hide();
        }

        $("#form_FranchiseeMTrasaction").submit(function (event) {

            $("#DistributionAmount").inputmask('remove');
            $("#Total").inputmask('remove');
            $("#ExtendedPrice").inputmask('remove');
            $("#TotalTax").inputmask('remove');
            $('#ItemAmount').inputmask('remove');

            $.blockUI();
            var dataString;
            event.preventDefault();
            event.stopImmediatePropagation();
            var action = $("#form_FranchiseeMTrasaction").attr("action");
            // Setting.
            dataString = new FormData($("#form_FranchiseeMTrasaction").get(0));
            contentType = false;
            processData = false;
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                dataType: "json",
                contentType: contentType,
                processData: processData,
                success: function (result) {
                    $.unblockUI();
                    $("#modal_EditManualTransaction").modal('hide');
                    btnFranchiseeManualEditPopupSucess();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#modal_EditManualTransaction").modal('hide');
                    btnFranchiseeManualEditPopupSucess();
                    $.unblockUI();
                }
            });
        });



    });





    applyMaskCurrency($("#DistributionAmount"));
    applyMaskCurrency($("#Total"));
    applyMaskCurrency($("#ExtendedPrice"));
    applyMaskCurrency($("#TotalTax"));
    applyMaskCurrency('#ItemAmount');
    OnlyNumber('#Quantity');

    function cleanform() {
        $("#VendorId").val('')
        $("#NumOfPayments").val('');
        $("#ServiceTypeListId").val('');
        $("#FranchiseeManualTransactionDescription").val('');
        $("#Quantity").val('');
        $("#VendorId").val('');
        $("#VendorInvoiceNumber").val('');
        $("#StartDate").val('');
        $("#DistributionAmount").val('');
        $("#ExtendedPrice").val('');
        $("#Total").val('');
        $("#TotalTax").val('');

    }

    function CalculateAmount() {
        var temptaxRate = $("#hdfTaxRate").val() == '' ? 0 : parseFloat($("#hdfTaxRate").val());
        var tempItemQuantity = $("#Quantity").val() == '' ? 0 : parseFloat($("#Quantity").val());
        var tempItemAmount = $("#DistributionAmount").val() == '' ? 0 : parseFloat($("#DistributionAmount").val());
        var tempSubtotal = $("#ExtendedPrice");
        var tempTax = $("#TotalTax");
        var tempTotal = $("#Total");

        tempSubtotal.val(tempItemQuantity * tempItemAmount);
        tempTax.val(parseFloat(tempSubtotal.val()) * temptaxRate / 100)
        if ($('#chkResale').is(":checked") || $('#ServiceTypeListId').val() != 18) {
            tempTax.val(0);
        }

        tempTotal.val(parseFloat(tempSubtotal.val()) + parseFloat(tempTax.val()));

        //if ($("#ddlSelect").val().trim() == 2) {
        //    $("#PaymentsBilled").val(tempTotal.val());
        //    $("#GrossTotal").val(parseFloat(tempTotal.val()) * parseInt($("#NumOfPayments").val()));
        //}

        //applyMaskCurrency('#txtsubtotal');
        //applyMaskCurrency('#txttaxamount');
        //applyMaskCurrency('#txttotalamount');
    };

    function OnlyNumber(id) {
        $(id).keydown(function (event) {
            if (event.shiftKey == true) { event.preventDefault(); }
            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46) { }
            else { event.preventDefault(); }
        });
    }
    function applyMaskCurrency(id) {
        $(id).inputmask("currency", {
            alias: 'currency',
            prefix: '$ ',
            digits: 2,
            autoUnmask: true,
            removeMaskOnSubmit: true,
            unmaskAsNumber: true,
            allowPlus: false,
            allowMinus: false,
            autoGroup: true,
            groupSeparator: ",",
        });
    }

    $("#btnSaveNew").click(function (e) {
        e.preventDefault();
        ValidateFranchiseTransaction($(this).attr('name'));

    });

    $("#btnUpdateClose").click(function (e) {
        e.preventDefault();
        ValidateFranchiseTransaction($(this).attr('name'));

    });
   

    /* Validate Franchise Manual Transaction */



    function ValidateFranchiseTransaction(a) {

        var isValid = true;
        /* Type */
        if ($("#ServiceTypeListId").val().trim() == "") {
            $("#ServiceTypeListId").css('border-color', 'red');
            $(window).scrollTop(10);
            if (isValid) {
                isValid = false;
            }
        }
        else {
            $("#ServiceTypeListId").css('border-color', '');
        }

        /* Description */
        if ($("#FranchiseeManualTransactionDescription").val().trim() == "") {
            $("#FranchiseeManualTransactionDescription").css('border-color', 'red');
            $(window).scrollTop(10);
            if (isValid) {
                isValid = false;
            }
        }
        else {
            $("#FranchiseeManualTransactionDescription").css('border-color', '');
        }

        /* if Type Franchise Supplies selected */
        if ($("#ServiceTypeListId").val().trim() == "18") {

            /* Vendor */
            if ($("#VendorId").val().trim() == "") {
                $("#VendorId").css('border-color', 'red');
                $(window).scrollTop(10);
                if (isValid) {
                    isValid = false;
                }
            }
            else {
                $("#VendorId").css('border-color', '');
            }

            /* Vendor Invoice No */
            if ($("#VendorInvoiceNumber").val().trim() == "") {
                $("#VendorInvoiceNumber").css('border-color', 'red');
                $(window).scrollTop(10);
                if (isValid) {
                    isValid = false;
                }
            }
            else {
                $("#VendorInvoiceNumber").css('border-color', '');
            }


        }
        else {
            $("#VendorId").css('border-color', '');
            $("#VendorInvoiceNumber").css('border-color', '');
        }

        /* Quantity */
        if ($("#Quantity").val().trim() == "") {
            $("#Quantity").css('border-color', 'red');
            $(window).scrollTop(10);
            if (isValid) {
                isValid = false;
            }
        }
        else {
            $("#Quantity").css('border-color', '');
        }

        /* Item Amount */
        if ($("#DistributionAmount").val() <= 0) {
            $("#DistributionAmount").css('border-color', 'red');
            $(window).scrollTop(10);
            if (isValid) {
                isValid = false;
            }
        }
        else {
            $("#DistributionAmount").css('border-color', '');
        }


      
        if (isValid) {
            //$('#hdfSaveClose').val(a);
            $("#form_FranchiseeMTrasaction").submit();
        }
    }
</script>