@model JKViewModels.Franchisee.FinderFeeBillDetailViewModel

<p style="text-align:center;font-size:14px;"><b>FINDER'S FEE BILL DETAIL</b></p><br />
<table style="width: 100%">
    <tr>
        <td width="45%">
            <table style="width:100%" border="1">
                <tr><td><b>&nbsp;&nbsp;FRANCHISEE</b></td></tr>
                <tr>
                    <td width="100%">
                        <table style="width:100%" border="0">
                            <tr>
                                <td width="30%">&nbsp;Number</td>
                                <td width="70%">@Html.DisplayFor(one => one.FranchiseeNo)</td>
                            </tr>
                            <tr>
                                <td width="30%">&nbsp;Name</td>
                                <td width="70%">@Html.DisplayFor(one => one.FranchiseeName)</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />
        </td>
        <td width="15%"></td>
        <td width="40%">
            <table style="width:100%" border="1">
                <tr>
                    <td>
                        <table style="width:100%" border="0">
                            <tr>
                                <td width="50%">&nbsp;Transaction No.</td>
                                <td width="50%">&nbsp;@Html.DisplayFor(one => one.transactionNumber)</td>
                            </tr>
                            <tr>
                                <td width="50%">&nbsp;Billing Date</td>
                                <td width="50%">&nbsp;@Html.DisplayFor(one => one.Dateformat)</td>
                            </tr>
                            <tr>
                                <td width="50%">&nbsp;Status</td>
                                <td width="50%">&nbsp;@Html.DisplayFor(one => one.FFStatus)</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table border="1">
    <thead>
        <tr style="border:2px solid #b3a9a9;">
            <td style="text-align:center;border:2px solid #b3a9a9;width:70px;"><b>Findfer's Fee No</b></td>
            <td style="text-align:center;border:2px solid #b3a9a9;width:70px;"><b>Customer No</b></td>
            <td style="text-align:center;border:2px solid #b3a9a9;width:220px;"><b>Customer Name</b></td>
        </tr>
    </thead>
    <tbody>
        <tr style="border:2px solid #b3a9a9;">
            <td width="80" style="text-align:center;border:2px solid #b3a9a9;">@Html.DisplayFor(one => one.FindersFeeId)</td>
            <td width="80" style="text-align:center;border:2px solid #b3a9a9;">@Html.DisplayFor(one => one.CustomerNo)</td>
            <td width="240" style="text-align:center;border:2px solid #b3a9a9;">@Html.DisplayFor(one => one.Name)</td>
        </tr>
    </tbody>
</table>
<br />
<table border="1">
    <tr>
        <td style="width:70px;text-align:center"><b>FF Type</b></td>
        <td style="width:70px;text-align:center;"><b>Date</b></td>
        <td style="width:80px;text-align:center"><b>Payment #</b></td>
        <td style="width:240px;text-align:center"><b>Description</b></td>
        @*<th style="width:70px;text-align:center">FF Amount</th>
            <th style="width:50px;text-align:center">Tax</th>*@
        <td style="width:100px;text-align:center"><b>Total Amount</b></td>
    </tr>
    <tr>
        <td width="70" style="text-align:center">@Html.DisplayFor(one => one.FindersFeeType)</td>
        <td width="70" style="text-align:center">@Html.DisplayFor(one => one.Dateformat)</td>
        <td width="70" style="text-align:center">@Html.DisplayFor(one => one.PaymentNumber)</td>
        <td width="240" style="text-align:center">@Html.DisplayFor(one => one.DetailDescription)</td>
        @*<td style="text-align:right">$@Html.DisplayFor(one => one.ExtendedPrice)</td>
            <td style="text-align:right">$@Html.DisplayFor(one => one.TotalTax)</td>*@
        <td width="80" style="text-align:right">$@Html.DisplayFor(one => one.Total)</td>
    </tr>
</table>
<br />
<table width="100%" border="0">
    <tr>
        <td style="text-align: right">
            NOTE:&nbsp;&nbsp;
        </td>
        <td>
            <table class="table table-bordered table-responsive borderClass" width="100%" border="1">
                <tr><td height="50"><p>&nbsp;&nbsp;<br /></p></td></tr>
            </table>
        </td>
    </tr>
</table>

