@model JKViewModels.Franchisee.FinderFeeBillDetailViewModel

@section styles{
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        tr > td {
            font-size: 12px !important;
            padding: 4px !important;
        }

        /*tr > th {
            font-size: 11px !important;
            text-transform: uppercase;
        }*/

        .row {
            margin: 0;
            padding: 5px 0;
        }

        .opendiv {
            padding: 4px;
            background-color: gold;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .closeddiv {
            padding: 4px;
            background-color: limegreen;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .overpaiddiv {
            padding: 4px;
            background-color: deepskyblue;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .overduediv {
            padding: 4px;
            background-color: orangered;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .btn {
            padding: 3px 12px;
            font-size: 12px;
        }
    </style>
}
<div class="modal fade custom-model custom-form-design" id="modal_FinderfeeBillDetail" tabindex="-1" role="basic" aria-hidden="true" style="display: none;" draggable>
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content" style="border-radius: 8px;">
            <div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
                <button type="button" class="close" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;" onclick="btnBillDetailPopupClose()"></button>
                <h4 class="modal-title" style="text-align:center;margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;border-radius: 8px 8px 0 0;text-transform: uppercase;">
                    FINDER'S FEE BILL DETAIL
                </h4>
            </div>
            <div class="modal-body" style="padding: 0px 10px 15px 10px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="custom-form portlet light" style="max-width:400px;margin: 0px auto;padding:0;min-height: 100px;">
                            <div class="headerbox">
                                <div class="row" style="text-align:center;">
                                    FRANCHISEE
                                </div>
                            </div>
                            <div class="portlet-body form" style="border:1px solid #e7ecf1;">
                                <div class="form-body">
                                    <div class="row" style="padding: 3px;margin: 0;">Number : @Html.DisplayFor(one => one.FranchiseeNo)</div>
                                    <div class="row" style="padding: 3px;margin: 0;">Name: @Html.DisplayFor(one => one.FranchiseeName)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="text-right">Transaction No.</td>
                                    <td class="text-center"><span>@Html.DisplayFor(one => one.transactionNumber)</span></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Billing Date</td>
                                    <td class="text-center"><span>@Html.DisplayFor(one => one.Dateformat)</span></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Status</td>
                                    <td class="text-center"><span>@Html.DisplayFor(one => one.FFStatus)</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-8">

                        <table class="table table-striped table-bordered table-hover order-column table-responsive" width="100%">
                            <tr>
                                <th style="width:110px;text-align:center;">Findfer's Fee No</th>
                                <th style="width:100px;text-align:center;">Customer No</th>
                                <th style="text-align:center;">Customer Name</th>
                            </tr>
                            <tr>
                                <td style="text-align:center;">@Html.DisplayFor(one => one.FindersFeeId)</td>
                                <td style="text-align:center;">@Html.DisplayFor(one => one.CustomerNo)</td>
                                <td style="white-space:pre-line;text-align:center;">@Html.DisplayFor(one => one.Name)</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-striped table-bordered table-hover order-column table-responsive" width="100%">
                        <tr>

                            <th style="width:105px;text-align:center">FF Type</th>
                            <th style="width:70px;text-align:center;">Date</th>
                            <th style="width:80px;text-align:center">Payment #</th>
                            <th style="width:220px;text-align:center">Description</th>
                            @*<th style="width:70px;text-align:center">FF Amount</th>
                            <th style="width:50px;text-align:center">Tax</th>*@
                            <th style="width:100px;text-align:center">Monthly Amount</th>
                        </tr>
                        <tr>
                            <td style="text-align:center">@Html.DisplayFor(one => one.FindersFeeType)</td>
                            <td style="text-align:center">@Html.DisplayFor(one => one.Dateformat)</td>
                            <td style="text-align:center">@Html.DisplayFor(one => one.PaymentNumber)</td>
                            <td style="text-align:center">@Html.DisplayFor(one => one.DetailDescription)</td>
                            @*<td style="text-align:right">$@Html.DisplayFor(one => one.ExtendedPrice)</td>
                            <td style="text-align:right">$@Html.DisplayFor(one => one.TotalTax)</td>*@
                            <td style="text-align:right">$@Html.DisplayFor(one => one.Total)</td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-3 text-right">
                        NOTE:
                    </div>
                    <div class="col-md-9 text-right">
                        @Html.TextAreaFor(one=> one.Notes, new { @class = "form-control input-sm", rows = "3" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5">
                        <button type="button" class="btn btn-primary button-next" style="margin-right:10px;" onclick="FinderFeeDetailsPrint('@Model.transactionNumber')">Print <i class="fa fa-print"></i></button>
                        @*<button type="submit" class="btn btn-primary button-next" style="margin-right:10px;" onclick="">Export <i class="fa fa-download"></i></button>
                        <button type="button" class="btn btn-primary button-next" style="margin-right:10px;" onclick="">Email <i class="fa fa-envelope"></i></button>*@
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <button type="button" class="btn btn-primary button-next  pull-right" onclick="btnBillDetailPopupClose()">
                            Close
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script > 

    function FinderFeeDetailsPrint(TrNo)
    {        
        if (TrNo != "") {
            var sURL = '@Url.Action("FinderFeeDetailsPrint", "Franchise", new { area = "Portal" })?TrNo=' + TrNo ;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    var tUrl = data;
                    printJS({ printable: document.location.origin + tUrl, type: 'pdf', showModal: false });
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        }
        else {
            alert('Please select payment no to print.')
        }
    }

</script>
