@model JKViewModels.Franchisee.FranchiseeDetailViewModel

<div class="table-responsive">
    <table class="table-striped table-bordered order-column" style="width:100%;">
        <tr>
            <td>
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="form-body" style="padding: 5px;padding-bottom:0px;">
                            <div class="form-group mr0">
                                <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Status:</label>
                                <div class="col-md-8" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@ViewBag.Franchiseestatus </label>
                                </div>
                            </div>
                            <div class="form-group mr0">
                                <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Main Address:</label>
                                <div class="col-md-9" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.Address1) @Html.DisplayFor(one => one.City), @Html.DisplayFor(one => one.StateName) @Html.DisplayFor(one => one.PostalCode)</label>
                                </div>
                            </div>
                           
                            <div class="form-group mr0">
                                <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Phone No.:</label>
                                <div class="col-md-8" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                    <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.Phone) Ext.@Html.DisplayFor(one => one.Ext)</label>
                                </div>
                            </div>
                            @*@if (ViewBag.Franchiseestatus != "Transfer")
                            {
                                <div class="form-group mr0">
                                    <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Plan Type:</label>
                                    <div class="col-md-8" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                        <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.PlanType)</label>
                                    </div>
                                </div>
                                                    <div class="form-group mr0">
                                                        <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Date Sign:</label>
                                                        <div class="col-md-2" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                            <label class="control-label" style="text-align:left!important;padding-top: 0px;">@(Model.DateSign != null ? ((DateTime)Model.DateSign).ToString("MM/dd/yyyy") : "")</label>
                                                        </div>
                                                        <div class="col-md-4" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                            <label class="mt-checkbox input-sm" style="margin-bottom: 0px;margin-top: -2px;">
                                                                <input type="checkbox" @(Model.BBPAdministrationFee != null ? (Model.BBPAdministrationFee == true ? "checked='checked'" : "") : "") disabled /><span style="margin-top: 4px;"></span> BBP Admin Fee
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                            <label class="mt-checkbox input-sm" style="margin-bottom: 0px;margin-top: -2px;">
                                                                <input type="checkbox" @(Model.Chargeback == true ? "checked='checked'" : "") disabled /><span style="margin-top: 4px;"></span> Chargeback
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mr0">
                                                        <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Term(yrs):</label>
                                                        <div class="col-md-2" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                            <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.Term) Years</label>
                                                        </div>
                                                        <div class="col-md-4" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                            <label class="mt-checkbox input-sm" style="margin-bottom: 0px;margin-top: -4px;">
                                                                <input type="checkbox" @(Model.Incorporated == true ? "checked='checked'" : "") disabled /><span style="margin-top: 4px;"></span> In Coporated
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                            <label class="mt-checkbox input-sm" style="margin-bottom: 0px;margin-top: -4px;">
                                                                <input type="checkbox" @(Model.Print1099 == true ? "checked='checked'" : "") disabled /><span style="margin-top: 4px;"></span> Print 1099
                                                            </label>
                                                        </div>
                                                    </div>
                            }
                            else if (ViewBag.Franchiseestatus == "Transfer")
                            {*@
                                <div class="form-group mr0">
                                    <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">FA Sign:</label>
                                    <div class="col-md-2" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                        <label class="control-label" style="text-align:left!important;padding-top: 0px;">@(Model.DateSign != null ? ((DateTime)Model.DateSign).ToString("MM/dd/yyyy") : "")</label>
                                    </div>
                                    <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Last FA Sign:</label>
                                    <div class="col-md-2" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                        <label class="control-label" style="text-align:left!important;padding-top: 0px;">@(Model.LastRenewedContractDate != null ? ((DateTime)Model.LastRenewedContractDate).ToString("MM/dd/yyyy") : "")</label>
                                    </div>
                                </div>
                                                    <div class="form-group mr0">
                                                        <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Term(yrs):</label>
                                                        <div class="col-md-2" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                            <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.Term) Years</label>
                                                        </div>
                                                        <label class="col-md-3 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">PlanType:</label>
                                                        <div class="col-md-2" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                            <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.PlanType) </label>

                                                        </div>
                                                    </div>
                                                    <div class="form-group mr0">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-3" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                            <label class="mt-checkbox input-sm" style="margin-bottom: 0px;margin-top: -2px;">
                                                                <input type="checkbox" @(Model.BBPAdministrationFee != null ? (Model.BBPAdministrationFee == true ? "checked='checked'" : "") : "") disabled /><span style="margin-top: 4px;"></span> BBP Admin Fee
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                            <label class="mt-checkbox input-sm" style="margin-bottom: 0px;margin-top: -2px;">
                                                                <input type="checkbox" @(Model.Chargeback == true ? "checked='checked'" : "") disabled /><span style="margin-top: 4px;"></span> Chargeback
                                                            </label>
                                                        </div>
                                                        @*<div class="col-md-3" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                            <label class="mt-checkbox input-sm" style="margin-bottom: 0px;margin-top: -4px;">
                                                                <input type="checkbox" @(Model.Incorporated == true ? "checked='checked'" : "") disabled /><span style="margin-top: 4px;"></span> Incorporated
                                                            </label>
                                                        </div>*@
                                                        <div class="col-md-3" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                            <label class="mt-checkbox input-sm" style="margin-bottom: 0px;margin-top: -4px;">
                                                                <input type="checkbox" @(Model.Print1099 == true ? "checked='checked'" : "") disabled /><span style="margin-top: 4px;"></span> Print 1099
                                                            </label>
                                                        </div>
                                                    </div>
                                                        @*}*@
                                                    </div>
                    </div>
                </div>
         
            </td>
        </tr>
    </table>
</div>