@model JKViewModels.Franchisee.FranchiseeDetailViewModel

<div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
    <h4 class="modal-title text-center" style="margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;text-transform: uppercase;">
        NEW FRANCHISEE DETAIL PENDING APPROVE
    </h4>
</div>
<div class="modal-body form form-horizontal" style="padding-top: 1px;margin-top: -5px;">
    <div class="form-body" style="padding-top: 0px;">
        <div class="form-group">
            <div class="row" style="background-color: #4b85cc;color: #fff;padding-top:8px;padding-bottom:8px;margin-left: 10px;margin-right: 10px;margin-top:8px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            Franchisee Name :  <b> @Html.DisplayFor(one => one.Name) </b>
                        </div>
                        <div class="col-md-6 text-center">Franchisee No.: <b>@Html.DisplayFor(one => one.FranchiseeNo)</b></div>
                        <input type="hidden" name="hdnFranchiseeId" id="hdnFranchiseeId" value="@Model.FranchiseeId" />
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="padding:10px">
                <div class="row">
                    <div class="col-md-12" style="padding-left:0px;padding-right: 0px;">
                        <div class="col-md-8" style="border: 1px solid grey; margin-left: -2px;margin-right: 1px;">
                            <div class="col-md-12" style="padding-left:0px;">
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <div class="form-body" style="padding: 5px;padding-bottom:0px;">
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Payee Name:</label>
                                            <div class="col-md-7" style="padding-top:0px;padding-left: 4px;padding-right:4px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.Name)</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Main Address:</label>
                                            <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">
                                                    @Html.DisplayFor(one => one.Address1)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;"></label>
                                            <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                &nbsp;<label class="control-label" style="text-align:left!important;padding-top: 0px;">
                                                    @Html.DisplayFor(one => one.City), @Html.DisplayFor(one => one.StateName) @Html.DisplayFor(one => one.PostalCode)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Phone No.:</label>
                                            <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;padding-bottom: 0px;">@Html.DisplayFor(one => one.Phone) Ext.@Html.DisplayFor(one => one.Ext)</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Cell No.:</label>
                                            <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;padding-bottom: 0px;">@Html.DisplayFor(one => one.Cell)</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">Email:</label>
                                            <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.EmailAddress)</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6" style="padding-left:0px;">

                                    <div class="form-body" style="padding: 5px;padding-bottom: 0px;">
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Status:</label>
                                            <div class="col-md-7" style="padding-left: 5px;padding-right: 4px;padding-top:0px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.StatusName)</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Plan Type :</label>
                                            <div class="col-md-7" style="padding-left: 5px;padding-right: 5px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.PlanType)</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Date Sign:</label>
                                            <div class="col-md-7" style="padding-left: 5px;padding-right: 5px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">@(Model.DateSign != null ? ((DateTime)Model.DateSign).ToString("MM/dd/yyyy") : "")</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <label class="col-md-5 control-label" style="padding-left: 0px;padding-right: 4px;padding-top:0px;">Term (yrs):</label>
                                            <div class="col-md-7" style="padding-left: 4px;padding-right: 4px;padding-top:0px;">
                                                <label class="control-label" style="text-align:left!important;padding-top: 0px;">@Html.DisplayFor(one => one.Term) Years</label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0">
                                            <div class="col-md-6" style="padding-right:0px;">
                                                <label class="mt-checkbox input-sm" style="margin-bottom: 0px;">
                                                    <input type="checkbox" @(Model.BBPAdministrationFee != null ? (Model.BBPAdministrationFee == true ? "checked='checked'" : "") : "") /><span style="margin-top: 4px;"></span> BBP Admin Fee
                                                </label>
                                            </div><div class="col-md-6" style="padding-right:0px;">
                                                <label class="mt-checkbox input-sm" style="margin-bottom: 0px;">
                                                    <input type="checkbox" @(Model.Chargeback == true ? "checked='checked'" : "") /><span style="margin-top: 4px;"></span> Chargeback
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group mr0" style="margin-top: -10px;">
                                            <div class="col-md-6" style="padding-right:0px;">
                                                <label class="mt-checkbox input-sm" style="margin-bottom: 0px;">
                                                    <input type="checkbox" @(Model.Incorporated == true ? "checked='checked'" : "") /><span style="margin-top: 4px;"></span> In Coporated
                                                </label>
                                            </div><div class="col-md-6" style="padding-right:0px;">
                                                <label class="mt-checkbox input-sm" style="margin-bottom: 0px;">
                                                    <input type="checkbox" @(Model.Print1099 == true ? "checked='checked'" : "") /><span style="margin-top: 4px;"></span> Print 1099
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-4" style="padding-right:0px;border: 1px solid grey;min-height:170px;">
                            <div class="col-md-6">
                                <div class="form-group mr0" style="margin-top: 26px;">
                                    <a class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="OpenEditFranchisePopup(@Model.FranchiseeId)">Edit Franchisee Info</a>
                                </div>
                                <div class="form-group mr0">
                                    <a href="javascript:void(0);" class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="OpenEditFranchisePlanInfoPopup(@Model.FranchiseeId)">Plan Information</a>
                                </div>
                                <div class="form-group mr0" style="padding-bottom: 31px;">
                                    <a class="btn-custom btn btn-primary col-md-11" href="javascript:void(0)" style="font-size:11px;" onclick="OpenEditFranchiseUploadDocumentPopup(@Model.FranchiseeId)">Documents</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mr0" style="margin-top: 26px;">
                                    <a href="javascript:void(0)" class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="">Owner Information</a>
                                    @*<a href="javascript:void(0);" class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="">Maintenance</a>*@
                                </div>
                                <div class="form-group mr0">
                                    <a href="javascript:void(0)" class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" onclick="OpenFranchiseeLegalCompliancePopup(@Model.FranchiseeId)">Legal Compliance</a>
                                </div>
                                <div class="form-group mr0">
                                    @*<a class="btn-custom btn btn-primary col-md-11" style="font-size: 11px;" href="javascript:void(0)" onclick="">Account Offering</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @*<div class="col-md-12">
                            <input type="hidden" id="hdnFranchiseeId" value="@Model.FranchiseeId" />
                            <div class="col-md-2 control-label">
                                Note :<span class="required"> * </span>
                            </div>
                            <div class="col-md-6 control-label">
                                <textarea class="form-control input-sm" rows="3" id="txtNote"></textarea>
                            </div>
                            <div class="col-md-2 control-label">
                                <input type="button" id="btnReject" onclick="UpdateApproveReject(14)" class="btn btn-primary col-md-11" value="REJECTED" style="margin-bottom:3px;font-size:11px;margin-top:3px;margin-left:-10px !important" />
                            </div>
                            <div class="col-md-2 control-label">
                                <input type="button" id="btnApprove" onclick="UpdateApproveReject(9)" class="btn btn-primary col-md-11" value="APPROVED" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:-40px !important" />
                            </div>
                        </div>*@


                    @if (Model.MessageData != null)
                    {
                        int count = Model.MessageData.Count();
                        var data = Model.MessageData.LastOrDefault();
                        int i = 0;
                        foreach (var d in Model.MessageData)
                        {
                            i++;
                            <div class="col-md-12 PendingMessage">

                                <div class="col-md-2 control-label">
                                    @d.FirstName @d.LastName :<span class="required"> * </span>
                                </div>
                                <div class="col-md-6 control-label">
                                    <textarea class="form-control input-sm PendingMessage" style="resize: none;overflow-x: hidden;" readonly="readonly" rows="3" id="txtNote">@d.Message</textarea>
                                </div>
                                @if (data != null && data.IsRejacted == true && data.CreatedByChild == Model.USERID)
                                {

                                    <div class="col-md-2 control-label MainAdmins" style="display:none; margin-top: 30px;">
                                        <input type="button" id="btnReject" onclick="UpdateApproveReject(14)" class="btn btn-primary col-md-11" value="REJECTED" style="margin-bottom:3px;font-size:11px;margin-top:3px;margin-left:5px !important;width: 100px;    height: 25px;" />
                                    </div>
                                    <div class="col-md-2 control-label MainAdmins" style="display:none; margin-top: 30px;right: 30px;">
                                        <input type="button" id="btnApprove" onclick="UpdateApproveReject(9)" class="btn btn-primary col-md-11" value="APPROVED" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:0px !important;width: 100px;    height: 25px;" />
                                    </div>
                                    if (i == Model.MessageData.Count())
                                    {
                                        <script>$(".PendingMessage").last().prop("readonly", false)</script>
                                        <div style="left: 35px;" class="col-md-2 control-label">
                                            <input type="button" id="btnSubmit" onclick="UpdateRejectMessage(3,$('.PendingMessage').last())" class="btn btn-primary col-md-11" value="Submit" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:-40px !important" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-md-2 control-label">
                                    </div>
                                    <div class="col-md-2 control-label">
                                    </div>
                                }
                            </div>
                        }
                        if (data != null && data.IsRejacted == false && data.CreatedByChild == Model.USERID)
                        {
                            <div class="col-md-12">
                                @*<input type="hidden" id="hdnCustomerId" name="hdnCustomerId" value="@Model.CustomerTransactionItems.FirstOrDefault().CustomerId" />*@
                                <div class="col-md-2 control-label">
                                    @*Note :<span class="required"> * </span>*@
                                </div>
                                <div class="col-md-6 control-label">
                                    @*<textarea class="form-control input-sm PendingMessage" style="resize: none;overflow-x: hidden;" rows="3" id="txtNote"></textarea>*@
                                </div>
                                <script>$(".PendingMessage").last().prop("readonly", false)</script>
                                <div class="col-md-2 control-label MainAdmins" style="margin-top: 30px;">
                                    <input type="button" id="btnReject" onclick="UpdateApproveReject(14)" class="btn btn-primary col-md-11" value="REJECTED" style="margin-bottom:3px;font-size:11px;margin-top:3px;margin-left:5px !important;width: 100px;    height: 25px;" />
                                </div>
                                <div class="col-md-2 control-label MainAdmins" style="margin-top: 30px;right: 30px;">
                                    <input type="button" id="btnApprove" onclick="UpdateApproveReject(9)" class="btn btn-primary col-md-11" value="APPROVED" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:0px !important;width: 100px;    height: 25px;" />
                                </div>
                                <div style="left: 35px;" class="col-md-2 control-label">
                                    <input type="button" id="btnSubmit" onclick="UpdateRejectMessage(4,$('.PendingMessage').last())" class="btn btn-primary col-md-11" value="Submit" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:-40px !important" />
                                </div>
                            </div>
                        }
                        else if ((data != null && data.IsRejacted == true && data.CreatedByChild != Model.USERID))
                        {


                            <div class="col-md-12">
                                @*<input type="hidden" id="hdnCustomerId" name="hdnCustomerId" value="@Model.CustomerTransactionItems.FirstOrDefault().CustomerId" />*@
                                <div class="col-md-2 control-label">
                                    Note :<span class="required"> * </span>
                                </div>
                                <div class="col-md-6 control-label">
                                    <textarea class="form-control input-sm PendingMessage" style="resize: none;overflow-x: hidden;" rows="3" id="txtNote"></textarea>
                                </div>
                                <div class="col-md-2 control-label MainAdmins" style="margin-top: 30px;">
                                    <input type="button" id="btnReject" onclick="UpdateApproveReject(14)" class="btn btn-primary col-md-11" value="REJECTED" style="margin-bottom:3px;font-size:11px;margin-top:3px;margin-left:5px !important;width: 100px;    height: 25px;" />
                                </div>
                                <div class="col-md-2 control-label MainAdmins" style="margin-top: 30px;right: 30px;">
                                    <input type="button" id="btnApprove" onclick="UpdateApproveReject(9)" class="btn btn-primary col-md-11" value="APPROVED" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:0px !important;width: 100px;    height: 25px;" />
                                </div>
                                <div style="left: 35px;" class="col-md-2 control-label">
                                    <input type="button" id="btnSubmit" onclick="UpdateRejectMessage(4,$('.PendingMessage').last())" class="btn btn-primary col-md-11" value="Submit" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:-40px !important" />
                                </div>
                            </div>
                        }
                        else if ((data != null && data.IsRejacted == false && data.CreatedByChild != Model.USERID))
                        {
                            <div class="col-md-12">
                                @*<input type="hidden" id="hdnCustomerId" name="hdnCustomerId" value="@Model.CustomerTransactionItems.FirstOrDefault().CustomerId" />*@
                                <div class="col-md-2 control-label">
                                    Note :<span class="required"> * </span>
                                </div>
                                <div class="col-md-6 control-label">
                                    <textarea class="form-control input-sm PendingMessage" style="resize: none;overflow-x: hidden;" rows="3" id="txtNote"></textarea>
                                </div>
                                <div class="col-md-2 control-label MainAdmins" style="margin-top: 30px;">
                                    <input type="button" id="btnReject" onclick="UpdateApproveReject(14)" class="btn btn-primary col-md-11" value="REJECTED" style="margin-bottom:3px;font-size:11px;margin-top:3px;margin-left:5px !important;width: 100px;    height: 25px;" />
                                </div>
                                <div class="col-md-2 control-label MainAdmins" style="margin-top: 30px;right: 30px;">
                                    <input type="button" id="btnApprove" onclick="UpdateApproveReject(9)" class="btn btn-primary col-md-11" value="APPROVED" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:0px !important;width: 100px;    height: 25px;" />
                                </div>
                                <div style="left: 35px; display:none;" class="col-md-2 control-label">
                                    <input type="button" id="btnSubmit" onclick="UpdateRejectMessage(4,$('.PendingMessage').last())" class="btn btn-primary col-md-11" value="Submit" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:-40px !important" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12">
                                <div class="col-md-2 control-label">
                                    Note :<span class="required"> * </span>
                                </div>
                                <div class="col-md-6 control-label">
                                    <textarea class="form-control input-sm PendingMessage" style="resize: none;overflow-x: hidden;" rows="3" id="txtNote"></textarea>
                                </div>
                                <div class="col-md-2 control-label MainAdmins" style="margin-top: 30px;">
                                    <input type="button" id="btnReject" onclick="UpdateApproveReject(14)" class="btn btn-primary col-md-11" value="REJECTED" style="margin-bottom:3px;font-size:11px;margin-top:3px;margin-left:5px !important;width: 100px;    height: 25px;" />
                                </div>
                                <div class="col-md-2 control-label MainAdmins" style="margin-top: 30px;right: 30px;">
                                    <input type="button" id="btnApprove" onclick="UpdateApproveReject(9)" class="btn btn-primary col-md-11" value="APPROVED" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:0px !important;width: 100px;    height: 25px;" />
                                </div>
                                <div style="left: 35px; display:none;" class="col-md-2 control-label">
                                    <input type="button" id="btnSubmit" onclick="UpdateRejectMessage(4,$('.PendingMessage').last())" class="btn btn-primary col-md-11" value="Submit" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:-40px !important" />
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <div class="col-md-12">
                            <div class="col-md-2 control-label">
                                Note :<span class="required"> * </span>
                            </div>
                            <div class="col-md-6 control-label">
                                <textarea class="form-control input-sm PendingMessage" style="resize: none;overflow-x: hidden;" rows="3" id="txtNote"></textarea>
                            </div>
                            <div class="col-md-2 control-label MainAdmins" style="margin-top: 30px;">
                                <input type="button" id="btnReject" onclick="UpdateApproveReject(14)" class="btn btn-primary col-md-11" value="REJECTED" style="margin-bottom:3px;font-size:11px;margin-top:3px;margin-left:5px !important;width: 100px;    height: 25px;" />
                            </div>
                            <div class="col-md-2 control-label MainAdmins" style="  margin-top: 30px;right: 30px;">
                                <input type="button" id="btnApprove" onclick="UpdateApproveReject(9)" class="btn btn-primary col-md-11" value="APPROVED" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:0px !important;width: 100px;    height: 25px;" />
                            </div>
                            <div style="left: 35px;" class="col-md-2 control-label">
                                <input type="button" id="btnSubmit" onclick="UpdateRejectMessage(4,$('.PendingMessage').last())" class="btn btn-primary col-md-11" value="Submit" style="font-size:11px;padding-left:0px !important;padding-right:0px !important;margin-top:3px;margin-left:-40px !important" />
                            </div>
                        </div>
                    }



                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

    });

    function UpdateApproveReject(status) {
        
        if ($('#txtNote').val().trim() == '') {
            $('#txtNote').css('border-color', 'red');
            return false;
        } else { $('#txtNote').css('border-color', ''); }

        var Id = $("#hdnFranchiseeId").val();
        if (Id > 0) {

            $.ajax({
                url: '@Url.Action("UpdateApproveReject", "Franchise",new {area="Portal" })',
                dataType: "json",
                data: { FranchiseeId: Id, Note: $("#txtNote").val(), Status: status },
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    window.location.href = window.location.href;
                },
                error: function () { }
            });
        }
    }

        function UpdateRejectMessage(status,ctl) {
            
            if ($(ctl).val().trim() == '') {
                $(ctl).css('border-color', 'red');
            return false;
            } else { $(ctl).css('border-color', ''); }

            var Id = $("#hdnFranchiseeId").val();
            if (Id > 0) {

                $.ajax({
                    url: '@Url.Action("UpdateApproveReject", "Franchise", new { area = "Portal" })',
                    dataType: "json",
                    data: { FranchiseeId: Id, Note: $(ctl).val(), Status: status},
                    traditional: true,
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        window.location.href = window.location.href;
                    },
                    error: function () { }
                });
            }
    }


</script>