@model IEnumerable<JKViewModels.Franchise.FranchiseTransaction>

@section styles{
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
}

<div class="row" id="divfranchisetransList" style="display:none">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-datatable">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers"></i>
                    <span class="caption-subject sbold uppercase">Transactions</span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover order-column" id="franchisetransList">
                    <thead>
                        <tr>

                            <th style="width:5%">Date</th>
                            <th>Customer</th>
                            <th style="width:8%">Invoice</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th style="width:4%">Qty</th>
                            <th style="width:8%">Sub-Total</th>
                            <th style="width:8%">Tax</th>
                            <th style="width:10%">Total</th>
                            <th style="width:50px"></th>
                            <th style="width:50px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.EmpID</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                            </tr>
                        }*@  
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>

</div>
