@model IEnumerable<JKViewModels.Franchise.FranchiseTransaction>


<div class="portlet light portlet-fit portlet-datatable">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-layers"></i>
            <span class="caption-subject sbold uppercase">Transactions</span>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover order-column" id="franchisetransRList">
            <thead>
                <tr>
                    <th>Type</th>
                    <th style="width:10%">No of Payments</th>
                    <th style="width:10%">Payment Amount</th>
                    <th style="width:10%">Sub-Total</th>
                    <th style="width:10%">Tax</th>
                    <th style="width:10%">Total</th>
                    <th style="width:5%">Status</th>
                    <th style="width:50px"></th>
                    <th style="width:50px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.trxname</td>
                            <td>@item.noofpayments</td>
                            <td>@item.extendedprice</td>
                            <td>@item.subtotal</td>
                            <td>@item.tax</td>
                            <td>@item.total</td>
                            <td>@item.statusname</td>
                            <td></td>
                            <td></td>
                        </tr>
                        }

            </tbody>
        </table>
    </div>
</div>
