
@{
    ViewBag.Title = "AccountHistoryDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    <link href="~/Content/admin/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css")" rel="stylesheet" />

    <style type="text/css">
        .topheader {
            font-size: 14px;
            font-weight: bold;
            color: #FFF !important;
            text-transform: uppercase;
            margin-top: 3px;
        }


        .lbl-p5 {
            padding: 5px;
        }

            .lbl-p5.red {
                color: red;
            }


            .lbl-p5.green {
                color: lightgreen;
            }

        input[type="text"].txtcolon:before {
            content: ": ";
        }

        .credit-field {
            width: 80px !important;
        }

        .alignRight {
            text-align: right;
        }

        .alignCenter {
            text-align: center;
        }

        .close {
            background-image: url(/Content/admin/assets/global/img/stick_close.png) !important;
            height: 12px !important;
            width: 12px !important;
            margin-top: 0px !important;
        }

        .custom-listbox .headerbox {
            padding: 3px 0px 3px 5px;
            font-weight: normal;
        }

        .custom-listbox {
            margin-top: 4px;
            margin-bottom: 0px;
        }

        .row {
            margin: 0;
            padding: 3px 0;
        }

        .btn.multiselect {
            text-align: left;
            padding-top: 4px;
            padding-bottom: 4px;
            font-size: 11px;
            color: #555;
        }

        .multiselect .caret {
            right: 0;
            position: absolute;
            margin-top: 8px;
            margin-right: 8px;
        }

        .multiselect-container.dropdown-menu {
            text-transform: none;
            font-size: 14px;
        }

        .no-padding {
            padding: 0;
        }

        #modal_RegionModel .modal-content {
            width: 55% !important;
            margin-left: 30% !important;
        }

        .ARList thead > tr > th, .ARList tbody > tr > td, .ARList tfoot > tr > td {
            font-size: 11px !important;
            padding: 5px !important;
        }

        .has-error {
            border-color: red;
        }
    </style>
}
<div class="headerbox">
    <div class="row" style="background-color: #3598DC;color: #fff;">
        <div class="col-md-12 no-padding">
            <div class="alignCenter">
                <div class="col-md-4" style="text-align:right;">
                    @*<i class="icon-magnifier icon-align-right" style="margin-top: 8px;"></i>*@
                    <input id="input_Search" type="text" required name="franchiseenumber" autocomplete="off" placeholder="Search Franchisee Name or Number" value="" class="form-control input-sm typeahead" />
                </div>
                <div class="col-md-4 topheader">
                    Franchisee Account History Report
                </div>
                <div class="col-md-4" style="padding-right:5px;">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="form form-horizontal" id="div_FranchiseeAccountHistoryReport" style="display:none;">
    <div class="custom-form portlet light">
        <div class="portlet-body form-body">
            <div class="row" id="modelbody_FranchiseeAccountHistoryReport">

            </div>
        </div>
    </div>
</div>
@section pageplugins{
    @if (Request.IsSecureConnection)
    {
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
    }
    else
    {
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
    }
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/select2/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/datatable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/app.min.js")" type="text/javascript" )"></script>
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/table-datatables-managed.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js")" type="text/javascript"></script>

}
@section scripts{
    <script>
        jQuery(document).ready(function () {
            applyAutoSeacrh();
        })

        function applyAutoSeacrh() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetAllFranchisees", "Franchise", new { area = "Portal" })',
                data: {},
                success: function (data) {
                    var typeaheadSource = [];
                    $.each(data, function (key, value) {
                        typeaheadSource.push({ id: value.FranchiseeId, name: value.FranchiseeNo + ' ' + value.Name })
                    });

                    $('#input_Search').typeahead({
                        source: typeaheadSource,
                        updater: function (item) {
                            console.log(item);
                            //$("#hdfCustomerId").val(item.id);
                            showFranchiseeAccountHistoryDetail(item.id);
                            return item;
                        }
                    }).focus();
                }
            });
        }


        //Franchisee Account History Detail
        function showFranchiseeAccountHistoryDetail(Id) {
            var sURL = '@Url.Action("FranchiseeAccountHistoryDetail", "Franchise", new { area = "Portal" })?FranchiseeId=' + Id;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#div_FranchiseeAccountHistoryReport').show();
                    $('#modelbody_FranchiseeAccountHistoryReport').html(data);

                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        }
        function DetailFranchiseeAccountHistoryReportPrint() {
            // window.print();
            $('#_FAHR__btnPrint').hide();
            $('#_FAHR__btnExport').hide();
            var contents = $("#modelbody_FranchiseeAccountHistoryReport").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "_FranchiseeAccountHistoryReportPrintframe1";
            frame1.css({ "position": "absolute", "top": "-1000000px" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title></title>');
            frameDoc.document.write('</head><body>');
            //Append the external CSS file.
            frameDoc.document.write('<link href="/fonts/FaceFontcss.css" rel="stylesheet" />');
            frameDoc.document.write('<link href="/Content/admin/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />');
            frameDoc.document.write('<link href="/Content/admin/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />');
            frameDoc.document.write('<link href="/Content/admin/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />');
            frameDoc.document.write('<link href="/Content/admin/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />');
            frameDoc.document.write('<link href="/Content/admin/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />');
            frameDoc.document.write('<link href="/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            console.log(window.frames["_FranchiseeAccountHistoryReportPrintframe1"])
            setTimeout(function () {

                window.frames["_FranchiseeAccountHistoryReportPrintframe1"].focus();
                window.frames["_FranchiseeAccountHistoryReportPrintframe1"].print();
                frame1.remove();
                $('#_FAHR__btnPrint').show();
                $('#_FAHR__btnExport').show();
            }, 500);
        }
    </script>
}

