@model JKViewModels.Franchise.AddFranchiseViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
    .form-group.form-md-line-input {
    position: relative;
      margin: 0 0 15px;  
    padding-top: 20px;
}
    </style>
}
<div class="row">
     <div class="col-md-12">
         <!-- BEGIN VALIDATION STATES-->
         <div class="portlet box bg-blue-dark-opacity">
             <div class="portlet-title">
                 <div class="caption">
                     <i class="icon-layers"></i>
                     <span class="caption-subject sbold uppercase">Franchise Maintenance</span>
                 </div> 
             </div>
             <div class="portlet-body">
                 <div class="form-body">
                     <!-- BEGIN FORM-->
                     <form action="#">
                         <div class="row">
                             <div class="col-md-6">
                                 <!-- BEGIN VALIDATION STATES-->
                                 <div class="portlet box blue-dark">
                                     <div class="portlet-title">
                                         <div class="caption">
                                             <i class="icon-layers"></i>
                                             <span class="caption-subject sbold uppercase">Main Information</span>
                                         </div>
                                     </div>
                                     <div class="portlet-body">
                                         <!-- BEGIN FORM-->
                                         <div class="form-body">
                                             <div class="row">
                                                 <div class="col-md-12">
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txteinssn, new { @class = "form-control", @id = "txteinssn", placeholder = "Enter EIN/SSN" })
                                                             <label for="form_control_1">
                                                                 EIN/SSN
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-8" style="padding-top:15px;">
                                                         <div class="md-checkbox-inline">
                                                             <div class="md-checkbox">
                                                                 <input type="checkbox" id="chkincorporated" name="chkincorporated" value="-1000" class="md-check">
                                                                 <label for="chkincorporated">
                                                                     <span></span>
                                                                     <span class="check"></span>
                                                                     <span class="box"></span> InCorporated
                                                                 </label>
                                                             </div>
                                                             <div class="md-checkbox">
                                                                 <input type="checkbox" id="chkprint1099" name="chkprint1099" value="-1000" class="md-check">
                                                                 <label for="chkprint1099">
                                                                     <span class="inc"></span>
                                                                     <span class="check"></span>
                                                                     <span class="box"></span> Print 1099
                                                                 </label>
                                                             </div>
                                                         </div>
                                                     </div>

                                                 </div>
                                                 <div class="col-md-12">
                                                     <div class="form-group form-md-line-input">
                                                         @Html.TextBoxFor(one => one.txtname, new { @class = "form-control", @id = "txtname", placeholder = "Enter name" })
                                                         <label for="form_control_1">
                                                             Name
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>

                                                 <div class="col-md-6">
                                                     <div class="form-group form-md-line-input">
                                                         @Html.TextBoxFor(one => one.txtaddress, new { @class = "form-control", @id = "txtaddress", placeholder = "Enter Address1" })
                                                         <label for="txtaddress">
                                                             Address1
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-6">
                                                     <div class="form-group form-md-line-input">
                                                         @Html.TextBoxFor(one => one.txtaddress2, new { @class = "form-control", @id = "txtaddress2", placeholder = "Enter Address2" })
                                                         <label for="txtaddress2">
                                                             Address2
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-4">
                                                     <div class="form-group form-md-line-input">
                                                         @Html.TextBoxFor(one => one.txtcity, new { @class = "form-control", @id = "txtcity", placeholder = "Enter City" })
                                                         <label for="txtcity">
                                                             City
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-4">
                                                     <div class="form-group form-md-line-input">
                                                         @*@Html.DropDownList("lststate", null, "Select State", htmlAttributes: new { @class = "form-control", @id = "lststate" })*@
                                                         @Html.TextBoxFor(one => one.lststate, new { @class = "form-control", @id = "lststate", placeholder = "Enter state" })
                                                         <label for="lststate">
                                                             State
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-4">
                                                     <div class="form-group form-md-line-input">
                                                         @Html.TextBoxFor(one => one.txtpostalcode, new { @class = "form-control", @id = "txtpostalcode", placeholder = "Enter postal code" })
                                                         <label for="txtpostalcode">
                                                             Zip
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-12">
                                                     <div class="form-group form-md-line-input">
                                                         @*@Html.DropDownList("lsttaxauthority", null, "Select One", htmlAttributes: new { @class = "form-control", @id = "lsttaxauthority" })*@
                                                         @Html.TextBoxFor(one => one.lsttaxauthority, new { @class = "form-control", @id = "lsttaxauthority", placeholder = "Enter taxauthority" })
                                                         <label for="lsttaxauthority">
                                                             Tax Authority
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-3">
                                                     <div class="form-group form-md-line-input">
                                                         @Html.TextBoxFor(one => one.txtphone, new { @class = "form-control", @id = "txtphone", placeholder = "Enter Phone" })
                                                         <label for="txtphone">
                                                             Phone
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-3">
                                                     <div class="form-group form-md-line-input">
                                                         @Html.TextBoxFor(one => one.txtext, new { @class = "form-control", @id = "txtext", placeholder = "Enter Ext." })
                                                         <label for="txtext">
                                                             Ext.
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-3">
                                                     <div class="form-group form-md-line-input">
                                                         @Html.TextBoxFor(one => one.txtcell, new { @class = "form-control", @id = "txtcell", placeholder = "Enter Cell" })
                                                         <label for="txtcell">
                                                             Cell
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-3">
                                                     <div class="form-group form-md-line-input">
                                                         @Html.TextBoxFor(one => one.txtfax, new { @class = "form-control", @id = "txtfax", placeholder = "Enter Fax" })
                                                         <label for="txtfax">
                                                             Fax
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-12">
                                                     <div class="form-group form-md-line-input">
                                                         @Html.TextBoxFor(one => one.txtemail, new { @class = "form-control", @id = "txtemail", placeholder = "Enter Email" })
                                                         <label for="txtemail">
                                                             Fax
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-12">
                                                     <div class="form-group form-md-line-input">
                                                         @Html.TextBoxFor(one => one.txtName1099, new { @class = "form-control", @id = "txtName1099", placeholder = "Enter 1099 Name" })
                                                         <label for="txtName1099">
                                                             1099 Name
                                                             <span class="required">*</span>
                                                         </label>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                         <!-- END FORM-->
                                     </div>
                                 </div>
                                 <!-- END VALIDATION STATES-->
                             </div>


                             <div class="col-md-6">
                                 <div class="col-md-12">
                                     <!-- BEGIN VALIDATION STATES-->
                                     <div class="portlet box blue-dark">
                                         <div class="portlet-title">
                                             <div class="caption">
                                                 <i class="icon-layers"></i>
                                                 <span class="caption-subject sbold uppercase">Payee Information</span>
                                             </div>
                                         </div>
                                         <div class="portlet-body">
                                             <!-- BEGIN FORM-->
                                             <div class="form-body">
                                                 <div class="row">
                                                     <div class="col-md-4">
                                                         <div class="md-checkbox">
                                                             <input type="checkbox" id="chkpayeesameasmain" name="chkpayeesameasmain" value="-1000" class="md-check">
                                                             <label for="chkpayeesameasmain">
                                                                 <span></span>
                                                                 <span class="check"></span>
                                                                 <span class="box"></span> Same as Main
                                                             </label>
                                                         </div>

                                                     </div>
                                                     <div class="col-md-8">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtpayname, new { @class = "form-control", @id = "txtpayname", placeholder = "Enter name" })
                                                             <label for="txtpayname">
                                                                 Name
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>

                                                     <div class="col-md-6">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtpayaddress, new { @class = "form-control", @id = "txtpayaddress", placeholder = "Enter name" })
                                                             <label for="txtpayaddress">
                                                                 Address
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>

                                                     <div class="col-md-6">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtpayaddress2, new { @class = "form-control", @id = "txtpayaddress2", placeholder = "Enter name" })
                                                             <label for="txtpayaddress2">
                                                                 Address2
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>

                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtpaycity, new { @class = "form-control", @id = "txtpaycity", placeholder = "Enter name" })
                                                             <label for="txtpaycity">
                                                                 City
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.lstpaystate, new { @class = "form-control", @id = "lstpaystate", placeholder = "Enter State" })
                                                             <label for="lstpaystate">
                                                                 State
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtpaypostalcode, new { @class = "form-control", @id = "txtpaypostalcode", placeholder = "Enter Zip" })
                                                             <label for="txtpaypostalcode">
                                                                 Zip
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>

                                                 </div>
                                             </div>
                                             <!-- END FORM-->
                                         </div>
                                     </div>
                                     <!-- END VALIDATION STATES-->
                                 </div>


                                 <div class="col-md-12">
                                     <!-- BEGIN VALIDATION STATES-->
                                     <div class="portlet box blue-dark">
                                         <div class="portlet-title">
                                             <div class="caption">
                                                 <i class="icon-layers"></i>
                                                 <span class="caption-subject sbold uppercase">Plan Information</span>
                                             </div>
                                         </div>
                                         <div class="portlet-body">
                                             <!-- BEGIN FORM-->
                                             <div class="form-body">
                                                 <div class="row">
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtdatesign, new { @class = "form-control form-control-inline input-medium date-picker", @id = "txtdatesign", size = "16" })
                                                             <label for="txtdatesign">
                                                                 DATE SIGN
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>

                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.lstfterm, new { @class = "form-control", @id = "lstfterm", placeholder = "Enter TERM (YRS)" })
                                                             <label for="txtaddress">
                                                                 TERM (YRS)
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtexpirationdate, new { @class = "form-control form-control-inline input-medium date-picker", @id = "txtexpirationdate", size = "16" })
                                                             <label for="txtexpirationdate">
                                                                 EXP. DATE
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @*@Html.DropDownList("lststate", null, "Select State", htmlAttributes: new { @class = "form-control", @id = "lststate" })*@
                                                             @Html.TextBoxFor(one => one.lstplantype, new { @class = "form-control", @id = "lstplantype", placeholder = "Enter Plan" })
                                                             <label for="lstplantype">
                                                                 Plan Type
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtplanamount, new { @class = "form-control", @id = "txtplanamount", placeholder = "Enter Plan Amount" })
                                                             <label for="txtplanamount">
                                                                 Plan Amount
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtibamount, new { @class = "form-control", @id = "txtibamount", placeholder = "Enter IB Amount" })
                                                             <label for="txtibamount">
                                                                 IB Amount
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>


                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtdownpayment, new { @class = "form-control", @id = "txtdownpayment", placeholder = "Enter Down Payment" })
                                                             <label for="txtdownpayment">
                                                                 Down Payment
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtinterest, new { @class = "form-control", @id = "txtinterest", placeholder = "Enter Interest" })
                                                             <label for="txtinterest">
                                                                 Interest
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtpaymentamount, new { @class = "form-control", @id = "txtpaymentamount", placeholder = "Enter Payment Amount" })
                                                             <label for="txtpaymentamount">
                                                                 Payment Amount
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>


                                                     <div class="col-md-6">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtnoofpayments, new { @class = "form-control", @id = "txtnoofpayments", placeholder = "Enter Number of Payment" })
                                                             <label for="txtnoofpayments">
                                                                 Number of Payment
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-6">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtpaymentno, new { @class = "form-control", @id = "txtpaymentno", placeholder = "CURRENT PAYMENT" })
                                                             <label for="txtpaymentno">
                                                                 CURRENT PAYMENT
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-6">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtpaymentstartdate, new { @class = "form-control form-control-inline input-medium date-picker", @id = "txtpaymentstartdate", size = "16" })
                                                             <label for="txtpaymentstartdate">
                                                                 Payment Start Date
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-6">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtpaymenttriggeramt, new { @class = "form-control", @id = "txtpaymenttriggeramt", placeholder = "Enter Cell" })
                                                             <label for="txtpaymenttriggeramt">
                                                                 Trigger Amount
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtlegaloblstart, new { @class = "form-control form-control-inline input-medium date-picker", @id = "txtlegaloblstart", size = "16" })
                                                             <label for="txtlegaloblstart">
                                                                 LEGAL OBL. START
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtlegaloblfulfilled, new { @class = "form-control form-control-inline input-medium date-picker", @id = "txtlegaloblfulfilled", size = "16" })
                                                             <label for="txtlegaloblfulfilled">
                                                                 LEGAL OBL. END
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4">
                                                         <div class="form-group form-md-line-input">
                                                             @Html.TextBoxFor(one => one.txtlegalobldue, new { @class = "form-control", @id = "txtlegalobldue", placeholder = "Enter 1099 Name" })
                                                             <label for="txtlegalobldue">
                                                                 LEGAL OBL. DUE
                                                                 <span class="required">*</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-12">
                                                         <div class="md-checkbox-inline">
                                                             <div class="md-checkbox">
                                                                 <input type="checkbox" id="chkbbpadminfee" name="chkbbpadminfee" value="-1000" class="md-check">
                                                                 <label for="chkbbpadminfee">
                                                                     <span></span>
                                                                     <span class="check"></span>
                                                                     <span class="box"></span> BBP Administration Fee
                                                                 </label>
                                                             </div>
                                                             <div class="md-checkbox">
                                                                 <input type="checkbox" id="chkchargeback" name="chkchargeback" value="-1000" class="md-check">
                                                                 <label for="chkchargeback">
                                                                     <span class="inc"></span>
                                                                     <span class="check"></span>
                                                                     <span class="box"></span> Chargeback
                                                                 </label>
                                                             </div>
                                                             <div class="md-checkbox">
                                                                 <input type="checkbox" id="chkgeneratereport" name="chkgeneratereport" value="-1000" class="md-check">
                                                                 <label for="chkgeneratereport">
                                                                     <span class="inc"></span>
                                                                     <span class="check"></span>
                                                                     <span class="box"></span> Generate Report
                                                                 </label>
                                                             </div>
                                                             <div class="md-checkbox">
                                                                 <input type="checkbox" id="chkaccountrebate" name="chkaccountrebate" value="-1000" class="md-check">
                                                                 <label for="chkaccountrebate">
                                                                     <span class="inc"></span>
                                                                     <span class="check"></span>
                                                                     <span class="box"></span> Account Rebate Eligible
                                                                 </label>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                             <!-- END FORM-->
                                         </div>
                                     </div>
                                     <!-- END VALIDATION STATES-->
                                 </div>

                             </div>


                         </div>
                     </form>
                     <!-- END FORM-->
                 </div>
                 <div class="form-actions row">
                     <div class="col-md-12">
                         <div class="btn-set pull-right">
                             <button type="submit" class="btn green">Submit</button>
                             <button type="button" class="btn default">Cancel</button>
                         </div>

                     </div> 

                 </div> 
             </div> 
         </div>
         <!-- END VALIDATION STATES-->
     </div>
</div>


@section pageplugins{
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/clockface/js/clockface.js")" type="text/javascript"></script>
    }

@section scripts{

<script src="@Url.Content("~/Content/admin/assets/pages/scripts/components-date-time-pickers.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var franchiseependingstatus = 2;
        var AjaxCallDeleted = "acd";
        var deleterec = false;

        function plan() {
            var name = 0;
            var amount = 0;
            var downpayment = 0;
            var interest = 0;
            var payments = 0;
        }
        plan.paymentamount = function (p) {
            var r = 0;

            if (p.interest > 0) {
                var i = (parseFloat(p.interest) / 1200);
                r = (parseFloat(p.amount) - parseFloat(p.downpayment)) * i / (1 - (Math.pow(1 / (1 + parseFloat(i)), parseInt(p.payments))));
            } else {
                r = (parseFloat(p.amount) - parseFloat(p.downpayment)) / parseInt(p.payments);
            }

            return (!isNaN(r) && isFinite(r)) ? r.toFixed(2) : 0;
        }
        $(document).bind('reloadcaller', function (e) {
            resubmit = true;
            $('#fmaintenance-frm').attr('action', 'maintenance.aspx');
            $('#fmaintenance-frm').submit();
        });

        $(document).ready(function () {
            //MG - 8-23-14 remove plan type = NA on new franchisees
            if ($('#franchiseeid').val() == -1) {
                $("#lstplantype option[value='27']").remove();
            }

            if ($('#hidstatus').val() == franchiseependingstatus) {
                $('#cmdDelete').show();
            } else {
                $('#cmdDelete').hide();
            }
        });

        jQuery(function ($) {

            $('#lnkfee').fancybox({
                type: 'iframe',
                width: 400,
                height: 200,
                fitToView: false,
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none',
                scrolling: 'no',
                onComplete: function () { $.fancybox.resize(); }
            });

            $('#lnkminimumfee').fancybox({
                type: 'iframe',
                width: 400,
                height: 235,
                fitToView: false,
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none',
                scrolling: 'no',
                onComplete: function () { $.fancybox.resize(); }
            });

            $('#lnkowner').fancybox({
                type: 'iframe',
                width: 775,
                height: 350,
                fitToView: false,
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none',
                scrolling: 'no'
            });

            $('#fmaintenance-frm').submit(function () {

                if (submit) {
                    ajaxCall('maintenance.aspx?delete=1&franchiseeid=' + $('#franchiseeid').val());
                    return false;
                }

                $.blockUI();

                if (cancel || resubmit) { return true; }

                if (formchanged) {

                    if (isformValid(this)) {

                        // the confirm var will initially be loaded empty... the dialog result will be
                        // loaded into the confirm var and will skip the opendialoconfirm box.
                        if ($('#confirm').val() == '') {
                            ajaxCall('maintenance.aspx?validate=1');
                            //opendialogconfirm('This is the message box', 155);
                            return false;
                        } else if ($('#confirm').val() == '0') {
                            enableElements(this);
                            // $("[id^=txt]").each(function() {
                            //     $(this).prop('disabled', false);
                            // });
                            return true;
                        } else {
                            return false;
                        }
                    }
                    $.unblockUI();
                    return false;
                } else {
                    //-- reload the page
                    return true;
                }
                //-- cancel the submit...
                return false;
            });

            $('#lstplantype').change(function () {
                ajaxCallwithData('maintenance.aspx?loadplantype=1', convertToAjaxData(this));

            });

            $('#lstfterm').change(function () {
                if ($('#txtdatesign').val() != "") {
                    $('#txtexpirationdate').val(AddYear($('#txtdatesign').val(), $('#lstfterm').val()));
                }
            });

            var prevstatus = $('#lststatus').val();
            $('#lststatus').change(function () {
                if ($('#lststatus').val() != '') {
                    $.fancybox({
                        'type': 'iframe',
                        href: 'status.aspx?franchiseeid=' + $('#franchiseeid').val() + '&statusid=' + $('#lststatus').val(),
                        'width': 550,
                        'height': 750,
                        fitToView: true,
                        autoSize: true,
                        closeClick: false,
                        openEffect: 'none',
                        closeEffect: 'none',
                        beforeShow: function () {
                            $(".fancybox-inner").focus();

                        },
                        //scrolling: 'no',
                        afterShow: function () {
                            //$(".fancybox-close").hide();
                        },
                        afterClose: function () {
                            $('#lststatus').val(prevstatus);
                        }
                    });
                }

            });

            $('#chkpayeesameasmain').click(function () {
                var checked = $('#chkpayeesameasmain').is(':checked');
                var ary = new Array("txtpayname", "txtpayaddress", "txtpayaddress2", "txtpaycity", "lstpaystate", "txtpaypostalcode");
                setpaysameas(ary, checked);
            });

            $('input[type="text"]').keyup(function () {
                formchanged = true;
                var s, n;
                s = "txtname,txtaddress,txtaddress2,txtcity,txtpostalcode";
                if ($('#chkpayeesameasmain').is(':checked')) {
                    n = this.name;
                    if (s.indexOf(n) > -1) {
                        var bn = n.substring(0, 3) + "pay" + n.substring(3, n.length);
                        $('#' + bn).removeAttr('disabled');
                        $('#' + bn).val(this.value);
                        $('#' + bn).attr('disabled', 'disabled');
                    }
                }
                n = this.name;
                if (s.indexOf(n) > -1) {
                    var bn = n.substring(0, 3) + "1099" + n.substring(3, n.length);
                    $('#' + bn).val(this.value);
                }
                s = "txtplanamount,txtdownpayment,txtnoofpayments,txtinterest";
                if (s.indexOf(n) > -1) {
                    var p = new plan();
                    p.amount = $('#txtplanamount').val().replace('$', '').replace(',', '');
                    p.downpayment = $('#txtdownpayment').val().replace('$', '').replace(',', '');
                    p.payments = $('#txtnoofpayments').val();
                    p.interest = $('#txtinterest').val().replace('%', '');
                    $('#txtpaymentamount').removeAttr('disabled');
                    $('#txtpaymentamount').val(plan.paymentamount(p));
                    $('#txtpaymentamount').formatCurrency();
                    $('#txtpaymentamount').attr('disabled', 'disabled');
                }
            });
            //------------------------------------------------------------
            $('#lststate').change(function () {
                formchanged = true;
                if ($('#chkpayeesameasmain').is(':checked')) {
                    $('#lstpaystate').removeAttr('disabled');
                    $('#lstpaystate').val(this.value);
                    $('#lstpaystate').attr('disabled', 'disabled');
                }
            });
        });

        function setpaysameas(ary, chkvalue) {

            for (i = 0; i < ary.length; i++) {
                if (chkvalue) {
                    $('#' + ary[i]).val($('#' + ary[i].replace("pay", "")).val());
                    $('#' + ary[i]).attr('disabled', 'disabled');
                } else {
                    $('#' + ary[i]).val($('#' + ary[i].replace("txt", "")).val());
                    $('#' + ary[i]).removeAttr('disabled');
                }
            }
        }




        // -----------------------------------------
        /*
        $('#chkincorporated').click(function() {
        var chkvalue = $('#chkincorporated').is(':checked');
        var ary = new Array("incorp", "solename", "solecellemail", "lnkcontactinfo");
        for (i = 0; i < ary.length; i++) {
        $('#' + ary[i]).removeClass('hide-it');
        $('#' + ary[i]).removeClass('show-it');
        if (chkvalue) {
        $('#incorp').addClass('show-it');
        $('#solename').addClass('hide-it');
        $('#solecellemail').addClass('hide-it');
        } else {
        $('#incorp').addClass('hide-it');
        $('#solename').addClass('show-it');
        $('#solecellemail').addClass('show-it');
        }
        }
        });
        */


        //------------ js ----------------------------------------------
        $(document).bind('reloadcaller', function (e) {
            resubmit = true;
            $('#fmaintenance-frm').attr('action', 'maintenance.aspx');
            $('#fmaintenance-frm').submit();
        });
        // -----------------------------------------
        function localajaxcall(v) {
            var s = convertToAjaxData(v);
            ajaxCallwithData('maintenance.aspx?loadplantype=1', convertToAjaxData(v));
        }
        //----------------------------------------------------
        function ajaxReturn(r) {
            if (r.split(":")[0] == '0') {
                if (r.split(":")[1] == 'p') {
                    var p = new plan();
                    p.amount = r.split(":")[2];
                    p.downpayment = r.split(":")[4];
                    p.payments = r.split(":")[5];
                    p.interest = r.split(":")[6];
                    $('#txtibamount').val(r.split(":")[3]);
                    $('#txtplanamount').val(p.amount);
                    $('#txtdownpayment').val(p.downpayment);
                    $('#txtnoofpayments').val(p.payments);
                    $('#txtinterest').val(p.interest);
                    $('#txtpaymentamount').val(plan.paymentamount(p));
                    $('#txtplanamount').formatCurrency();
                    $('#txtibamount').formatCurrency();
                    $('#txtdownpayment').formatCurrency();
                    $('#txtpaymentamount').formatCurrency();
                    $.unblockUI();
                }
                else if (r.split(":")[1] == 'o') // added an owner
                {
                    $('#fmaintenance-frm').attr('action', 'maintenance.aspx');
                    $('#fmaintenance-frm').submit();

                } else if (r.split(":")[1] == AjaxCallDeleted) {
                    opendialog(r.split(":")[3], r.split(":")[4]);
                }
                else {
                    formchanged = true;
                    $('#confirm').val('0');
                    $('#fmaintenance-frm').attr('action', 'maintenance.aspx?save=1');
                    $('#fmaintenance-frm').submit();
                }
            }
        }
        //----------------------------------------------------------
        function deleteit(id, s) {
            opendialogconfirm('Do you wish to continue and delete this record (' + s + ')?', 175, id);
        }

        function yes(params) {
            resubmit = true;
            $('#fmaintenance-frm').attr('action', 'maintenance.aspx?deleteowner=' + params);
            $('#fmaintenance-frm').submit();

        }

        function no(params) { $.unblockUI(); /* do nothing */ }

        function ok() {
            resubmit = true;
            submit = false;
            formchanged = false;
            $('#franchiseeid').val('-1')
            $('#fmaintenance-frm').attr('action', 'maintenance.aspx');
            $('#fmaintenance-frm').submit();
        }
        //----------------------------------------------------------

    </script>
}

