@model IEnumerable<JKViewModels.Franchise.FranchiseSearch>

@{
    ViewBag.Title = "Franchise SearchList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr > td {
        font-size: 12px !important;
        padding: 4px !important;
    }

    /*tr > th {
        font-size: 11px !important;
        text-transform: uppercase;
    }*/

    .row {
        margin: 0;
        padding: 3px 0;
    }

    .right {
        text-align: right;
    }

    .personlink {
        text-align: center;
    }

    .close {
        background-image: url(/Content/admin/assets/global/img/stick_close.png) !important;
        height: 12px !important;
        width: 12px !important;
        margin-top: 0px !important;
    }

    .page-size {
        padding-left: 0;
        padding-right: 0;
        width: 62px;
    }

    .topheader {
        font-size: 14px;
        font-weight: bold;
        color: #FFF !important;
        text-transform: uppercase;
        margin-top: 3px;
    }

    .alignRight {
        text-align: right;
    }

    .alignCenter {
        text-align: center;
    }

    #franchiseList th {
        vertical-align: middle;
    }

    .no-padding {
        padding: 0;
    }

    .no-margin {
        margin: 0;
    }

    .padding-tb1 {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .margin-tb1 {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .custom-listbox .headerbox {
        padding: 3px 0px 3px 5px;
    }

    .custom-listbox {
        margin-top: 4px;
        margin-bottom: 0px;
    }

    .btn.multiselect {
        text-align: left;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 11px;
        color: #555;
    }

    .multiselect .caret {
        right: 0;
        position: absolute;
        margin-top: 8px;
        margin-right: 8px;
    }

    .multiselect-container.dropdown-menu {
        text-transform: none;
        font-size: 14px;
    }
    .tablebox .table-responsive {
    min-height:600px;    
    }
</style>

<style>
    #modal_RegionModel .modal-content {
        width: 55% !important;
        margin-left: 30% !important;
    }
</style>
@section styles{
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css")" rel="stylesheet" />
}

<div class="headerbox">
    <div class="row" style="background-color: #3598DC;color: #fff;">
        <div class="col-md-12 no-padding">
            <div class="alignCenter">
                <div class="col-md-4" style="text-align:right;">
                </div>
                <div class="col-md-4 topheader">
                    FRANCHISE LIST
                </div>
                <div class="col-md-4" style="padding-right:5px;">
                    <div class="col-md-7 pull-right no-padding">
                        <div style="display:table-cell;padding-right: 5px;">
                            Region
                        </div>
                        <div style="display:table-cell;width:100%;">
                            @if (ViewBag.regionlist != null)
                            {
                                <select class="form-control input-sm" multiple="multiple" id="regionlist" style="display:none;">
                                    @foreach (var item in (SelectList)ViewBag.regionlist)
                                    {
                                        <option @(item.Selected ? "selected" : "") value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="custom-listbox">
    <div class="headerbox">
        <div class="row no-padding">
            <div class="col-md-1 page-size">
                <select class="form-control input-sm" id="pageSize" style="padding-left:6px;">
                    <option value="-1">All</option>
                    <option value="100" selected>100</option>
                    <option value="50">50</option>
                    <option value="25">25</option>
                </select>
            </div>
            <div class="col-md-3">
                <div class="input-icon">
                    <i class="icon-magnifier icon-align-right" style="margin-top: 8px;"></i>
                    <input id="input_Search" type="text" required name="customernumber" autocomplete="off" placeholder="Search..." value="" class="form-control input-sm typeahead" />
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 pull-right" style="padding-right:5px;">
                @if (ViewBag.StatusList != null)
                {
                    <div class="col-md-12 pull-right no-padding">
                        <div class="col-md-6 no-padding" style="text-transform:none;font-weight:normal;text-align: right;margin-top: 3px;">
                            Franchise Status
                        </div>
                        <div class="col-md-6 no-padding" style="padding-left: 6px;">
                            <select id="ddlStatus" multiple="multiple" style="display:none;">
                                @foreach (var item in (MultiSelectList)ViewBag.StatusList)
                                {
                                    <option @(item.Selected ? "selected" : "") value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="tablebox">
    <div class="table-responsive" id="divfranchiseList" style="display:none;">
        <table class="table table-striped table-bordered table-hover order-column" id="franchiseList" style="display:none;margin-top:0 !important;">
            <thead>
                <tr>
                    <th style="width:60px;text-align:center;">
                        Region
                    </th>
                    <th style="width:60px;text-align:center;">
                        Franchise ID
                    </th>
                    <th style="text-align:center;">
                        Franchise Name
                    </th>
                    <th style="text-align:center;">
                        Full Address
                    </th>
                    <th style="text-align:center;width:80px;">
                        Phone
                    </th>
                    <th style="text-align:center;width:80px;">
                        Status
                    </th>
                    <th style="text-align:center;width:80px;">
                        Distribution Amount
                    </th>
                    <th style="text-align:center;width:20px;">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@*<div class="modal fade custom-model custom-form-design" id="ModalFranchiseDistributionPopup" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:645px">
        <div class="modal-content" style="border-radius: 8px;" id="RenderFranchiseDistribution">
        </div>
    </div>
</div>*@


<!--Finder Fee Detail Modal-->

<div class="modal fade custom-model custom-form-design" id="modal_FeeReport" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 1400px;">
        <div class="modal-content" style="border-radius: 8px;">
            <div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
                <h4 class="modal-title text-center" style="margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;border-radius: 8px 8px 0 0;text-transform: uppercase;">
                    Finder Fee Detail
                </h4>
            </div>
            <div class="modal-body" style="padding: 0px 30px 15px 30px;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <input type="hidden" name="hddFF_FranchiseeId" id="hddFF_FranchiseeId" value="0" />
                                <table class="table table-striped table-bordered order-column" id="tblFFDetailListheader">
                                    <thead>
                                        <tr style="background-color: #e8e8e8;">
                                            <th style="width:100px;text-align:center;font-size: 12px;">
                                                Franchisee No.
                                            </th>
                                            <th colspan="6" style="text-align:center;font-size: 12px;">
                                                Franchisee Name
                                            </th>
                                            <td style="text-align:center;width:140px;">
                                                Total FinderFee
                                            </td>
                                            <td style="text-align:center;width:140px;">
                                                Total DownPayment
                                            </td>
                                            <td style="text-align:center;width:140px;">
                                                Total Monthly Payment
                                            </td>
                                            <td style="text-align:center;width:80px;">
                                                Total Paid
                                            </td>
                                            <td style="text-align:center;width:80px;">
                                                Balance
                                            </td>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center;"><span id="spnFF_FranchiseeNo">701241</span> </td>
                                            <td colspan="6" style="text-align:center;"><span id="spnFF_FranchiseeName">VINNY PHAM NGUYEN, INC</span></td>
                                            <td style="text-align:center;">$<span id="spnFF_TotalFinderFee">5,200.00</span></td>
                                            <td style="text-align:center;">$<span id="spnFF_TotalDownPayment">0.00</span></td>
                                            <td style="text-align:center;">$<span id="spnFF_TotalMonthlyPayment">6,000.00</span></td>
                                            <td style="text-align:center;">$<span id="spnFF_TotalPaid">0.00</span></td>
                                            <td style="text-align:center;">$<span id="spnFF_Balance">0.00</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered order-column" id="tblFFDetailList">
                                    <thead>
                                        <tr style="background-color: #e8e8e8;">
                                            <th style="width:100px;text-align:center;font-size: 12px;">
                                                Customer No
                                            </th>
                                            <th style="text-align:center;font-size: 12px;">
                                                Customer Name
                                            </th>
                                            <td style="text-align:center;">
                                                FF Type
                                            </td>
                                            <td style="text-align:center;">
                                                Contract Billing
                                            </td>
                                            <td style="text-align:center;">
                                                FF Started
                                            </td>
                                            <td style="text-align:center;">
                                                Payment #
                                            </td>
                                            <td style="text-align:center;">
                                                No of Payment
                                            </td>
                                            <td style="text-align:center;width:140px;">
                                                Total FinderFee
                                            </td>
                                            <td style="text-align:center;width:140px;">
                                                Total DownPayment
                                            </td>
                                            <td style="text-align:center;width:140px;">
                                                Total Monthly Payment
                                            </td>
                                            <td style="text-align:center;width:80px;">
                                                Total Paid
                                            </td>
                                            <td style="text-align:center;width:80px;">
                                                Balance
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-md-12">
                    &nbsp;<button type="button" class="btn btn-primary button-next pull-right" style="margin-left:10px;" onclick="DetailListPrint()">Print</button>
                    &nbsp;<button type="submit" class="btn btn-primary button-next pull-right" onclick="DetailListExportPDF()">Export</button>
                </div>
                <div style="clear:both"></div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade in" id="modal_RegionModel" tabindex="-1" role="basic" aria-hidden="true" style="display: none; padding-right: 17px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 8px;">
            <div class="modal-header headerbox list" style="padding:0px!important;border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 12px !important;margin-right: 12px !important;"></button>
                <h4 class="modal-title text-center" style="margin-top: 0px; margin-bottom: 4px;  padding: 7px!important;font-size: 12px;font-weight: bold;background: #3598DC !important;color: #FFF !important;border: 1px solid #3598DC !important;padding: 0px;text-transform: uppercase;">
                    Select Region
                </h4>
            </div>
            <div class="modal-body form form-horizontal" style="padding-top: 1px;margin-top: -5px;">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-12" style="text-align: center;padding: 5px;background-color: #e8e8e8;margin-bottom:5px;font-weight:bold;">Select Region</label>
                                @if (ViewBag.regionlist != null)
                                {
                                    <select class="form-control input-sm" id="selectregionlist">
                                        <option value="">Select Region</option>
                                        @foreach (var item in (SelectList)ViewBag.regionlist)
                                        {
                                            <option @(item.Selected ? "selected" : "") value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="col-md-12">
                        <button type="button" name="SaveNew" id="btnRegion" class="btn btn-primary button-next pull-right" onclick="" style="margin-right:0px;">Select Region</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add Manual Transactions Modal-->
<div class="modal fade in" id="modal_AddNewTransaction" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" id="Render_AddNewTransaction">
    </div>
</div>

<!--Add Franchisee Transactionss Model-->
<div class="modal fade in" id="modal_FranchiseeCredit" tabindex="-1" role="basic" aria-hidden="true" style="display: none; padding-right: 17px;">
    <div class="modal-dialog modal-lg" id="Render_FranchiseeCredit">


    </div>
</div>

<!--Customer list FranchiseeDistributionPopup-->
<div class="form-horizontal" id="form_FranchiseDistributionPopup"></div>

<!--Finder Feel Modal-->
<div class="form-horizontal" id="form_finderfeedetail"></div>

@section pageplugins{
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/datatable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/scripts/app.min.js")" type="text/javascript" )"></script>
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/table-datatables-managed.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js")" type="text/javascript"></script>
}

@section scripts{
    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/components-date-time-pickers.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        function getCurrentUrl() {
        var s = $("#ddlStatus").val();
        var r = $('#regionlist').val();
        return '@Url.Action("FranchiseDataTable", "Franchise", new { area = "Portal" })?status=' + (s == null ? '0' : s) + '&rId=' + r;
    }
        $(document).ready(function () {


            $("#btnRegion").click(function () {
                if ($("#selectregionlist").val() != "") {
                    $("#regionlist option[value='" + $("#selectregionlist").val() + "']").attr("selected", 1);
                    $("#regionlist").multiselect("refresh");
                    initTable();
                    $(".close").click();
                }
            });

            $("#ddlStatus").multiselect({
                includeSelectAllOption: true,
                selectAllText: 'Select all',
                buttonWidth: '100%',
                nonSelectedText: 'Select status..',
                dropRight: true,
                numberDisplayed: 2,
                onChange: initTable,
                onSelectAll: initTable,
                onDeselectAll: initTable
            });

            $("#regionlist").multiselect({
                includeSelectAllOption: false,
                selectAllText: 'Select all',
                buttonWidth: '100%',
                nonSelectedText: 'Select region..',
                dropRight: true,
                numberDisplayed: 2,
                onChange: initTable,
                onSelectAll: initTable,
                onDeselectAll: initTable
            });



            function GetDataByRegion() {
                var franchiseList = $('#franchiseList').DataTable();

                $.ajax({
                    url: getCurrentUrl(), success: function (result) {
                        
                        for (var i = 0; i < result.aadata.length; i++) {

                            franchiseList.row.add({
                                "ID": result.aadata[i].ID,
                                "Number": result.aadata[i].Number,
                                "Name": result.aadata[i].Name,
                                "Address": result.aadata[i].Address,
                                "DistributionAmount": result.aadata[i].DistributionAmount,
                                "Phone": result.aadata[i].Phone,
                                "RegionName": result.aadata[i].RegionName,
                                "StatusName": result.aadata[i].StatusName,
                            }).draw();
                        }

                    }
                });
            }

            $(document).on('init.dt', function (e, settings) {
                var api = new $.fn.dataTable.Api(settings);
                if ($(api.table().node()).attr('id') == 'franchiseList') {
                    setPaging();
                }
            });

            function initTable() {
               
                var ps = $('#pageSize').val();
                var dtable = $('#franchiseList').dataTable({
                    "bAutoWidth": false,
                    cache: false,
                    "iDisplayLength": ps == '-1' ? 25 : ps,
                    "bDestroy": true,
                    "aLengthMenu": [[5, 7, 10, 25, 50, -1], [5, 7, 10, 25, 50, "All"]],
                    //"dom": "<'headerbox list'<'row'<'col-md-1'l><'col-md-4'f><'#divrightckbox.col-md-5 pull-right text-center'>>><'table-responsive't><'bottom'ip><'clear'>",
                    "dom": "<'table-responsive't><'bottom'ip><'clear'>",
                    "aaSorting": [[0, "desc"]],
                    "sAjaxSource": getCurrentUrl(),
                    "sAjaxDataProp": "aadata",  // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "rowCallback": function (nRow, data) {
                    },

                    "aoColumns": [
                        {
                            "sName": "region",
                            "bSortable": true,
                            "mRender": function (data, type, full) {
                                return '<span>' + full.RegionName + '</span>';
                            }
                        },
                        {
                            "sName": "Number",
                            "bSortable": true,
                            "mRender": function (data, type, full) {
                                return '<span>' + full.Number + '</span>';
                        @*return "<a href='@Url.Action("Franchiseedetail", "Franchise", new { @area = "Portal" })?id=" + full.ID + "'  style='color:#0c9cff' id=" + full.ID + "><span style=padding-left:15px>" + full.Number + "</span></a>";*@
                            }
                        },
                        {
                            "sName": "Name",
                            "bSortable": true,
                            "mRender": function (data, type, full) {
                                // return full.Name;
                                return "<a href='@Url.Action("Franchiseedetail", "Franchise", new { @area = "Portal" })?id=" + full.ID + "'  style='color:#0c9cff' id=" + full.ID + ">" + full.Name + "</a>";
                            }
                        },
                        {
                            "sName": "Address",
                            "bSortable": true,
                            "mRender": function (data, type, full) {
                                return full.Address;
                            }
                        },
                        {
                            "sName": "Phone",
                            "bSortable": true,
                            "mRender": function (data, type, full) {
                                //var phone = full.Phone;
                                //    var formatedPhone = '(' + phone.substr(0, 3) + ')' + ' ' + phone.substr(3, 3) + '-' + phone.substr(6, 4);
                                return full.Phone;

                            }
                        },
                        {
                            "sName": "StatusName",
                            "bSortable": true,
                            "mRender": function (data, type, full) {
                                //var phone = full.Phone;
                                //    var formatedPhone = '(' + phone.substr(0, 3) + ')' + ' ' + phone.substr(3, 3) + '-' + phone.substr(6, 4);
                                return full.StatusName;

                            }
                        },
                        {
                            "sName": "DistributionAmount",
                            "bSortable": true,
                            "sClass": "right",
                            "mRender": function (data, type, full) {
                                //return full.DistributionAmount;
                                return "<a onclick='OpenFranchiseDistributionPopup(" + full.ID + ")' target='_blank' style='color:#0c9cff' id=" + full.ID + ">" + full.DistributionAmount + "</a>";
                            }
                        },
                        {
                            "sName": "Action",
                            "bSortable": true,
                            "sClass": "personlink",
                            "mRender": function (data, type, full) {
                                //return "<a href='@Url.Action("MaintenanceStepOne", "Franchise", new { @area = "Portal" })?id=" + full.ID + "' target='_blank' style='color:#0c9cff' id=" + full.ID + "><i class='fa fa-user' style='color:#0c9cff'></i> </a>";
                                var action = "<div class='btn-group dropdown'>";
                                action += "<a target='_blank'  dropdown-toggle' data-toggle='dropdown'>";
                                action += "<i class='fa fa-hand-o-right' aria-hidden='true'></i>";
                                action += "</a>";
                                action += "<ul class='dropdown-menu pull-right'>";
                                action += "<li><a href='#' onclick='OpenFranchiseFinderFeeDetailPopup(" + full.ID + ")'><i class='fa fa-plus'></i> FindersFee </a></li>";
                                action += "<li><a href='#'><i class='fa fa-plus'></i> Credit Payment </a></li>";
                                action += "<li><a href='#' onclick='btnManualTranscation(" + full.ID + ")'><i class='fa fa-plus'></i>Manual Transactions </a></li>";
                                action += "<li><a href='#' onclick='ShowAddNewTransaction(" + full.ID + ")'><i class='fa fa-plus'></i> Add Manual Transactions </a></li>";
                                action += "<li><a href='#' onclick='showCreditTransaction(" + full.ID + ")'><i class='fa fa-plus'></i> Add Franchise Transactions </a></li>";
                                action += "<li><a href='#' onclick ='OpenFranchiseDistributionPopup("+ full.ID +")'><i class='fa fa-plus'></i> Customer List </a></li>";

                                action += "</ul></div>";
                                return action;
                            }
                        }
                    ]
                })
            }
            $("#input_Search").keyup(function () {
                var table = $("#franchiseList").DataTable();
                table.search($(this).val()).draw();
            });

            $("#pageSize").change(function () {
                setPaging();
            });

            if ('@ViewBag.selectedRegionId' > 0) {

                $("#regionlist option[value='" + '@ViewBag.selectedRegionId' + "']").attr("selected", 1);
                $("#regionlist").multiselect("refresh");
            }
            initTable();


            $('.modal-dialog').draggable();
            $('#franchiseList').show();
            $('#divfranchiseList').show();
        });

        function setPaging() {
            var z = $("#pageSize").val();
            var table = $("#franchiseList").DataTable();
            if (z > 0) {
                table.page.len(z).draw();
            }
            else if (z == -1) {
                table.page.len(table.rows().count()).draw();
            }
            else {
                table.page.page.len(25).draw();
            }
        }

        $(window).load(function () {
            if ('@ViewBag.selectedRegionId' == 0) {
                $("#modal_RegionModel").modal({ backdrop: 'static' });
            }
        });


    function OpenFranchiseDistributionPopup(Id) {
        var sURL = '@Url.Action("RenderFranchiseDistributionDetailPopup", "Franchise", new { area = "Portal" })?id=' + Id;
        $.ajax({
            type: "GET",
            url: sURL,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#RenderFranchiseDistribution').html(data);
                $("#ModalFranchiseDistributionPopup").modal({ backdrop: 'static' });
            },
            error: function (err) {
                console.log(err);
            }
        });
        //$("#modal_CustomerContractPopup").modal({ backdrop: 'static' });
    }

        /*Finder Fee Detail Popup*/
        function OpenFranchiseFinderFeeDetailPopup(Id) {
            $('#form_finderfeedetail').html('');
            $.blockUI();
            var sURL = '@Url.Action("FinderFeeDetailDataPopup", "Franchise", new { area = "Portal" })?id=' + Id;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#form_finderfeedetail').html(data);
                    $.unblockUI();
                    $("#modal_FranchiseeFinderFeeDetailPopup").modal({ backdrop: 'static' });
                },
                error: function (err) {
                    console.log(err);
                    $.unblockUI();
                }
            });
        }


    var btnOpenDetail =  function(id) {
        $.blockUI();
        $('#tblFFDetailList tbody').html('');
        $.ajax({
            type: "GET",
            url: '@Url.Action("FinderFeeDetailListData", "Franchise", new { area = "Portal" })?frenchiseid=' + id,
            success: function (data) {
                console.log(data);


                var spnFF_TotalFinderFee = 0.00;
                var spnFF_TotalDownPayment = 0.00;
                var spnFF_TotalMonthlyPayment = 0.00;
                var spnFF_TotalPaid = 0.00;
                var spnFF_Balance = 0.00;


                data.forEach(function (item) {

                    $('#spnFF_FranchiseeNo').html(item.FranchiseeNo);
                    $('#spnFF_FranchiseeName').html(item.FranchiseeName);

                    $('#hddFF_FranchiseeId').val(item.FranchiseeId);


                    spnFF_TotalFinderFee += parseFloat(item.TotalFinderFee);
                    spnFF_TotalDownPayment += parseFloat(item.TotalDownPayment);
                    spnFF_TotalMonthlyPayment += parseFloat(item.MonthlyPaymentAmount);
                    spnFF_TotalPaid += parseFloat(item.PaidAmount);
                    spnFF_Balance += parseFloat(item.TotalBalance);
                    trInvoicelist = "";
                    //trInvoicelist += '<td style="text-align:left;">' + item.FranchiseeId + '</td>';
                    //trInvoicelist += '<td style="text-align:left;">' + item.FranchiseeNo + '</td>';
                    //trInvoicelist += '<td style="text-align:left;">' + item.FranchiseeName + '</td>';
                    //trInvoicelist += '<td style="text-align:left;">' + item.CustomerId + '</td>';
                    //trInvoicelist += '<td style="text-align:left;">' + item.FindersFeeTypeListId + '</td>';
                    //trInvoicelist += '<td style="text-align:left;">' + item.RegionId + '</td>';
                    trInvoicelist += '<tr><td style="text-align:center;">' + item.CustomerNo + '</td>';
                    trInvoicelist += '<td style="text-align:left;">' + item.CustomerName + '</td>';
                    trInvoicelist += '<td style="text-align:left;">' + item.FindersFeeTypeListName + '</td>';
                    trInvoicelist += '<td style="text-align:center;">' + moment(new Date(parseInt(item.StartTime.substr(6)))).format("MM/DD/YYYY") + '</td>';
                    trInvoicelist += '<td style="text-align:center;">' + moment(new Date(parseInt(item.StartDate.substr(6)))).format("MM/DD/YYYY") + '</td>';
                    trInvoicelist += '<td style="text-align:center;">' + item.TotalNumOfpayments + '</td>';
                    trInvoicelist += '<td style="text-align:center;">' + item.NumOfPaymentsPaid + '</td>';
                    trInvoicelist += '<td style="text-align:right;">$' + parseFloat(item.TotalFinderFee, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + '</td>';
                    trInvoicelist += '<td style="text-align:right;">$' + parseFloat(item.TotalDownPayment, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + '</td>';
                    trInvoicelist += '<td style="text-align:right;">$' + parseFloat(item.MonthlyPaymentAmount, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + '</td>';
                    trInvoicelist += '<td style="text-align:right;">$' + parseFloat(item.PaidAmount, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + '</td>';
                    trInvoicelist += '<td style="text-align:right;">$' + parseFloat(item.TotalBalance, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + '</td></tr>';

                    $('#tblFFDetailList tbody').append(trInvoicelist);
                });


                $('#spnFF_TotalFinderFee').html(spnFF_TotalFinderFee.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString())
                $('#spnFF_TotalDownPayment').html(spnFF_TotalDownPayment.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString())
                $('#spnFF_TotalMonthlyPayment').html(spnFF_TotalMonthlyPayment.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString())
                $('#spnFF_TotalPaid').html(spnFF_TotalPaid.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString())
                $('#spnFF_Balance').html(spnFF_Balance.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString())



                $("#modal_FeeReport").modal('show');
                $.unblockUI();
            }
        });
        }

    var btnManualTranscation = function (id) {
        location.href = "@Url.Action("ManualInvoice", "AccountReceivable", new { area = "Portal", id = ViewBag.FranchiseeID })";
    }
    var btnAddTranscation = function (id) {
        location.href = "@Url.Action("AddNewTransaction", "Franchise", new { area = "Portal", id = ViewBag.FranchiseeID })";
    }
        /* Add Franchisee Transaction*/
        function showCreditTransaction(Id) {
            if (Id != 0) {
                var sURL = '@Url.Action("PartialFranchiseeCredit", "Franchise", new { area = "Portal" })';
                $.ajax({
                    type: "GET",
                    url: sURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        $('#Render_FranchiseeCredit').html(data);
                        $(".input-group-btn").click(function () {
                            $(this).prev().trigger("focus");
                            $(this).prev().trigger("focus");
                        });
                        $("#modal_FranchiseeCredit").modal({ backdrop: 'static' });


                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("FranchiseDetailAutoComplete", "Franchise", new { area = "Portal" })?franchiseid=' + Id,
                            success: function (res) {
                                console.log(res);

                                $('#hdfTaxRate').val(res.ContractTaxRate);
                                $('#hdfFranchiseeId').val(res.FranchiseeId);
                                $('#spnFranchiseeNumber').html(res.FranchiseeNo);
                                $('#spnFranchiseeName').html(res.Name);
                                $('#spnFranchiseeAddress').html(res.Address1);
                                $('#spnFranchiseeCityStatePincode').html(res.City + ', ' + res.StateName + ' ' + res.PostalCode);
                            }
                        });
                        $(".date-picker").datepicker({ autoclose: true });
                        $("#rdoSingleCredit").prop("checked", true);
                        $("#divRecc").hide();
                        $("#rdoSingleCredit").change(function () {
                            if (this.value == 1) {
                                $("#rdoSingleCredit").prop("checked", true);
                                $("#rdoRecurringCredit").prop("checked", false);
                                $("#divRecc").hide();
                                $("#StartDate").prop("required", false);
                                $("#divReccNumOfPayments").hide();
                            }
                        });
                        applyMaskCurrency($("#ItemAmount"));
                        applyMaskCurrency($("#Subtotal"));
                        applyMaskCurrency($("#Total"));
                        applyMaskCurrency($("#GrossTotal"));
                        $("#rdoRecurringCredit").change(function () {
                            if (this.value == 0) {
                                $("#rdoSingleCredit").prop("checked", false);
                                $("#rdoRecurringCredit").prop("checked", true);
                                $("#divRecc").show();
                                $("#StartDate").prop("required", true);
                                $("#divReccNumOfPayments").show();
                            }
                        });

                        onlyDecimal('#ItemAmount');
                        OnlyNumber('#Quantity');
                        OnlyNumber('#NumOfPayments');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        }

    /* Add Manual Transaction*/
        var ShowAddNewTransaction = function (id) {
          
            var sURL = '@Url.Action("PartialAddNewTransaction", "Franchise", new { area = "Portal" })';
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#Render_AddNewTransaction').html(data);
                    $(".input-group-btn").click(function () {
                        $(this).prev().trigger("focus");
                        $(this).prev().trigger("focus");
                    });
                    $("#modal_AddNewTransaction").modal({ backdrop: 'static' });
                    var data = 0;
                    if (id != null)
                        data =id;
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("FranchiseDetailAutoComplete", "Franchise", new { area = "Portal" })?franchiseid=' + data,
                        success: function (res) {
                            console.log(res);

                            $('#hdfTaxRate').val(res.ContractTaxRate);
                            $('#hdfFranchiseeId').val(res.FranchiseeId);
                            $('#spnFranchiseeNumber').html(res.FranchiseeNo);
                            $('#spnFranchiseeName').html(res.Name);
                            $('#spnFranchiseeAddress').html(res.Address1);
                            $('#spnFranchiseeCityStatePincode').html(res.City + ', ' + res.StateName + ' ' + res.PostalCode);
                        }
                    });
                    $(".date-picker").datepicker({ autoclose: true});
                    $("#rdoSingle").prop("checked", true);

                    $("#divRec").hide();
                    $("#divRecNP").hide();


                    $("#rdoSingle").change(function () {
                        if (this.value == 1) {
                            $("#rdoSingle").prop("checked", true);
                            $("#rdoRecurring").prop("checked", false);
                            $("#divRec").hide();
                            $("#divRecNP").hide();
                        }
                    });

                    $("#rdoRecurring").change(function () {
                        if (this.value == 0) {
                            $("#rdoSingle").prop("checked", false);
                            $("#rdoRecurring").prop("checked", true);
                            $("#divRec").show();
                            $("#divRecNP").show();
                        }
                    });

                    $('#ServiceTypeListId').change(function () {
                        if (this.value == 16) {
                            $("#divRecVL").show();
                        }
                    });
                    $('#chkResale').change(function () {
                        if ($(this).is(":checked") || $('#ServiceTypeListId').val() != 16) {
                            CalculateAmount();
                        }
                    });

                    onlyDecimal('#ItemAmount');
                    OnlyNumber('#Quantity');
                    OnlyNumber('#NumOfPayments');
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function CalculateAmount() {
            var temptaxRate = $("#hdfTaxRate").val() == '' ? 0 : parseFloat($("#hdfTaxRate").val());
            var tempItemQuantity = $("#Quantity").val() == '' ? 0 : parseFloat($("#Quantity").val());
            var tempItemAmount = $("#ItemAmount").val() == '' ? 0 : parseFloat($("#ItemAmount").val());
            var tempSubtotal = $("#Subtotal");
            var tempTax = $("#Tax");
            var tempTotal = $("#Total");

            tempSubtotal.val(tempItemQuantity * tempItemAmount);
            tempTax.val(parseFloat(tempSubtotal.val()) * temptaxRate / 100)
            if ($('#chkResale').is(":checked") || $('#ServiceTypeListId').val() != 16) {
                tempTax.val(0);
            }

            tempTotal.val(parseFloat(tempSubtotal.val()) + parseFloat(tempTax.val()));

            if ($('#rdoRecurring').is(":checked")) {
                $("#PaymentsBilled").val(tempTotal.val());
                $("#GrossTotal").val(parseFloat(tempTotal.val()) * parseInt($("#NumOfPayments").val()));
            }

            //applyMaskCurrency('#txtsubtotal');
            //applyMaskCurrency('#txttaxamount');
            //applyMaskCurrency('#txttotalamount');
        };

        function onlyDecimal(id) {
            $(id).keydown(function (event) {
                if (event.shiftKey == true) { event.preventDefault(); }
                if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) { }
                else { event.preventDefault(); }
                if ($(this).val().indexOf('.') !== -1 && (event.keyCode == 190 || event.keyCode == 110)) event.preventDefault();
            });
        }

        function OnlyNumber(id) {
            $(id).keydown(function (event) {
                if (event.shiftKey == true) { event.preventDefault(); }
                if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46) { }
                else { event.preventDefault(); }
            });
        }

        /*Customer */
        var c_typeaheadSource = [];
        var OpenFranchiseDistributionPopup = function(Id) {
            var sURL = '@Url.Action("RenderFranchiseDistributionDetailPopup", "Franchise", new { area = "Portal" })?id=' + Id;
            $.ajax({
                type: "GET",
                url: sURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#form_FranchiseDistributionPopup').html(data);
                    $("#ModalFranchiseDistributionPopup").modal({ backdrop: 'static' });

                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetAllCustomerdata", "AccountReceivable", new { area = "Portal" })',
                        data: {},
                        success: function (data) {

                            $.each(data, function (key, value) {
                                c_typeaheadSource.push({ id: value.CustomerId, name: value.CustomerNo + ' ' + $.trim(value.Name) })
                            });


                        }
                    });
                },
                error: function (err) {
                    console.log(err);
                }
            });
            //$("#modal_CustomerContractPopup").modal({ backdrop: 'static' });
        }

    </script>
}
