

@{
    ViewBag.Title = "Franchise Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #rcorners2 {
        border-radius: 14px;
        border: 2px solid #73AD21;
        padding: 20px;
        width: 600px;
        margin-left: 25%;
    }

        #rcorners2 table {
            width: 100%;
        }

            #rcorners2 table td.labal {
                width: 160px;
                text-align: right;
                padding-right: 20px;
                padding-top: 12px;
            }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="rcorners2">

        <table class="table" border=0 align="center">
            <tr>
                <td class="labal">@Html.Label("Search by", htmlAttributes: new { @class = "control-label" })</td>
                <td colspan="2">@Html.DropDownList("Searchby", new SelectList(ViewBag.SearchBy, "Value", "Text"), new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td class="labal">@Html.Label("Search Value", htmlAttributes: new { @class = "control-label" })</td>
                <td colspan="2">@Html.TextBox("SearchValue", "", new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td class="labal">@Html.Label("Transaction Date", htmlAttributes: new { @class = "control-label" })</td>
                <td>@Html.TextBox("TransactionDateFrom", "", new { @class = "form-control date-picker", @id = "txttransactiondatefrom", size = "16" })</td>
                <td>@Html.TextBox("TransactionDateTo", "", new { @class = "form-control date-picker", @id = "txttransactiondateto", size = "16" })</td>
            </tr>
            <tr>
                <td class="labal">@Html.Label("Create Date", htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    @Html.TextBox("CreateDateFrom", "", new { @class = "form-control date-picker", @id = "txtcreatedatefrom", size = "16" })
            </td>
            <td>@Html.TextBox("CreateDateTo", "", new { @class = "form-control date-picker", @id = "txtcreatedateto", size = "16" })</td>
        </tr>
        <tr>
            <td class="labal">@Html.Label("Bill Month/Year", htmlAttributes: new { @class = "control-label" })</td>
            <td>@Html.DropDownList("BillMonth", new SelectList(ViewBag.billMonthsList, "Value", "Text"), new { @class = "form-control" })</td>
            <td>@Html.DropDownList("BillYear", new SelectList(ViewBag.billYearList, "Value", "Text"), new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td class="labal">@Html.Label("Transaction Type", htmlAttributes: new { @class = "control-label" })</td>
            <td colspan="2">@Html.DropDownList("TransactionType", new SelectList(ViewBag.TransactionType, "Value", "Text"), new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td class="labal">@Html.Label("Filter By", htmlAttributes: new { @class = "control-label" })</td>
            <td colspan="2">@Html.DropDownList("FilterBy", new SelectList(ViewBag.FilterBy, "Value", "Text"), new { @class = "form-control" })</td>
        </tr>
    </table>
    <br />
    <div class="form-group row">
        <div class="col-md-offset-5 col-md-2">
            <input type="submit" value="Search" id="btnSubmit" class="btn btn-default btn-info" />
        </div>
    </div>

</div>


}
@section pageplugins{
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/global/plugins/clockface/js/clockface.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Content/admin/assets/global/scripts/datatable.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/assets/global/scripts/app.min.js")" type="text/javascript" )"></script>
<script src="@Url.Content("~/Content/admin/assets/pages/scripts/table-datatables-managed.min.js")" type="text/javascript"></script>
}

@section scripts{

    <script src="@Url.Content("~/Content/admin/assets/pages/scripts/components-date-time-pickers.min.js")" type="text/javascript"></script>
    $(document).ready(function () {
           
        });
}
